#%RAML 0.8
title: Cricket API
version: "1.0"
baseUri: "http://cricapi.com/api"
protocols: [HTTP]
securitySchemes: 
    - 
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
/matches: 
    displayName: matches
    uriParameters: 
        apikey: 
            type: string
            required: false
            repeat: false
            enum: ["0CWPTXYxJmaPWm0eJMGwsrlqR9K2"]
            default: "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
    get: 
/cricketScore: 
    displayName: cricketScore
    uriParameters: 
        unique_id: 
            description: The unique Match ID generated by the Cricket Match API
            type: string
            required: false
            repeat: false
        apikey: 
            description: ""
            type: string
            required: false
            repeat: false
            enum: ["0CWPTXYxJmaPWm0eJMGwsrlqR9K2"]
            default: "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
    get: 
/playerStats: 
    displayName: playerStats
    uriParameters: 
        apikey: 
            description: ""
            type: string
            required: false
            repeat: false
            enum: ["0CWPTXYxJmaPWm0eJMGwsrlqR9K2"]
            default: "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
        pid: 
            type: string
            required: false
            repeat: false
    get: 
/matchCalendar: 
    displayName: matchCalendar
    uriParameters: 
        apikey: 
            type: string
            required: false
            repeat: false
            enum: ["0CWPTXYxJmaPWm0eJMGwsrlqR9K2"]
            default: "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
    get: 
/fantasySquad: 
    displayName: Fantasy Squad
    description: Returns the Squad for any match ID
    get: 
        queryParameters: 
            unique_id: 
                description: ID for the match
                type: string
                required: true
                repeat: false
                enum: ["1089420"]
                default: "1089420"
            apikey: 
                description: Key for invoke
                type: string
                required: true
                repeat: false
                enum: ["0CWPTXYxJmaPWm0eJMGwsrlqR9K2"]
                default: "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
documentation: 
    - 
        title: API Description
        content: The API provide you the most current data at all times. Live Cricket scores at your fingertips.
