{
  "swagger" : "2.0",
  "info" : {
    "description" : "Weather Underground's forecasts are made possible by a global community of people sharing data from environmental sensors like weather stations and air quality monitors.",
    "version" : "v1",
    "title" : "WeatherUnderground"
  },
  "host" : "api.wunderground.com",
  "basePath" : "/api",
  "schemes" : [ "http" ],
  "paths" : {
    "/alerts/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the short name description, expiration time and a long text description of a severe alert, if one has been issued for the searched upon location.\n\nThese alerts are only active in the United States and Europe. View our United States Severe Weather map or our European Severe Weather map to see where there are active alerts at this moment.\n\nRead the National Weather Service description of VTEC codes used in severe weather alerts in the United States, including \"phenomena\" and \"significane\", here: www.weather.gov/os/vtec/pdfs/VTEC_explanation6.pdf\n\nEuropean alerts are required to show the \"attribution\" to Meteoalarm.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/alerts/q/IA/Des_Moines.json\nhttp://api.wunderground.com/api/Your_Key/alerts/q/zmw:00000.1.16172.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|alerts|Type: array. JSON type: array. The official API documentation provides no description. |\n|alerts.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased.Vertex_count|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.Motion_deg|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.Motion_spd|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.position_lat|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.position_lon|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.time_epoch|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices|Type: array. JSON type: array. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices.item.lat|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices.item.lon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.ZONES|Type: array. JSON type: array. The official API documentation provides no description. |\n|alerts.item.ZONES.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.ZONES.item.ZONE|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.ZONES.item.state|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.date|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.date_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.description|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.expires|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.expires_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.message|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.phenomena|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.significance|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.type|Type: unknown. JSON type: string. type Translated HUR Hurricane Local Statement TOR Tornado Warning TOW Tornado Watch WRN Severe Thunderstorm Warning SEW Severe Thunderstorm Watch WIN Winter Weather Advisory FLO Flood Warning WAT Flood Watch / Statement WND High Wind Advisory SVR Severe Weather Statement HEA Heat Advisory FOG Dense Fog Advisory SPE Special Weather Statement FIR Fire Weather Advisory VOL Volcanic Activity Statement HWW Hurricane Wind Warning REC Record Set REP Public Reports PUB Public Information Statement. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.alerts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"alerts\": 1\n    }\n  },\n  \"alerts\": [\n    {\n      \"type\": \"HEA\",\n      \"description\": \"Heat Advisory\",\n      \"date\": \"11:14 am CDT on July 3, 2012\",\n      \"date_epoch\": \"1341332040\",\n      \"expires\": \"7:00 AM CDT on July 07, 2012\",\n      \"expires_epoch\": \"1341662400\",\n      \"message\": \"...Heat advisory remains in effect until 7 am CDT Saturday...* temperature...heat indices of 100 to 105 are expected each  afternoon...as Max temperatures climb into the mid to upper  90s...combined with dewpoints in the mid 60s to around 70.  Heat indices will remain in the 75 to 80 degree range at  night. * Impacts...the hot and humid weather will lead to an increased  risk of heat related stress and illnesses. Precautionary/preparedness actions...A heat advisory means that a period of hot temperatures isexpected. The combination of hot temperatures and high humiditywill combine to create a situation in which heat illnesses arepossible. Drink plenty of fluids...stay in an air-conditionedroom...stay out of the sun...and check up on relatives...pets...neighbors...and livestock.Take extra precautions if you work or spend time outside. Knowthe signs and symptoms of heat exhaustion and heat stroke. Anyoneovercome by heat should be moved to a cool and shaded location.Heat stroke is an emergency...call 9 1 1.Mjb\",\n      \"phenomena\": \"HT\",\n      \"significance\": \"Y\",\n      \"ZONES\": [\n        {\n          \"state\": \"UT\",\n          \"ZONE\": \"001\"\n        }\n      ],\n      \"StormBased\": {\n        \"vertices\": [\n          {\n            \"lat\": \"38.87\",\n            \"lon\": \"-87.13\"\n          },\n          {\n            \"lat\": \"38.89\",\n            \"lon\": \"-87.13\"\n          },\n          {\n            \"lat\": \"38.91\",\n            \"lon\": \"-87.11\"\n          },\n          {\n            \"lat\": \"38.98\",\n            \"lon\": \"-86.93\"\n          },\n          {\n            \"lat\": \"38.87\",\n            \"lon\": \"-86.69\"\n          },\n          {\n            \"lat\": \"38.75\",\n            \"lon\": \"-86.3\"\n          },\n          {\n            \"lat\": \"38.84\",\n            \"lon\": \"-87.16\"\n          }\n        ],\n        \"Vertex_count\": 7,\n        \"stormInfo\": {\n          \"time_epoch\": 1363464360,\n          \"Motion_deg\": 243,\n          \"Motion_spd\": 18,\n          \"position_lat\": 38.9,\n          \"position_lon\": -86.96\n        }\n      }\n    }\n  ]\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/alerts/{settings}/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the short name description, expiration time and a long text description of a severe alert, if one has been issued for the searched upon location.\n\nThese alerts are only active in the United States and Europe. View our United States Severe Weather map or our European Severe Weather map to see where there are active alerts at this moment.\n\nRead the National Weather Service description of VTEC codes used in severe weather alerts in the United States, including \"phenomena\" and \"significane\", here: www.weather.gov/os/vtec/pdfs/VTEC_explanation6.pdf\n\nEuropean alerts are required to show the \"attribution\" to Meteoalarm.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/alerts/q/IA/Des_Moines.json\nhttp://api.wunderground.com/api/Your_Key/alerts/q/zmw:00000.1.16172.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|alerts|Type: array. JSON type: array. The official API documentation provides no description. |\n|alerts.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased.Vertex_count|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.Motion_deg|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.Motion_spd|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.position_lat|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.position_lon|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|alerts.item.StormBased.stormInfo.time_epoch|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices|Type: array. JSON type: array. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices.item.lat|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.StormBased.vertices.item.lon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.ZONES|Type: array. JSON type: array. The official API documentation provides no description. |\n|alerts.item.ZONES.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|alerts.item.ZONES.item.ZONE|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.ZONES.item.state|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.date|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.date_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.description|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.expires|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.expires_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.message|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.phenomena|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.significance|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|alerts.item.type|Type: unknown. JSON type: string. type Translated HUR Hurricane Local Statement TOR Tornado Warning TOW Tornado Watch WRN Severe Thunderstorm Warning SEW Severe Thunderstorm Watch WIN Winter Weather Advisory FLO Flood Warning WAT Flood Watch / Statement WND High Wind Advisory SVR Severe Weather Statement HEA Heat Advisory FOG Dense Fog Advisory SPE Special Weather Statement FIR Fire Weather Advisory VOL Volcanic Activity Statement HWW Hurricane Wind Warning REC Record Set REP Public Reports PUB Public Information Statement. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.alerts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"alerts\": 1\n    }\n  },\n  \"alerts\": [\n    {\n      \"type\": \"HEA\",\n      \"description\": \"Heat Advisory\",\n      \"date\": \"11:14 am CDT on July 3, 2012\",\n      \"date_epoch\": \"1341332040\",\n      \"expires\": \"7:00 AM CDT on July 07, 2012\",\n      \"expires_epoch\": \"1341662400\",\n      \"message\": \"...Heat advisory remains in effect until 7 am CDT Saturday...* temperature...heat indices of 100 to 105 are expected each  afternoon...as Max temperatures climb into the mid to upper  90s...combined with dewpoints in the mid 60s to around 70.  Heat indices will remain in the 75 to 80 degree range at  night. * Impacts...the hot and humid weather will lead to an increased  risk of heat related stress and illnesses. Precautionary/preparedness actions...A heat advisory means that a period of hot temperatures isexpected. The combination of hot temperatures and high humiditywill combine to create a situation in which heat illnesses arepossible. Drink plenty of fluids...stay in an air-conditionedroom...stay out of the sun...and check up on relatives...pets...neighbors...and livestock.Take extra precautions if you work or spend time outside. Knowthe signs and symptoms of heat exhaustion and heat stroke. Anyoneovercome by heat should be moved to a cool and shaded location.Heat stroke is an emergency...call 9 1 1.Mjb\",\n      \"phenomena\": \"HT\",\n      \"significance\": \"Y\",\n      \"ZONES\": [\n        {\n          \"state\": \"UT\",\n          \"ZONE\": \"001\"\n        }\n      ],\n      \"StormBased\": {\n        \"vertices\": [\n          {\n            \"lat\": \"38.87\",\n            \"lon\": \"-87.13\"\n          },\n          {\n            \"lat\": \"38.89\",\n            \"lon\": \"-87.13\"\n          },\n          {\n            \"lat\": \"38.91\",\n            \"lon\": \"-87.11\"\n          },\n          {\n            \"lat\": \"38.98\",\n            \"lon\": \"-86.93\"\n          },\n          {\n            \"lat\": \"38.87\",\n            \"lon\": \"-86.69\"\n          },\n          {\n            \"lat\": \"38.75\",\n            \"lon\": \"-86.3\"\n          },\n          {\n            \"lat\": \"38.84\",\n            \"lon\": \"-87.16\"\n          }\n        ],\n        \"Vertex_count\": 7,\n        \"stormInfo\": {\n          \"time_epoch\": 1363464360,\n          \"Motion_deg\": 243,\n          \"Motion_spd\": 18,\n          \"position_lat\": 38.9,\n          \"position_lon\": -86.96\n        }\n      }\n    }\n  ]\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "settings",
        "in" : "path",
        "description" : "One or more of the following settings, given as key:value pairs separated by a colon. Example: lang:FR/pws:0\n|name|value|description|\n|-|\n|lang|lang code|Default: EN. Returns the API response in the specified language. http://www.wunderground.com/weather/api/d/docs?d=language-support|\n|pws|0 or 1|Default: 1 (true). Use personal weather stations for conditions.|\n|bestfct|0 or 1|Default: 1 (true). Use Weather Undergrond Best Forecast for forecast.|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/almanac/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Records within the United States come from the National Weather Service, with approximately 120 reporting stations giving records. Records for the rest of the United States, and locations outside of the United States, come from the data we have stored. These are compiled records and only go as far back as we have data for.\n\nThe average high and low temperature going back as far as Weather Underground has data for OR from National Weather Service going back 30 years.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/almanac/q/CA/San_Francisco.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|almanac|Type: object. JSON type: object. The official API documentation provides no description. |\n|almanac.airport_code|Type: unknown. JSON type: string. Observed location. |\n|almanac.temp_high|Type: object. JSON type: object. Average high temperature in fahrenheit. |\n|almanac.temp_high.normal|Type: object. JSON type: object. Average high temperature in fahrenheit. |\n|almanac.temp_high.normal.C|Type: unknown. JSON type: string. Average high temperature in celsius. |\n|almanac.temp_high.normal.F|Type: unknown. JSON type: string. Average high temperature in fahrenheit. |\n|almanac.temp_high.record|Type: object. JSON type: object. The highest temperature in fahrenheit measured on this date. |\n|almanac.temp_high.record.C|Type: unknown. JSON type: string. The highest temperature in celsius measured on this date. |\n|almanac.temp_high.record.F|Type: unknown. JSON type: string. The highest temperature in fahrenheit measured on this date. |\n|almanac.temp_high.recordyear|Type: unknown. JSON type: string. The year the highest temperature was measured on this date. |\n|almanac.temp_low|Type: object. JSON type: object. Average low temperature in fahrenheit. |\n|almanac.temp_low.normal|Type: object. JSON type: object. Average low temperature in fahrenheit. |\n|almanac.temp_low.normal.C|Type: unknown. JSON type: string. Average low temperature in celsius. |\n|almanac.temp_low.normal.F|Type: unknown. JSON type: string. Average low temperature in fahrenheit. |\n|almanac.temp_low.record|Type: object. JSON type: object. The lowest temperature in fahrenheit measured on this date. |\n|almanac.temp_low.record.C|Type: unknown. JSON type: string. The lowest temperature in celsius measured on this date. |\n|almanac.temp_low.record.F|Type: unknown. JSON type: string. The lowest temperature in fahrenheit measured on this date. |\n|almanac.temp_low.recordyear|Type: unknown. JSON type: string. The year the lowest temperature was measured on this date. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.almanac|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"almanac\": 1\n    }\n  },\n  \"almanac\": {\n    \"airport_code\": \"KSFO\",\n    \"temp_high\": {\n      \"normal\": {\n        \"F\": \"71\",\n        \"C\": \"22\"\n      },\n      \"record\": {\n        \"F\": \"89\",\n        \"C\": \"31\"\n      },\n      \"recordyear\": \"1970\"\n    },\n    \"temp_low\": {\n      \"normal\": {\n        \"F\": \"54\",\n        \"C\": \"12\"\n      },\n      \"record\": {\n        \"F\": \"48\",\n        \"C\": \"8\"\n      },\n      \"recordyear\": \"1953\"\n    }\n  }\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/almanac/{settings}/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Records within the United States come from the National Weather Service, with approximately 120 reporting stations giving records. Records for the rest of the United States, and locations outside of the United States, come from the data we have stored. These are compiled records and only go as far back as we have data for.\n\nThe average high and low temperature going back as far as Weather Underground has data for OR from National Weather Service going back 30 years.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/almanac/q/CA/San_Francisco.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|almanac|Type: object. JSON type: object. The official API documentation provides no description. |\n|almanac.airport_code|Type: unknown. JSON type: string. Observed location. |\n|almanac.temp_high|Type: object. JSON type: object. Average high temperature in fahrenheit. |\n|almanac.temp_high.normal|Type: object. JSON type: object. Average high temperature in fahrenheit. |\n|almanac.temp_high.normal.C|Type: unknown. JSON type: string. Average high temperature in celsius. |\n|almanac.temp_high.normal.F|Type: unknown. JSON type: string. Average high temperature in fahrenheit. |\n|almanac.temp_high.record|Type: object. JSON type: object. The highest temperature in fahrenheit measured on this date. |\n|almanac.temp_high.record.C|Type: unknown. JSON type: string. The highest temperature in celsius measured on this date. |\n|almanac.temp_high.record.F|Type: unknown. JSON type: string. The highest temperature in fahrenheit measured on this date. |\n|almanac.temp_high.recordyear|Type: unknown. JSON type: string. The year the highest temperature was measured on this date. |\n|almanac.temp_low|Type: object. JSON type: object. Average low temperature in fahrenheit. |\n|almanac.temp_low.normal|Type: object. JSON type: object. Average low temperature in fahrenheit. |\n|almanac.temp_low.normal.C|Type: unknown. JSON type: string. Average low temperature in celsius. |\n|almanac.temp_low.normal.F|Type: unknown. JSON type: string. Average low temperature in fahrenheit. |\n|almanac.temp_low.record|Type: object. JSON type: object. The lowest temperature in fahrenheit measured on this date. |\n|almanac.temp_low.record.C|Type: unknown. JSON type: string. The lowest temperature in celsius measured on this date. |\n|almanac.temp_low.record.F|Type: unknown. JSON type: string. The lowest temperature in fahrenheit measured on this date. |\n|almanac.temp_low.recordyear|Type: unknown. JSON type: string. The year the lowest temperature was measured on this date. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.almanac|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"almanac\": 1\n    }\n  },\n  \"almanac\": {\n    \"airport_code\": \"KSFO\",\n    \"temp_high\": {\n      \"normal\": {\n        \"F\": \"71\",\n        \"C\": \"22\"\n      },\n      \"record\": {\n        \"F\": \"89\",\n        \"C\": \"31\"\n      },\n      \"recordyear\": \"1970\"\n    },\n    \"temp_low\": {\n      \"normal\": {\n        \"F\": \"54\",\n        \"C\": \"12\"\n      },\n      \"record\": {\n        \"F\": \"48\",\n        \"C\": \"8\"\n      },\n      \"recordyear\": \"1953\"\n    }\n  }\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "settings",
        "in" : "path",
        "description" : "One or more of the following settings, given as key:value pairs separated by a colon. Example: lang:FR/pws:0\n|name|value|description|\n|-|\n|lang|lang code|Default: EN. Returns the API response in the specified language. http://www.wunderground.com/weather/api/d/docs?d=language-support|\n|pws|0 or 1|Default: 1 (true). Use personal weather stations for conditions.|\n|bestfct|0 or 1|Default: 1 (true). Use Weather Undergrond Best Forecast for forecast.|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/astronomy/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the moon phase, sunrise and sunset times.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/astronomy/q/Australia/Sydney.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|moon_phase|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.ageOfMoon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.current_time|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.current_time.hour|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.current_time.minute|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.percentIlluminated|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunrise|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.sunrise.hour|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunrise.minute|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunset|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.sunset.hour|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunset.minute|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.astronomy|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"astronomy\": 1\n    }\n  },\n  \"moon_phase\": {\n    \"percentIlluminated\": \"81\",\n    \"ageOfMoon\": \"10\",\n    \"current_time\": {\n      \"hour\": \"9\",\n      \"minute\": \"56\"\n    },\n    \"sunrise\": {\n      \"hour\": \"7\",\n      \"minute\": \"01\"\n    },\n    \"sunset\": {\n      \"hour\": \"16\",\n      \"minute\": \"56\"\n    }\n  }\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/astronomy/{settings}/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the moon phase, sunrise and sunset times.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/astronomy/q/Australia/Sydney.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|moon_phase|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.ageOfMoon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.current_time|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.current_time.hour|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.current_time.minute|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.percentIlluminated|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunrise|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.sunrise.hour|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunrise.minute|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunset|Type: object. JSON type: object. The official API documentation provides no description. |\n|moon_phase.sunset.hour|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|moon_phase.sunset.minute|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.astronomy|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"astronomy\": 1\n    }\n  },\n  \"moon_phase\": {\n    \"percentIlluminated\": \"81\",\n    \"ageOfMoon\": \"10\",\n    \"current_time\": {\n      \"hour\": \"9\",\n      \"minute\": \"56\"\n    },\n    \"sunrise\": {\n      \"hour\": \"7\",\n      \"minute\": \"01\"\n    },\n    \"sunset\": {\n      \"hour\": \"16\",\n      \"minute\": \"56\"\n    }\n  }\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "settings",
        "in" : "path",
        "description" : "One or more of the following settings, given as key:value pairs separated by a colon. Example: lang:FR/pws:0\n|name|value|description|\n|-|\n|lang|lang code|Default: EN. Returns the API response in the specified language. http://www.wunderground.com/weather/api/d/docs?d=language-support|\n|pws|0 or 1|Default: 1 (true). Use personal weather stations for conditions.|\n|bestfct|0 or 1|Default: 1 (true). Use Weather Undergrond Best Forecast for forecast.|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/conditions/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the current temperature, weather condition, humidity, wind, 'feels like' temperature, barometric pressure, and visibility.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/conditions/q/CA/San_Francisco.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|current_observation|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.UV|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.dewpoint_c|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|current_observation.dewpoint_f|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|current_observation.dewpoint_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.display_location.city|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.country|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.country_iso3166|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.elevation|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.full|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.latitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.longitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.state|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.state_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.zip|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.estimated|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.feelslike_c|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.feelslike_f|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.feelslike_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.forecast_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.heat_index_c|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.heat_index_f|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.heat_index_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.history_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.icon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.icon_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.image|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.image.link|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.image.title|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.image.url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_time_rfc822|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_tz_long|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_tz_offset|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_tz_short|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.ob_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.observation_location.city|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.country|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.country_iso3166|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.elevation|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.full|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.latitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.longitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.state|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_time|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_time_rfc822|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_1hr_in|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_1hr_metric|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_1hr_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_today_in|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_today_metric|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_today_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.pressure_in|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.pressure_mb|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.pressure_trend|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.relative_humidity|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.solarradiation|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.station_id|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.temp_c|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.temp_f|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.temperature_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.visibility_km|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.visibility_mi|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.weather|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_degrees|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|current_observation.wind_dir|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_gust_kph|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_gust_mph|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_kph|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.wind_mph|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.wind_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.windchill_c|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.windchill_f|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.windchill_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.conditions|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"conditions\": 1\n    }\n  },\n  \"current_observation\": {\n    \"image\": {\n      \"url\": \"http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png\",\n      \"title\": \"Weather Underground\",\n      \"link\": \"http://www.wunderground.com\"\n    },\n    \"display_location\": {\n      \"full\": \"San Francisco, CA\",\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"state_name\": \"California\",\n      \"country\": \"US\",\n      \"country_iso3166\": \"US\",\n      \"zip\": \"94101\",\n      \"latitude\": \"37.77500916\",\n      \"longitude\": \"-122.41825867\",\n      \"elevation\": \"47.00000000\"\n    },\n    \"observation_location\": {\n      \"full\": \"SOMA - Near Van Ness, San Francisco, California\",\n      \"city\": \"SOMA - Near Van Ness, San Francisco\",\n      \"state\": \"California\",\n      \"country\": \"US\",\n      \"country_iso3166\": \"US\",\n      \"latitude\": \"37.773285\",\n      \"longitude\": \"-122.417725\",\n      \"elevation\": \"49 ft\"\n    },\n    \"estimated\": {\n    },\n    \"station_id\": \"KCASANFR58\",\n    \"observation_time\": \"Last Updated on June 27, 5:27 PM PDT\",\n    \"observation_time_rfc822\": \"Wed, 27 Jun 2012 17:27:13 -0700\",\n    \"observation_epoch\": \"1340843233\",\n    \"local_time_rfc822\": \"Wed, 27 Jun 2012 17:27:14 -0700\",\n    \"local_epoch\": \"1340843234\",\n    \"local_tz_short\": \"PDT\",\n    \"local_tz_long\": \"America/Los_Angeles\",\n    \"local_tz_offset\": \"-0700\",\n    \"weather\": \"Partly Cloudy\",\n    \"temperature_string\": \"66.3 F (19.1 C)\",\n    \"temp_f\": 66.3,\n    \"temp_c\": 19.1,\n    \"relative_humidity\": \"65%\",\n    \"wind_string\": \"From the NNW at 22.0 MPH Gusting to 28.0 MPH\",\n    \"wind_dir\": \"NNW\",\n    \"wind_degrees\": 346,\n    \"wind_mph\": 22.0,\n    \"wind_gust_mph\": \"28.0\",\n    \"wind_kph\": 35.4,\n    \"wind_gust_kph\": \"45.1\",\n    \"pressure_mb\": \"1013\",\n    \"pressure_in\": \"29.93\",\n    \"pressure_trend\": \"+\",\n    \"dewpoint_string\": \"54 F (12 C)\",\n    \"dewpoint_f\": 54,\n    \"dewpoint_c\": 12,\n    \"heat_index_string\": \"NA\",\n    \"heat_index_f\": \"NA\",\n    \"heat_index_c\": \"NA\",\n    \"windchill_string\": \"NA\",\n    \"windchill_f\": \"NA\",\n    \"windchill_c\": \"NA\",\n    \"feelslike_string\": \"66.3 F (19.1 C)\",\n    \"feelslike_f\": \"66.3\",\n    \"feelslike_c\": \"19.1\",\n    \"visibility_mi\": \"10.0\",\n    \"visibility_km\": \"16.1\",\n    \"solarradiation\": \"\",\n    \"UV\": \"5\",\n    \"precip_1hr_string\": \"0.00 in ( 0 mm)\",\n    \"precip_1hr_in\": \"0.00\",\n    \"precip_1hr_metric\": \" 0\",\n    \"precip_today_string\": \"0.00 in (0 mm)\",\n    \"precip_today_in\": \"0.00\",\n    \"precip_today_metric\": \"0\",\n    \"icon\": \"partlycloudy\",\n    \"icon_url\": \"http://icons-ak.wxug.com/i/c/k/partlycloudy.gif\",\n    \"forecast_url\": \"http://www.wunderground.com/US/CA/San_Francisco.html\",\n    \"history_url\": \"http://www.wunderground.com/history/airport/KCASANFR58/2012/6/27/DailyHistory.html\",\n    \"ob_url\": \"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=37.773285,-122.417725\"\n  }\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/conditions/{settings}/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the current temperature, weather condition, humidity, wind, 'feels like' temperature, barometric pressure, and visibility.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/conditions/q/CA/San_Francisco.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|current_observation|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.UV|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.dewpoint_c|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|current_observation.dewpoint_f|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|current_observation.dewpoint_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.display_location.city|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.country|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.country_iso3166|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.elevation|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.full|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.latitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.longitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.state|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.state_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.display_location.zip|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.estimated|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.feelslike_c|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.feelslike_f|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.feelslike_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.forecast_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.heat_index_c|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.heat_index_f|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.heat_index_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.history_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.icon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.icon_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.image|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.image.link|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.image.title|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.image.url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_time_rfc822|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_tz_long|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_tz_offset|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.local_tz_short|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.ob_url|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location|Type: object. JSON type: object. The official API documentation provides no description. |\n|current_observation.observation_location.city|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.country|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.country_iso3166|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.elevation|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.full|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.latitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.longitude|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_location.state|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_time|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.observation_time_rfc822|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_1hr_in|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_1hr_metric|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_1hr_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_today_in|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_today_metric|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.precip_today_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.pressure_in|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.pressure_mb|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.pressure_trend|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.relative_humidity|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.solarradiation|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.station_id|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.temp_c|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.temp_f|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.temperature_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.visibility_km|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.visibility_mi|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.weather|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_degrees|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|current_observation.wind_dir|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_gust_kph|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_gust_mph|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.wind_kph|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.wind_mph|Type: unknown. JSON type: number. The official API documentation provides no description. |\n|current_observation.wind_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.windchill_c|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.windchill_f|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|current_observation.windchill_string|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features|Type: object. JSON type: object. The official API documentation provides no description. |\n|response.features.conditions|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|response.termsofService|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|response.version|Type: unknown. JSON type: string. The official API documentation provides no description. |\n",
            "examples" : {
              "application/json" : "{\n  \"response\": {\n    \"version\": \"0.1\",\n    \"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n    \"features\": {\n      \"conditions\": 1\n    }\n  },\n  \"current_observation\": {\n    \"image\": {\n      \"url\": \"http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png\",\n      \"title\": \"Weather Underground\",\n      \"link\": \"http://www.wunderground.com\"\n    },\n    \"display_location\": {\n      \"full\": \"San Francisco, CA\",\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"state_name\": \"California\",\n      \"country\": \"US\",\n      \"country_iso3166\": \"US\",\n      \"zip\": \"94101\",\n      \"latitude\": \"37.77500916\",\n      \"longitude\": \"-122.41825867\",\n      \"elevation\": \"47.00000000\"\n    },\n    \"observation_location\": {\n      \"full\": \"SOMA - Near Van Ness, San Francisco, California\",\n      \"city\": \"SOMA - Near Van Ness, San Francisco\",\n      \"state\": \"California\",\n      \"country\": \"US\",\n      \"country_iso3166\": \"US\",\n      \"latitude\": \"37.773285\",\n      \"longitude\": \"-122.417725\",\n      \"elevation\": \"49 ft\"\n    },\n    \"estimated\": {\n    },\n    \"station_id\": \"KCASANFR58\",\n    \"observation_time\": \"Last Updated on June 27, 5:27 PM PDT\",\n    \"observation_time_rfc822\": \"Wed, 27 Jun 2012 17:27:13 -0700\",\n    \"observation_epoch\": \"1340843233\",\n    \"local_time_rfc822\": \"Wed, 27 Jun 2012 17:27:14 -0700\",\n    \"local_epoch\": \"1340843234\",\n    \"local_tz_short\": \"PDT\",\n    \"local_tz_long\": \"America/Los_Angeles\",\n    \"local_tz_offset\": \"-0700\",\n    \"weather\": \"Partly Cloudy\",\n    \"temperature_string\": \"66.3 F (19.1 C)\",\n    \"temp_f\": 66.3,\n    \"temp_c\": 19.1,\n    \"relative_humidity\": \"65%\",\n    \"wind_string\": \"From the NNW at 22.0 MPH Gusting to 28.0 MPH\",\n    \"wind_dir\": \"NNW\",\n    \"wind_degrees\": 346,\n    \"wind_mph\": 22.0,\n    \"wind_gust_mph\": \"28.0\",\n    \"wind_kph\": 35.4,\n    \"wind_gust_kph\": \"45.1\",\n    \"pressure_mb\": \"1013\",\n    \"pressure_in\": \"29.93\",\n    \"pressure_trend\": \"+\",\n    \"dewpoint_string\": \"54 F (12 C)\",\n    \"dewpoint_f\": 54,\n    \"dewpoint_c\": 12,\n    \"heat_index_string\": \"NA\",\n    \"heat_index_f\": \"NA\",\n    \"heat_index_c\": \"NA\",\n    \"windchill_string\": \"NA\",\n    \"windchill_f\": \"NA\",\n    \"windchill_c\": \"NA\",\n    \"feelslike_string\": \"66.3 F (19.1 C)\",\n    \"feelslike_f\": \"66.3\",\n    \"feelslike_c\": \"19.1\",\n    \"visibility_mi\": \"10.0\",\n    \"visibility_km\": \"16.1\",\n    \"solarradiation\": \"\",\n    \"UV\": \"5\",\n    \"precip_1hr_string\": \"0.00 in ( 0 mm)\",\n    \"precip_1hr_in\": \"0.00\",\n    \"precip_1hr_metric\": \" 0\",\n    \"precip_today_string\": \"0.00 in (0 mm)\",\n    \"precip_today_in\": \"0.00\",\n    \"precip_today_metric\": \"0\",\n    \"icon\": \"partlycloudy\",\n    \"icon_url\": \"http://icons-ak.wxug.com/i/c/k/partlycloudy.gif\",\n    \"forecast_url\": \"http://www.wunderground.com/US/CA/San_Francisco.html\",\n    \"history_url\": \"http://www.wunderground.com/history/airport/KCASANFR58/2012/6/27/DailyHistory.html\",\n    \"ob_url\": \"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=37.773285,-122.417725\"\n  }\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "settings",
        "in" : "path",
        "description" : "One or more of the following settings, given as key:value pairs separated by a colon. Example: lang:FR/pws:0\n|name|value|description|\n|-|\n|lang|lang code|Default: EN. Returns the API response in the specified language. http://www.wunderground.com/weather/api/d/docs?d=language-support|\n|pws|0 or 1|Default: 1 (true). Use personal weather stations for conditions.|\n|bestfct|0 or 1|Default: 1 (true). Use Weather Undergrond Best Forecast for forecast.|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "query",
        "in" : "path",
        "description" : "The location for which you want weather information. Examples:\n|example|description|\n|-|\n|CA/San_Francisco|US state/city|\n|60290|US zipcode|\n|Australia/Sydney|country/city|\n|37.8,-122.4|latitude,longitude|\n|KJFK|airport code|\n|pws:KCASANFR70|PWS id|\n|autoip|AutoIP address location|\n|autoip.json?geo_ip=38.102.136.138|specific IP address location|\n",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "format",
        "in" : "path",
        "description" : "json, or xml\nOutput format.\n\nFor JSONP, you may add ?callback=your_js_callback_function to the request URL\n",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/currenthurricane/q/{query}{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns information about current hurricanes and tropical storms.\n\nThis feature can be used with other weather API features. However, location query options do not apply to the results for currenthurricane.\n\nAlso, if you are requesting only the currenthurricane, use the following request format:\n\nhttp://api.wunderground.com/api/Your_Key/currenthurricane/view.format\nformat - Response data format, json or xml.\n\n#Examples:\nhttp://api.wunderground.com/api/Your_Key/currenthurricane/view.json\n(See description of the response.)\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "For JSONP, you may add ?callback=your_js_callback_function to the request URL",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response will be a JSON-encoded object.\n|name|description|\n|-|\n|currenthurricane|Type: array. JSON type: array. The official API documentation provides no description. |\n|currenthurricane.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.Category|Type: Integer. JSON type: string. -5 Remnants -4 Invest -3 Extratropical -2 Tropical Depression -1 Subtropical Storm 0 Tropical Storm 1-5 Category [Nice] Hurricane These are based on the Saffir-Simpson hurricane scale. Typhoons are classified into these bins.. |\n|currenthurricane.item.Current.Fspeed|Type: object. JSON type: object. Forward speed of the storm. |\n|currenthurricane.item.Current.Fspeed.Kph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.Fspeed.Kts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.Fspeed.Mph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.Movement|Type: object. JSON type: object. Forward direction and cardinal direction. |\n|currenthurricane.item.Current.Movement.Degrees|Type: Integer. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Movement.Text|Type: String. JSON type: string. A cardinal direction. |\n|currenthurricane.item.Current.Pressure|Type: object. JSON type: object. Minimum central pressure. |\n|currenthurricane.item.Current.Pressure.inches|Type: Float. JSON type: number. The official API documentation provides no description. |\n|currenthurricane.item.Current.Pressure.mb|Type: Integer. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.SaffirSimpsonCategory|Type: Integer. JSON type: integer. -5 Remnants -4 Invest -3 Extratropical -2 Tropical Depression -1 Subtropical Storm 0 Tropical Storm 1-5 Category [Nice] Hurricane These are based on the Saffir-Simpson hurricane scale. Typhoons are classified into these bins.. |\n|currenthurricane.item.Current.SeaQuadrants|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaQuadrants.comment|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaQuadrants.quad_1|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaQuadrants.quad_2|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaQuadrants.quad_3|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaQuadrants.quad_4|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaRadius|Type: object. JSON type: object. (distances are in nautical miles). |\n|currenthurricane.item.Current.SeaRadius.12|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaRadius.12.NE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaRadius.12.NW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaRadius.12.SE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.SeaRadius.12.SW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time|Type: object. JSON type: object. See Time and TimeGMT. |\n|currenthurricane.item.Current.Time.ampm|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.civil|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.hour|Type: String. JSON type: string. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.Current.Time.hour_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.isdst|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.mday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.mday_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.mon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.mon_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.mon_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.month_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.month_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.pretty|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.weekday_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.weekday_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.weekday_name_night|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.weekday_name_night_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.weekday_name_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.yday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.Time.year|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.ampm|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.civil|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.hour|Type: String. JSON type: string. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.Current.TimeGMT.hour_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.mday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.mday_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.mon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.mon_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.mon_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.month_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.month_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.pretty|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.weekday_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.weekday_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.weekday_name_night|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.weekday_name_night_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.weekday_name_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.yday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.TimeGMT.year|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindGust|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindGust.Kph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindGust.Kts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindGust.Mph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindQuadrants|Type: object. JSON type: object. Furthest distance from the center of the storm where winds of a certain speed can be measured. |\n|currenthurricane.item.Current.WindQuadrants.comment|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindQuadrants.quad_1|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindQuadrants.quad_2|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindQuadrants.quad_3|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindQuadrants.quad_4|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius|Type: object. JSON type: object. (speeds are in knots). |\n|currenthurricane.item.Current.WindRadius.34|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.34.NE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.34.NW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.34.SE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.34.SW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.50|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.50.NE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.50.NW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.50.SE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.50.SW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.64|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.64.NE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.64.NW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.64.SE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindRadius.64.SW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindSpeed|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindSpeed.Kph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindSpeed.Kts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.WindSpeed.Mph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.Current.lat|Type: Float. JSON type: number. Latitude in degrees -90 - 90. |\n|currenthurricane.item.Current.lon|Type: Float. JSON type: number. Longitude in degrees -180 - 180. |\n|currenthurricane.item.ExtendedForecast|Type: array. JSON type: array. The official API documentation provides no description. |\n|currenthurricane.item.ExtendedForecast.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.ExtendedForecast.item.ForecastHour|Type: String. JSON type: string. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.forecast|Type: String. JSON type: array. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.forecast.item|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Category|Type: Integer. JSON type: string. -5 Remnants -4 Invest -3 Extratropical -2 Tropical Depression -1 Subtropical Storm 0 Tropical Storm 1-5 Category [Nice] Hurricane These are based on the Saffir-Simpson hurricane scale. Typhoons are classified into these bins.. |\n|currenthurricane.item.forecast.item.ForecastHour|Type: String. JSON type: string. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.forecast.item.SaffirSimpsonCategory|Type: Integer. JSON type: integer. -5 Remnants -4 Invest -3 Extratropical -2 Tropical Depression -1 Subtropical Storm 0 Tropical Storm 1-5 Category [Nice] Hurricane These are based on the Saffir-Simpson hurricane scale. Typhoons are classified into these bins.. |\n|currenthurricane.item.forecast.item.Time|Type: object. JSON type: object. See Time and TimeGMT. |\n|currenthurricane.item.forecast.item.Time.ampm|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.civil|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.hour|Type: String. JSON type: string. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.forecast.item.Time.hour_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.isdst|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.mday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.mday_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.mon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.mon_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.mon_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.month_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.month_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.pretty|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.weekday_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.weekday_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.weekday_name_night|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.weekday_name_night_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.weekday_name_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.yday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.Time.year|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.ampm|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.civil|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.epoch|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.hour|Type: String. JSON type: string. Descriptive string, time in the future after the current position fix. |\n|currenthurricane.item.forecast.item.TimeGMT.hour_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.mday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.mday_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.mon|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.mon_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.mon_padded|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.month_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.month_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.pretty|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.weekday_name|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.weekday_name_abbrev|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.weekday_name_night|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.weekday_name_night_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.weekday_name_unlang|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.yday|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.TimeGMT.year|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindGust|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindGust.Kph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindGust.Kts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindGust.Mph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindQuadrants|Type: object. JSON type: object. Furthest distance from the center of the storm where winds of a certain speed can be measured. |\n|currenthurricane.item.forecast.item.WindQuadrants.comment|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindQuadrants.quad_1|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindQuadrants.quad_2|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindQuadrants.quad_3|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindQuadrants.quad_4|Type: unknown. JSON type: string. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius|Type: object. JSON type: object. (speeds are in knots). |\n|currenthurricane.item.forecast.item.WindRadius.34|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.34.NE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.34.NW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.34.SE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.34.SW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.50|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.50.NE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.50.NW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.50.SE|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.50.SW|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.64|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.64.NE|Type: unknown. JSON type: null. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.64.NW|Type: unknown. JSON type: null. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.64.SE|Type: unknown. JSON type: null. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindRadius.64.SW|Type: unknown. JSON type: null. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindSpeed|Type: object. JSON type: object. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindSpeed.Kph|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindSpeed.Kts|Type: unknown. JSON type: integer. The official API documentation provides no description. |\n|currenthurricane.item.forecast.item.WindSpeed.Mph|Type: unknown. JSON type: integer. The
[...]
