{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Books API provides information about book reviews and The New York Times bestsellers lists.",
    "version" : "3.0.0",
    "title" : "Books API"
  },
  "host" : "api.nytimes.com",
  "basePath" : "/svc/books/v3",
  "schemes" : [ "https" ],
  "paths" : {
    "/lists.{format}" : {
      "get" : {
        "summary" : "Best Seller List",
        "description" : "",
        "operationId" : "GET_lists-format",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "format",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "list",
          "in" : "query",
          "description" : "The name of the Times best-seller list. To get valid values, use a list names request.\n\nBe sure to replace spaces with hyphens (e.g., e-book-fiction or hardcover-fiction, not E-Book Fiction or Hardcover Fiction). (The parameter is not case sensitive.)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "weeks-on-list",
          "in" : "query",
          "description" : "The number of weeks that the best seller has been on list-name, as of bestsellers-date",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "bestsellers-date",
          "in" : "query",
          "description" : "YYYY-MM-DD\n\nThe week-ending date for the sales reflected on list-name. Times best-seller lists are compiled using available book sale data. The bestsellers-date may be significantly earlier than published-date. For additional information, see the explanation at the bottom of any best-seller list page on NYTimes.com (example: Hardcover Fiction, published Dec. 5 but reflecting sales to Nov. 29).",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "YYYY-MM-DD  The date the best-seller list was published on NYTimes.com (compare bestsellers-date)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isbn",
          "in" : "query",
          "description" : "International Standard Book Number, 10 or 13 digits",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "published-date",
          "in" : "query",
          "description" : "YYYY-MM-DD\n\nThe date the best-seller list was published on NYTimes.com (compare bestsellers-date)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rank",
          "in" : "query",
          "description" : "The rank of the best seller on list-name as of bestsellers-date",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "rank-last-week",
          "in" : "query",
          "description" : "The rank of the best seller on list-name one week prior to bestsellers-date",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Sets the starting point of the result set",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sort-order",
          "in" : "query",
          "description" : "Sets the sort order of the result set",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "StringSchemaProperty"
            },
            "examples" : {
              "application/json" : {
                "copyright" : "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                "last_modified" : "2016-03-11T13:09:01-05:00",
                "num_results" : 1,
                "results" : [ {
                  "amazon_product_url" : "http://www.amazon.com/Girls-Guide-Moving-On-Novel-ebook/dp/B00ZNE17B4?tag=thenewyorktim-20",
                  "asterisk" : 0,
                  "bestsellers_date" : "2016-03-05",
                  "book_details" : [ {
                    "age_group" : "",
                    "author" : "Debbie Macomber",
                    "contributor" : "by Debbie Macomber",
                    "contributor_note" : "",
                    "description" : "A mother and her daughter-in-law both leave unhappy marriages and take up with new men.",
                    "price" : 0,
                    "primary_isbn10" : "0553391925",
                    "primary_isbn13" : "9780553391923",
                    "publisher" : "Ballantine",
                    "title" : "A GIRL'S GUIDE TO MOVING ON"
                  } ],
                  "dagger" : 0,
                  "display_name" : "Hardcover Fiction",
                  "isbns" : [ {
                    "isbn10" : "0553391925",
                    "isbn13" : "9780553391923"
                  } ],
                  "list_name" : "Hardcover Fiction",
                  "published_date" : "2016-03-20",
                  "rank" : 5,
                  "rank_last_week" : 2,
                  "reviews" : [ {
                    "article_chapter_link" : "",
                    "book_review_link" : "",
                    "first_chapter_link" : "",
                    "sunday_review_link" : ""
                  } ],
                  "weeks_on_list" : 2
                } ],
                "status" : "OK"
              }
            }
          }
        },
        "security" : [ {
          "api-key" : [ ]
        } ]
      }
    },
    "/lists/best-sellers/history.json" : {
      "get" : {
        "summary" : "Best Seller History List",
        "description" : "",
        "operationId" : "GET_lists-best-sellers-history-json",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "age-group",
          "in" : "query",
          "description" : "The target age group for the best seller.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "author",
          "in" : "query",
          "description" : "The author of the best seller. The author field does not include additional contributors (see Data Structure for more details about the author and contributor fields).\n\nWhen searching the author field, you can specify any combination of first, middle and last names.\n\nWhen sort-by is set to author, the results will be sorted by author's first name. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "contributor",
          "in" : "query",
          "description" : "The author of the best seller, as well as other contributors such as the illustrator (to search or sort by author name only, use author instead).\n\nWhen searching, you can specify any combination of first, middle and last names of any of the contributors.\n\nWhen sort-by is set to contributor, the results will be sorted by the first name of the first contributor listed. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isbn",
          "in" : "query",
          "description" : "International Standard Book Number, 10 or 13 digits\n\nA best seller may have both 10-digit and 13-digit ISBNs, and may have multiple ISBNs of each type. To search on multiple ISBNs, separate the ISBNs with semicolons (example: 9780446579933;0061374229).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "price",
          "in" : "query",
          "description" : "The publisher's list price of the best seller, including decimal point",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "publisher",
          "in" : "query",
          "description" : "The standardized name of the publisher",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "title",
          "in" : "query",
          "description" : "The title of the best seller\n\nWhen searching, you can specify a portion of a title or a full title.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "StringSchemaProperty"
            },
            "examples" : {
              "application/json" : {
                "copyright" : "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                "num_results" : 28970,
                "results" : [ {
                  "age_group" : "",
                  "author" : "Sophia Amoruso",
                  "contributor" : "by Sophia Amoruso",
                  "contributor_note" : "",
                  "description" : "An online fashion retailer traces her path to success.",
                  "isbns" : [ {
                    "isbn10" : "039916927X",
                    "isbn13" : "9780399169274"
                  } ],
                  "price" : 0,
                  "publisher" : "Portfolio/Penguin/Putnam",
                  "ranks_history" : [ {
                    "asterisk" : 0,
                    "bestsellers_date" : "2016-02-27",
                    "dagger" : 0,
                    "display_name" : "Business",
                    "list_name" : "Business Books",
                    "primary_isbn10" : "1591847931",
                    "primary_isbn13" : "9781591847939",
                    "published_date" : "2016-03-13",
                    "rank" : 8,
                    "ranks_last_week" : null,
                    "weeks_on_list" : 0
                  } ],
                  "reviews" : [ {
                    "article_chapter_link" : "",
                    "book_review_link" : "",
                    "first_chapter_link" : "",
                    "sunday_review_link" : ""
                  } ],
                  "title" : "#GIRLBOSS"
                } ],
                "status" : "OK"
              }
            }
          }
        },
        "security" : [ {
          "api-key" : [ ]
        } ]
      }
    },
    "/lists/names.{format}" : {
      "get" : {
        "summary" : "Best Seller List Names",
        "description" : "",
        "operationId" : "GET_lists-names-format",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "format",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "api-key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "StringSchemaProperty"
            },
            "examples" : {
              "application/json" : {
                "copyright" : "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                "num_results" : 53,
                "results" : [ {
                  "display_name" : "Combined Print & E-Book Fiction",
                  "list_name" : "Combined Print and E-Book Fiction",
                  "list_name_encoded" : "combined-print-and-e-book-fiction",
                  "newest_published_date" : "2016-03-20",
                  "oldest_published_date" : "2011-02-13",
                  "updated" : "WEEKLY"
                } ],
                "status" : "OK"
              }
            }
          }
        },
        "security" : [ {
          "api-key" : [ ]
        } ]
      }
    },
    "/lists/overview.{format}" : {
      "get" : {
        "summary" : "Best Seller List Overview",
        "description" : "",
        "operationId" : "GET_lists-overview-format",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "format",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "published_date",
          "in" : "query",
          "description" : "The best-seller list publication date. YYYY-MM-DD\n\nYou do not have to specify the exact date the list was published. The service will search forward (into the future) for the closest publication date to the date you specify. For example, a request for lists/overview/2013-05-22 will retrieve the list that was published on 05-26.\n\nIf you do not include a published_date, the current week's best-sellers lists will be returned.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "api-key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "StringSchemaProperty"
            },
            "examples" : {
              "application/json" : {
                "copyright" : "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                "num_results" : 210,
                "results" : {
                  "bestsellers_date" : "2016-03-05",
                  "lists" : [ {
                    "books" : [ {
                      "age_group" : "",
                      "author" : "Clive Cussler and Justin Scott",
                      "contributor" : "by Clive Cussler and Justin Scott",
                      "contributor_note" : "",
                      "created_date" : "2016-03-10 12:00:22",
                      "description" : "In the ninth book in this series, set in 1906, the New York detective Isaac Bell contends with a crime boss passing as a respectable businessman and a tycoon’s plot against President Theodore Roosevelt.",
                      "price" : 0,
                      "primary_isbn10" : "0698406427",
                      "primary_isbn13" : "9780698406421",
                      "publisher" : "Putnam",
                      "rank" : 1,
                      "title" : "THE GANGSTER",
                      "updated_date" : "2016-03-10 17:00:21"
                    } ],
                    "display_name" : "Combined Print & E-Book Fiction",
                    "list_id" : 704,
                    "list_image" : "http://du.ec2.nytimes.com.s3.amazonaws.com/prd/books/9780399175954.jpg",
                    "list_name" : "Combined Print and E-Book Fiction",
                    "updated" : "WEEKLY"
                  } ],
                  "published_date" : "2016-03-20"
                },
                "status" : "OK"
              }
            }
          }
        },
        "security" : [ {
          "api-key" : [ ]
        } ]
      }
    },
    "/lists/{date}/{list}.json" : {
      "get" : {
        "summary" : "Best Seller List by Date",
        "description" : "",
        "operationId" : "GET_lists-date-list-json",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "date",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "list",
          "in" : "path",
          "description" : "Name of the Best Sellers List. You can get the full list from /lists/names.json",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "isbn",
          "in" : "query",
          "description" : "International Standard Book Number, 10 or 13 digits",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "list-name",
          "in" : "query",
          "description" : "The name of the Times best-seller list. To get valid values, use a list names request.\n\nBe sure to replace spaces with hyphens (e.g., e-book-fiction or hardcover-fiction, not E-Book Fiction or Hardcover Fiction). (The parameter is not case sensitive.)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "published-date",
          "in" : "query",
          "description" : "YYYY-MM-DD\n\nThe date the best-seller list was published on NYTimes.com (compare bestsellers-date)",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "bestsellers-date",
          "in" : "query",
          "description" : "YYYY-MM-DD\n\nThe week-ending date for the sales reflected on list-name. Times best-seller lists are compiled using available book sale data. The bestsellers-date may be significantly earlier than published-date. For additional information, see the explanation at the bottom of any best-seller list page on NYTimes.com (example: Hardcover Fiction, published Dec. 5 but reflecting sales to Nov. 29).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "weeks-on-list",
          "in" : "query",
          "description" : "The number of weeks that the best seller has been on list-name, as of bestsellers-date",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "rank",
          "in" : "query",
          "description" : "The rank of the best seller on list-name as of bestsellers-date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rank-last-week",
          "in" : "query",
          "description" : "The rank of the best seller on list-name one week prior to bestsellers-date",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Sets the starting point of the result set",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sort-order",
          "in" : "query",
          "description" : "The default is ASC (ascending). The sort-order parameter is used with the sort-by parameter — for details, see each request type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "StringSchemaProperty"
            },
            "examples" : {
              "application/json" : {
                "copyright" : "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                "last_modified" : "2015-12-25T13:05:20-05:00",
                "num_results" : 15,
                "results" : {
                  "bestsellers_date" : "2015-12-19",
                  "books" : [ {
                    "age_group" : "",
                    "amazon_product_url" : "http://www.amazon.com/The-Martian-Novel-Andy-Weir-ebook/dp/B00EMXBDMA?tag=thenewyorktim-20",
                    "article_chapter_link" : "",
                    "asterisk" : 0,
                    "author" : "Andy Weir",
                    "book_image" : "http://du.ec2.nytimes.com.s3.amazonaws.com/prd/books/9780804139038.jpg",
                    "book_review_link" : "",
                    "contributor" : "by Andy Weir",
                    "contributor_note" : "",
                    "dagger" : 0,
                    "description" : "Separated from his crew, an astronaut embarks on a quest to stay alive on Mars. The basis of the movie.",
                    "first_chapter_link" : "",
                    "isbns" : [ {
                      "isbn10" : "0804139024",
                      "isbn13" : "9780804139021"
                    } ],
                    "price" : 0,
                    "primary_isbn10" : "0553418025",
                    "primary_isbn13" : "9780553418026",
                    "publisher" : "Broadway",
                    "rank" : 1,
                    "rank_last_week" : 0,
                    "sunday_review_link" : "",
                    "title" : "THE MARTIAN",
                    "weeks_on_list" : 60
                  } ],
                  "corrections" : [ ],
                  "display_name" : "Paperback Trade Fiction",
                  "list_name" : "Trade Fiction Paperback",
                  "normal_list_ends_at" : 10,
                  "published_date" : "2016-01-03",
                  "updated" : "WEEKLY"
                },
                "status" : "OK"
              }
            }
          }
        },
        "security" : [ {
          "api-key" : [ ]
        } ]
      }
    },
    "/reviews.{format}" : {
      "get" : {
        "summary" : "Reviews",
        "description" : "",
        "operationId" : "GET_reviews-format",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "format",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "isbn",
          "in" : "query",
          "description" : "Searching by ISBN is the recommended method. You can enter 10- or 13-digit ISBNs.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "title",
          "in" : "query",
          "description" : "You’ll need to enter the full title of the book. Spaces in the title will be converted into the characters %20.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "author",
          "in" : "query",
          "description" : "You’ll need to enter the author’s first and last name, separated by a space. This space will be converted into the characters %20.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "api-key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "StringSchemaProperty"
            },
            "examples" : {
              "application/json" : {
                "copyright" : "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                "num_results" : 2,
                "results" : [ {
                  "book_author" : "Haruki Murakami",
                  "book_title" : "1Q84",
                  "byline" : "JANET MASLIN",
                  "isbn13" : [ "9780307476463" ],
                  "publication_dt" : "2011-11-10",
                  "summary" : "In “1Q84,” the Japanese novelist Haruki Murakami writes about characters in a Tokyo with two moons.",
                  "url" : "http://www.nytimes.com/2011/11/10/books/1q84-by-haruki-murakami-review.html"
                } ],
                "status" : "OK"
              }
            }
          }
        },
        "security" : [ {
          "api-key" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey"