#%RAML 0.8
title: GeoNames
version: "1"
baseUri: "http://api.geonames.org"
protocols: [HTTP]
schemas: 
    - 
        neighbourhood-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="totalResultsCount" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                        <xsd:element name="geoname" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="toponymName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="geonameId" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcl" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="style" type="xsd:normalizedString" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        exception: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "status" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "message" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "value" : {
                          "type" : "number" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        siblings: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "totalResultsCount" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        hierarchy-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="geoname" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="toponymName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="geonameId" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="fcl" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        findNearByWeather-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="observation" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="observation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="observationTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="stationName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="ICAO" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="elevation" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="temperature" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="dewPoint" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="humidity" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="clouds" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                      <xsd:attribute name="code" type="xsd:normalizedString" use="required"/>
                                    </xsd:extension>
                                  </xsd:simpleContent>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="weatherCondition" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="hectoPascAltimeter" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="windSpeed" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        ocean-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ocean" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        features-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="geonames">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="geoname" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="toponymName"/>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element type="xs:float" name="lat"/>
                              <xs:element type="xs:float" name="lng"/>
                              <xs:element type="xs:int" name="geonameId"/>
                              <xs:element type="xs:string" name="countryCode"/>
                              <xs:element type="xs:string" name="countryName"/>
                              <xs:element type="xs:string" name="fcl"/>
                              <xs:element type="xs:string" name="fcode"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:string" name="style"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        records-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="geonames">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="totalResultsCount"/>
                        <xs:element name="geoname" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="toponymName"/>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element type="xs:float" name="lat"/>
                              <xs:element type="xs:float" name="lng"/>
                              <xs:element type="xs:int" name="geonameId"/>
                              <xs:element type="xs:string" name="countryCode"/>
                              <xs:element type="xs:string" name="countryName"/>
                              <xs:element type="xs:string" name="fcl"/>
                              <xs:element type="xs:string" name="fcode"/>
                              <xs:element type="xs:byte" name="numberOfChildren"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:string" name="style"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        postalCodeCountryInfo: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "numPostalCodes" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "maxPostalCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "minPostalCode" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        countrySubdivision: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "distance" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "adminCode1" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "countryName" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "countryCode" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "codes" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "code" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "type" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    } ,
                    "adminName1" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        findNearbyWikipedia: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "summary" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "distance" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "rank" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "title" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "wikipediaUrl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "elevation" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "feature" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lang" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        features: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        findNearestIntersection-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="intersection" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="street1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="mtfcc1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="street1Bearing" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="street2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="mtfcc2" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="street2Bearing" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="postalcode" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="placename" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminName2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminCode1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="adminName1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="credits" type="xsd:decimal" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        countrySubdivision-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="countrySubdivision" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="adminCode1" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="adminName1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="code" maxOccurs="unbounded">
                                <xsd:complexType>
                                  <xsd:simpleContent>
                                    <xsd:extension base="xsd:int">
                                      <xsd:attribute name="type" type="xsd:normalizedString" use="required"/>
                                    </xsd:extension>
                                  </xsd:simpleContent>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        findNearbyStreetsOSM: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "streetSegment" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "distance" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "highway" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "line" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "wayId" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        } , {
                          "type" : "object" ,
                          "properties" : {
                            "ref" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "distance" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "highway" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "oneway" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "line" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "wayId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "maxspeed" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        neighbourhood: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "neighbourhood" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "adminName2" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "adminCode2" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "adminCode1" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "countryName" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "countryCode" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "city" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "adminName1" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        weather: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "weatherObservations" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "clouds" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "weatherCondition" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "observation" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "windDirection" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "ICAO" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "seaLevelPressure" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "temperature" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "dewPoint" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "windSpeed" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "humidity" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "stationName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "datetime" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        } , {
                          "type" : "object" ,
                          "properties" : {
                            "clouds" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "weatherCondition" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "observation" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "windDirection" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "ICAO" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "temperature" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "dewPoint" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "windSpeed" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "humidity" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "stationName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "datetime" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        } , {
                          "type" : "object" ,
                          "properties" : {
                            "clouds" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "weatherCondition" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "observation" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "windDirection" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "ICAO" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "seaLevelPressure" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "cloudsCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "temperature" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "dewPoint" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "windSpeed" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "humidity" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "stationName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "datetime" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        countryCode-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="country" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="languages" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        gtopo30-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="status" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:simpleContent>
                              <xsd:extension base="xsd:string">
                                <xsd:attribute name="message" type="xsd:string" use="required"/>
                                <xsd:attribute name="value" type="xsd:int" use="required"/>
                              </xsd:extension>
                            </xsd:simpleContent>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        postal-codes-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="geonames">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="totalResultsCount"/>
                        <xs:element name="code" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="postalcode"/>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element type="xs:string" name="countryCode"/>
                              <xs:element type="xs:float" name="lat"/>
                              <xs:element type="xs:float" name="lng"/>
                              <xs:element name="adminCode1">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute type="xs:byte" name="ISO3166-2" use="optional"/>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:string" name="adminName1"/>
                              <xs:element type="xs:string" name="adminCode2"/>
                              <xs:element type="xs:string" name="adminName2"/>
                              <xs:element type="xs:string" name="adminCode3"/>
                              <xs:element type="xs:string" name="adminName3"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        findNearby-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="geoname" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="toponymName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="geonameId" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcl" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        wikipediaBoundingBox-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="entry" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="lang" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="title" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="summary" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="feature" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="elevation" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="wikipediaUrl" minOccurs="0" maxOccurs="1" type="xsd:anyURI"/>
                              <xsd:element name="thumbnailImg" minOccurs="0" maxOccurs="1" type="xsd:anyURI"/>
                              <xsd:element name="rank" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        countryInfo: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "currencyCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fipsCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "isoNumeric" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "north" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "capital" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "continentName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "areaInSqKm" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "languages" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "isoAlpha3" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "continent" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "south" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "east" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "west" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        postalCodeLookup: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "postalcodes" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "adminCode3" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName2" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName3" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode2" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "postalcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "placeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        findNearByWeather: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "weatherObservation" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "weatherCondition" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "clouds" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "observation" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "ICAO" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "elevation" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "countryCode" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "cloudsCode" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "lng" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "temperature" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "dewPoint" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "windSpeed" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "humidity" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "stationName" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "datetime" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "lat" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "hectoPascAltimeter" : {
                          "type" : "number" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        cities-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="geoname" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="toponymName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="geonameId" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcl" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="fcode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        cities: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countrycode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "wikipedia" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        findNearestIntersectionOSM: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "intersection" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "street2" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "street1" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "distance" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "highway2" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "highway1" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "street2Bearing" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "street1Bearing" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "lng" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "lat" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        hierarchy: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        } , {
                          "type" : "object" ,
                          "properties" : {
                            "countryId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        findNearbyPlaceName: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "distance" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        findNearbyStreets-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="streetSegment" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="line" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="mtfcc" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="fraddl" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="fraddr" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="toaddl" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="toaddr" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="postalcode" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="placename" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminCode2" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="adminName2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminCode1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="adminName1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        srtm: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "srtm3" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "lng" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "lat" : {
                      "type" : "number" ,
                      "required" : false
                    }
                  }
                }
        findNearestAddress-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="address" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="street" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="mtfcc" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="streetNumber" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="postalcode" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="placename" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminCode2" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="adminName2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminCode1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="adminName1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        ocean: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "ocean" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        siblings-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="geonames">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="totalResultsCount"/>
                        <xs:element name="geoname" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="toponymName"/>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element type="xs:float" name="lat"/>
                              <xs:element type="xs:float" name="lng"/>
                              <xs:element type="xs:int" name="geonameId"/>
                              <xs:element type="xs:string" name="countryCode"/>
                              <xs:element type="xs:string" name="countryName"/>
                              <xs:element type="xs:string" name="fcl"/>
                              <xs:element type="xs:string" name="fcode"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        postalCodeCountryInfo-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="country" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="numPostalCodes" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="minPostalCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="maxPostalCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        astergdem-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="geonames">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:short" name="astergdem"/>
                        <xs:element type="xs:float" name="lat"/>
                        <xs:element type="xs:float" name="lng"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        weather-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="observation" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="observation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="observationTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="stationName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="ICAO" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="elevation" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="temperature" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="dewPoint" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="humidity" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="clouds" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="weatherCondition" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="windDirection" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="windSpeed" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        findNearby: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "distance" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        records: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "totalResultsCount" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "geonames" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "countryId" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminCode1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fclName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "countryCode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcodeName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "toponymName" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcl" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "numberOfChildren" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "fcode" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "geonameId" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "adminName1" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "population" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        timezone: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "countryName" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "sunset" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "rawOffset" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "dstOffset" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "countryCode" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "gmtOffset" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "lng" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "sunrise" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "timezoneId" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "lat" : {
                      "type" : "number" ,
                      "required" : false
                    }
                  }
                }
        findNearByPostalCode-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="code" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="postalcode" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="adminCode1" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="adminName1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="adminCode2" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="adminName2" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="adminCode3" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="adminName3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="distance" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        astergdem: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "astergdem" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "lng" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "lat" : {
                      "type" : "number" ,
                      "required" : false
                    }
                  }
                }
        earthquakes: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "earthquakes" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "eqid" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "magnitude" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lng" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "src" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "datetime" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "depth" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "lat" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        timezone-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="geonames">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="timezone" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="timezoneId" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="dstOffset" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="gmtOffset" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="rawOffset" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              <xsd:element name="time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="sunrise" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="sunset" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                            </xsd:sequence>
[...]
