{
  "swagger" : "2.0",
  "info" : {
    "version" : "1",
    "title" : "GeoNames"
  },
  "host" : "api.geonames.org",
  "basePath" : "",
  "schemes" : [ "http" ],
  "paths" : {
    "/astergdem{mediaTypeSuffix}" : {
      "get" : {
        "description" : " Result : a single number giving the elevation in meters according to aster gdem, ocean areas have been masked as \"no data\" and have been assigned a value of -9999 ",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "lat",
          "in" : "query",
          "description" : "latitude",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "lng",
          "in" : "query",
          "description" : "longitude",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "If a request for a geonames web service encounters an error the following exception format will be used for the returned document. GeoNames supports two flavor of web services - JSON and XML. \nThe exception message returned is either JSON or XML and consists of a status element with a numeric error code and a message string.\n",
            "schema" : {
              "$ref" : "#/definitions/astergdem"
            },
            "examples" : {
              "application/xml" : "<geonames>\r\n<astergdem>192</astergdem>\r\n<lat>50.01</lat>\r\n<lng>10.2</lng>\r\n</geonames>",
              "application/json" : "{\n  \"astergdem\" : 192 ,\n  \"lng\" : 10.2 ,\n  \"lat\" : 50.01\n}"
            }
          }
        },
        "security" : [ ]
      },
      "post" : {
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "If a request for a geonames web service encounters an error the following exception format will be used for the returned document. GeoNames supports two flavor of web services - JSON and XML. \nThe exception message returned is either JSON or XML and consists of a status element with a numeric error code and a message string.\n",
            "examples" : {
              "application/xml" : null,
              "application/json" : null
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeSuffix",
        "in" : "path",
        "description" : "empty value stands for XML",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/children{mediaTypeSuffix}" : {
      "get" : {
        "description" : "Result: returns a list of GeoName records ",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "geonameId",
          "in" : "query",
          "description" : "the geonameId of the parent",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxRows",
          "in" : "query",
          "description" : "number of rows returned, default is 200",
          "required" : false,
          "type" : "integer",
          "default" : 200
        }, {
          "name" : "hierarchy",
          "in" : "query",
          "description" : "this optional parameter allows to use other hiearchies then the default administrative hierarchy. So far only 'tourism' is implemented.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "If a request for a geonames web service encounters an error the following exception format will be used for the returned document. GeoNames supports two flavor of web services - JSON and XML. \nThe exception message returned is either JSON or XML and consists of a status element with a numeric error code and a message string.\n",
            "schema" : {
              "$ref" : "#/definitions/records"
            },
            "examples" : {
              "application/xml" : "<geonames style=\"MEDIUM\">\r\n<totalResultsCount>20</totalResultsCount>\r\n<geoname>\r\n<toponymName>Regione Abruzzo</toponymName>\r\n<name>Abruzzo</name>\r\n<lat>42.25</lat>\r\n<lng>13.75</lng>\r\n<geonameId>3183560</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>4</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Autonoma Valle d'Aosta</toponymName>\r\n<name>Aosta Valley</name>\r\n<lat>45.75</lat>\r\n<lng>7.25</lng>\r\n<geonameId>3164857</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>1</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Puglia</toponymName>\r\n<name>Apulia</name>\r\n<lat>41.25</lat>\r\n<lng>16.25</lng>\r\n<geonameId>3169778</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>6</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Basilicata</toponymName>\r\n<name>Basilicate</name>\r\n<lat>40.5</lat>\r\n<lng>16.5</lng>\r\n<geonameId>3182306</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>2</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Calabria</toponymName>\r\n<name>Calabria</name>\r\n<lat>39</lat>\r\n<lng>16.5</lng>\r\n<geonameId>2525468</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>5</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Campania</toponymName>\r\n<name>Campania</name>\r\n<lat>41</lat>\r\n<lng>14.5</lng>\r\n<geonameId>3181042</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>5</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Emilia-Romagna</toponymName>\r\n<name>Emilia-Romagna</name>\r\n<lat>44.75</lat>\r\n<lng>11</lng>\r\n<geonameId>3177401</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>9</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Autonoma Friuli Venezia Giulia</toponymName>\r\n<name>Friuli Venezia Giulia</name>\r\n<lat>46</lat>\r\n<lng>13</lng>\r\n<geonameId>3176525</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>4</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Lazio</toponymName>\r\n<name>Latium</name>\r\n<lat>42</lat>\r\n<lng>12.5</lng>\r\n<geonameId>3174976</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>5</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Liguria</toponymName>\r\n<name>Liguria</name>\r\n<lat>44.5</lat>\r\n<lng>8.83333</lng>\r\n<geonameId>3174725</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>4</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Lombardia</toponymName>\r\n<name>Lombardy</name>\r\n<lat>45.66667</lat>\r\n<lng>9.5</lng>\r\n<geonameId>3174618</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>12</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Molise</toponymName>\r\n<name>Molise</name>\r\n<lat>41.66667</lat>\r\n<lng>14.5</lng>\r\n<geonameId>3173222</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>2</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Piemonte</toponymName>\r\n<name>Piedmont</name>\r\n<lat>45</lat>\r\n<lng>8</lng>\r\n<geonameId>3170831</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>8</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Sardegna</toponymName>\r\n<name>Sardinia</name>\r\n<lat>40</lat>\r\n<lng>9</lng>\r\n<geonameId>2523228</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>8</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Sicilia</toponymName>\r\n<name>Sicily</name>\r\n<lat>37.75</lat>\r\n<lng>14.25</lng>\r\n<geonameId>2523119</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>9</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Marche</toponymName>\r\n<name>The Marches</name>\r\n<lat>43.5</lat>\r\n<lng>13.25</lng>\r\n<geonameId>3174004</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>5</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Trentino-Alto Adige</toponymName>\r\n<name>Trentino-Alto Adige</name>\r\n<lat>46.5</lat>\r\n<lng>11.33333</lng>\r\n<geonameId>3165244</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>2</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Toscana</toponymName>\r\n<name>Tuscany</name>\r\n<lat>43.41667</lat>\r\n<lng>11</lng>\r\n<geonameId>3165361</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>10</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Umbria</toponymName>\r\n<name>Umbria</name>\r\n<lat>43</lat>\r\n<lng>12.5</lng>\r\n<geonameId>3165048</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>2</numberOfChildren>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Regione Veneto</toponymName>\r\n<name>Veneto</name>\r\n<lat>45.5</lat>\r\n<lng>11.75</lng>\r\n<geonameId>3164604</geonameId>\r\n<countryCode>IT</countryCode>\r\n<countryName>Italy</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM1</fcode>\r\n<numberOfChildren>7</numberOfChildren>\r\n</geoname>\r\n</geonames>",
              "application/json" : "{\n  \"totalResultsCount\" : 20 ,\n  \"geonames\" : [\n    {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"01\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"13.75\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Abruzzo\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 4 ,\n      \"name\" : \"Abruzzo\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3183560 ,\n      \"lat\" : \"42.25\" ,\n      \"adminName1\" : \"Abruzzo\" ,\n      \"population\" : 1338898\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"19\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"7.25\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Autonoma Valle d'Aosta\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 1 ,\n      \"name\" : \"Aosta Valley\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3164857 ,\n      \"lat\" : \"45.75\" ,\n      \"adminName1\" : \"Aosta Valley\" ,\n      \"population\" : 127866\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"13\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"16.25\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Puglia\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 6 ,\n      \"name\" : \"Apulia\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3169778 ,\n      \"lat\" : \"41.25\" ,\n      \"adminName1\" : \"Apulia\" ,\n      \"population\" : 4084035\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"02\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"16.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Basilicata\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 2 ,\n      \"name\" : \"Basilicate\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3182306 ,\n      \"lat\" : \"40.5\" ,\n      \"adminName1\" : \"Basilicate\" ,\n      \"population\" : 588879\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"03\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"16.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Calabria\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 5 ,\n      \"name\" : \"Calabria\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 2525468 ,\n      \"lat\" : \"39\" ,\n      \"adminName1\" : \"Calabria\" ,\n      \"population\" : 2009330\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"04\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"14.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Campania\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 5 ,\n      \"name\" : \"Campania\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3181042 ,\n      \"lat\" : \"41\" ,\n      \"adminName1\" : \"Campania\" ,\n      \"population\" : 5824662\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"05\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"11\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Emilia-Romagna\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 9 ,\n      \"name\" : \"Emilia-Romagna\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3177401 ,\n      \"lat\" : \"44.75\" ,\n      \"adminName1\" : \"Emilia-Romagna\" ,\n      \"population\" : 4395569\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"06\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"13\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Autonoma Friuli Venezia Giulia\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 4 ,\n      \"name\" : \"Friuli Venezia Giulia\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3176525 ,\n      \"lat\" : \"46\" ,\n      \"adminName1\" : \"Friuli Venezia Giulia\" ,\n      \"population\" : 1234079\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"12.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Lazio\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 5 ,\n      \"name\" : \"Latium\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3174976 ,\n      \"lat\" : \"42\" ,\n      \"adminName1\" : \"Latium\" ,\n      \"population\" : 5681868\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"08\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"8.83333\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Liguria\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 4 ,\n      \"name\" : \"Liguria\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3174725 ,\n      \"lat\" : \"44.5\" ,\n      \"adminName1\" : \"Liguria\" ,\n      \"population\" : 1615986\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"09\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"9.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Lombardia\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 12 ,\n      \"name\" : \"Lombardy\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3174618 ,\n      \"lat\" : \"45.66667\" ,\n      \"adminName1\" : \"Lombardy\" ,\n      \"population\" : 9826141\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"11\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"14.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Molise\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 2 ,\n      \"name\" : \"Molise\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3173222 ,\n      \"lat\" : \"41.66667\" ,\n      \"adminName1\" : \"Molise\" ,\n      \"population\" : 320229\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"12\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"8\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Piemonte\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 8 ,\n      \"name\" : \"Piedmont\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3170831 ,\n      \"lat\" : \"45\" ,\n      \"adminName1\" : \"Piedmont\" ,\n      \"population\" : 4446230\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"14\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"9\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Sardegna\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 8 ,\n      \"name\" : \"Sardinia\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 2523228 ,\n      \"lat\" : \"40\" ,\n      \"adminName1\" : \"Sardinia\" ,\n      \"population\" : 1672404\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"15\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"14.25\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Sicilia\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 9 ,\n      \"name\" : \"Sicily\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 2523119 ,\n      \"lat\" : \"37.75\" ,\n      \"adminName1\" : \"Sicily\" ,\n      \"population\" : 5042992\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"10\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"13.25\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Marche\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 5 ,\n      \"name\" : \"The Marches\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3174004 ,\n      \"lat\" : \"43.5\" ,\n      \"adminName1\" : \"The Marches\" ,\n      \"population\" : 1559542\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"17\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"11.33333\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Trentino-Alto Adige\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 2 ,\n      \"name\" : \"Trentino-Alto Adige\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3165244 ,\n      \"lat\" : \"46.5\" ,\n      \"adminName1\" : \"Trentino-Alto Adige\" ,\n      \"population\" : 1028260\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"16\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"11\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Toscana\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 10 ,\n      \"name\" : \"Tuscany\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3165361 ,\n      \"lat\" : \"43.41667\" ,\n      \"adminName1\" : \"Tuscany\" ,\n      \"population\" : 3730130\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"18\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"12.5\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Umbria\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 2 ,\n      \"name\" : \"Umbria\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3165048 ,\n      \"lat\" : \"43\" ,\n      \"adminName1\" : \"Umbria\" ,\n      \"population\" : 900790\n    } , {\n      \"countryId\" : \"3175395\" ,\n      \"adminCode1\" : \"20\" ,\n      \"countryName\" : \"Italy\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"IT\" ,\n      \"lng\" : \"11.75\" ,\n      \"fcodeName\" : \"first-order administrative division\" ,\n      \"toponymName\" : \"Regione Veneto\" ,\n      \"fcl\" : \"A\" ,\n      \"numberOfChildren\" : 7 ,\n      \"name\" : \"Veneto\" ,\n      \"fcode\" : \"ADM1\" ,\n      \"geonameId\" : 3164604 ,\n      \"lat\" : \"45.5\" ,\n      \"adminName1\" : \"Veneto\" ,\n      \"population\" : 4912438\n    }\n  ]\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeSuffix",
        "in" : "path",
        "description" : "empty value stands for XML",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/cities{mediaTypeSuffix}" : {
      "get" : {
        "description" : "Result : returns a list of cities and placenames in the bounding box, ordered by relevancy (capital/population). Placenames close together are filterered out and only the larger name is included in the resulting list.",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "callback ",
          "in" : "query",
          "description" : "name of javascript function (optional parameter)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lang ",
          "in" : "query",
          "description" : "language of placenames and wikipedia urls (default = en)",
          "required" : false,
          "type" : "string",
          "default" : "en"
        }, {
          "name" : "maxRows ",
          "in" : "query",
          "description" : "maximal number of rows returned (default = 10)",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "east",
          "in" : "query",
          "description" : "bounding box, only features within the box are returned",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "west",
          "in" : "query",
          "description" : "bounding box, only features within the box are returned",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "north",
          "in" : "query",
          "description" : "bounding box, only features within the box are returned",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "south",
          "in" : "query",
          "description" : "bounding box, only features within the box are returned",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "username",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "If a request for a geonames web service encounters an error the following exception format will be used for the returned document. GeoNames supports two flavor of web services - JSON and XML. \nThe exception message returned is either JSON or XML and consists of a status element with a numeric error code and a message string.\n",
            "schema" : {
              "$ref" : "#/definitions/cities"
            },
            "examples" : {
              "application/xml" : "<geonames>\r\n<geoname>\r\n<toponymName>Mexico City</toponymName>\r\n<name>Mexico City</name>\r\n<lat>19.42847</lat>\r\n<lng>-99.12766</lng>\r\n<geonameId>3530597</geonameId>\r\n<countryCode>MX</countryCode>\r\n<countryName>Mexico</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Manila</toponymName>\r\n<name>City of Manila</name>\r\n<lat>14.6042</lat>\r\n<lng>120.9822</lng>\r\n<geonameId>1701668</geonameId>\r\n<countryCode>PH</countryCode>\r\n<countryName>Philippines</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Dhaka</toponymName>\r\n<name>Dhaka</name>\r\n<lat>23.7104</lat>\r\n<lng>90.40744</lng>\r\n<geonameId>1185241</geonameId>\r\n<countryCode>BD</countryCode>\r\n<countryName>Bangladesh</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Seoul</toponymName>\r\n<name>Seoul</name>\r\n<lat>37.566</lat>\r\n<lng>126.9784</lng>\r\n<geonameId>1835848</geonameId>\r\n<countryCode>KR</countryCode>\r\n<countryName>South Korea</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Jakarta</toponymName>\r\n<name>Jakarta</name>\r\n<lat>-6.21462</lat>\r\n<lng>106.84513</lng>\r\n<geonameId>1642911</geonameId>\r\n<countryCode>ID</countryCode>\r\n<countryName>Indonesia</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Tokyo</toponymName>\r\n<name>Tokyo</name>\r\n<lat>35.6895</lat>\r\n<lng>139.69171</lng>\r\n<geonameId>1850147</geonameId>\r\n<countryCode>JP</countryCode>\r\n<countryName>Japan</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Taipei</toponymName>\r\n<name>Taipei</name>\r\n<lat>25.04776</lat>\r\n<lng>121.53185</lng>\r\n<geonameId>1668341</geonameId>\r\n<countryCode>TW</countryCode>\r\n<countryName>Taiwan</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Bogotá</toponymName>\r\n<name>Bogotá</name>\r\n<lat>4.60971</lat>\r\n<lng>-74.08175</lng>\r\n<geonameId>3688689</geonameId>\r\n<countryCode>CO</countryCode>\r\n<countryName>Colombia</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Beijing</toponymName>\r\n<name>Beijing</name>\r\n<lat>39.9075</lat>\r\n<lng>116.39723</lng>\r\n<geonameId>1816670</geonameId>\r\n<countryCode>CN</countryCode>\r\n<countryName>China</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hong Kong</toponymName>\r\n<name>Hong Kong</name>\r\n<lat>22.28552</lat>\r\n<lng>114.15769</lng>\r\n<geonameId>1819729</geonameId>\r\n<countryCode>HK</countryCode>\r\n<countryName>Hong Kong</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPLC</fcode>\r\n</geoname>\r\n</geonames>",
              "application/json" : "{\n  \"geonames\" : [\n    {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Mexico City\" ,\n      \"countrycode\" : \"MX\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Mexiko-Stadt\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Mexico_City\" ,\n      \"lng\" : -99.12766456604 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 3530597 ,\n      \"lat\" : 19.428472427036 ,\n      \"population\" : 12294193\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Manila\" ,\n      \"countrycode\" : \"PH\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Manila\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Manila\" ,\n      \"lng\" : 120.9822 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1701668 ,\n      \"lat\" : 14.6042 ,\n      \"population\" : 10444527\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Dhaka\" ,\n      \"countrycode\" : \"BD\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Dhaka\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Dhaka\" ,\n      \"lng\" : 90.40743827819824 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1185241 ,\n      \"lat\" : 23.710395616597037 ,\n      \"population\" : 10356500\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Seoul\" ,\n      \"countrycode\" : \"KR\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Seoul\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Seoul\" ,\n      \"lng\" : 126.9784 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1835848 ,\n      \"lat\" : 37.566 ,\n      \"population\" : 10349312\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Jakarta\" ,\n      \"countrycode\" : \"ID\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Jakarta\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Jakarta\" ,\n      \"lng\" : 106.84513092041016 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1642911 ,\n      \"lat\" : -6.214623197035775 ,\n      \"population\" : 8540121\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Tokyo\" ,\n      \"countrycode\" : \"JP\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Tokyo\" ,\n      \"wikipedia\" : \"de.wikipedia.org/wiki/Tokyo\" ,\n      \"lng\" : 139.69171 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1850147 ,\n      \"lat\" : 35.6895 ,\n      \"population\" : 8336599\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Taipei\" ,\n      \"countrycode\" : \"TW\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Taipeh\" ,\n      \"wikipedia\" : \"de.wikipedia.org/wiki/Taipei\" ,\n      \"lng\" : 121.531846 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1668341 ,\n      \"lat\" : 25.047763 ,\n      \"population\" : 7871900\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Bogotá\" ,\n      \"countrycode\" : \"CO\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Bogotá\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Bogot%C3%A1\" ,\n      \"lng\" : -74.08175468444824 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 3688689 ,\n      \"lat\" : 4.609705849789108 ,\n      \"population\" : 7674366\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Beijing\" ,\n      \"countrycode\" : \"CN\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Peking\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Beijing\" ,\n      \"lng\" : 116.397228240967 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1816670 ,\n      \"lat\" : 39.9074977414405 ,\n      \"population\" : 7480601\n    } , {\n      \"fcodeName\" : \"capital of a political entity\" ,\n      \"toponymName\" : \"Hong Kong\" ,\n      \"countrycode\" : \"HK\" ,\n      \"fcl\" : \"P\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"name\" : \"Hong Kong\" ,\n      \"wikipedia\" : \"en.wikipedia.org/wiki/Hong_Kong\" ,\n      \"lng\" : 114.157691001892 ,\n      \"fcode\" : \"PPLC\" ,\n      \"geonameId\" : 1819729 ,\n      \"lat\" : 22.2855225817732 ,\n      \"population\" : 7012738\n    }\n  ]\n}"
            }
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeSuffix",
        "in" : "path",
        "description" : "empty value stands for XML",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/contains{mediaTypeSuffix}" : {
      "get" : {
        "description" : "returns all features within the GeoName feature for the given geoNameId. It only returns contained features when a polygon boundary for the input feature is defined.",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "geonameId ",
          "in" : "query",
          "description" : "the geonameId for enclosing feature",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "featureClass",
          "in" : "query",
          "description" : "filter by featureClass (optional)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "featureCode",
          "in" : "query",
          "description" : "filter by featureCode (optional)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "If a request for a geonames web service encounters an error the following exception format will be used for the returned document. GeoNames supports two flavor of web services - JSON and XML. \nThe exception message returned is either JSON or XML and consists of a status element with a numeric error code and a message string.\n",
            "schema" : {
              "$ref" : "#/definitions/features"
            },
            "examples" : {
              "application/xml" : "<geonames style=\"MEDIUM\">\r\n<geoname>\r\n<toponymName>Bargen</toponymName>\r\n<name>Bargen</name>\r\n<lat>53.08417</lat>\r\n<lng>4.83472</lng>\r\n<geonameId>2759422</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Bartimeus Hoeve</toponymName>\r\n<name>Bartimeus Hoeve</name>\r\n<lat>53.08333</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2759393</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>FRM</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Bleekersvallei</toponymName>\r\n<name>Bleekersvallei</name>\r\n<lat>53.0671</lat>\r\n<lng>4.73448</lng>\r\n<geonameId>2758843</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>PRK</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Blok</toponymName>\r\n<name>Blok</name>\r\n<lat>53.06611</lat>\r\n<lng>4.79944</lng>\r\n<geonameId>2758792</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>MRSH</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Buitendijk</toponymName>\r\n<name>Buitendijk</name>\r\n<lat>53.02276</lat>\r\n<lng>4.76577</lng>\r\n<geonameId>2758148</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Burgernieuwland</toponymName>\r\n<name>Burgernieuwland</name>\r\n<lat>53.0736</lat>\r\n<lng>4.78536</lng>\r\n<geonameId>2758087</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Cocksdorp</toponymName>\r\n<name>De Cocksdorp</name>\r\n<lat>53.15667</lat>\r\n<lng>4.87083</lng>\r\n<geonameId>2757710</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Geul</toponymName>\r\n<name>De Geul</name>\r\n<lat>53.0091</lat>\r\n<lng>4.73689</lng>\r\n<geonameId>2757629</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Hemmer</toponymName>\r\n<name>De Hemmer</name>\r\n<lat>53.03623</lat>\r\n<lng>4.76082</lng>\r\n<geonameId>2757553</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Hors</toponymName>\r\n<name>De Hors</name>\r\n<lat>52.99716</lat>\r\n<lng>4.73183</lng>\r\n<geonameId>2757495</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Kemphaan</toponymName>\r\n<name>De Kemphaan</name>\r\n<lat>53.08121</lat>\r\n<lng>4.79765</lng>\r\n<geonameId>6950005</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>MLWND</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Koog</toponymName>\r\n<name>De Koog</name>\r\n<lat>53.0975</lat>\r\n<lng>4.76111</lng>\r\n<geonameId>2757417</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Krim</toponymName>\r\n<name>De Krim</name>\r\n<lat>53.15172</lat>\r\n<lng>4.85361</lng>\r\n<geonameId>2757398</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>EST</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Leemput</toponymName>\r\n<name>De Leemput</name>\r\n<lat>53.05757</lat>\r\n<lng>4.85762</lng>\r\n<geonameId>2757363</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>MRSH</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Mars</toponymName>\r\n<name>De Mars</name>\r\n<lat>53.06285</lat>\r\n<lng>4.8151</lng>\r\n<geonameId>2757308</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Muy</toponymName>\r\n<name>De Muy</name>\r\n<lat>53.11624</lat>\r\n<lng>4.77897</lng>\r\n<geonameId>2757263</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Naal</toponymName>\r\n<name>De Naal</name>\r\n<lat>53.02393</lat>\r\n<lng>4.74283</lng>\r\n<geonameId>2757262</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Nederlanden</toponymName>\r\n<name>De Nederlanden</name>\r\n<lat>53.11046</lat>\r\n<lng>4.78242</lng>\r\n<geonameId>2757235</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Nes</toponymName>\r\n<name>De Nes</name>\r\n<lat>53.08083</lat>\r\n<lng>4.86111</lng>\r\n<geonameId>2757227</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Schorren</toponymName>\r\n<name>De Schorren</name>\r\n<lat>53.13447</lat>\r\n<lng>4.9045</lng>\r\n<geonameId>2757060</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Slufter</toponymName>\r\n<name>De Slufter</name>\r\n<lat>53.14476</lat>\r\n<lng>4.82156</lng>\r\n<geonameId>2757053</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Snippen</toponymName>\r\n<name>De Snippen</name>\r\n<lat>53.05</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2757050</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Traanroeier</toponymName>\r\n<name>De Traanroeier</name>\r\n<lat>53.0386</lat>\r\n<lng>4.84843</lng>\r\n<geonameId>6950072</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>MLWND</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Waal</toponymName>\r\n<name>De Waal</name>\r\n<lat>53.0725</lat>\r\n<lng>4.82361</lng>\r\n<geonameId>2756962</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Westen</toponymName>\r\n<name>De Westen</name>\r\n<lat>53.04667</lat>\r\n<lng>4.75556</lng>\r\n<geonameId>2756944</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>De Zandkes</toponymName>\r\n<name>De Zandkes</name>\r\n<lat>53.06667</lat>\r\n<lng>4.86667</lng>\r\n<geonameId>2756917</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Den Burg</toponymName>\r\n<name>Den Burg</name>\r\n<lat>53.05417</lat>\r\n<lng>4.79722</lng>\r\n<geonameId>2757244</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Den Hoorn</toponymName>\r\n<name>Den Hoorn</name>\r\n<lat>53.025</lat>\r\n<lng>4.75139</lng>\r\n<geonameId>2757213</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Dijkmanshuizen</toponymName>\r\n<name>Dijkmanshuizen</name>\r\n<lat>53.06667</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2756831</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Dijkmanshuizen</toponymName>\r\n<name>Dijkmanshuizen</name>\r\n<lat>53.05417</lat>\r\n<lng>4.8625</lng>\r\n<geonameId>2756832</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Driehuizen</toponymName>\r\n<name>Driehuizen</name>\r\n<lat>53.04667</lat>\r\n<lng>4.77639</lng>\r\n<geonameId>2756593</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Duinpark</toponymName>\r\n<name>Duinpark</name>\r\n<lat>53.07453</lat>\r\n<lng>4.73902</lng>\r\n<geonameId>2756517</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>PRK</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Eierlandse Duinen</toponymName>\r\n<name>Eierlandse Duinen</name>\r\n<lat>53.16936</lat>\r\n<lng>4.83969</lng>\r\n<geonameId>2756290</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Everstekoog</toponymName>\r\n<name>Everstekoog</name>\r\n<lat>53.08211</lat>\r\n<lng>4.77764</lng>\r\n<geonameId>2755963</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Fonteinsnol</toponymName>\r\n<name>Fonteinsnol</name>\r\n<lat>53.05</lat>\r\n<lng>4.73333</lng>\r\n<geonameId>2755864</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>PRK</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Gemeente Texel</toponymName>\r\n<name>Gemeente Texel</name>\r\n<lat>53.07883</lat>\r\n<lng>4.81166</lng>\r\n<geonameId>2746383</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>A</fcl>\r\n<fcode>ADM2</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Gerritsland</toponymName>\r\n<name>Gerritsland</name>\r\n<lat>53.06503</lat>\r\n<lng>4.76754</lng>\r\n<geonameId>2755570</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Grote Vlak</toponymName>\r\n<name>Grote Vlak</name>\r\n<lat>53.02645</lat>\r\n<lng>4.71828</lng>\r\n<geonameId>2755060</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hampshire Classic Opduin</toponymName>\r\n<name>Hampshire Classic Opduin</name>\r\n<lat>53.098</lat>\r\n<lng>4.7593</lng>\r\n<geonameId>6522984</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>HTL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hanenplas</toponymName>\r\n<name>Hanenplas</name>\r\n<lat>53.15</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2754892</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Harkebuurt</toponymName>\r\n<name>Harkebuurt</name>\r\n<lat>53.08667</lat>\r\n<lng>4.8625</lng>\r\n<geonameId>2754822</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Het Noorden</toponymName>\r\n<name>Het Noorden</name>\r\n<lat>53.10306</lat>\r\n<lng>4.89556</lng>\r\n<geonameId>6950033</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>MLWND</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hooge Berg</toponymName>\r\n<name>Hooge Berg</name>\r\n<lat>53.03333</lat>\r\n<lng>4.81667</lng>\r\n<geonameId>2753774</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hoogeberg</toponymName>\r\n<name>Hoogeberg</name>\r\n<lat>53.04362</lat>\r\n<lng>4.8172</lng>\r\n<geonameId>2753775</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hoogezandskil</toponymName>\r\n<name>Hoogezandskil</name>\r\n<lat>53.12549</lat>\r\n<lng>4.83768</lng>\r\n<geonameId>2753702</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>CNL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hoornder Nieuwland</toponymName>\r\n<name>Hoornder Nieuwland</name>\r\n<lat>53.01409</lat>\r\n<lng>4.76276</lng>\r\n<geonameId>2753631</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Hotel Cooghen</toponymName>\r\n<name>Hotel Cooghen</name>\r\n<lat>53.0998</lat>\r\n<lng>4.7627</lng>\r\n<geonameId>6491257</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>HTL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Jan Aysloot</toponymName>\r\n<name>Jan Aysloot</name>\r\n<lat>53.06714</lat>\r\n<lng>4.80193</lng>\r\n<geonameId>2753279</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>CNL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Kampeersnol</toponymName>\r\n<name>Kampeersnol</name>\r\n<lat>53.05</lat>\r\n<lng>4.73333</lng>\r\n<geonameId>2753108</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>PRK</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Klein Zeeland</toponymName>\r\n<name>Klein Zeeland</name>\r\n<lat>53.11996</lat>\r\n<lng>4.88914</lng>\r\n<geonameId>2752662</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Koogerveld</toponymName>\r\n<name>Koogerveld</name>\r\n<lat>53.09997</lat>\r\n<lng>4.78426</lng>\r\n<geonameId>2752475</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Korverskooi</toponymName>\r\n<name>Korverskooi</name>\r\n<lat>53.10638</lat>\r\n<lng>4.79338</lng>\r\n<geonameId>2752388</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Laagwaal</toponymName>\r\n<name>Laagwaal</name>\r\n<lat>53.07095</lat>\r\n<lng>4.81939</lng>\r\n<geonameId>2752096</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>CNL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Laan</toponymName>\r\n<name>Laan</name>\r\n<lat>52.99194</lat>\r\n<lng>4.75272</lng>\r\n<geonameId>2752087</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>FLTT</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Loodsmansduin</toponymName>\r\n<name>Loodsmansduin</name>\r\n<lat>53.01667</lat>\r\n<lng>4.71667</lng>\r\n<geonameId>2751472</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Midden-Eierland</toponymName>\r\n<name>Midden-Eierland</name>\r\n<lat>53.12917</lat>\r\n<lng>4.86111</lng>\r\n<geonameId>2750856</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Mok</toponymName>\r\n<name>Mok</name>\r\n<lat>53.00368</lat>\r\n<lng>4.76506</lng>\r\n<geonameId>2750743</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>BAY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Moksloot</toponymName>\r\n<name>Moksloot</name>\r\n<lat>53.01962</lat>\r\n<lng>4.72309</lng>\r\n<geonameId>2750740</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>CNL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Molenbuurt</toponymName>\r\n<name>Molenbuurt</name>\r\n<lat>53.08083</lat>\r\n<lng>4.84583</lng>\r\n<geonameId>2750717</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Molenkil</toponymName>\r\n<name>Molenkil</name>\r\n<lat>53.08347</lat>\r\n<lng>4.80065</lng>\r\n<geonameId>2750686</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>CNL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Molenkil</toponymName>\r\n<name>Molenkil</name>\r\n<lat>53.08333</lat>\r\n<lng>4.8</lng>\r\n<geonameId>2750685</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Neeltjesnol</toponymName>\r\n<name>Neeltjesnol</name>\r\n<lat>53</lat>\r\n<lng>4.75</lng>\r\n<geonameId>2750457</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Nieuweschild</toponymName>\r\n<name>Nieuweschild</name>\r\n<lat>53.07417</lat>\r\n<lng>4.8875</lng>\r\n<geonameId>2750247</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Noorderbuurt</toponymName>\r\n<name>Noorderbuurt</name>\r\n<lat>53.08833</lat>\r\n<lng>4.85556</lng>\r\n<geonameId>2749953</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Noordhaffel</toponymName>\r\n<name>Noordhaffel</name>\r\n<lat>53.04144</lat>\r\n<lng>4.7956</lng>\r\n<geonameId>2749887</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Ockesnol</toponymName>\r\n<name>Ockesnol</name>\r\n<lat>53.04509</lat>\r\n<lng>4.73629</lng>\r\n<geonameId>2749738</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>HLL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Ongeren</toponymName>\r\n<name>Ongeren</name>\r\n<lat>53.07167</lat>\r\n<lng>4.80417</lng>\r\n<geonameId>2749592</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Onrust</toponymName>\r\n<name>Onrust</name>\r\n<lat>52.99082</lat>\r\n<lng>4.72658</lng>\r\n<geonameId>2749584</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>BCH</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Oost</toponymName>\r\n<name>Oost</name>\r\n<lat>53.0975</lat>\r\n<lng>4.89167</lng>\r\n<geonameId>2749551</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Oosterend</toponymName>\r\n<name>Oosterend</name>\r\n<lat>53.085</lat>\r\n<lng>4.875</lng>\r\n<geonameId>2749475</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Oostkaap</toponymName>\r\n<name>Oostkaap</name>\r\n<lat>53.08333</lat>\r\n<lng>4.9</lng>\r\n<geonameId>2749363</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PT</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Oude Schans</toponymName>\r\n<name>Oude Schans</name>\r\n<lat>53.03333</lat>\r\n<lng>4.81667</lng>\r\n<geonameId>2749011</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Oudeschild</toponymName>\r\n<name>Oudeschild</name>\r\n<lat>53.03917</lat>\r\n<lng>4.84722</lng>\r\n<geonameId>2749009</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Petten</toponymName>\r\n<name>Petten</name>\r\n<lat>53.01667</lat>\r\n<lng>4.76667</lng>\r\n<geonameId>2748630</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Pieter Rozenvlak</toponymName>\r\n<name>Pieter Rozenvlak</name>\r\n<lat>53.03655</lat>\r\n<lng>4.72853</lng>\r\n<geonameId>2748599</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Polder Eijerland</toponymName>\r\n<name>Polder Eijerland</name>\r\n<lat>53.12304</lat>\r\n<lng>4.8336</lng>\r\n<geonameId>2756287</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Polder Waal en Burg</toponymName>\r\n<name>Polder Waal en Burg</name>\r\n<lat>53.08613</lat>\r\n<lng>4.80619</lng>\r\n<geonameId>2745129</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Polder de Eendracht</toponymName>\r\n<name>Polder de Eendracht</name>\r\n<lat>53.1375</lat>\r\n<lng>4.8931</lng>\r\n<geonameId>2756374</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Polder het Noorden</toponymName>\r\n<name>Polder het Noorden</name>\r\n<lat>53.11241</lat>\r\n<lng>4.88398</lng>\r\n<geonameId>2749963</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Pompevlak</toponymName>\r\n<name>Pompevlak</name>\r\n<lat>53.01667</lat>\r\n<lng>4.71667</lng>\r\n<geonameId>2748508</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Prins Hendrikpolder</toponymName>\r\n<name>Prins Hendrikpolder</name>\r\n<lat>53.01925</lat>\r\n<lng>4.79136</lng>\r\n<geonameId>2748433</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>PLDR</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Roggesloot</toponymName>\r\n<name>Roggesloot</name>\r\n<lat>53.15663</lat>\r\n<lng>4.87688</lng>\r\n<geonameId>2747985</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>H</fcl>\r\n<fcode>CRKT</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Schilbolsnol</toponymName>\r\n<name>Schilbolsnol</name>\r\n<lat>53.0079</lat>\r\n<lng>4.77036</lng>\r\n<geonameId>2747578</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Siborsnollen</toponymName>\r\n<name>Siborsnollen</name>\r\n<lat>53.01885</lat>\r\n<lng>4.74346</lng>\r\n<geonameId>2747344</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Slufterbollen</toponymName>\r\n<name>Slufterbollen</name>\r\n<lat>53.12923</lat>\r\n<lng>4.79832</lng>\r\n<geonameId>2747120</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Sluftervallei</toponymName>\r\n<name>Sluftervallei</name>\r\n<lat>53.15</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2747119</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>LCTY</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Smidsbollen</toponymName>\r\n<name>Smidsbollen</name>\r\n<lat>53.03333</lat>\r\n<lng>4.71667</lng>\r\n<geonameId>2747081</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>DUNE</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Spang</toponymName>\r\n<name>Spang</name>\r\n<lat>53.0725</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2746977</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Spijkdorp</toponymName>\r\n<name>Spijkdorp</name>\r\n<lat>53.07417</lat>\r\n<lng>4.85694</lng>\r\n<geonameId>2746933</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Texel</toponymName>\r\n<name>Texel</name>\r\n<lat>53.08333</lat>\r\n<lng>4.83333</lng>\r\n<geonameId>2746385</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>T</fcl>\r\n<fcode>ISL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Texel International Airport</toponymName>\r\n<name>Texel International Airport</name>\r\n<lat>53.11731</lat>\r\n<lng>4.8266</lng>\r\n<geonameId>8555930</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>S</fcl>\r\n<fcode>AIRP</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Tienhoven</toponymName>\r\n<name>Tienhoven</name>\r\n<lat>53.06705</lat>\r\n<lng>4.81274</lng>\r\n<geonameId>2746319</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Troelje</toponymName>\r\n<name>Troelje</name>\r\n<lat>53.05</lat>\r\n<lng>4.85</lng>\r\n<geonameId>2746149</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Westergeest</toponymName>\r\n<name>Westergeest</name>\r\n<lat>53.03538</lat>\r\n<lng>4.81789</lng>\r\n<geonameId>2744745</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Westerkolk</toponymName>\r\n<name>Westerkolk</name>\r\n<lat>53.08944</lat>\r\n<lng>4.82481</lng>\r\n<geonameId>2744722</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>L</fcl>\r\n<fcode>RESN</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Westermient</toponymName>\r\n<name>Westermient</name>\r\n<lat>53.05917</lat>\r\n<lng>4.76389</lng>\r\n<geonameId>2744708</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Zevenhuizen</toponymName>\r\n<name>Zevenhuizen</name>\r\n<lat>53.0875</lat>\r\n<lng>4.88333</lng>\r\n<geonameId>2743927</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Zuid-Eierland</toponymName>\r\n<name>Zuid-Eierland</name>\r\n<lat>53.1125</lat>\r\n<lng>4.81944</lng>\r\n<geonameId>2743792</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>Zuidhaffel</toponymName>\r\n<name>Zuidhaffel</name>\r\n<lat>53.03768</lat>\r\n<lng>4.80515</lng>\r\n<geonameId>2743708</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n<geoname>\r\n<toponymName>t Horntje</toponymName>\r\n<name>t Horntje</name>\r\n<lat>53.005</lat>\r\n<lng>4.78472</lng>\r\n<geonameId>2746338</geonameId>\r\n<countryCode>NL</countryCode>\r\n<countryName>Netherlands</countryName>\r\n<fcl>P</fcl>\r\n<fcode>PPL</fcode>\r\n</geoname>\r\n</geonames>",
              "application/json" : "{\n  \"geonames\" : [\n    {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.83472\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Bargen\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Bargen\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2759422 ,\n      \"lat\" : \"53.08417\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85\" ,\n      \"fcodeName\" : \"farm\" ,\n      \"toponymName\" : \"Bartimeus Hoeve\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"Bartimeus Hoeve\" ,\n      \"fcode\" : \"FRM\" ,\n      \"geonameId\" : 2759393 ,\n      \"lat\" : \"53.08333\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73448\" ,\n      \"fcodeName\" : \"park\" ,\n      \"toponymName\" : \"Bleekersvallei\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Bleekersvallei\" ,\n      \"fcode\" : \"PRK\" ,\n      \"geonameId\" : 2758843 ,\n      \"lat\" : \"53.0671\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.79944\" ,\n      \"fcodeName\" : \"marsh(es)\" ,\n      \"toponymName\" : \"Blok\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Blok\" ,\n      \"fcode\" : \"MRSH\" ,\n      \"geonameId\" : 2758792 ,\n      \"lat\" : \"53.06611\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.76577\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"Buitendijk\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Buitendijk\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2758148 ,\n      \"lat\" : \"53.02276\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.78536\" ,\n      \"fcodeName\" : \"polder\" ,\n      \"toponymName\" : \"Burgernieuwland\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Burgernieuwland\" ,\n      \"fcode\" : \"PLDR\" ,\n      \"geonameId\" : 2758087 ,\n      \"lat\" : \"53.0736\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.87083\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"De Cocksdorp\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"De Cocksdorp\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2757710 ,\n      \"lat\" : \"53.15667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73689\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"De Geul\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Geul\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2757629 ,\n      \"lat\" : \"53.0091\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.76082\" ,\n      \"fcodeName\" : \"polder\" ,\n      \"toponymName\" : \"De Hemmer\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"De Hemmer\" ,\n      \"fcode\" : \"PLDR\" ,\n      \"geonameId\" : 2757553 ,\n      \"lat\" : \"53.03623\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73183\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"De Hors\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Hors\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2757495 ,\n      \"lat\" : \"52.99716\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.79765\" ,\n      \"fcodeName\" : \"windmill\" ,\n      \"toponymName\" : \"De Kemphaan\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"De Kemphaan\" ,\n      \"fcode\" : \"MLWND\" ,\n      \"geonameId\" : 6950005 ,\n      \"lat\" : \"53.08121\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.76111\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"De Koog\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"De Koog\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2757417 ,\n      \"lat\" : \"53.0975\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85361\" ,\n      \"fcodeName\" : \"estate(s)\" ,\n      \"toponymName\" : \"De Krim\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"De Krim\" ,\n      \"fcode\" : \"EST\" ,\n      \"geonameId\" : 2757398 ,\n      \"lat\" : \"53.15172\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85762\" ,\n      \"fcodeName\" : \"marsh(es)\" ,\n      \"toponymName\" : \"De Leemput\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"De Leemput\" ,\n      \"fcode\" : \"MRSH\" ,\n      \"geonameId\" : 2757363 ,\n      \"lat\" : \"53.05757\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.8151\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"De Mars\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Mars\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2757308 ,\n      \"lat\" : \"53.06285\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.77897\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"De Muy\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Muy\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2757263 ,\n      \"lat\" : \"53.11624\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.74283\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"De Naal\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Naal\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2757262 ,\n      \"lat\" : \"53.02393\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.78242\" ,\n      \"fcodeName\" : \"dune(s)\" ,\n      \"toponymName\" : \"De Nederlanden\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"De Nederlanden\" ,\n      \"fcode\" : \"DUNE\" ,\n      \"geonameId\" : 2757235 ,\n      \"lat\" : \"53.11046\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.86111\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"De Nes\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"De Nes\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2757227 ,\n      \"lat\" : \"53.08083\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.9045\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"De Schorren\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Schorren\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2757060 ,\n      \"lat\" : \"53.13447\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.82156\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"De Slufter\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Slufter\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2757053 ,\n      \"lat\" : \"53.14476\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"De Snippen\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Snippen\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2757050 ,\n      \"lat\" : \"53.05\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.84843\" ,\n      \"fcodeName\" : \"windmill\" ,\n      \"toponymName\" : \"De Traanroeier\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"De Traanroeier\" ,\n      \"fcode\" : \"MLWND\" ,\n      \"geonameId\" : 6950072 ,\n      \"lat\" : \"53.0386\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.82361\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"De Waal\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"De Waal\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2756962 ,\n      \"lat\" : \"53.0725\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.75556\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"De Westen\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"De Westen\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2756944 ,\n      \"lat\" : \"53.04667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.86667\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"De Zandkes\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"De Zandkes\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2756917 ,\n      \"lat\" : \"53.06667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.79722\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Den Burg\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Den Burg\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2757244 ,\n      \"lat\" : \"53.05417\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 6160\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.75139\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Den Hoorn\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Den Hoorn\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2757213 ,\n      \"lat\" : \"53.025\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"Dijkmanshuizen\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Dijkmanshuizen\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2756831 ,\n      \"lat\" : \"53.06667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.8625\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Dijkmanshuizen\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Dijkmanshuizen\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2756832 ,\n      \"lat\" : \"53.05417\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.77639\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Driehuizen\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Driehuizen\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2756593 ,\n      \"lat\" : \"53.04667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73902\" ,\n      \"fcodeName\" : \"park\" ,\n      \"toponymName\" : \"Duinpark\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Duinpark\" ,\n      \"fcode\" : \"PRK\" ,\n      \"geonameId\" : 2756517 ,\n      \"lat\" : \"53.07453\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.83969\" ,\n      \"fcodeName\" : \"dune(s)\" ,\n      \"toponymName\" : \"Eierlandse Duinen\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Eierlandse Duinen\" ,\n      \"fcode\" : \"DUNE\" ,\n      \"geonameId\" : 2756290 ,\n      \"lat\" : \"53.16936\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.77764\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"Everstekoog\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Everstekoog\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2755963 ,\n      \"lat\" : \"53.08211\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73333\" ,\n      \"fcodeName\" : \"park\" ,\n      \"toponymName\" : \"Fonteinsnol\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Fonteinsnol\" ,\n      \"fcode\" : \"PRK\" ,\n      \"geonameId\" : 2755864 ,\n      \"lat\" : \"53.05\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"country, state, region,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.81166\" ,\n      \"fcodeName\" : \"second-order administrative division\" ,\n      \"toponymName\" : \"Gemeente Texel\" ,\n      \"fcl\" : \"A\" ,\n      \"name\" : \"Gemeente Texel\" ,\n      \"fcode\" : \"ADM2\" ,\n      \"geonameId\" : 2746383 ,\n      \"lat\" : \"53.07883\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 13779\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.76754\" ,\n      \"fcodeName\" : \"polder\" ,\n      \"toponymName\" : \"Gerritsland\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Gerritsland\" ,\n      \"fcode\" : \"PLDR\" ,\n      \"geonameId\" : 2755570 ,\n      \"lat\" : \"53.06503\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.71828\" ,\n      \"fcodeName\" : \"dune(s)\" ,\n      \"toponymName\" : \"Grote Vlak\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Grote Vlak\" ,\n      \"fcode\" : \"DUNE\" ,\n      \"geonameId\" : 2755060 ,\n      \"lat\" : \"53.02645\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.7593\" ,\n      \"fcodeName\" : \"hotel\" ,\n      \"toponymName\" : \"Hampshire Classic Opduin\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"Hampshire Classic Opduin\" ,\n      \"fcode\" : \"HTL\" ,\n      \"geonameId\" : 6522984 ,\n      \"lat\" : \"53.098\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"Hanenplas\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Hanenplas\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2754892 ,\n      \"lat\" : \"53.15\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.8625\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Harkebuurt\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Harkebuurt\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2754822 ,\n      \"lat\" : \"53.08667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.89556\" ,\n      \"fcodeName\" : \"windmill\" ,\n      \"toponymName\" : \"Het Noorden\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"Het Noorden\" ,\n      \"fcode\" : \"MLWND\" ,\n      \"geonameId\" : 6950033 ,\n      \"lat\" : \"53.10306\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.81667\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"Hooge Berg\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Hooge Berg\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2753774 ,\n      \"lat\" : \"53.03333\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.8172\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Hoogeberg\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Hoogeberg\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2753775 ,\n      \"lat\" : \"53.04362\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.83768\" ,\n      \"fcodeName\" : \"canal\" ,\n      \"toponymName\" : \"Hoogezandskil\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Hoogezandskil\" ,\n      \"fcode\" : \"CNL\" ,\n      \"geonameId\" : 2753702 ,\n      \"lat\" : \"53.12549\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.76276\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"Hoornder Nieuwland\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Hoornder Nieuwland\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2753631 ,\n      \"lat\" : \"53.01409\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"spot, building, farm\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.7627\" ,\n      \"fcodeName\" : \"hotel\" ,\n      \"toponymName\" : \"Hotel Cooghen\" ,\n      \"fcl\" : \"S\" ,\n      \"name\" : \"Hotel Cooghen\" ,\n      \"fcode\" : \"HTL\" ,\n      \"geonameId\" : 6491257 ,\n      \"lat\" : \"53.0998\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.80193\" ,\n      \"fcodeName\" : \"canal\" ,\n      \"toponymName\" : \"Jan Aysloot\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Jan Aysloot\" ,\n      \"fcode\" : \"CNL\" ,\n      \"geonameId\" : 2753279 ,\n      \"lat\" : \"53.06714\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73333\" ,\n      \"fcodeName\" : \"park\" ,\n      \"toponymName\" : \"Kampeersnol\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Kampeersnol\" ,\n      \"fcode\" : \"PRK\" ,\n      \"geonameId\" : 2753108 ,\n      \"lat\" : \"53.05\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.88914\" ,\n      \"fcodeName\" : \"locality\" ,\n      \"toponymName\" : \"Klein Zeeland\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Klein Zeeland\" ,\n      \"fcode\" : \"LCTY\" ,\n      \"geonameId\" : 2752662 ,\n      \"lat\" : \"53.11996\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.78426\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Koogerveld\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Koogerveld\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2752475 ,\n      \"lat\" : \"53.09997\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.79338\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"Korverskooi\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Korverskooi\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2752388 ,\n      \"lat\" : \"53.10638\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.81939\" ,\n      \"fcodeName\" : \"canal\" ,\n      \"toponymName\" : \"Laagwaal\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Laagwaal\" ,\n      \"fcode\" : \"CNL\" ,\n      \"geonameId\" : 2752096 ,\n      \"lat\" : \"53.07095\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.75272\" ,\n      \"fcodeName\" : \"tidal flat(s)\" ,\n      \"toponymName\" : \"Laan\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Laan\" ,\n      \"fcode\" : \"FLTT\" ,\n      \"geonameId\" : 2752087 ,\n      \"lat\" : \"52.99194\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.71667\" ,\n      \"fcodeName\" : \"dune(s)\" ,\n      \"toponymName\" : \"Loodsmansduin\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Loodsmansduin\" ,\n      \"fcode\" : \"DUNE\" ,\n      \"geonameId\" : 2751472 ,\n      \"lat\" : \"53.01667\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.86111\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Midden-Eierland\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Midden-Eierland\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2750856 ,\n      \"lat\" : \"53.12917\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.76506\" ,\n      \"fcodeName\" : \"bay\" ,\n      \"toponymName\" : \"Mok\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Mok\" ,\n      \"fcode\" : \"BAY\" ,\n      \"geonameId\" : 2750743 ,\n      \"lat\" : \"53.00368\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.72309\" ,\n      \"fcodeName\" : \"canal\" ,\n      \"toponymName\" : \"Moksloot\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Moksloot\" ,\n      \"fcode\" : \"CNL\" ,\n      \"geonameId\" : 2750740 ,\n      \"lat\" : \"53.01962\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.84583\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Molenbuurt\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Molenbuurt\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2750717 ,\n      \"lat\" : \"53.08083\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"stream, lake, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.80065\" ,\n      \"fcodeName\" : \"canal\" ,\n      \"toponymName\" : \"Molenkil\" ,\n      \"fcl\" : \"H\" ,\n      \"name\" : \"Molenkil\" ,\n      \"fcode\" : \"CNL\" ,\n      \"geonameId\" : 2750686 ,\n      \"lat\" : \"53.08347\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"parks,area, ...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.8\" ,\n      \"fcodeName\" : \"nature reserve\" ,\n      \"toponymName\" : \"Molenkil\" ,\n      \"fcl\" : \"L\" ,\n      \"name\" : \"Molenkil\" ,\n      \"fcode\" : \"RESN\" ,\n      \"geonameId\" : 2750685 ,\n      \"lat\" : \"53.08333\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.75\" ,\n      \"fcodeName\" : \"dune(s)\" ,\n      \"toponymName\" : \"Neeltjesnol\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Neeltjesnol\" ,\n      \"fcode\" : \"DUNE\" ,\n      \"geonameId\" : 2750457 ,\n      \"lat\" : \"53\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.8875\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Nieuweschild\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Nieuweschild\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2750247 ,\n      \"lat\" : \"53.07417\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.85556\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Noorderbuurt\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Noorderbuurt\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2749953 ,\n      \"lat\" : \"53.08833\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"city, village,...\" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.7956\" ,\n      \"fcodeName\" : \"populated place\" ,\n      \"toponymName\" : \"Noordhaffel\" ,\n      \"fcl\" : \"P\" ,\n      \"name\" : \"Noordhaffel\" ,\n      \"fcode\" : \"PPL\" ,\n      \"geonameId\" : 2749887 ,\n      \"lat\" : \"53.04144\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Netherlands\" ,\n      \"fclName\" : \"mountain,hill,rock,... \" ,\n      \"countryCode\" : \"NL\" ,\n      \"lng\" : \"4.73629\" ,\n      \"fcodeName\" : \"hill\" ,\n      \"toponymName\" : \"Ockesnol\" ,\n      \"fcl\" : \"T\" ,\n      \"name\" : \"Ockesnol\" ,\n      \"fcode\" : \"HLL\" ,\n      \"geonameId\" : 2749738 ,\n      \"lat\" : \"53.04509\" ,\n      \"adminName1\" : \"North Holland\" ,\n      \"population\" : 0\n    } , {\n      \"countryId\" : \"2750405\" ,\n      \"adminCode1\" : \"07\" ,\n      \"countryName\" : \"Nethe
[...]
