
### TWITTER ############################################################################################################
TWITTER_KEY=""
TWITTER_SECRET=""

### FACEBOOK ############################################################################################################
FACEBOOK_KEY=""
FACEBOOK_SECRET=""

### FITBIT ############################################################################################################
FITBIT_KEY=""
FITBIT_SECRET=""

### GPLUS ############################################################################################################
GPLUS_KEY=""
GPLUS_SECRET=""

### GITHUB ############################################################################################################
GITHUB_KEY=""
GITHUB_SECRET=""

### SPOTIFY ############################################################################################################
SPOTIFY_KEY=""
SPOTIFY_SECRET=""

### LINKEDIN ############################################################################################################
LINKEDIN_KEY=""
LINKEDIN_SECRET=""

### LASTFM ############################################################################################################
LASTFM_KEY=""
LASTFM_SECRET=""

### TWITCH ############################################################################################################
TWITCH_KEY=""
TWITCH_SECRET=""

### DROPBOX ############################################################################################################
DROPBOX_KEY=""
DROPBOX_SECRET=""

### DIGITALOCEAN ############################################################################################################
DIGITALOCEAN_KEY=""
DIGITALOCEAN_SECRET=""

### BITBUCKET ############################################################################################################
BITBUCKET_KEY=""
BITBUCKET_SECRET=""

### INSTAGRAM ############################################################################################################
INSTAGRAM_KEY=""
INSTAGRAM_SECRET=""

### INTERCOM ############################################################################################################
INTERCOM_KEY=""
INTERCOM_SECRET=""

### BOX ############################################################################################################
BOX_KEY=""
BOX_SECRET=""

### SALESFORCE ############################################################################################################
SALESFORCE_KEY=""
SALESFORCE_SECRET=""

### AMAZON ############################################################################################################
AMAZON_KEY=""
AMAZON_SECRET=""

### YAMMER ############################################################################################################
YAMMER_KEY=""
YAMMER_SECRET=""

### ONEDRIVE ############################################################################################################
ONEDRIVE_KEY=""
ONEDRIVE_SECRET=""

### BATTLENET ############################################################################################################
BATTLENET_KEY=""
BATTLENET_SECRET=""

### EVEONLINE ############################################################################################################
EVEONLINE_KEY=""
EVEONLINE_SECRET=""


	//Pointed localhost.com to http://localhost:3000/auth/yahoo/callback through proxy as yahoo
	// does not allow to put custom ports in redirection uri
### YAHOO ############################################################################################################
YAHOO_KEY=""
YAHOO_SECRET=""

### SLACK ############################################################################################################
SLACK_KEY=""
SLACK_SECRET=""

### STRIPE ############################################################################################################
STRIPE_KEY=""
STRIPE_SECRET=""

### WEPAY ############################################################################################################
WEPAY_KEY=""
WEPAY_SECRET=""

### PAYPAL ############################################################################################################
PAYPAL_KEY=""
PAYPAL_SECRET=""

### STEAM ############################################################################################################
STEAM_KEY=""

### HEROKU ############################################################################################################
HEROKU_KEY=""
HEROKU_SECRET=""

### UBER ############################################################################################################
UBER_KEY=""
UBER_SECRET=""

### SOUNDCLOUD ############################################################################################################
SOUNDCLOUD_KEY=""
SOUNDCLOUD_SECRET=""

### GITLAB ############################################################################################################
GITLAB_KEY=""
GITLAB_SECRET=""

### DAILYMOTION ############################################################################################################
DAILYMOTION_KEY=""
DAILYMOTION_SECRET=""

### DEEZER ############################################################################################################
DEEZER_KEY=""
DEEZER_SECRET=""

### DISCORD ############################################################################################################
DISCORD_KEY=""
DISCORD_SECRET=""

### MEETUP ############################################################################################################
MEETUP_KEY=""
MEETUP_SECRET=""

### AUTH0 ############################################################################################################
AUTH0_KEY="""
AUTH0_SECRET=""
AUTH0_DOMAIN=""

### XERO ############################################################################################################
XERO_KEY=""
XERO_SECRET=""
