# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

stack.txt
**/krakend_gin*
**/krakend_dns*
**/krakend_mux*
**/krakend_gorilla*
**/krakend_negroni*
**/krakend_httpcache*
**/krakend_rss*
**/krakend_jwt*
server.rsa.crt
server.rsa.key

panicparse


..bfg-report
..bfg-report/
..bfg-report/**

*.err
*.log

.debug
.debug/
.debug/**

*.json
*.yml
*.yaml
*.toml

environment.yaml

all.*

.snippets

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

dump
dump/
dump/**

*.boltdb
*.db
*.sqlite*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof

# Test coverage
*.out

### Shared ###
# shared
# shared/
# shared/**

### Staging ###
.staging
.staging/
.staging/**

### Notes & Snippets ###
# .notes
# .notes/
# .notes/**

# .snippets
# .snippets/
# .snippets/**

### Vendor ###
vendor
vendor/
vendor/**

### Cache ###
# cache
# cache/
# cache/**

### App ###
dist/*/limo-*
dist/*/limo_*
bin/limo*

limo-*

limo.json
limo.yaml

### Big Files and Archives ###
*.gz
*.tar.gz
*.pickle
*.txt
*.csv

dydet*

## keep splitted archives (usually under 60Mb)
!*.gz.*
!*.zip.*
!*.bz2.*
!*.tar.gz.*

### Config files ###
# ignore production/local config files
*.yaml
*.json

### Docker ###
*-*.env
.env

!Dockerfile.*
!dockerfile*
!docker-compose*
!crane.*

# remove test or legacy config files/variables
*.*-test*
*.*-test*
*.*-backup*
*.*-bck*
*.*-old*

# skip from ignore any example config files
!*.*-sample*
!*.*-example*

.env
!.env-example

dump
dump/
dump/**

shared/config/dump
shared/config/dump/
shared/config/dump/**

*.db
*.boltdb

luc.*

