{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0",
    "title" : "Flights API"
  },
  "host" : "api.travelpayouts.com",
  "basePath" : "",
  "schemes" : [ "http" ],
  "paths" : {
    "/data/airlines.json" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/data/airports.json" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/data/cities.json" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/data/countries.json" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/data/routes.json" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/v1/city-directions" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string",
          "default" : "d19182f2887f12733cb5c5608a1f27d8"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "usd",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "origin",
          "in" : "query",
          "description" : "origin",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/v1/prices/cheap" : {
      "get" : {
        "description" : "",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "return_date",
          "in" : "query",
          "description" : "2017-12",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depart_date",
          "in" : "query",
          "description" : "depart_date=2017-11",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "destination",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "origin",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    },
    "/v2/prices/latest" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "d19182f2887f12733cb5c5608a1f27d8"
        }, {
          "name" : "trip_class",
          "in" : "query",
          "description" : " the flight class:\n0 — Economy class (the default value);\n1 — Business class;\n2 — First",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the total number of records on a page. The default value - 30. The maximum value - 1000.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "a page number. The default value - 1",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "one_way",
          "in" : "query",
          "description" : "rue - one way, false - back-to-back. The default value - false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "period_type",
          "in" : "query",
          "description" : "the period for which the tickets have been found (the required parameter):\nyear — for the whole time;\nmonth — for a month.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beginning_of_period",
          "in" : "query",
          "description" : "the beginning of the period, within which the dates of departure fall (in the YYYY-MM-DD format, for example, 2016-05-01). Must be specified if period_type is equal to month.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "destination",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "origin",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey" : [