#%RAML 0.8
title: StackExchange
version: "2.0"
baseUri: "https://api.stackexchange.com/2.0"
protocols: [HTTP]
schemas: 
    - 
        privileges: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "description": {
                        "required": false,
                        "type": "string"
                      },
                      "reputation": {
                        "required": false,
                        "type": "integer"
                      },
                      "short_description": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        question_timeline_events: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "down_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "owner": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "question_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "revision_guid": {
                        "required": false,
                        "type": "string"
                      },
                      "timeline_type": {
                        "required": false,
                        "type": "string"
                      },
                      "up_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "user": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
        info_object: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "answers_per_minute": {
                      "required": false,
                      "type": "number"
                    },
                    "api_revision": {
                      "required": false,
                      "type": "string"
                    },
                    "badges_per_minute": {
                      "required": false,
                      "type": "number"
                    },
                    "new_active_users": {
                      "required": false,
                      "type": "integer"
                    },
                    "questions_per_minute": {
                      "required": false,
                      "type": "number"
                    },
                    "site": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "aliases": {
                          "required": false,
                          "type": "array"
                        },
                        "api_site_parameter": {
                          "required": false,
                          "type": "string"
                        },
                        "audience": {
                          "required": false,
                          "type": "string"
                        },
                        "closed_beta_date": {
                          "required": false,
                          "type": "integer"
                        },
                        "favicon_url": {
                          "required": false,
                          "type": "string"
                        },
                        "high_resolution_icon_url": {
                          "required": false,
                          "type": "string"
                        },
                        "icon_url": {
                          "required": false,
                          "type": "string"
                        },
                        "launch_date": {
                          "required": false,
                          "type": "integer"
                        },
                        "logo_url": {
                          "required": false,
                          "type": "string"
                        },
                        "markdown_extensions": {
                          "required": false,
                          "type": "array"
                        },
                        "name": {
                          "required": false,
                          "type": "string"
                        },
                        "open_beta_date": {
                          "required": false,
                          "type": "integer"
                        },
                        "related_sites": {
                          "required": false,
                          "type": "array"
                        },
                        "site_state": {
                          "required": false,
                          "type": "string"
                        },
                        "site_type": {
                          "required": false,
                          "type": "string"
                        },
                        "site_url": {
                          "required": false,
                          "type": "string"
                        },
                        "styling": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "link_color": {
                              "required": false,
                              "type": "string"
                            },
                            "tag_background_color": {
                              "required": false,
                              "type": "string"
                            },
                            "tag_foreground_color": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "twitter_account": {
                          "required": false,
                          "type": "string"
                        }
                      }
                    },
                    "total_accepted": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_answers": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_badges": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_comments": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_questions": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_unanswered": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_users": {
                      "required": false,
                      "type": "integer"
                    },
                    "total_votes": {
                      "required": false,
                      "type": "integer"
                    }
                  }
                }
        answers: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "accepted": {
                        "required": false,
                        "type": "boolean"
                      },
                      "answer_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "awarded_bounty_amount": {
                        "required": false,
                        "type": "integer"
                      },
                      "awarded_bounty_users": {
                        "required": false,
                        "type": "array"
                      },
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "body_markdown": {
                        "required": false,
                        "type": "string"
                      },
                      "can_flag": {
                        "required": false,
                        "type": "boolean"
                      },
                      "comment_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "comments": {
                        "required": false,
                        "type": "array"
                      },
                      "community_owned_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "down_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "downvoted": {
                        "required": false,
                        "type": "boolean"
                      },
                      "is_accepted": {
                        "required": false,
                        "type": "boolean"
                      },
                      "last_activity_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_edit_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_editor": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "locked_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "owner": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "question_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "score": {
                        "required": false,
                        "type": "integer"
                      },
                      "share_link": {
                        "required": false,
                        "type": "string"
                      },
                      "tags": {
                        "required": false,
                        "type": "array"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      },
                      "up_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "upvoted": {
                        "required": false,
                        "type": "boolean"
                      }
                    }
                  }
                }
        questions: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "accepted_answer_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "answer_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "answers": {
                        "required": false,
                        "type": "array"
                      },
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "body_markdown": {
                        "required": false,
                        "type": "string"
                      },
                      "bounty_amount": {
                        "required": false,
                        "type": "integer"
                      },
                      "bounty_closes_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "bounty_user": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "can_close": {
                        "required": false,
                        "type": "boolean"
                      },
                      "can_flag": {
                        "required": false,
                        "type": "boolean"
                      },
                      "close_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "closed_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "closed_details": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "by_users": {
                            "required": false,
                            "type": "array"
                          },
                          "description": {
                            "required": false,
                            "type": "string"
                          },
                          "on_hold": {
                            "required": false,
                            "type": "boolean"
                          },
                          "original_questions": {
                            "required": false,
                            "type": "array"
                          },
                          "reason": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "closed_reason": {
                        "required": false,
                        "type": "string"
                      },
                      "comment_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "comments": {
                        "required": false,
                        "type": "array"
                      },
                      "community_owned_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "delete_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "down_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "downvoted": {
                        "required": false,
                        "type": "boolean"
                      },
                      "favorite_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "favorited": {
                        "required": false,
                        "type": "boolean"
                      },
                      "is_answered": {
                        "required": false,
                        "type": "boolean"
                      },
                      "last_activity_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_edit_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_editor": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "locked_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "migrated_from": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "on_date": {
                            "required": false,
                            "type": "integer"
                          },
                          "other_site": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "aliases": {
                                "required": false,
                                "type": "array"
                              },
                              "api_site_parameter": {
                                "required": false,
                                "type": "string"
                              },
                              "audience": {
                                "required": false,
                                "type": "string"
                              },
                              "closed_beta_date": {
                                "required": false,
                                "type": "integer"
                              },
                              "favicon_url": {
                                "required": false,
                                "type": "string"
                              },
                              "high_resolution_icon_url": {
                                "required": false,
                                "type": "string"
                              },
                              "icon_url": {
                                "required": false,
                                "type": "string"
                              },
                              "launch_date": {
                                "required": false,
                                "type": "integer"
                              },
                              "logo_url": {
                                "required": false,
                                "type": "string"
                              },
                              "markdown_extensions": {
                                "required": false,
                                "type": "array"
                              },
                              "name": {
                                "required": false,
                                "type": "string"
                              },
                              "open_beta_date": {
                                "required": false,
                                "type": "integer"
                              },
                              "related_sites": {
                                "required": false,
                                "type": "array"
                              },
                              "site_state": {
                                "required": false,
                                "type": "string"
                              },
                              "site_type": {
                                "required": false,
                                "type": "string"
                              },
                              "site_url": {
                                "required": false,
                                "type": "string"
                              },
                              "styling": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "link_color": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "tag_background_color": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "tag_foreground_color": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "twitter_account": {
                                "required": false,
                                "type": "string"
                              }
                            }
                          },
                          "question_id": {
                            "required": false,
                            "type": "integer"
                          }
                        }
                      },
                      "migrated_to": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "on_date": {
                            "required": false,
                            "type": "integer"
                          },
                          "other_site": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "aliases": {
                                "required": false,
                                "type": "array"
                              },
                              "api_site_parameter": {
                                "required": false,
                                "type": "string"
                              },
                              "audience": {
                                "required": false,
                                "type": "string"
                              },
                              "closed_beta_date": {
                                "required": false,
                                "type": "integer"
                              },
                              "favicon_url": {
                                "required": false,
                                "type": "string"
                              },
                              "high_resolution_icon_url": {
                                "required": false,
                                "type": "string"
                              },
                              "icon_url": {
                                "required": false,
                                "type": "string"
                              },
                              "launch_date": {
                                "required": false,
                                "type": "integer"
                              },
                              "logo_url": {
                                "required": false,
                                "type": "string"
                              },
                              "markdown_extensions": {
                                "required": false,
                                "type": "array"
                              },
                              "name": {
                                "required": false,
                                "type": "string"
                              },
                              "open_beta_date": {
                                "required": false,
                                "type": "integer"
                              },
                              "related_sites": {
                                "required": false,
                                "type": "array"
                              },
                              "site_state": {
                                "required": false,
                                "type": "string"
                              },
                              "site_type": {
                                "required": false,
                                "type": "string"
                              },
                              "site_url": {
                                "required": false,
                                "type": "string"
                              },
                              "styling": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "link_color": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "tag_background_color": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "tag_foreground_color": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "twitter_account": {
                                "required": false,
                                "type": "string"
                              }
                            }
                          },
                          "question_id": {
                            "required": false,
                            "type": "integer"
                          }
                        }
                      },
                      "notice": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "body": {
                            "required": false,
                            "type": "string"
                          },
                          "creation_date": {
                            "required": false,
                            "type": "integer"
                          },
                          "owner_user_id": {
                            "required": false,
                            "type": "integer"
                          }
                        }
                      },
                      "owner": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "protected_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "question_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "reopen_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "score": {
                        "required": false,
                        "type": "integer"
                      },
                      "share_link": {
                        "required": false,
                        "type": "string"
                      },
                      "tags": {
                        "required": false,
                        "type": "array"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      },
                      "up_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "upvoted": {
                        "required": false,
                        "type": "boolean"
                      },
                      "view_count": {
                        "required": false,
                        "type": "integer"
                      }
                    }
                  }
                }
        sites: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "aliases": {
                        "required": false,
                        "type": "array"
                      },
                      "api_site_parameter": {
                        "required": false,
                        "type": "string"
                      },
                      "audience": {
                        "required": false,
                        "type": "string"
                      },
                      "closed_beta_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "favicon_url": {
                        "required": false,
                        "type": "string"
                      },
                      "high_resolution_icon_url": {
                        "required": false,
                        "type": "string"
                      },
                      "icon_url": {
                        "required": false,
                        "type": "string"
                      },
                      "launch_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "logo_url": {
                        "required": false,
                        "type": "string"
                      },
                      "markdown_extensions": {
                        "required": false,
                        "type": "array"
                      },
                      "name": {
                        "required": false,
                        "type": "string"
                      },
                      "open_beta_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "related_sites": {
                        "required": false,
                        "type": "array"
                      },
                      "site_state": {
                        "required": false,
                        "type": "string"
                      },
                      "site_type": {
                        "required": false,
                        "type": "string"
                      },
                      "site_url": {
                        "required": false,
                        "type": "string"
                      },
                      "styling": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "link_color": {
                            "required": false,
                            "type": "string"
                          },
                          "tag_background_color": {
                            "required": false,
                            "type": "string"
                          },
                          "tag_foreground_color": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "twitter_account": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        tag_synonyms: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "applied_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "from_tag": {
                        "required": false,
                        "type": "string"
                      },
                      "last_applied_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "to_tag": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        error: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "error_id" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "error_message" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "error_name" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        access_tokens: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "access_token": {
                        "required": false,
                        "type": "string"
                      },
                      "account_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "expires_on_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "scope": {
                        "required": false,
                        "type": "array"
                      }
                    }
                  }
                }
        posts: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "body_markdown": {
                        "required": false,
                        "type": "string"
                      },
                      "comment_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "comments": {
                        "required": false,
                        "type": "array"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "down_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "downvoted": {
                        "required": false,
                        "type": "boolean"
                      },
                      "last_activity_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_edit_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_editor": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "owner": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_type": {
                        "required": false,
                        "type": "string"
                      },
                      "score": {
                        "required": false,
                        "type": "integer"
                      },
                      "share_link": {
                        "required": false,
                        "type": "string"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      },
                      "up_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "upvoted": {
                        "required": false,
                        "type": "boolean"
                      }
                    }
                  }
                }
        tag_wikis: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "body_last_edit_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "excerpt": {
                        "required": false,
                        "type": "string"
                      },
                      "excerpt_last_edit_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_body_editor": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "last_excerpt_editor": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "tag_name": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        suggested-edits: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "approval_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "comment": {
                        "required": false,
                        "type": "string"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_type": {
                        "required": false,
                        "type": "string"
                      },
                      "proposing_user": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "rejection_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "suggested_edit_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "tags": {
                        "required": false,
                        "type": "array"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        reputation_history: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "reputation_change": {
                        "required": false,
                        "type": "integer"
                      },
                      "reputation_history_type": {
                        "required": false,
                        "type": "string"
                      },
                      "user_id": {
                        "required": false,
                        "type": "integer"
                      }
                    }
                  }
                }
        revisions: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "comment": {
                        "required": false,
                        "type": "string"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "is_rollback": {
                        "required": false,
                        "type": "boolean"
                      },
                      "last_body": {
                        "required": false,
                        "type": "string"
                      },
                      "last_tags": {
                        "required": false,
                        "type": "array"
                      },
                      "last_title": {
                        "required": false,
                        "type": "string"
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_type": {
                        "required": false,
                        "type": "string"
                      },
                      "revision_guid": {
                        "required": false,
                        "type": "string"
                      },
                      "revision_number": {
                        "required": false,
                        "type": "integer"
                      },
                      "revision_type": {
                        "required": false,
                        "type": "string"
                      },
                      "set_community_wiki": {
                        "required": false,
                        "type": "boolean"
                      },
                      "tags": {
                        "required": false,
                        "type": "array"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      },
                      "user": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
        events: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "event_type": {
                        "required": false,
                        "type": "string"
                      },
                      "excerpt": {
                        "required": false,
                        "type": "string"
                      },
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "the id of the object (answer, comment, question, or user) the event describes": {
                        "required": false,
                        "type": "integer"
                      }
                    }
                  }
                }
        network_users: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "account_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "answer_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "badge_counts": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "bronze": {
                            "required": false,
                            "type": "integer"
                          },
                          "gold": {
                            "required": false,
                            "type": "integer"
                          },
                          "silver": {
                            "required": false,
                            "type": "integer"
                          }
                        }
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_access_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "question_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "reputation": {
                        "required": false,
                        "type": "integer"
                      },
                      "site_name": {
                        "required": false,
                        "type": "string"
                      },
                      "site_url": {
                        "required": false,
                        "type": "string"
                      },
                      "top_answers": {
                        "required": false,
                        "type": "array"
                      },
                      "top_questions": {
                        "required": false,
                        "type": "array"
                      },
                      "user_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "user_type": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        tag_score_objects: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "post_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "score": {
                        "required": false,
                        "type": "integer"
                      },
                      "user": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
        created_comment: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "body": {
                      "required": false,
                      "type": "string"
                    },
                    "body_markdown": {
                      "required": false,
                      "type": "string"
                    },
                    "can_flag": {
                      "required": false,
                      "type": "boolean"
                    },
                    "comment_id": {
                      "required": false,
                      "type": "integer"
                    },
                    "creation_date": {
                      "required": false,
                      "type": "integer"
                    },
                    "edited": {
                      "required": false,
                      "type": "boolean"
                    },
                    "link": {
                      "required": false,
                      "type": "string"
                    },
                    "owner": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "accept_rate": {
                          "required": false,
                          "type": "integer"
                        },
                        "badge_counts": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "bronze": {
                              "required": false,
                              "type": "integer"
                            },
                            "gold": {
                              "required": false,
                              "type": "integer"
                            },
                            "silver": {
                              "required": false,
                              "type": "integer"
                            }
                          }
                        },
                        "display_name": {
                          "required": false,
                          "type": "string"
                        },
                        "link": {
                          "required": false,
                          "type": "string"
                        },
                        "profile_image": {
                          "required": false,
                          "type": "string"
                        },
                        "reputation": {
                          "required": false,
                          "type": "integer"
                        },
                        "user_id": {
                          "required": false,
                          "type": "integer"
                        },
                        "user_type": {
                          "required": false,
                          "type": "string"
                        }
                      }
                    },
                    "post_id": {
                      "required": false,
                      "type": "integer"
                    },
                    "post_type": {
                      "required": false,
                      "type": "string"
                    },
                    "reply_to_user": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "accept_rate": {
                          "required": false,
                          "type": "integer"
                        },
                        "badge_counts": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "bronze": {
                              "required": false,
                              "type": "integer"
                            },
                            "gold": {
                              "required": false,
                              "type": "integer"
                            },
                            "silver": {
                              "required": false,
                              "type": "integer"
                            }
                          }
                        },
                        "display_name": {
                          "required": false,
                          "type": "string"
                        },
                        "link": {
                          "required": false,
                          "type": "string"
                        },
                        "profile_image": {
                          "required": false,
                          "type": "string"
                        },
                        "reputation": {
                          "required": false,
                          "type": "integer"
                        },
                        "user_id": {
                          "required": false,
                          "type": "integer"
                        },
                        "user_type": {
                          "required": false,
                          "type": "string"
                        }
                      }
                    },
                    "score": {
                      "required": false,
                      "type": "integer"
                    },
                    "upvoted": {
                      "required": false,
                      "type": "boolean"
                    }
                  }
                }
        reputation_changes: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "on_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_type": {
                        "required": false,
                        "type": "string"
                      },
                      "reputation_change": {
                        "required": false,
                        "type": "integer"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      },
                      "user_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "vote_type": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        comments: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "body": {
                        "required": false,
                        "type": "string"
                      },
                      "body_markdown": {
                        "required": false,
                        "type": "string"
                      },
                      "can_flag": {
                        "required": false,
                        "type": "boolean"
                      },
                      "comment_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "edited": {
                        "required": false,
                        "type": "boolean"
                      },
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "owner": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_type": {
                        "required": false,
                        "type": "string"
                      },
                      "reply_to_user": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "accept_rate": {
                            "required": false,
                            "type": "integer"
                          },
                          "badge_counts": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "bronze": {
                                "required": false,
                                "type": "integer"
                              },
                              "gold": {
                                "required": false,
                                "type": "integer"
                              },
                              "silver": {
                                "required": false,
                                "type": "integer"
                              }
                            }
                          },
                          "display_name": {
                            "required": false,
                            "type": "string"
                          },
                          "link": {
                            "required": false,
                            "type": "string"
                          },
                          "profile_image": {
                            "required": false,
                            "type": "string"
                          },
                          "reputation": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_id": {
                            "required": false,
                            "type": "integer"
                          },
                          "user_type": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      },
                      "score": {
                        "required": false,
                        "type": "integer"
                      },
                      "upvoted": {
                        "required": false,
                        "type": "boolean"
                      }
                    }
                  }
                }
        reputation_objects: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "on_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "post_type": {
                        "required": false,
                        "type": "string"
                      },
                      "reputation_change": {
                        "required": false,
                        "type": "integer"
                      },
                      "title": {
                        "required": false,
                        "type": "string"
                      },
                      "user_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "vote_type": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        filters: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "filter": {
                        "required": false,
                        "type": "string"
                      },
                      "filter_type": {
                        "required": false,
                        "type": "string"
                      },
                      "included_fields": {
                        "required": false,
                        "type": "array"
                      }
                    }
                  }
                }
        account_merge: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "merge_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "new_account_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "old_account_id": {
                        "required": false,
                        "type": "integer"
                      }
                    }
                  }
                }
        users: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "about_me": {
                        "required": false,
                        "type": "string"
                      },
                      "accept_rate": {
                        "required": false,
                        "type": "integer"
                      },
                      "account_id": {
                        "required": false,
                        "type": "integer"
                      },
                      "age": {
                        "required": false,
                        "type": "integer"
                      },
                      "answer_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "badge_counts": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "bronze": {
                            "required": false,
                            "type": "integer"
                          },
                          "gold": {
                            "required": false,
                            "type": "integer"
                          },
                          "silver": {
                            "required": false,
                            "type": "integer"
                          }
                        }
                      },
                      "creation_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "display_name": {
                        "required": false,
                        "type": "string"
                      },
                      "down_vote_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "is_employee": {
                        "required": false,
                        "type": "boolean"
                      },
                      "last_access_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "last_modified_date": {
                        "required": false,
                        "type": "integer"
                      },
                      "link": {
                        "required": false,
                        "type": "string"
                      },
                      "location": {
                        "required": false,
                        "type": "string"
                      },
                      "profile_image": {
                        "required": false,
                        "type": "string"
                      },
                      "question_count": {
                        "required": false,
                        "type": "integer"
                      },
                      "reputation": {
                        "required": false,
                        "type": "integer"
                      },
                      "reputation_change_day": {
                        "required": false,
[...]
