#%RAML 0.8
title: LinkedIn
version: v1
baseUri: "https://api.linkedin.com/v1"
protocols: [HTTP]
schemas: 
    - 
        error-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="error">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:short" name="status"/>
                        <xs:element type="xs:long" name="timestamp"/>
                        <xs:element type="xs:string" name="request-id"/>
                        <xs:element type="xs:byte" name="error-code"/>
                        <xs:element type="xs:string" name="message"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        group-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="group">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                        <xs:element type="xs:string" name="name"/>
                        <xs:element type="xs:string" name="short-description"/>
                        <xs:element type="xs:string" name="description"/>
                        <xs:element name="relation-to-viewer">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="membership-state"/>
                              <xs:element type="xs:string" name="available-actions"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="posts"/>
                        <xs:element type="xs:byte" name="counts-by-category"/>
                        <xs:element type="xs:string" name="is-open-to-non-members"/>
                        <xs:element type="xs:string" name="category"/>
                        <xs:element type="xs:anyURI" name="website-url"/>
                        <xs:element type="xs:string" name="locale"/>
                        <xs:element name="location">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element name="country">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:short" name="postal-code"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="allow-member-invites"/>
                        <xs:element type="xs:anyURI" name="site-group-url"/>
                        <xs:element type="xs:anyURI" name="small-logo-url"/>
                        <xs:element type="xs:anyURI" name="large-logo-url"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        jobUpdate-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="job">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="position">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="description"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="compensation">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="salary">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="description"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        posts-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="posts">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="post">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="id"/>
                              <xs:element name="type">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="code"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="creator">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="id"/>
                                    <xs:element type="xs:string" name="first-name"/>
                                    <xs:element type="xs:string" name="last-name"/>
                                    <xs:element type="xs:string" name="headline"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:string" name="title"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="total"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        companyShare-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="share">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="visibility">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="comment"/>
                        <xs:element name="content">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:anyURI" name="submitted-url"/>
                              <xs:element type="xs:string" name="title"/>
                              <xs:element type="xs:string" name="description"/>
                              <xs:element type="xs:anyURI" name="submitted-image-url"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="share-target-reach">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="share-targets">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="share-target" maxOccurs="unbounded" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="code"/>
                                          <xs:element name="tvalues">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="tvalue"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        groupMembership-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="group-membership">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="group">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:int" name="id"/>
                              <xs:sequence minOccurs="0">
                              <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="show-group-logo-in-profile"/>
                        <xs:element name="email-digest-frequency">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="email-announcements-from-managers"/>
                        <xs:element type="xs:string" name="allow-messages-from-members"/>
                        <xs:element type="xs:string" name="email-for-every-new-post"/>
                        <xs:element name="membership-state">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        connections-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="connections">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="person">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="id"/>
                              <xs:element type="xs:string" name="first-name"/>
                              <xs:element type="xs:string" name="last-name"/>
                              <xs:element type="xs:string" name="headline"/>
                              <xs:element name="location">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="name"/>
                                    <xs:element name="country">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:short" name="code"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:string" name="industry"/>
                              <xs:element name="api-standard-profile-request">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:anyURI" name="url"/>
                                    <xs:element name="headers">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="http-header">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="name"/>
                                                <xs:element type="xs:string" name="value"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="site-standard-profile-request">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:anyURI" name="url"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:anyURI" name="picture-url"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:short" name="total"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        groupPosts-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="posts">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="post" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="type" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="code" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="creator" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                    <xsd:element name="first-name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <xsd:element name="last-name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <xsd:element name="headline" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="title" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="total" type="xsd:int" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        companySearch-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="company-search">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="companies">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="company" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:int" name="id"/>
                                    <xs:element type="xs:string" name="name"/>
                                    <xs:element type="xs:anyURI" name="logo-url"/>
                                    <xs:element type="xs:string" name="type"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:short" name="total"/>
                            <xs:attribute type="xs:byte" name="count"/>
                            <xs:attribute type="xs:byte" name="start"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:short" name="num-results"/>
                        <xs:element name="facets">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="facet">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="code"/>
                                    <xs:element type="xs:string" name="name"/>
                                    <xs:element name="buckets">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="bucket" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="code"/>
                                                <xs:element type="xs:string" name="name"/>
                                                <xs:element type="xs:short" name="count"/>
                                                <xs:element type="xs:string" name="selected"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute type="xs:byte" name="total"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        peopleSearch-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="people-search">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="people">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="id"/>
                                    <xs:element type="xs:string" name="first-name"/>
                                    <xs:element type="xs:string" name="last-name"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:integer" name="total"/>
                            <xs:attribute type="xs:integer" name="count"/>
                            <xs:attribute type="xs:integer" name="start"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:integer" name="num-results"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        people-gm-group-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="group-membership">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="show-group-logo-in-profile"/>
                        <xs:element name="email-digest-frequency">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="email-announcements-from-managers"/>
                        <xs:element type="xs:string" name="allow-messages-from-members"/>
                        <xs:element type="xs:string" name="email-for-every-new-post"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        jobGet-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="job">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                        <xs:element type="xs:long" name="expiration-timestamp"/>
                        <xs:element name="company">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:int" name="id"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="position">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="title"/>
                              <xs:element name="location">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="name"/>
                                    <xs:element name="country">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="code"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="location-description"/>
                        <xs:element name="job-poster">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="id"/>
                              <xs:element type="xs:string" name="first-name"/>
                              <xs:element type="xs:string" name="last-name"/>
                              <xs:element type="xs:string" name="headline"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        comments-xml: |
                <?xml version="1.0" encoding="UTF-8"?>
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <xsd:element name="comments">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="comment" minOccurs="0" maxOccurs="1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                              <xsd:element name="text" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                              <xsd:element name="creator" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                    <xsd:element name="first-name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                    <xsd:element name="last-name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                    <xsd:element name="headline" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="creation-timestamp" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                              <xsd:element name="relation-to-viewer" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="available-actions" minOccurs="0" maxOccurs="1">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="action" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                              <xsd:sequence>
                                                <xsd:element name="code" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                        <xsd:attribute name="total" type="xsd:int" use="required"/>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="total" type="xsd:int" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:schema>
        update-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="update">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:long" name="timestamp"/>
                        <xs:element type="xs:string" name="update-type"/>
                        <xs:element name="update-content">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="company">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:short" name="id"/>
                                    <xs:element type="xs:string" name="name"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="company-person-update">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="person">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:int" name="id"/>
                                          <xs:element type="xs:string" name="first-name"/>
                                          <xs:element type="xs:string" name="last-name"/>
                                          <xs:element type="xs:string" name="headline"/>
                                          <xs:element type="xs:anyURI" name="picture-url"/>
                                          <xs:element name="api-standard-profile-request">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:anyURI" name="url"/>
                                                <xs:element name="headers">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="http-header">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element type="xs:string" name="name"/>
                                                            <xs:element type="xs:string" name="value"/>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute type="xs:byte" name="total"/>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="site-standard-profile-request">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:anyURI" name="url"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="action">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="code"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="old-position">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="title"/>
                                          <xs:element name="company">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="name"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="new-position">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="title"/>
                                          <xs:element name="company">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:short" name="id"/>
                                                <xs:element type="xs:string" name="name"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        products-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="products">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:short" name="id"/>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element name="type">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="code"/>
                                    <xs:element type="xs:string" name="name"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="num-recommendations"/>
                              <xs:element name="recommendations" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="recommendation" maxOccurs="unbounded" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="recommender">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="id"/>
                                                <xs:element type="xs:string" name="first-name"/>
                                                <xs:element type="xs:string" name="last-name"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:int" name="id"/>
                                          <xs:element type="xs:short" name="product-id"/>
                                          <xs:element type="xs:long" name="timestamp"/>
                                          <xs:element type="xs:string" name="text" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute type="xs:byte" name="count" use="optional"/>
                                  <xs:attribute type="xs:byte" name="start" use="optional"/>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="product-category">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="code"/>
                                    <xs:element type="xs:string" name="name"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:anyURI" name="website-url"/>
                              <xs:element type="xs:string" name="disclaimer" minOccurs="0"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="total"/>
                      <xs:attribute type="xs:byte" name="count"/>
                      <xs:attribute type="xs:byte" name="start"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        networkStats-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="network-stats">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:short">
                                <xs:attribute type="xs:string" name="key" use="optional"/>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="total"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        jobSuggestions-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="job-suggestions">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="jobs">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="job" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:int" name="id"/>
                                    <xs:element name="company">
                                      <xs:complexType mixed="true">
                                        <xs:sequence>
                                          <xs:element type="xs:short" name="id" minOccurs="0"/>
                                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="salary" minOccurs="0"/>
                                    <xs:element name="job-poster">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="id"/>
                                          <xs:element type="xs:string" name="first-name"/>
                                          <xs:element type="xs:string" name="last-name"/>
                                          <xs:element type="xs:string" name="headline"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="description-snippet"/>
                                    <xs:element type="xs:string" name="location-description"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                            <xs:attribute type="xs:byte" name="count"/>
                            <xs:attribute type="xs:byte" name="start"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        activity-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="activity">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="content-type"/>
                        <xs:element type="xs:string" name="body"/>
                      </xs:sequence>
                      <xs:attribute type="xs:string" name="locale"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        followedCompanies-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="companies">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="company" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:int" name="id"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="total"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        jobBookmarks-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="job-bookmarks">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="job-bookmark" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="is-applied"/>
                              <xs:element type="xs:string" name="is-saved"/>
                              <xs:element type="xs:long" name="saved-timestamp"/>
                              <xs:element name="job">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:int" name="id"/>
                                    <xs:element type="xs:string" name="active"/>
                                    <xs:element name="company">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:int" name="id"/>
                                          <xs:element type="xs:string" name="name"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="position">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="title"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="description-snippet"/>
                                    <xs:element type="xs:long" name="posting-timestamp"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="total"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        companyStatistics-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="company-statistics">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="status-update-statistics">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="views-by-month">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="view-by-month" maxOccurs="unbounded" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="date">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:short" name="year"/>
                                                <xs:element type="xs:byte" name="month"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:byte" name="clicks" minOccurs="0"/>
                                          <xs:element type="xs:byte" name="likes" minOccurs="0"/>
                                          <xs:element type="xs:byte" name="comments" minOccurs="0"/>
                                          <xs:element type="xs:byte" name="shares" minOccurs="0"/>
                                          <xs:element type="xs:short" name="impressions" minOccurs="0"/>
                                          <xs:element type="xs:float" name="engagement" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute type="xs:byte" name="total"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="follow-statistics">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:byte" name="count"/>
                              <xs:element type="xs:byte" name="employee-count"/>
                              <xs:element type="xs:byte" name="non-employee-count"/>
                              <xs:element name="seniorities">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="seniority" maxOccurs="unbounded" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:byte" name="entry-key"/>
                                          <xs:element type="xs:byte" name="entry-value"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute type="xs:byte" name="total"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        updates-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="network">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="updates">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="update">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:long" name="timestamp"/>
                                    <xs:element type="xs:string" name="update-key"/>
                                    <xs:element type="xs:string" name="update-type"/>
                                    <xs:element name="update-content">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="person">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="id"/>
                                                <xs:element type="xs:string" name="first-name"/>
                                                <xs:element type="xs:string" name="last-name"/>
                                                <xs:element type="xs:string" name="headline"/>
                                                <xs:element type="xs:string" name="current-status"/>
                                                <xs:element name="api-standard-profile-request">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element type="xs:anyURI" name="url"/>
                                                      <xs:element name="headers">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element name="http-header">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element type="xs:string" name="name"/>
                                                                  <xs:element type="xs:string" name="value"/>
                                                                </xs:sequence>
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                          <xs:attribute type="xs:byte" name="total"/>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="site-standard-profile-request">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element type="xs:anyURI" name="url"/>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="is-commentable"/>
                                    <xs:element name="update-comments">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="update-comment">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:int" name="id"/>
                                                <xs:element type="xs:byte" name="sequence-number"/>
                                                <xs:element type="xs:long" name="timestamp"/>
                                                <xs:element type="xs:string" name="comment"/>
                                                <xs:element name="person">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element type="xs:string" name="id"/>
                                                      <xs:element type="xs:string" name="first-name"/>
                                                      <xs:element type="xs:string" name="last-name"/>
                                                      <xs:element type="xs:string" name="headline"/>
                                                      <xs:element name="api-standard-profile-request">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element type="xs:anyURI" name="url"/>
                                                            <xs:element name="headers">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element name="http-header">
                                                                    <xs:complexType>
                                                                      <xs:sequence>
                                                                        <xs:element type="xs:string" name="name"/>
                                                                        <xs:element type="xs:string" name="value"/>
                                                                      </xs:sequence>
                                                                    </xs:complexType>
                                                                  </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute type="xs:byte" name="total"/>
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="site-standard-profile-request">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element type="xs:anyURI" name="url"/>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute type="xs:byte" name="total"/>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="is-likable"/>
                                    <xs:element type="xs:string" name="is-liked"/>
                                    <xs:element type="xs:byte" name="num-likes"/>
                                    <xs:element name="likes">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="like">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="person">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element type="xs:string" name="id"/>
                                                      <xs:element type="xs:string" name="first-name"/>
                                                      <xs:element type="xs:string" name="last-name"/>
                                                      <xs:element type="xs:string" name="headline"/>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute type="xs:byte" name="total"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        mailboxItem-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="mailbox-item">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="recipients">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="recipient" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="person">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="path" use="optional"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="subject"/>
                        <xs:element type="xs:string" name="body"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        comment-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="comment">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="text"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        personShare-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="update">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="update-key"/>
                        <xs:element type="xs:anyURI" name="update-url"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        post-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="post">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="id"/>
                        <xs:element name="parent-group">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:int" name="id"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="type">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="creator">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="id"/>
                              <xs:element type="xs:string" name="first-name"/>
                              <xs:element type="xs:string" name="last-name"/>
                              <xs:element type="xs:string" name="headline"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="title"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        company-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="company">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                        <xs:element type="xs:string" name="name"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        jobBookmark-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="job-bookmark">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="job">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="id"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        error-schema: |
                {
                    "type":"object",
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "id": "http://jsonschema.net",
                    "required":false,
                    "properties":{
                        "errorCode": {
                            "type":"number",
                            "id": "http://jsonschema.net/errorCode",
                            "required":false
                        },
                        "message": {
                            "type":"string",
                            "id": "http://jsonschema.net/message",
                            "required":false
                        },
                        "requestId": {
                            "type":"string",
                            "id": "http://jsonschema.net/requestId",
                            "required":false
                        },
                        "status": {
                            "type":"number",
                            "id": "http://jsonschema.net/status",
                            "required":false
                        },
                        "timestamp": {
                            "type":"number",
                            "id": "http://jsonschema.net/timestamp",
                            "required":false
                        }
                    }
                }
        folowing-company-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="company">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:short" name="id"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        companyShare: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "visibility" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "code" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "comment" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "content" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "submitted-url" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "title" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "description" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "submitted‐image-url" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        groupPost-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="post">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="title"/>
                        <xs:element type="xs:string" name="summary"/>
                        <xs:element name="content">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:anyURI" name="submitted-url"/>
                              <xs:element type="xs:string" name="submitted-image-url"/>
                              <xs:element type="xs:string" name="title"/>
                              <xs:element type="xs:string" name="description"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        people: |
                {
                    "type":"object",
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "id": "http://jsonschema.net",
                    "required":false,
                    "properties":{
                        "firstName": {
                            "type":"string",
                            "id": "http://jsonschema.net/firstName",
                            "required":false
                        },
                        "headline": {
                            "type":"string",
                            "id": "http://jsonschema.net/headline",
                            "required":false
                        },
                        "lastName": {
                            "type":"string",
                            "id": "http://jsonschema.net/lastName",
                            "required":false
                        },
                        "siteStandardProfileRequest": {
                            "type":"object",
                            "id": "http://jsonschema.net/siteStandardProfileRequest",
                            "required":false,
                            "properties":{
                                "url": {
                                    "type":"string",
                                    "id": "http://jsonschema.net/siteStandardProfileRequest/url",
                                    "required":false
                                }
                            }
                        }
                    }
                }
        companies-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="companies">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="company" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:float" name="id"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="total"/>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        company-about-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="company">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:short" name="id"/>
                        <xs:element type="xs:string" name="universal-name"/>
                        <xs:element type="xs:string" name="name"/>
                        <xs:element type="xs:string" name="ticker"/>
                        <xs:element type="xs:anyURI" name="logo-url"/>
                        <xs:element type="xs:string" name="description"/>
                        <xs:element name="company-type">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="industries">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="industry">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:byte" name="code"/>
                                    <xs:element type="xs:string" name="name"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="size"/>
                        <xs:element name="specialties">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="specialty" maxOccurs="unbounded" minOccurs="0"/>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:anyURI" name="blog-rss-url"/>
                        <xs:element type="xs:string" name="twitter-id"/>
                        <xs:element type="xs:anyURI" name="square-logo-url"/>
                        <xs:element name="locations">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="location" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="address">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="street1"/>
                                          <xs:element type="xs:string" name="city"/>
                                          <xs:element type="xs:int" name="postal-code"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="contact-info">
                                      <xs:complexType mixed="true">
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="phone1" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:short" name="founded-year"/>
                        <xs:element name="email-domains">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="email-domain"/>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:anyURI" name="website-url"/>
                        <xs:element name="status">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="employee-count-range">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                              <xs:element type="xs:string" name="name"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        currentUser: |
                {
                    "type":"object",
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "id": "http://jsonschema.net",
                    "required":false,
                    "properties":{
                        "firstName": {
                            "type":"string",
                            "id": "http://jsonschema.net/firstName",
                            "required":false
                        },
                        "headline": {
                            "type":"string",
                            "id": "http://jsonschema.net/headline",
                            "required":false
                        },
                        "lastName": {
                            "type":"string",
                            "id": "http://jsonschema.net/lastName",
                            "required":false
                        },
                        "siteStandardProfileRequest": {
                            "type":"object",
                            "id": "http://jsonschema.net/siteStandardProfileRequest",
                            "required":false,
                            "properties":{
                                "url": {
                                    "type":"string",
                                    "id": "http://jsonschema.net/siteStandardProfileRequest/url",
                                    "required":false
                                }
                            }
                        }
                    }
                }
        update-comment-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="update-comment">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="comment"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        is-liked-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="is-liked" type="xs:string"/>
                </xs:schema>
        currentUser-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="person">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                        <xs:element type="xs:string" name="first-name"/>
                        <xs:element type="xs:string" name="last-name"/>
                        <xs:element type="xs:string" name="headline"/>
                        <xs:element name="location">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="name"/>
                              <xs:element name="country">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:short" name="code"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="industry"/>
                        <xs:element type="xs:byte" name="distance"/>
                        <xs:element name="relation-to-viewer">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:byte" name="distance"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:byte" name="num-recommenders"/>
                        <xs:element type="xs:string" name="current-status"/>
                        <xs:element type="xs:long" name="current-status-timestamp"/>
                        <xs:element name="connections">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute type="xs:byte" name="total"/>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="summary"/>
                        <xs:element name="positions">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="position" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="id"/>
                                    <xs:element type="xs:string" name="title"/>
                                    <xs:element type="xs:string" name="summary"/>
                                    <xs:element name="start-date">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:short" name="year"/>
                                          <xs:element type="xs:string" name="month"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="is-current"/>
                                    <xs:element name="company">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="name"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="educations">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="education" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="id"/>
                                    <xs:element type="xs:string" name="school-name"/>
                                    <xs:element type="xs:string" name="degree"/>
                                    <xs:element name="start-date">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:short" name="year"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="end-date">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:short" name="year"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="total"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="member-url-resources">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="member-url" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:anyURI" name="url"/>
                                    <xs:element type="xs:string" name="name"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="api-standard-profile-request">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:anyURI" name="url"/>
                              <xs:element name="headers">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="http-header" maxOccurs="unbounded" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="name"/>
                                          <xs:element type="xs:string" name="value"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="site-standard-profile-request">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:anyURI" name="url"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:anyURI" name="picture-url"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        jobSearch-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="job-search">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="jobs">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="job" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:int" name="id"/>
                                    <xs:element name="position">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="location">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:string" name="name"/>
                                                <xs:element name="country">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element type="xs:string" name="code"/>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="job-poster">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:string" name="first-name"/>
                                          <xs:element type="xs:string" name="last-name"/>
                                          <xs:element name="relation-to-viewer">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element type="xs:byte" name="distance"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="posting-date">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element type="xs:short" name="year"/>
                                          <xs:element type="xs:byte" name="month"/>
                                          <xs:element type="xs:byte" name="day"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="count"/>
                            <xs:attribute type="xs:byte" name="start"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        people-share-xml: |
                <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:element name="share">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="comment"/>
                        <xs:element name="content">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="title"/>
                              <xs:element type="xs:string" name="description"/>
                              <xs:element type="xs:string" name="submitted-url"/>
                              <xs:element type="xs:anyURI" name="submitted-image-url"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="visibility">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:schema>
        person-xml: |
[...]
