#%RAML 0.8
title: Pincodes
version: "1.0"
baseUri: "https://data.gov.in/api/datastore"
protocols: [HTTP]
securitySchemes: 
    - 
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
/resource.json: 
    displayName: resource.json
    uriParameters: 
        api-key: 
            description: ""
            type: string
            required: false
            repeat: false
            enum: ["2d9d6906111c2f6b36cfeef6bf603e49 "]
            default: "2d9d6906111c2f6b36cfeef6bf603e49 "
        resource_id: 
            type: string
            required: false
            repeat: false
            enum: ["7eca2fa3-d6f5-444e-b3d6-faa441e35294"]
            default: "7eca2fa3-d6f5-444e-b3d6-faa441e35294"
    get: 
documentation: 
    - 
        title: API Description
        content: r PIN Code is a 6 digit code of Post Office numbering used by India Post. The PIN was introduced on August 15, 1972. There are 9 PIN regions in the country. The first 8 are geographical regions and the digit 9 is reserved for the Army Postal Service. The first digit indicates one of the regions. The first 2 digits together indicate the sub region or one of the postal circles. The first 3 digits together indicate a sorting / revenue district. The last 3 digits refer to the delivery Post Office. Many localities are covered by a delivery Post office. An effort was made by Department of Post to collect the details of localities and map them to a PINCODE. For this purpose, all the Divisional Heads have been directed to enter details of localities and map it to a PINCODE. A web page was published to enable the Divisional Heads to enter the data. The information as entered by the Divisional Heads is published, as is where is. The data is not verified. Hence the correctness of the information depends on the quality of data entered. Thus, the Department of Posts or any of the offices or officers of the Department do not guarantee the correctness of the data. Centre for Excellence in Postal Technology or the Department of Posts or any other officer is not responsible for correctness of the data. The users may use the data at their own wish and risk. However, any corrections or additions to the information can be communicated to the Superintendent of Post offices of the Division.
