[[backends]]
  group = "monitorclient-2014-04-01"
  url_pattern = "/{resourceUri}/usages"
  method = "GET"
  encoding = "json"
  host = ["https://management.azure.com"]
  query_string_params = ["$filter", "api-version"]
  whitelist = ["value"]
  concurrent_calls = 1
  [backends.extra_config]
    provider = "azure.com"
    version = "2014-04-01"
    slug = "monitorclient-2014-04-01-resourceuri-usages"
    schemes = ["https"]
    consumes = ["json"]
    produces = ["json"]
    hosts = ["https://management.azure.com"]
    topics = ["cloud", "usagemetrics"]
    [backends.extra_config.mapping]
      value = "value"
