{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.1",
    "title" : "Twitter API"
  },
  "host" : "api.twitter.com",
  "basePath" : "/1.1/",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/account/remove_profile_banner{mediaTypeExtension}" : {
      "post" : {
        "description" : "Removes the uploaded profile banner for the authenticating user. Returns\nHTTP 200 upon success.\n",
        "schemes" : [ "http" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Profile banner deleted."
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/settings{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns settings (including current trend, geo and sleep time information)\nfor the authenticating user.\n",
        "schemes" : [ "http" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/account-settings"
            },
            "examples" : {
              "application/json" : "{\n    \"always_use_https\": true,\n    \"discoverable_by_email\": true,\n    \"geo_enabled\": true,\n    \"language\": \"en\",\n    \"protected\": false,\n    \"screen_name\": \"theSeanCook\",\n    \"show_all_inline_media\": false,\n    \"sleep_time\": {\n        \"enabled\": false,\n        \"end_time\": null,\n        \"start_time\": null\n    },\n    \"time_zone\": {\n        \"name\": \"Pacific Time (US & Canada)\",\n        \"tzinfo_name\": \"America/Los_Angeles\",\n        \"utc_offset\": -28800\n    },\n    \"trend_location\": [\n        {\n            \"country\": \"United States\",\n            \"countryCode\": \"US\",\n            \"name\": \"Atlanta\",\n            \"parentid\": 23424977,\n            \"placeType\": {\n                \"code\": 7,\n                \"name\": \"Town\"\n            },\n            \"url\": \"http://where.yahooapis.com/v1/place/2357024\",\n            \"woeid\": 2357024\n        }\n    ],\n    \"use_cookie_personalization\": true\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "post" : {
        "description" : "Updates the authenticating user's settings.\nWhile all parameters for this method are optional, at least one or more\nshould be provided when executing this request.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "trend_location_woeid",
          "in" : "formData",
          "description" : "The Yahoo! Where On Earth ID to use as the user's default trend location.\nGlobal information is available by using 1 as the WOEID. The woeid mus\nbe one of the locations returned by GET trends/available.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "sleep_time_enabled",
          "in" : "formData",
          "description" : "When set to true, t or 1, will enable sleep time for the user. Sleep time\nis the time when push or SMS notifications should not be sent to the user.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "start_sleep_time",
          "in" : "formData",
          "description" : "The hour that sleep time should begin if it is enabled. The value for this\nparameter should be provided in ISO8601 format (i.e. 00-23). The time is\nconsidered to be in the same timezone as the user's time_zone setting.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "end_sleep_time",
          "in" : "formData",
          "description" : "The hour that sleep time should end if it is enabled. The value for this\nparameter should be provided in ISO8601 format (i.e. 00-23). The time is\nconsidered to be in the same timezone as the user's time_zone setting.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "time_zone",
          "in" : "formData",
          "description" : "The timezone dates and times should be displayed in for the user. The\ntimezone must be one of the Rails TimeZone names.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lang",
          "in" : "formData",
          "description" : "The language which Twitter should render in for this user. The language\nmust be specified by the appropriate two letter ISO 639-1 representation.\nCurrently supported languages are provided by GET help/languages.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/account-settings"
            },
            "examples" : {
              "application/json" : "{\n    \"sleep_time\": {\n        \"end_time\": null,\n        \"enabled\": false,\n        \"start_time\": null\n    },\n    \"use_cookie_personalization\": true,\n    \"trend_location\": [\n        {\n            \"name\": \"San Francisco\",\n            \"placeType\": {\n                \"name\": \"Town\",\n                \"code\": 7\n            },\n            \"woeid\": 2487956,\n            \"country\": \"United States\",\n            \"url\": \"http://where.yahooapis.com/v1/place/2487956\",\n            \"countryCode\": \"US\",\n            \"parentid\": 23424977\n        }\n    ],\n    \"language\": \"en\",\n    \"discoverable_by_email\": true,\n    \"always_use_https\": true,\n    \"protected\": false,\n    \"geo_enabled\": true,\n    \"show_all_inline_media\": false,\n    \"screen_name\": \"oauth_dancer\"\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/update_delivery_device{mediaTypeExtension}" : {
      "post" : {
        "description" : "Sets which device Twitter delivers updates to for the authenticating user.\nSending none as the device parameter will disable SMS updates.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "device",
          "in" : "formData",
          "description" : "Must be one of sms, none.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Examples are not provided by twitter docs."
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/update_profile_background_image{mediaTypeExtension}" : {
      "post" : {
        "description" : "Updates the authenticating user's profile background image. This method can\nalso be used to enable or disable the profile background image.\nAlthough each parameter is marked as optional, at least one of image, tile\nor use must be provided when making this request.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "image",
          "in" : "formData",
          "description" : "The background image for the profile, base64-encoded. Must be a valid\nGIF, JPG, or PNG image of less than 800 kilobytes in size. Images with\nwidth larger than 2048 pixels will be forcibly scaled down. The image\nmust be provided as raw multipart data, not a URL.\n",
          "required" : false,
          "type" : "file"
        }, {
          "name" : "tile",
          "in" : "formData",
          "description" : "Whether or not to tile the background image. If set to true, t or 1 the\nbackground image will be displayed tiled. The image will not be tiled\notherwise.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "use",
          "in" : "formData",
          "description" : "Determines whether to display the profile background image or not.\nWhen set to true, t or 1 the background image will be displayed if\nan image is being uploaded with the request, or has been uploaded\npreviously. An error will be returned if you try to use a background\nimage when one is not being uploaded or does not exist. If this\nparameter is defined but set to anything other than true, t or 1,\nthe background image will stop being used.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "formData",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/account-update_background"
            },
            "examples" : {
              "application/json" : "{\n    \"contributors_enabled\": false, \n    \"created_at\": \"Thu Aug 23 19:45:07 +0000 2012\", \n    \"default_profile\": false, \n    \"default_profile_image\": false, \n    \"description\": \"Keep calm and test\", \n    \"favourites_count\": 0, \n    \"follow_request_sent\": false, \n    \"followers_count\": 0, \n    \"following\": false, \n    \"friends_count\": 10, \n    \"geo_enabled\": true, \n    \"id\": 776627022, \n    \"id_str\": \"776627022\", \n    \"is_translator\": false, \n    \"lang\": \"en\", \n    \"listed_count\": 0, \n    \"location\": \"San Francisco, CA\", \n    \"name\": \"Sean Test\", \n    \"notifications\": false, \n    \"profile_background_color\": \"9AE4E8\", \n    \"profile_background_image_url\": \"http://a0.twimg.com/images/themes/theme16/bg.gif\", \n    \"profile_background_image_url_https\": \"https://si0.twimg.com/images/themes/theme16/bg.gif\", \n    \"profile_background_tile\": false, \n    \"profile_image_url\": \"http://a0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\", \n    \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\", \n    \"profile_link_color\": \"0084B4\", \n    \"profile_sidebar_border_color\": \"BDDCAD\", \n    \"profile_sidebar_fill_color\": \"DDFFCC\", \n    \"profile_text_color\": \"333333\", \n    \"profile_use_background_image\": true, \n    \"protected\": false, \n    \"screen_name\": \"s0c1alm3dia\", \n    \"show_all_inline_media\": false, \n    \"statuses_count\": 0, \n    \"time_zone\": \"Pacific Time (US & Canada)\", \n    \"url\": \"http://cnn.com\", \n    \"utc_offset\": -28800, \n    \"verified\": false\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/update_profile_banner{mediaTypeExtension}" : {
      "post" : {
        "description" : "Uploads a profile banner on behalf of the authenticating user. For bes\nresults, upload an <5MB image that is exactly 1252px by 626px. Images will\nbe resized for a number of display options. Users with an uploaded profile\nbanner will have a profile_banner_url node in their Users objects. More\ninformation about sizing variations can be found in User Profile Images\nand Banners and GET users/profile_banner.\n Profile banner images are processed asynchronously. The profile_banner_url\nand its variant sizes will not necessary be available directly after upload.\n Note: If providing any one of the height, width, offset_left, or offset_top\n parameters, you must provide all of the sizing parameters.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "banner",
          "in" : "formData",
          "description" : "The Base64-encoded or raw image data being uploaded as the user's\nnew profile banner.\n",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "width",
          "in" : "formData",
          "description" : "The width of the preferred section of the image being uploaded in\npixels. Use with height, offset_left, and offset_top to select the\ndesired region of the image to use.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "height",
          "in" : "formData",
          "description" : "The height of the preferred section of the image being uploaded in\npixels. Use with width, offset_left, and offset_top to select the\ndesired region of the image to use.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "offset_left",
          "in" : "formData",
          "description" : "The number of pixels by which to offset the uploaded image from the\nleft. Use with height, width, and offset_top to select the desired\nregion of the image to use.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "offset_top",
          "in" : "formData",
          "description" : "The number of pixels by which to offset the uploaded image from the\ntop. Use with height, width, and offset_left to select the desired\nregion of the image to use.\n",
          "required" : false,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Profile banner image succesfully uploaded."
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "201" : {
            "description" : "Profile banner image succesfully uploaded."
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "202" : {
            "description" : "Profile banner image succesfully uploaded."
          },
          "400" : {
            "description" : "Either an image was not provided or the image data could not be processed."
          },
          "422" : {
            "description" : "The image could not be resized or is too large."
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/update_profile_colors{mediaTypeExtension}" : {
      "post" : {
        "description" : "Sets one or more hex values that control the color scheme of the authenticating\nuser's profile page on twitter.com. Each parameter's value must be a valid\nhexidecimal value, and may be either three or six characters (ex: #fff or #ffffff).\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "profile_background_color",
          "in" : "formData",
          "description" : "Profile background color.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "profile_link_color",
          "in" : "formData",
          "description" : "Profile link color.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "profile_sidebar_border_color",
          "in" : "formData",
          "description" : "Profile sidebar's border color.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "profile_sidebar_fill_color",
          "in" : "formData",
          "description" : "Profile sidebar's background color.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "profile_text_color",
          "in" : "formData",
          "description" : "Profile text color.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "formData",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/account-update_profile_colors"
            },
            "examples" : {
              "application/json" : "{\n    \"contributors_enabled\": false, \n    \"created_at\": \"Thu Aug 23 19:45:07 +0000 2012\", \n    \"default_profile\": false, \n    \"default_profile_image\": false, \n    \"description\": \"Keep calm and test\", \n    \"entities\": {\n        \"description\": {\n            \"urls\": []\n        }, \n        \"url\": {\n            \"urls\": [\n                {\n                    \"display_url\": null, \n                    \"expanded_url\": null, \n                    \"indices\": [\n                        0, \n                        14\n                    ], \n                    \"url\": \"http://cnn.com\"\n                }\n            ]\n        }\n    }, \n    \"favourites_count\": 0, \n    \"follow_request_sent\": false, \n    \"followers_count\": 0, \n    \"following\": false, \n    \"friends_count\": 10, \n    \"geo_enabled\": true, \n    \"id\": 776627022, \n    \"id_str\": \"776627022\", \n    \"is_translator\": false, \n    \"lang\": \"en\", \n    \"listed_count\": 0, \n    \"location\": \"San Francisco, CA\", \n    \"name\": \"Mick Jagger\", \n    \"notifications\": false, \n    \"profile_background_color\": \"0000FF\", \n    \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\", \n    \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\", \n    \"profile_background_tile\": true, \n    \"profile_image_url\": \"http://a0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\", \n    \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\", \n    \"profile_link_color\": \"000000\", \n    \"profile_sidebar_border_color\": \"ff0000\", \n    \"profile_sidebar_fill_color\": \"000000\", \n    \"profile_text_color\": \"000000\", \n    \"profile_use_background_image\": false, \n    \"protected\": false, \n    \"screen_name\": \"s0c1alm3dia\", \n    \"show_all_inline_media\": false, \n    \"statuses_count\": 0, \n    \"time_zone\": \"Pacific Time (US & Canada)\", \n    \"url\": \"http://cnn.com\", \n    \"utc_offset\": -28800, \n    \"verified\": false\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/update_profile_image{mediaTypeExtension}" : {
      "post" : {
        "description" : "Updates the authenticating user's profile image. Note that this method\nexpects raw multipart data, not a URL to an image.\nThis method asynchronously processes the uploaded file before updating the\nuser's profile image URL. You can either update your local cache the nex\ntime you request the user's information, or, at least 5 seconds after\nuploading the image, ask for the updated URL using GET users/show.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "image",
          "in" : "formData",
          "description" : "The avatar image for the profile, base64-encoded. Must be a valid\nGIF, JPG, or PNG image of less than 700 kilobytes in size. Images\nwith width larger than 500 pixels will be scaled down. Animated GIFs\nwill be converted to a static GIF of the first frame, removing the\nanimation.\n",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "formData",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/account-update_profile_image"
            },
            "examples" : {
              "application/json" : "{\n    \"contributors_enabled\": false, \n    \"created_at\": \"Thu Aug 23 19:45:07 +0000 2012\", \n    \"default_profile\": false, \n    \"default_profile_image\": false, \n    \"description\": \"Keep calm and test\", \n    \"favourites_count\": 0, \n    \"follow_request_sent\": false, \n    \"followers_count\": 0, \n    \"following\": false, \n    \"friends_count\": 10, \n    \"geo_enabled\": true, \n    \"id\": 776627022, \n    \"id_str\": \"776627022\", \n    \"is_translator\": false, \n    \"lang\": \"en\", \n    \"listed_count\": 0, \n    \"location\": \"San Francisco, CA\", \n    \"name\": \"Sean Test\", \n    \"notifications\": false, \n    \"profile_background_color\": \"000000\", \n    \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\", \n    \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\", \n    \"profile_background_tile\": true, \n    \"profile_image_url\": \"http://a0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\", \n    \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\", \n    \"profile_link_color\": \"000000\", \n    \"profile_sidebar_border_color\": \"000000\", \n    \"profile_sidebar_fill_color\": \"000000\", \n    \"profile_text_color\": \"000000\", \n    \"profile_use_background_image\": false, \n    \"protected\": false, \n    \"screen_name\": \"s0c1alm3dia\", \n    \"show_all_inline_media\": false, \n    \"statuses_count\": 0, \n    \"time_zone\": \"Pacific Time (US & Canada)\", \n    \"url\": \"http://twitter.com\", \n    \"utc_offset\": -28800, \n    \"verified\": false\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/update_profile{mediaTypeExtension}" : {
      "post" : {
        "description" : "Sets values that users are able to set under the \"Account\" tab of their\nsettings page. Only the parameters specified will be updated.\nWhile no specific parameter is required, at least one of these parameters\nshould be provided when executing this method.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "name",
          "in" : "formData",
          "description" : "Full name associated with the profile. Maximum of 20 characters.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "url",
          "in" : "formData",
          "description" : "URL associated with the profile. Will be prepended with \"http://\" if no\npresent. Maximum of 100 characters.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location",
          "in" : "formData",
          "description" : "The city or country describing where the user of the account is located.\nThe contents are not normalized or geocoded in any way. Maximum of 30\ncharacters.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "formData",
          "description" : "A description of the user owning the account. Maximum of 160 characters.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "formData",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Profile updated."
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/account/verify_credentials{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns an HTTP 200 OK response code and a representation of the requesting\nuser if authentication was successful; returns a 401 status code and an error\nmessage if not. Use this method to test if supplied user credentials are valid.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "include_entities",
          "in" : "query",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "query",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/account-verify_credentials"
            },
            "examples" : {
              "application/json" : "{\n    \"contributors_enabled\": true,\n    \"created_at\": \"Sat May 09 17:58:22 +0000 2009\",\n    \"default_profile\": false,\n    \"default_profile_image\": false,\n    \"description\": \"I taught your phone that thing you like.  The Mobile Partner Engineer @Twitter. \",\n    \"favourites_count\": 588,\n    \"follow_request_sent\": null,\n    \"followers_count\": 10625,\n    \"following\": null,\n    \"friends_count\": 1181,\n    \"geo_enabled\": true,\n    \"id\": 38895958,\n    \"id_str\": \"38895958\",\n    \"is_translator\": false,\n    \"lang\": \"en\",\n    \"listed_count\": 190,\n    \"location\": \"San Francisco\",\n    \"name\": \"Sean Cook\",\n    \"notifications\": null,\n    \"profile_background_color\": \"1A1B1F\",\n    \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/495742332/purty_wood.png\",\n    \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/495742332/purty_wood.png\",\n    \"profile_background_tile\": true,\n    \"profile_image_url\": \"http://a0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\",\n    \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\",\n    \"profile_link_color\": \"2FC2EF\",\n    \"profile_sidebar_border_color\": \"181A1E\",\n    \"profile_sidebar_fill_color\": \"252429\",\n    \"profile_text_color\": \"666666\",\n    \"profile_use_background_image\": true,\n    \"protected\": false,\n    \"screen_name\": \"theSeanCook\",\n    \"show_all_inline_media\": true,\n    \"status\": {\n        \"contributors\": null,\n        \"coordinates\": {\n            \"coordinates\": [\n                -122.45037293,\n                37.76484123\n            ],\n            \"type\": \"Point\"\n        },\n        \"created_at\": \"Tue Aug 28 05:44:24 +0000 2012\",\n        \"favorited\": false,\n        \"geo\": {\n            \"coordinates\": [\n                37.76484123,\n                -122.45037293\n            ],\n            \"type\": \"Point\"\n        },\n        \"id\": 240323931419062270,\n        \"id_str\": \"240323931419062272\",\n        \"in_reply_to_screen_name\": \"messl\",\n        \"in_reply_to_status_id\": 240316959173009400,\n        \"in_reply_to_status_id_str\": \"240316959173009410\",\n        \"in_reply_to_user_id\": 18707866,\n        \"in_reply_to_user_id_str\": \"18707866\",\n        \"place\": {\n            \"attributes\": {},\n            \"bounding_box\": {\n                \"coordinates\": [\n                    [\n                        [\n                            -122.45778216,\n                            37.75932999\n                        ],\n                        [\n                            -122.44248216,\n                            37.75932999\n                        ],\n                        [\n                            -122.44248216,\n                            37.76752899\n                        ],\n                        [\n                            -122.45778216,\n                            37.76752899\n                        ]\n                    ]\n                ],\n                \"type\": \"Polygon\"\n            },\n            \"country\": \"United States\",\n            \"country_code\": \"US\",\n            \"full_name\": \"Ashbury Heights, San Francisco\",\n            \"id\": \"866269c983527d5a\",\n            \"name\": \"Ashbury Heights\",\n            \"place_type\": \"neighborhood\",\n            \"url\": \"http://api.twitter.com/1/geo/id/866269c983527d5a.json\"\n        },\n        \"retweet_count\": 0,\n        \"retweeted\": false,\n        \"source\": \"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter for  iPhone</a>\",\n        \"text\": \"@messl congrats! So happy for all 3 of you.\",\n        \"truncated\": false\n    },\n    \"statuses_count\": 2609,\n    \"time_zone\": \"Pacific Time (US & Canada)\",\n    \"url\": null,\n    \"utc_offset\": -28800,\n    \"verified\": false\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/application/rate_limit_status{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns the current rate limits for methods belonging to the specified\nresource families.\nEach 1.1 API resource belongs to a \"resource family\" which is indicated in\nits method documentation. You can typically determine a method's resource\nfamily from the first component of the path after the resource version.\nThis method responds with a map of methods belonging to the families specified\nby the resources parameter, the current remaining uses for each of those\nresources within the current rate limiting window, and its expiration time\nin epoch time. It also includes a rate_limit_context field that indicates\nthe current access token or application-only authentication context.\nYou may also issue requests to this method without any parameters to receive\na map of all rate limited GET methods. If your application only uses a few\nof methods, please explicitly provide a resources parameter with the specified\nresource families you work with.\nWhen using app-only auth, this method's response indicates the app-only auth\nrate limiting context.\nRead more about REST API Rate Limiting in v1.1 and review the limits.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "resources",
          "in" : "query",
          "description" : "A comma-separated list of resource families you want to know the current rate limit disposition for. For best performance, only specify the resource families pertinent to your application.\nSee Rate Limiting in API v1.1 for more information.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/rate_limits"
            },
            "examples" : {
              "application/json" : "{\n  \"rate_limit_context\": {\n    \"access_token\": \"119476949-oYGCs2M5duG5QalbOAK2YUZh8zG3ur7DPYo5qIFN\"\n  },\n  \"resources\": {\n    \"help\": {\n      \"/help/privacy\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/help/configuration\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/help/tos\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/help/languages\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      }\n    },\n    \"statuses\": {\n      \"/statuses/oembed\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      },\n      \"/statuses/user_timeline\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      },\n      \"/statuses/mentions_timeline\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/statuses/home_timeline\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/statuses/show/:id\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      },\n      \"/statuses/retweets/:id\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      }\n    },\n    \"users\": {\n      \"/users/show\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      },\n      \"/users/search\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      },\n      \"/users/suggestions\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/users/contributors\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/users/suggestions/:slug/members\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/users/suggestions/:slug\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/users/contributees\": {\n        \"remaining\": 15,\n        \"reset\": 1346439527,\n        \"limit\": 15\n      },\n      \"/users/lookup\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      }\n    },\n    \"search\": {\n      \"/search/tweets\": {\n        \"remaining\": 180,\n        \"reset\": 1346439527,\n        \"limit\": 180\n      }\n    }\n  }\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/blocks/create{mediaTypeExtension}" : {
      "post" : {
        "description" : "Blocks the specified user from following the authenticating user. In addition\nthe blocked user will not show in the authenticating users mentions or timeline\n(unless retweeted by another user). If a follow or friend relationship exists\nit is destroyed.\nEither screen_name or user_id must be provided.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "formData",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "screen_name",
          "in" : "formData",
          "description" : "The screen name of the user.\nHelpful for disambiguating when a valid screen name is also a user ID.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user_id",
          "in" : "formData",
          "description" : "The ID of the user. Helpful for disambiguating\nwhen a valid user ID is also a valid screen name.          \n",
          "required" : false,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/blocks-create"
            },
            "examples" : {
              "application/json" : "{\n    \"contributors_enabled\": true, \n    \"created_at\": \"Sat May 09 17:58:22 +0000 2009\", \n    \"default_profile\": false, \n    \"default_profile_image\": false, \n    \"description\": \"I taught your phone that thing you like.  The Mobile Partner Engineer @Twitter. \", \n    \"entities\": {\n        \"description\": {\n            \"urls\": []\n        }\n    }, \n    \"favourites_count\": 586, \n    \"follow_request_sent\": false, \n    \"followers_count\": 10622, \n    \"following\": false, \n    \"friends_count\": 1181, \n    \"geo_enabled\": true, \n    \"id\": 38895958, \n    \"id_str\": \"38895958\", \n    \"is_translator\": false, \n    \"lang\": \"en\", \n    \"listed_count\": 190, \n    \"location\": \"San Francisco\", \n    \"name\": \"Sean Cook\", \n    \"notifications\": false, \n    \"profile_background_color\": \"1A1B1F\", \n    \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/495742332/purty_wood.png\", \n    \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/495742332/purty_wood.png\", \n    \"profile_background_tile\": true, \n    \"profile_image_url\": \"http://a0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\", \n    \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\", \n    \"profile_link_color\": \"2FC2EF\", \n    \"profile_sidebar_border_color\": \"181A1E\", \n    \"profile_sidebar_fill_color\": \"252429\", \n    \"profile_text_color\": \"666666\", \n    \"profile_use_background_image\": true, \n    \"protected\": false, \n    \"screen_name\": \"theSeanCook\", \n    \"show_all_inline_media\": true, \n    \"statuses_count\": 2609, \n    \"time_zone\": \"Pacific Time (US & Canada)\", \n    \"url\": null, \n    \"utc_offset\": -28800, \n    \"verified\": false\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/blocks/destroy{mediaTypeExtension}" : {
      "post" : {
        "description" : "Un-blocks the user specified in the ID parameter for the authenticating user.\nReturns the un-blocked user in the requested format when successful. If\nrelationships existed before the block was instated, they will not be restored.\nOne of screen_name or id must be provided.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "formData",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "screen_name",
          "in" : "formData",
          "description" : "The screen name of the user.\nHelpful for disambiguating when a valid screen name is also a user ID.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user_id",
          "in" : "formData",
          "description" : "The ID of the user. Helpful for disambiguating\nwhen a valid user ID is also a valid screen name.          \n",
          "required" : false,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/blocks-create"
            },
            "examples" : {
              "application/json" : "{\n    \"contributors_enabled\": true, \n    \"created_at\": \"Sat May 09 17:58:22 +0000 2009\", \n    \"default_profile\": false, \n    \"default_profile_image\": false, \n    \"description\": \"I taught your phone that thing you like.  The Mobile Partner Engineer @Twitter. \", \n    \"entities\": {\n        \"description\": {\n            \"urls\": []\n        }\n    }, \n    \"favourites_count\": 586, \n    \"follow_request_sent\": false, \n    \"followers_count\": 10622, \n    \"following\": false, \n    \"friends_count\": 1181, \n    \"geo_enabled\": true, \n    \"id\": 38895958, \n    \"id_str\": \"38895958\", \n    \"is_translator\": false, \n    \"lang\": \"en\", \n    \"listed_count\": 190, \n    \"location\": \"San Francisco\", \n    \"name\": \"Sean Cook\", \n    \"notifications\": false, \n    \"profile_background_color\": \"1A1B1F\", \n    \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/495742332/purty_wood.png\", \n    \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/495742332/purty_wood.png\", \n    \"profile_background_tile\": true, \n    \"profile_image_url\": \"http://a0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\", \n    \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\", \n    \"profile_link_color\": \"2FC2EF\", \n    \"profile_sidebar_border_color\": \"181A1E\", \n    \"profile_sidebar_fill_color\": \"252429\", \n    \"profile_text_color\": \"666666\", \n    \"profile_use_background_image\": true, \n    \"protected\": false, \n    \"screen_name\": \"theSeanCook\", \n    \"show_all_inline_media\": true, \n    \"statuses_count\": 2609, \n    \"time_zone\": \"Pacific Time (US & Canada)\", \n    \"url\": null, \n    \"utc_offset\": -28800, \n    \"verified\": false\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/blocks/ids{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns an array of numeric user ids the authenticating user is blocking.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "cursor",
          "in" : "query",
          "description" : "Breaks the results into pages. The number of items returned is not guaranteed \nas some results can be filtered. If no cursor is provided, a value of -1 will be assumed, which is the\nfirst \"page.\"\nThe response from the API will include a previous_cursor and next_cursor\nto allow paging back and forth. See Using cursors to navigate collections\nfor more information.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stringify_ids",
          "in" : "query",
          "description" : "Many programming environments will not consume our Tweet ids due to their\nsize. Provide this option to have ids returned as strings instead. \nThis parameter is especially important to use in Javascript environments.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/blocks-ids"
            },
            "examples" : {
              "application/json" : "{\n  \"previous_cursor\": 0,\n  \"ids\": [\n    \"123\"\n  ],\n  \"previous_cursor_str\": \"0\",\n  \"next_cursor\": 0,\n  \"next_cursor_str\": \"0\"\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/blocks/list{mediaTypeExtension}" : {
      "get" : {
        "description" : "Returns a collection of user objects that the authenticating user is blocking.\nImportant On October 15, 2012 this method will become cursored by default,\naltering the default response format. See Using cursors to navigate collections\nfor more details on how cursoring works.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "include_entities",
          "in" : "query",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip_status",
          "in" : "query",
          "description" : "When set to either true, t or 1 statuses will not be included in the\nreturned user objects.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Breaks the results into pages. The number of items returned is not guaranteed \nas some results can be filtered. If no cursor is provided, a value of -1 will be assumed, which is the\nfirst \"page.\"\nThe response from the API will include a previous_cursor and next_cursor\nto allow paging back and forth. See Using cursors to navigate collections\nfor more information.\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/blocks-list"
            },
            "examples" : {
              "application/json" : "{\n  \"previous_cursor\": 0,\n  \"previous_cursor_str\": \"0\",\n  \"next_cursor\": 0,\n  \"users\": [\n    {\n      \"profile_sidebar_fill_color\": \"DDEEF6\",\n      \"profile_background_tile\": false,\n      \"profile_sidebar_border_color\": \"C0DEED\",\n      \"name\": \"Javier Heady \\r\",\n      \"created_at\": \"Thu Mar 01 00:16:47 +0000 2012\",\n      \"profile_image_url\": \"http://a0.twimg.com/sticky/default_profile_images/default_profile_4_normal.png\",\n      \"location\": \"\",\n      \"is_translator\": false,\n      \"follow_request_sent\": false,\n      \"profile_link_color\": \"0084B4\",\n      \"id_str\": \"509466276\",\n      \"entities\": {\n        \"description\": {\n          \"urls\": [\n \n          ]\n        }\n      },\n      \"contributors_enabled\": false,\n      \"favourites_count\": 0,\n      \"url\": null,\n      \"default_profile\": true,\n      \"utc_offset\": null,\n      \"profile_image_url_https\": \"https://si0.twimg.com/sticky/default_profile_images/default_profile_4_normal.png\",\n      \"id\": 509466276,\n      \"listed_count\": 0,\n      \"profile_use_background_image\": true,\n      \"followers_count\": 0,\n      \"protected\": false,\n      \"lang\": \"en\",\n      \"profile_text_color\": \"333333\",\n      \"profile_background_color\": \"C0DEED\",\n      \"notifications\": false,\n      \"verified\": false,\n      \"description\": \"\",\n      \"geo_enabled\": false,\n      \"time_zone\": null,\n      \"profile_background_image_url_https\": \"https://si0.twimg.com/images/themes/theme1/bg.png\",\n      \"friends_count\": 0,\n      \"default_profile_image\": true,\n      \"statuses_count\": 4,\n      \"profile_background_image_url\": \"http://a0.twimg.com/images/themes/theme1/bg.png\",\n      \"following\": false,\n      \"screen_name\": \"javierg3ong\"\n    }\n  ],\n  \"next_cursor_str\": \"0\"\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/direct_messages/destroy{mediaTypeExtension}" : {
      "post" : {
        "description" : "Destroys the direct message specified in the required ID parameter. The\nauthenticating user must be the recipient of the specified direct message.\nImportant: This method requires an access token with RWD (read, write &\ndirect message) permissions. Consult The Application Permission Model for\nmore information.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "formData",
          "description" : "The ID of the direct message.",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "include_entities",
          "in" : "formData",
          "description" : "The entities node will not be included when set to false.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/tweets"
            },
            "examples" : {
              "application/json" : "{\n    \"created_at\": \"Tue Aug 28 00:57:15 +0000 2012\",\n    \"entities\": {\n        \"hashtags\": [],\n        \"urls\": [],\n        \"user_mentions\": []\n    },\n    \"id\": 240251665733795840,\n    \"id_str\": \"240251665733795841\",\n    \"recipient\": {\n        \"contributors_enabled\": true,\n        \"created_at\": \"Sat May 09 17:58:22 +0000 2009\",\n        \"default_profile\": false,\n        \"default_profile_image\": false,\n        \"description\": \"I taught your phone that thing you like.  The Mobile Partner Engineer @Twitter. \",\n        \"favourites_count\": 584,\n        \"follow_request_sent\": false,\n        \"followers_count\": 10622,\n        \"following\": true,\n        \"friends_count\": 1181,\n        \"geo_enabled\": true,\n        \"id\": 38895958,\n        \"id_str\": \"38895958\",\n        \"is_translator\": false,\n        \"lang\": \"en\",\n        \"listed_count\": 190,\n        \"location\": \"San Francisco\",\n        \"name\": \"Sean Cook\",\n        \"notifications\": false,\n        \"profile_background_color\": \"1A1B1F\",\n        \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/495742332/purty_wood.png\",\n        \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/495742332/purty_wood.png\",\n        \"profile_background_tile\": true,\n        \"profile_image_url\": \"http://a0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\",\n        \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\",\n        \"profile_link_color\": \"2FC2EF\",\n        \"profile_sidebar_border_color\": \"181A1E\",\n        \"profile_sidebar_fill_color\": \"252429\",\n        \"profile_text_color\": \"666666\",\n        \"profile_use_background_image\": true,\n        \"protected\": false,\n        \"screen_name\": \"theSeanCook\",\n        \"show_all_inline_media\": true,\n        \"statuses_count\": 2608,\n        \"time_zone\": \"Pacific Time (US & Canada)\",\n        \"url\": null,\n        \"utc_offset\": -28800,\n        \"verified\": false\n    },\n    \"recipient_id\": 38895958,\n    \"recipient_screen_name\": \"theSeanCook\",\n    \"sender\": {\n        \"contributors_enabled\": false,\n        \"created_at\": \"Thu Aug 23 19:45:07 +0000 2012\",\n        \"default_profile\": false,\n        \"default_profile_image\": false,\n        \"description\": \"Keep calm and test\",\n        \"favourites_count\": 0,\n        \"follow_request_sent\": false,\n        \"followers_count\": 0,\n        \"following\": false,\n        \"friends_count\": 11,\n        \"geo_enabled\": true,\n        \"id\": 776627022,\n        \"id_str\": \"776627022\",\n        \"is_translator\": false,\n        \"lang\": \"en\",\n        \"listed_count\": 0,\n        \"location\": \"San Francisco, CA\",\n        \"name\": \"Mick Jagger\",\n        \"notifications\": false,\n        \"profile_background_color\": \"000000\",\n        \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\",\n        \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\",\n        \"profile_background_tile\": true,\n        \"profile_image_url\": \"http://a0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\",\n        \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\",\n        \"profile_link_color\": \"000000\",\n        \"profile_sidebar_border_color\": \"000000\",\n        \"profile_sidebar_fill_color\": \"000000\",\n        \"profile_text_color\": \"000000\",\n        \"profile_use_background_image\": false,\n        \"protected\": false,\n        \"screen_name\": \"s0c1alm3dia\",\n        \"show_all_inline_media\": false,\n        \"statuses_count\": 0,\n        \"time_zone\": \"Pacific Time (US & Canada)\",\n        \"url\": \"http://cnn.com\",\n        \"utc_offset\": -28800,\n        \"verified\": false\n    },\n    \"sender_id\": 776627022,\n    \"sender_screen_name\": \"s0c1alm3dia\",\n    \"text\": \"hello, tworld.\"\n}"
            }
          },
          "420" : {
            "description" : "Returned by the version 1 Search and Trends APIs when you are being rate\nlimited.\n"
          },
          "410" : {
            "description" : "This resource is gone. Used to indicate that an API endpoint has been\nturned off. For example: \"The Twitter REST API v1 will soon stop\nfunctioning. Please migrate to API v1.1.\"\n"
          },
          "400" : {
            "description" : "The request was invalid or cannot be otherwise served. An accompanying\nerror message will explain further. In API v1.1, requests withou\nauthentication are considered invalid and will yield this response.\n"
          },
          "422" : {
            "description" : "Returned when an image uploaded to POST account/update_profile_banner is\nunable to be processed.\n"
          },
          "401" : {
            "description" : "Authentication credentials were missing or incorrect."
          },
          "500" : {
            "description" : "Something is broken. Please post to the group so the Twitter team can\ninvestigate.\n"
          },
          "304" : {
            "description" : "There was no new data to return."
          },
          "403" : {
            "description" : "The request is understood, but it has been refused or access is no\nallowed. An accompanying error message will explain why. This code is\nused when requests are being denied due to update limits.\n"
          },
          "502" : {
            "description" : "Twitter is down or being upgraded."
          },
          "404" : {
            "description" : "The URI requested is invalid or the resource requested, such as a user,\ndoes not exists. Also returned when the requested format is not supported\nby the requested method.\n"
          },
          "503" : {
            "description" : "The Twitter servers are up, but overloaded with requests. Try again later.\n"
          },
          "504" : {
            "description" : "The Twitter servers are up, but the request couldn't be serviced due to\nsome failure within our stack. Try again later.\n"
          },
          "406" : {
            "description" : "Returned by the Search API when an invalid format is specified in the\nrequest.\n"
          },
          "429" : {
            "description" : "Returned in API v1.1 when a request cannot be served due to the\napplication's rate limit having been exhausted for the resource. See Rate\nLimiting in API v1.1.\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "mediaTypeExtension",
        "in" : "path",
        "description" : "Use .json to specify application/json media type.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/direct_messages/new{mediaTypeExtension}" : {
      "post" : {
        "description" : "Sends a new direct message to the specified user from the authenticating user.\nRequires both the user and text parameters and must be a POST. Returns the\nsent message in the requested format if successful.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "text",
          "in" : "formData",
          "description" : "The text of your direct message. Be sure to URL encode as necessary,\nand keep the message under 140 characters.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "screen_name",
          "in" : "formData",
          "description" : "The screen name of the user.\nHelpful for disambiguating when a valid screen name is also a user ID.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user_id",
          "in" : "formData",
          "description" : "The ID of the user. Helpful for disambiguating\nwhen a valid user ID is also a valid screen name.          \n",
          "required" : false,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!",
            "schema" : {
              "$ref" : "#/definitions/tweets"
            },
            "examples" : {
              "application/json" : "{\n    \"created_at\": \"Tue Aug 28 00:59:49 +0000 2012\",\n    \"entities\": {\n        \"hashtags\": [],\n        \"urls\": [],\n        \"user_mentions\": []\n    },\n    \"id\": 240252311455277060,\n    \"id_str\": \"240252311455277056\",\n    \"recipient\": {\n        \"contributors_enabled\": true,\n        \"created_at\": \"Sat May 09 17:58:22 +0000 2009\",\n        \"default_profile\": false,\n        \"default_profile_image\": false,\n        \"description\": \"I taught your phone that thing you like.  The Mobile Partner Engineer @Twitter. \",\n        \"favourites_count\": 584,\n        \"follow_request_sent\": false,\n        \"followers_count\": 10622,\n        \"following\": true,\n        \"friends_count\": 1181,\n        \"geo_enabled\": true,\n        \"id\": 38895958,\n        \"id_str\": \"38895958\",\n        \"is_translator\": false,\n        \"lang\": \"en\",\n        \"listed_count\": 190,\n        \"location\": \"San Francisco\",\n        \"name\": \"Sean Cook\",\n        \"notifications\": false,\n        \"profile_background_color\": \"1A1B1F\",\n        \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/495742332/purty_wood.png\",\n        \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/495742332/purty_wood.png\",\n        \"profile_background_tile\": true,\n        \"profile_image_url\": \"http://a0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\",\n        \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/1751506047/dead_sexy_normal.JPG\",\n        \"profile_link_color\": \"2FC2EF\",\n        \"profile_sidebar_border_color\": \"181A1E\",\n        \"profile_sidebar_fill_color\": \"252429\",\n        \"profile_text_color\": \"666666\",\n        \"profile_use_background_image\": true,\n        \"protected\": false,\n        \"screen_name\": \"theSeanCook\",\n        \"show_all_inline_media\": true,\n        \"statuses_count\": 2608,\n        \"time_zone\": \"Pacific Time (US & Canada)\",\n        \"url\": null,\n        \"utc_offset\": -28800,\n        \"verified\": false\n    },\n    \"recipient_id\": 38895958,\n    \"recipient_screen_name\": \"theSeanCook\",\n    \"sender\": {\n        \"contributors_enabled\": false,\n        \"created_at\": \"Thu Aug 23 19:45:07 +0000 2012\",\n        \"default_profile\": false,\n        \"default_profile_image\": false,\n        \"description\": \"Keep calm and test\",\n        \"favourites_count\": 0,\n        \"follow_request_sent\": false,\n        \"followers_count\": 0,\n        \"following\": false,\n        \"friends_count\": 11,\n        \"geo_enabled\": true,\n        \"id\": 776627022,\n        \"id_str\": \"776627022\",\n        \"is_translator\": false,\n        \"lang\": \"en\",\n        \"listed_count\": 0,\n        \"location\": \"San Francisco, CA\",\n        \"name\": \"Mick Jagger\",\n        \"notifications\": false,\n        \"profile_background_color\": \"000000\",\n        \"profile_background_image_url\": \"http://a0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\",\n        \"profile_background_image_url_https\": \"https://si0.twimg.com/profile_background_images/644522235/cdjlccey99gy36j3em67.jpeg\",\n        \"profile_background_tile\": true,\n        \"profile_image_url\": \"http://a0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\",\n        \"profile_image_url_https\": \"https://si0.twimg.com/profile_images/2550256790/hv5rtkvistn50nvcuydl_normal.jpeg\",\n        \"profile_link_color\": \"000000\",\n        \"profile_sidebar_border_color\": \"000000\",\n        \"profile_sidebar_fill_color\": \"000000\",\n        \"profile_text_color\": \"000000\",\n        \"profile_use_background_ima
[...]
