{
  "swagger" : "2.0",
  "info" : {
    "description" : "API is a word-finding query engine for developers. You can use it in your apps to find words that match a given set of constraints and that are likely in a given context. You can specify a wide variety of constraints on meaning, spelling, sound, and vocabulary in your queries, in any combination.",
    "version" : "1.0",
    "title" : "Word finding API"
  },
  "host" : "api.datamuse.com",
  "basePath" : "",
  "schemes" : [ "https" ],
  "paths" : {
    "/sug" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "s",
        "in" : "query",
        "description" : "suggestions for the user if they have typed in rawand so far",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/words" : {
      "get" : {
        "parameters" : [ {
          "name" : "lc",
          "in" : "query",
          "description" : "words that often follow \"drink\" in a sentence, that start with the letter w\n/words?lc=drink&sp=w*",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rel_trg",
          "in" : "query",
          "description" : "words that are triggered by (strongly associated with) ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rel_jja",
          "in" : "query",
          "description" : "nouns that are often described by the adjective ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "topics",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rel_jjb",
          "in" : "query",
          "description" : "adjectives that are often used to describe",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rel_rhy",
          "in" : "query",
          "description" : "words that rhyme with",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sl",
          "in" : "query",
          "description" : "sounds like",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sp",
          "in" : "query",
          "description" : "start with the letter b (sp=b*)\nend with the letter a (sp=*a)\nstart with t, end in k, and have two letters in between(sp=t??k)\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ml",
          "in" : "query",
          "description" : "words with a meaning similar to ",
          "required" : false,
          "type" : "string"
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]
}