#%RAML 0.8
title: Indian Railways Train Time Table
version: "1.0"
baseUri: "https://data.gov.in/api/datastore"
protocols: [HTTP]
securitySchemes: 
    - 
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
/resource.json: 
    displayName: Get Time table
    description: Get Time table
    uriParameters: 
        offset: 
            description: |
                offset (int) – offset this number of rows
            type: string
            required: false
            repeat: false
        api-key: 
            description: ""
            type: string
            required: false
            repeat: false
            enum: ["2d9d6906111c2f6b36cfeef6bf603e49"]
            default: "2d9d6906111c2f6b36cfeef6bf603e49"
        limit: 
            description: |
                limit (int) – maximum number of rows to return (default: 100)
            type: string
            required: false
            repeat: false
        resource_id: 
            type: string
            required: false
            repeat: false
            enum: [b46200c1-ca9a-4bbe-92f8-b5039cc25a12]
            default: b46200c1-ca9a-4bbe-92f8-b5039cc25a12
        filters: 
            description: |
                filters (mixed) – array or string of matching conditions to select
            type: string
            required: false
            repeat: false
        fields: 
            description: "fields (array or comma separated string) – fields to return (default: all fields in original order)"
            type: string
            required: false
            repeat: false
    get: 
documentation: 
    - 
        title: API Description
        content: Get data of Indian railways Time Table. It contains train wise departure and arrival times at various stations. It also provides information of the route, distance covered , source station and destination statio