{
  "swagger" : "2.0",
  "info" : {
    "description" : "OpenStreetProject made by Komoot that lets users to geographically locate the places they enter on the Photon platform. The Photon API lets developers to integrate this feature into their applications for use. The API uses GeoJSON format, and is free for use.",
    "version" : "1.0",
    "title" : "Geo Location API"
  },
  "host" : "photon.komoot.de",
  "basePath" : "/api",
  "schemes" : [ "http" ],
  "paths" : {
    "/" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "limit",
        "in" : "query",
        "description" : "limit number of results",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "lon",
        "in" : "query",
        "description" : "long",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "lat",
        "in" : "query",
        "description" : "Search, with priority to a geo position  ex lat",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "q",
        "in" : "query",
        "description" : "q=chennai",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/reverse" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "lat",
        "in" : "query",
        "description" : "lat",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "lon",
        "in" : "query",
        "description" : "long",
        "required" : false,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]
}