#%RAML 0.8
title: University API
version: "1.0"
baseUri: "https://data.gov.in/api/datastore"
protocols: [HTTP]
securitySchemes: 
    - 
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
/resource.json: 
    displayName: List all universities
    description: List all universities
    uriParameters: 
        offset: 
            description: offset this number of rows
            type: string
            required: false
            repeat: false
        api-key: 
            description: ""
            type: string
            required: false
            repeat: false
            enum: ["2d9d6906111c2f6b36cfeef6bf603e49"]
            default: "2d9d6906111c2f6b36cfeef6bf603e49"
        limit: 
            description: "maximum number of rows to return (default: 100)"
            type: string
            required: false
            repeat: false
        resource_id: 
            type: string
            required: false
            repeat: false
            enum: ["44bea382-c525-4740-8a07-04bd20a99b52"]
            default: "44bea382-c525-4740-8a07-04bd20a99b52"
        filters: 
            description: array or string of matching conditions to select
            type: string
            required: false
            repeat: false
        fields: 
            description: "(array or comma separated string) – fields to return (default: all fields in original order)"
            type: string
            required: false
            repeat: false
    get: 
documentation: 
    - 
        title: API Description
        content: College means any Institution, whether known as such or by any other name which provides for a course of study for obtaining any qualification from a university and which, in accordance with the rules and regulations of such university, is recognised as competent to provide for such course of study and present students undergoing such course of study for the examination for the award of such qualification