#%RAML 0.8
title: WeatherUnderground
version: v1
baseUri: "http://api.wunderground.com/api"
protocols: [HTTP]
schemas: 
    - 
        alertsSchema: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "response": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "version": {
                          "required": false,
                          "type": "string"
                        },
                        "termsofService": {
                          "required": false,
                          "type": "string"
                        },
                        "features": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "alerts": {
                              "required": false,
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "alerts": {
                      "required": false,
                      "type": "array",
                      "items": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "type": {
                            "required": false,
                            "type": "string"
                          },
                          "description": {
                            "required": false,
                            "type": "string"
                          },
                          "date": {
                            "required": false,
                            "type": "string"
                          },
                          "date_epoch": {
                            "required": false,
                            "type": "string"
                          },
                          "expires": {
                            "required": false,
                            "type": "string"
                          },
                          "expires_epoch": {
                            "required": false,
                            "type": "string"
                          },
                          "message": {
                            "required": false,
                            "type": "string"
                          },
                          "phenomena": {
                            "required": false,
                            "type": "string"
                          },
                          "significance": {
                            "required": false,
                            "type": "string"
                          },
                          "ZONES": {
                            "required": false,
                            "type": "array",
                            "items": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "state": {
                                  "required": false,
                                  "type": "string"
                                },
                                "ZONE": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "StormBased": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "vertices": {
                                "required": false,
                                "type": "array",
                                "items": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "lat": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "lon": {
                                      "required": false,
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "Vertex_count": {
                                "required": false,
                                "type": "integer"
                              },
                              "stormInfo": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "time_epoch": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Motion_deg": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Motion_spd": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "position_lat": {
                                    "required": false,
                                    "type": "number"
                                  },
                                  "position_lon": {
                                    "required": false,
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
        almanacSchema: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "response": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "version": {
                          "required": false,
                          "type": "string"
                        },
                        "termsofService": {
                          "required": false,
                          "type": "string"
                        },
                        "features": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "almanac": {
                              "required": false,
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "almanac": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "airport_code": {
                          "required": false,
                          "type": "string"
                        },
                        "temp_high": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "normal": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "record": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "recordyear": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "temp_low": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "normal": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "record": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "recordyear": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
        datafeaturesSchema: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "response": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "version": {
                          "required": false,
                          "type": "string"
                        },
                        "termsofService": {
                          "required": false,
                          "type": "string"
                        },
                        "features": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "alerts": {
                              "required": false,
                              "type": "integer"
                            },
                            "almanac": {
                              "required": false,
                              "type": "integer"
                            },
                            "astronomy": {
                              "required": false,
                              "type": "integer"
                            },
                            "conditions": {
                              "required": false,
                              "type": "integer"
                            },
                            "currenthurricane": {
                              "required": false,
                              "type": "integer"
                            },
                            "datafeatures": {
                              "required": false,
                              "type": "integer"
                            },
                            "forecast": {
                              "required": false,
                              "type": "integer"
                            },
                            "forecast10day": {
                              "required": false,
                              "type": "integer"
                            },
                            "geolookup": {
                              "required": false,
                              "type": "integer"
                            },
                            "history": {
                              "required": false,
                              "type": "integer"
                            },
                            "hourly": {
                              "required": false,
                              "type": "integer"
                            },
                            "hourly10day": {
                              "required": false,
                              "type": "integer"
                            },
                            "planner": {
                              "required": false,
                              "type": "integer"
                            },
                            "rawtide": {
                              "required": false,
                              "type": "integer"
                            },
                            "satellite": {
                              "required": false,
                              "type": "integer"
                            },
                            "tide": {
                              "required": false,
                              "type": "integer"
                            },
                            "webcams": {
                              "required": false,
                              "type": "integer"
                            },
                            "yesterday": {
                              "required": false,
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "alerts": {
                      "required": false,
                      "type": "array",
                      "items": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "type": {
                            "required": false,
                            "type": "string"
                          },
                          "description": {
                            "required": false,
                            "type": "string"
                          },
                          "date": {
                            "required": false,
                            "type": "string"
                          },
                          "date_epoch": {
                            "required": false,
                            "type": "string"
                          },
                          "expires": {
                            "required": false,
                            "type": "string"
                          },
                          "expires_epoch": {
                            "required": false,
                            "type": "string"
                          },
                          "message": {
                            "required": false,
                            "type": "string"
                          },
                          "phenomena": {
                            "required": false,
                            "type": "string"
                          },
                          "significance": {
                            "required": false,
                            "type": "string"
                          },
                          "ZONES": {
                            "required": false,
                            "type": "array",
                            "items": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "state": {
                                  "required": false,
                                  "type": "string"
                                },
                                "ZONE": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "StormBased": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "vertices": {
                                "required": false,
                                "type": "array",
                                "items": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "lat": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "lon": {
                                      "required": false,
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "Vertex_count": {
                                "required": false,
                                "type": "integer"
                              },
                              "stormInfo": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "time_epoch": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Motion_deg": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Motion_spd": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "position_lat": {
                                    "required": false,
                                    "type": "number"
                                  },
                                  "position_lon": {
                                    "required": false,
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "almanac": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "airport_code": {
                          "required": false,
                          "type": "string"
                        },
                        "temp_high": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "normal": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "record": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "recordyear": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "temp_low": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "normal": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "record": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "F": {
                                  "required": false,
                                  "type": "string"
                                },
                                "C": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "recordyear": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "moon_phase": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "percentIlluminated": {
                          "required": false,
                          "type": "string"
                        },
                        "ageOfMoon": {
                          "required": false,
                          "type": "string"
                        },
                        "current_time": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "hour": {
                              "required": false,
                              "type": "string"
                            },
                            "minute": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "sunrise": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "hour": {
                              "required": false,
                              "type": "string"
                            },
                            "minute": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "sunset": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "hour": {
                              "required": false,
                              "type": "string"
                            },
                            "minute": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "current_observation": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "image": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "url": {
                              "required": false,
                              "type": "string"
                            },
                            "title": {
                              "required": false,
                              "type": "string"
                            },
                            "link": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "display_location": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "full": {
                              "required": false,
                              "type": "string"
                            },
                            "city": {
                              "required": false,
                              "type": "string"
                            },
                            "state": {
                              "required": false,
                              "type": "string"
                            },
                            "state_name": {
                              "required": false,
                              "type": "string"
                            },
                            "country": {
                              "required": false,
                              "type": "string"
                            },
                            "country_iso3166": {
                              "required": false,
                              "type": "string"
                            },
                            "zip": {
                              "required": false,
                              "type": "string"
                            },
                            "latitude": {
                              "required": false,
                              "type": "string"
                            },
                            "longitude": {
                              "required": false,
                              "type": "string"
                            },
                            "elevation": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "observation_location": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "full": {
                              "required": false,
                              "type": "string"
                            },
                            "city": {
                              "required": false,
                              "type": "string"
                            },
                            "state": {
                              "required": false,
                              "type": "string"
                            },
                            "country": {
                              "required": false,
                              "type": "string"
                            },
                            "country_iso3166": {
                              "required": false,
                              "type": "string"
                            },
                            "latitude": {
                              "required": false,
                              "type": "string"
                            },
                            "longitude": {
                              "required": false,
                              "type": "string"
                            },
                            "elevation": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "estimated": {
                          "required": false,
                          "type": "object",
                          "properties": {
                          }
                        },
                        "station_id": {
                          "required": false,
                          "type": "string"
                        },
                        "observation_time": {
                          "required": false,
                          "type": "string"
                        },
                        "observation_time_rfc822": {
                          "required": false,
                          "type": "string"
                        },
                        "observation_epoch": {
                          "required": false,
                          "type": "string"
                        },
                        "local_time_rfc822": {
                          "required": false,
                          "type": "string"
                        },
                        "local_epoch": {
                          "required": false,
                          "type": "string"
                        },
                        "local_tz_short": {
                          "required": false,
                          "type": "string"
                        },
                        "local_tz_long": {
                          "required": false,
                          "type": "string"
                        },
                        "local_tz_offset": {
                          "required": false,
                          "type": "string"
                        },
                        "weather": {
                          "required": false,
                          "type": "string"
                        },
                        "temperature_string": {
                          "required": false,
                          "type": "string"
                        },
                        "temp_f": {
                          "required": false,
                          "type": "number"
                        },
                        "temp_c": {
                          "required": false,
                          "type": "number"
                        },
                        "relative_humidity": {
                          "required": false,
                          "type": "string"
                        },
                        "wind_string": {
                          "required": false,
                          "type": "string"
                        },
                        "wind_dir": {
                          "required": false,
                          "type": "string"
                        },
                        "wind_degrees": {
                          "required": false,
                          "type": "integer"
                        },
                        "wind_mph": {
                          "required": false,
                          "type": "number"
                        },
                        "wind_gust_mph": {
                          "required": false,
                          "type": "string"
                        },
                        "wind_kph": {
                          "required": false,
                          "type": "number"
                        },
                        "wind_gust_kph": {
                          "required": false,
                          "type": "string"
                        },
                        "pressure_mb": {
                          "required": false,
                          "type": "string"
                        },
                        "pressure_in": {
                          "required": false,
                          "type": "string"
                        },
                        "pressure_trend": {
                          "required": false,
                          "type": "string"
                        },
                        "dewpoint_string": {
                          "required": false,
                          "type": "string"
                        },
                        "dewpoint_f": {
                          "required": false,
                          "type": "integer"
                        },
                        "dewpoint_c": {
                          "required": false,
                          "type": "integer"
                        },
                        "heat_index_string": {
                          "required": false,
                          "type": "string"
                        },
                        "heat_index_f": {
                          "required": false,
                          "type": "string"
                        },
                        "heat_index_c": {
                          "required": false,
                          "type": "string"
                        },
                        "windchill_string": {
                          "required": false,
                          "type": "string"
                        },
                        "windchill_f": {
                          "required": false,
                          "type": "string"
                        },
                        "windchill_c": {
                          "required": false,
                          "type": "string"
                        },
                        "feelslike_string": {
                          "required": false,
                          "type": "string"
                        },
                        "feelslike_f": {
                          "required": false,
                          "type": "string"
                        },
                        "feelslike_c": {
                          "required": false,
                          "type": "string"
                        },
                        "visibility_mi": {
                          "required": false,
                          "type": "string"
                        },
                        "visibility_km": {
                          "required": false,
                          "type": "string"
                        },
                        "solarradiation": {
                          "required": false,
                          "type": "string"
                        },
                        "UV": {
                          "required": false,
                          "type": "string"
                        },
                        "precip_1hr_string": {
                          "required": false,
                          "type": "string"
                        },
                        "precip_1hr_in": {
                          "required": false,
                          "type": "string"
                        },
                        "precip_1hr_metric": {
                          "required": false,
                          "type": "string"
                        },
                        "precip_today_string": {
                          "required": false,
                          "type": "string"
                        },
                        "precip_today_in": {
                          "required": false,
                          "type": "string"
                        },
                        "precip_today_metric": {
                          "required": false,
                          "type": "string"
                        },
                        "icon": {
                          "required": false,
                          "type": "string"
                        },
                        "icon_url": {
                          "required": false,
                          "type": "string"
                        },
                        "forecast_url": {
                          "required": false,
                          "type": "string"
                        },
                        "history_url": {
                          "required": false,
                          "type": "string"
                        },
                        "ob_url": {
                          "required": false,
                          "type": "string"
                        }
                      }
                    },
                    "currenthurricane": {
                      "required": false,
                      "type": "array",
                      "items": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "stormInfo": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "stormName": {
                                "required": false,
                                "type": "string"
                              },
                              "stormName_Nice": {
                                "required": false,
                                "type": "string"
                              },
                              "stormNumber": {
                                "required": false,
                                "type": "string"
                              }
                            }
                          },
                          "Current": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "lat": {
                                "required": false,
                                "type": "number"
                              },
                              "lon": {
                                "required": false,
                                "type": "number"
                              },
                              "SaffirSimpsonCategory": {
                                "required": false,
                                "type": "integer"
                              },
                              "Category": {
                                "required": false,
                                "type": "string"
                              },
                              "Time": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "hour": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "hour_padded": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "year": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mon": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mon_padded": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mon_abbrev": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mday": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mday_padded": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "yday": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "isdst": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "epoch": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "pretty": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "civil": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "month_name": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "month_name_abbrev": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_night": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_abbrev": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_unlang": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_night_unlang": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "ampm": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "TimeGMT": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "hour": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "hour_padded": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "year": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mon": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mon_padded": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mon_abbrev": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mday": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "mday_padded": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "yday": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "epoch": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "pretty": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "civil": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "month_name": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "month_name_abbrev": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_night": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_abbrev": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_unlang": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "weekday_name_night_unlang": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "ampm": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "WindSpeed": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "Kts": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Mph": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Kph": {
                                    "required": false,
                                    "type": "integer"
                                  }
                                }
                              },
                              "WindGust": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "Kts": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Mph": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Kph": {
                                    "required": false,
                                    "type": "integer"
                                  }
                                }
                              },
                              "Fspeed": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "Kts": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Mph": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "Kph": {
                                    "required": false,
                                    "type": "integer"
                                  }
                                }
                              },
                              "Movement": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "Text": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "Pressure": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "mb": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "inches": {
                                    "required": false,
                                    "type": "number"
                                  }
                                }
                              },
                              "WindQuadrants": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "comment": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_1": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_2": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_3": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_4": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "WindRadius": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "34": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "NE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SW": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "NW": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "50": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "NE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SW": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "NW": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "64": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "NE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SW": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "NW": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  }
                                }
                              },
                              "SeaQuadrants": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "comment": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_1": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_2": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_3": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "quad_4": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              },
                              "SeaRadius": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "12": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "NE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SE": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "SW": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "NW": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "forecast": {
                            "required": false,
                            "type": "array",
                            "items": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "ForecastHour": {
                                  "required": false,
                                  "type": "string"
                                },
                                "SaffirSimpsonCategory": {
                                  "required": false,
                                  "type": "integer"
                                },
                                "lat": {
                                  "required": false,
                                  "type": "number"
                                },
                                "lon": {
                                  "required": false,
                                  "type": "number"
                                },
                                "Category": {
                                  "required": false,
                                  "type": "string"
                                },
                                "Time": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "hour": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "hour_padded": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "year": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mon": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mon_padded": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mon_abbrev": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mday": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mday_padded": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "yday": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "isdst": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "epoch": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "pretty": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "civil": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "month_name": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "month_name_abbrev": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_night": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_abbrev": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_unlang": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_night_unlang": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "ampm": {
                                      "required": false,
                                      "type": "string"
                                    }
                                  }
                                },
                                "TimeGMT": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "hour": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "hour_padded": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "year": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mon": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mon_padded": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mon_abbrev": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mday": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "mday_padded": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "yday": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "epoch": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "pretty": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "civil": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "month_name": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "month_name_abbrev": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_night": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_abbrev": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_unlang": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "weekday_name_night_unlang": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "ampm": {
                                      "required": false,
                                      "type": "string"
                                    }
                                  }
                                },
                                "WindSpeed": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "Kts": {
                                      "required": false,
                                      "type": "integer"
                                    },
                                    "Mph": {
                                      "required": false,
                                      "type": "integer"
                                    },
                                    "Kph": {
                                      "required": false,
                                      "type": "integer"
                                    }
                                  }
                                },
                                "WindGust": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "Kts": {
                                      "required": false,
                                      "type": "integer"
                                    },
                                    "Mph": {
                                      "required": false,
                                      "type": "integer"
                                    },
                                    "Kph": {
                                      "required": false,
                                      "type": "integer"
                                    }
                                  }
                                },
                                "WindQuadrants": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "comment": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "quad_1": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "quad_2": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "quad_3": {
                                      "required": false,
                                      "type": "string"
                                    },
                                    "quad_4": {
                                      "required": false,
                                      "type": "string"
                                    }
                                  }
                                },
                                "WindRadius": {
                                  "required": false,
                                  "type": "object",
                                  "properties": {
                                    "34": {
                                      "required": false,
                                      "type": "object",
                                      "properties": {
                                        "NE": {
                                          "required": false,
                                          "type": "integer"
                                        },
                                        "SE": {
                                          "required": false,
                                          "type": "integer"
                                        },
                                        "SW": {
                                          "required": false,
                                          "type": "integer"
                                        },
                                        "NW": {
                                          "required": false,
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "50": {
                                      "required": false,
                                      "type": "object",
                                      "properties": {
                                        "NE": {
                                          "required": false,
                                          "type": "integer"
                                        },
                                        "SE": {
                                          "required": false,
                                          "type": "integer"
                                        },
                                        "SW": {
                                          "required": false,
                                          "type": "integer"
                                        },
                                        "NW": {
                                          "required": false,
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "64": {
                                      "required": false,
                                      "type": "object",
                                      "properties": {
                                        "NE": {
                                          "required": false,
                                          "type": "null"
                                        },
                                        "SE": {
                                          "required": false,
                                          "type": "null"
                                        },
                                        "SW": {
                                          "required": false,
                                          "type": "null"
                                        },
                                        "NW": {
                                          "required": false,
                                          "type": "null"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "ExtendedForecast": {
                            "required": false,
                            "type": "array",
                            "items": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "ForecastHour": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "track": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      }
                    },
                    "forecast": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "txt_forecast": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "date": {
                              "required": false,
                              "type": "string"
                            },
                            "forecastday": {
                              "required": false,
                              "type": "array",
                              "items": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "period": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "icon": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "icon_url": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "title": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "fcttext": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "fcttext_metric": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "pop": {
                                    "required": false,
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "simpleforecast": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "forecastday": {
                              "required": false,
                              "type": "array",
                              "items": {
                                "required": false,
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "epoch": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "pretty": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "day": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "month": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "year": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "yday": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "hour": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "min": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "sec": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "isdst": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "monthname": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "weekday_short": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "weekday": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "ampm": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "tz_short": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "tz_long": {
                                        "required": false,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "period": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "high": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "fahrenheit": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "celsius": {
                                        "required": false,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "low": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "fahrenheit": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "celsius": {
                                        "required": false,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "conditions": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "icon": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "icon_url": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "skyicon": {
                                    "required": false,
                                    "type": "string"
                                  },
                                  "pop": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "qpf_allday": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "in": {
                                        "required": false,
                                        "type": "number"
                                      },
                                      "mm": {
                                        "required": false,
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "qpf_day": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "in": {
                                        "required": false,
                                        "type": "number"
                                      },
                                      "mm": {
                                        "required": false,
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "qpf_night": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "in": {
                                        "required": false,
                                        "type": "number"
                                      },
                                      "mm": {
                                        "required": false,
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "snow_allday": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "in": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "cm": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "snow_day": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "in": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "cm": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "snow_night": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "in": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "cm": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "maxwind": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "mph": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "kph": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "dir": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "degrees": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "avewind": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "mph": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "kph": {
                                        "required": false,
                                        "type": "integer"
                                      },
                                      "dir": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "degrees": {
                                        "required": false,
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "avehumidity": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "maxhumidity": {
                                    "required": false,
                                    "type": "integer"
                                  },
                                  "minhumidity": {
                                    "required": false,
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "location": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "type": {
                          "required": false,
                          "type": "string"
                        },
                        "country": {
                          "required": false,
                          "type": "string"
                        },
                        "country_iso3166": {
                          "required": false,
                          "type": "string"
                        },
                        "country_name": {
                          "required": false,
                          "type": "string"
                        },
                        "state": {
                          "required": false,
                          "type": "string"
                        },
                        "city": {
                          "required": false,
                          "type": "string"
                        },
                        "tz_short": {
                          "required": false,
                          "type": "string"
                        },
                        "tz_long": {
                          "required": false,
                          "type": "string"
                        },
                        "lat": {
                          "required": false,
                          "type": "string"
                        },
                        "lon": {
                          "required": false,
                          "type": "string"
                        },
                        "zip": {
                          "required": false,
                          "type": "string"
                        },
                        "magic": {
                          "required": false,
                          "type": "string"
                        },
                        "wmo": {
                          "required": false,
                          "type": "string"
                        },
                        "l": {
                          "required": false,
                          "type": "string"
                        },
                        "requesturl": {
                          "required": false,
                          "type": "string"
                        },
                        "wuiurl": {
                          "required": false,
                          "type": "string"
                        },
                        "nearby_weather_stations": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "airport": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "station": {
                                  "required": false,
                                  "type": "array",
                                  "items": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "city": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "state": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "country": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "icao": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "lat": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "lon": {
                                        "required": false,
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "pws": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "station": {
                                  "required": false,
                                  "type": "array",
                                  "items": {
                                    "required": false,
                                    "type": "object",
                                    "properties": {
                                      "neighborhood": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "city": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "state": {
                                        "required": false,
                                        "type": "string"
                                      },
                                      "country": {
                                        "required": false,
                                        "type": "string"
[...]
