{
  "swagger" : "2.0",
  "info" : {
    "version" : "v3",
    "title" : "Meetup"
  },
  "host" : "api.meetup.com",
  "basePath" : "",
  "schemes" : [ "https" ],
  "paths" : {
    "/2/categories" : {
      "get" : {
        "description" : "Returns a list of Meetup group categories. No required parameters",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting page for results to return",
          "required" : false,
          "type" : "integer",
          "minimum" : 0.0,
          "format" : "int64"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "You can select result fields by specifying only parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1.0,
          "format" : "int64"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Parameter for requesting optional response properties",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "omit",
          "in" : "query",
          "description" : "You can suppress result fields by specifying omit parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : true,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "|value|description|\n|-|\n|member|order by recommendations for authorized member (deprecated)|\n|shortname|(default order) ascending|\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desc",
          "in" : "query",
          "description" : "Reverses the sorting order, when you include the parameter \"desc=desc\" or \"desc=true\"",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|id|Numeric identifier of the category|\n|name|Display name of the category|\n|shortname|String identifier of the category|\n",
            "examples" : {
              "application/json" : "{\n  \"results\": [\n    {\n      \"id\": 0,\n      \"name\": \"name 0\",\n      \"shortname\": \"shortname 0\"\n    },\n    {\n      \"id\": 1,\n      \"name\": \"name 1\",\n      \"shortname\": \"shortname 1\"\n    }\n  ]\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/checkin" : {
      "post" : {
        "description" : "This method posts event checkins that can be retrieved by /2/checkins. Event attendees may check in themselves and others in the group.\n\n#Request Parameters\nAll of the required parameters must be supplied with the request, which must be a standard POST\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "event_id",
          "in" : "query",
          "description" : "Event we're checking in to",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "comment",
          "in" : "query",
          "description" : "Comment to attach to the checkin. When checking in someone else, this request parameter is ignored.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lon",
          "in" : "query",
          "description" : "Longitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "attendee_member_id",
          "in" : "query",
          "description" : "Supply this parameter only when the user is checking in someone else. The currently authenticated member will be recorded as the checker while the member referenced by this parameter will appear in the member_id and member_name response fields of the checkins method",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : true,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "lat",
          "in" : "query",
          "description" : "Latitude to search",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "When everything goes well, we'll send a 200 response code along with your data.\n\nJSON requests that specify a callback parameter are treated differently: the API always responds with an HTTP status of 200, so that a client browser will load the response and handle the callback. When an error occurs its corresponding status line is served in a \"status\" field of the error response object rather than in the response header.\n"
          },
          "201" : {
            "description" : "If successful, this method responds with a \"201 Created\" status and a json or XML body consisting of the posted checkin in the same fields as the response items of the Checkins method.\nErrors:\n|||\n|-|\n|badevent|The event id does not match a valid event|\n|nonmember|The authenticated member is not a member of the group hosting the event|\n",
            "examples" : {
              "application/json" : "{\n  \"checkin_id\": 100,\n  \"time\": 100,\n  \"lon\": 1.0,\n  \"group_id\": 100,\n  \"event_id\": 100,\n  \"member_name\": \"member_name\",\n  \"comment\": \"comment\",\n  \"lat\": 1.0,\n  \"checker\": {\n    \"member_state\": \"member_state\",\n    \"member_city\": \"member_city\",\n    \"name\": \"name\",\n    \"member_country\": \"member_country\",\n    \"member_id\": 100\n  },\n  \"member_id\": 100\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/checkins" : {
      "get" : {
        "description" : "There are three ways to use this method. In all cases you should use the 'event_id' parameter:\n1. Use 'since_count' with 'callback' or 'since_mtime' with 'callback'.\n2. Use 'since_count' or 'since_mtime'.\n3. Use 'group_id' or 'member_id' with or without 'order'.\n\n#1\nThis long-polling stream can be easily consumed using JavaScript in any modern browser. Checkin notifications are received when they happen, or as soon as your script finishes handling its last notification.\nCheckin notification objects include these properties. This method's response is an array of zero or more of these, while Meetup's JS client calls your callback function with exactly one object.\n#2\nThis method serves checkin notifications using chunked encoding to maintian a persistent connection with a client. The connection will only be terminiated for server maintenance or a connection error. It is suitable for low-level HTTP clients rather than web browsers.\nThis stream includes the same JSON notification objects as its long-polling counterpart. These are served one per HTTP chunk and terminated by newlines.\n#3\nThis method returns checkins for an event. To post checkins, see /2/checkin.\nFor private groups, the authenticated user must be a member to see checkins.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "member_id",
          "in" : "query",
          "description" : "Return comments for the given member_ids, separated by commas",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting page for results to return",
          "required" : false,
          "type" : "integer",
          "minimum" : 0.0,
          "format" : "int64"
        }, {
          "name" : "since_mtime",
          "in" : "query",
          "description" : "Should be supplied for all but the first polling request, so that any missed notifications are can be sent in an immediate response. IF YOU USE THE 'callback' QUERY PARAMETER, then... Return recent messages with an mtime greater then the supplied time, in millisends since the epoch",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "event_id",
          "in" : "query",
          "description" : "Limit notifications to a specific event id. Use alphanumeric ids for repeating events. USED IN ALL THREE WAYS TO MAKE THIS REQUEST.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Return comments in groups with these ID numbers, separated by commas",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "You can select result fields by specifying only parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Name of a function to be called with an array of notification objects. If this parameter is not supplied, the chunked stream is joined instead.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "since_count",
          "in" : "query",
          "description" : "Request that some number of recent messages be sent immediately, if available. May not be specified in the same request as since_mtime.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1.0,
          "format" : "int64"
        }, {
          "name" : "omit",
          "in" : "query",
          "description" : "You can suppress result fields by specifying omit parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : true,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "|value|description|\n|-|\n|name|the name of the member|\n|time|the date and time of the checkin|\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desc",
          "in" : "query",
          "description" : "Reverses the sorting order, when you include the parameter \"desc=desc\" or \"desc=true\"",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|checker|Member who performed the checkin, if not the same as the one who checked in|\n|checkin_id|ID of the checkin|\n|event_id|event checked into|\n|lat|Latitude, if provided|\n|lon|Longitude, if provided|\n|member|Member who is checked in|\n|time|checkin time in milliseconds since the epoch|\n\n#3\nErrors:\n|||\n|-|\n|connection_limit|the client IP has exceeded its maximum number of connections|\n  \n#2\nErrors:\n|||\n|-|\n|connection_limit|the client IP has exceeded its maximum number of connections|\n  \n#3\n|||\n|-|\n|checker|Member who performed the checkin, if not the same as the one who checked in|\n|checkin_id|Unique identifier for this checkin|\n|comment|Text of the checkin comment if one was supplied|\n|event_id|String ID of the event checked into|\n|group_id|Group ID of the event|\n|lat|Latitude reported, if any. Hidden from non-members of the group if the venue is hidden from non-members.|\n|lon|Longitude reported, if any. Hidden from non-members of the group if the venue is hidden from non-members.|\n|member_id|Member who checked in|\n|member_name|Name of the member who checked in|\n|time|The time and date of the checkin, in milliseconds since the epoch|\n",
            "examples" : {
              "application/json" : "{\n  \"results\": [\n    {\n      \"checkin_id\": 0,\n      \"time\": 0,\n      \"lon\": 1.0,\n      \"group_id\": 0,\n      \"event_id\": 0,\n      \"member_name\": \"member_name 0\",\n      \"comment\": \"comment 0\",\n      \"lat\": 1.0,\n      \"checker\": {\n        \"member_state\": \"member_state 0\",\n        \"member_city\": \"member_city 0\",\n        \"name\": \"name 0\",\n        \"member_country\": \"member_country 0\",\n        \"member_id\": 0\n      },\n      \"member_id\": 0\n    },\n    {\n      \"checkin_id\": 1,\n      \"time\": 1,\n      \"lon\": 1.0,\n      \"group_id\": 1,\n      \"event_id\": 1,\n      \"member_name\": \"member_name 1\",\n      \"comment\": \"comment 1\",\n      \"lat\": 1.0,\n      \"checker\": {\n        \"member_state\": \"member_state 1\",\n        \"member_city\": \"member_city 1\",\n        \"name\": \"name 1\",\n        \"member_country\": \"member_country 1\",\n        \"member_id\": 1\n      },\n      \"member_id\": 1\n    }\n  ]\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/cities" : {
      "get" : {
        "description" : "Returns Meetup cities. Can search by location, by query term/zip, or by both. Location-only searches return all cities within a radius of the provided coordinates. Searches with a query return up to 10 cities matching the term, and can be sorted by size or distance to a given coordinate. 'smart' ordering can be used to return the match(es) with the highest member_count, unless a smaller size match exists nearby the given coordinates.\n\n#Request Parameters\nThis method requires no authentication but is subject to request limiting based on client IP . This search is location based. A lat and lon must be supplied together or a query or the search will be based on your geolocated ip\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting page for results to return",
          "required" : false,
          "type" : "integer",
          "minimum" : 0.0,
          "format" : "int64"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Search term and/or zip to look for (if this is specified, max result size limited to 10)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "You can select result fields by specifying only parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lon",
          "in" : "query",
          "description" : "Longitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1.0,
          "format" : "int64"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "When searching by lat/lon only, specify a radius to search (default 50 miles)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "omit",
          "in" : "query",
          "description" : "You can suppress result fields by specifying omit parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : true,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "lat",
          "in" : "query",
          "description" : "Latitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "|value|description|\n|-|\n|distance|When lat/lon/query provided, sort matches by distance to coordinates|\n|size|(default order) number of members in the city: descending|\n|smart|Sort by size, but if a match is close to given lat/lon, float to top. Only works when query provided|\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desc",
          "in" : "query",
          "description" : "Reverses the sorting order, when you include the parameter \"desc=desc\" or \"desc=true\"",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|city|The name of the city|\n|country|The ISO_3166-1 country code for the country which contains the city|\n|distance|The distance away from the provided coordinates, if applicable|\n|id|Numeric identifier of the city|\n|lat|The latitude of the city|\n|lon|The longitude of the city|\n|member_count|The number of Meetup members in the city|\n|name_string|The full name of the city, as returned by query search, if applicable|\n|ranking|Indicates the best-match ranking of this result|\n|state|The state which contains the city, if applicable|\n|zip|The zip code of the city. For cities in countries without zipcodes, a placeholder will be returned|\n",
            "examples" : {
              "application/json" : "{\n  \"results\": [\n    {\n      \"id\": 0,\n      \"zip\": \"zip 0\",\n      \"lon\": 1.0,\n      \"distance\": 1.0,\n      \"member_count\": 0,\n      \"name_string\": \"name_string 0\",\n      \"state\": 0,\n      \"ranking\": \"ranking 0\",\n      \"lat\": 1.0,\n      \"country\": \"country 0\",\n      \"city\": \"city 0\"\n    },\n    {\n      \"id\": 1,\n      \"zip\": \"zip 1\",\n      \"lon\": 1.0,\n      \"distance\": 1.0,\n      \"member_count\": 1,\n      \"name_string\": \"name_string 1\",\n      \"state\": 1,\n      \"ranking\": \"ranking 1\",\n      \"lat\": 1.0,\n      \"country\": \"country 1\",\n      \"city\": \"city 1\"\n    }\n  ]\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/concierge" : {
      "get" : {
        "description" : "Recommends upcoming meetups for the authorized member.\n\n#Request Parameters\nFor geo-based requests, you may provide a location in one of three ways. By lat and lon, by zip, or by country, city, and optionally a state, if the provided country has states.\n\nIf the server is unable to produce recommendations in a suitable amount of time, a 503 error will be returned. If no parameters are specified, Meetups are recommended for the upcoming week in the member's default location.\n\nPagination works a little differently in this method than in others. Rather than using \"offset\" and \"page\" request parameters, this method uses an opaque \"page_token\" request parameter to determine the page of results returned. If there are more results, the \"next\" property of the meta section of the response will contain the next page's page_token. The number of results returned is not deterministic but a best-effort attempt will be made to return at least some.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "zip",
          "in" : "query",
          "description" : "A valid US zip code, limits the returned groups to those within radius miles",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "A valid country code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "A valid city",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lon",
          "in" : "query",
          "description" : "Longitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "text_format",
          "in" : "query",
          "description" : "Format of the description text, \"html\", \"plain\", or \"simplehtml\". Defaults to \"html\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "category_id",
          "in" : "query",
          "description" : "Comma delimited list of category ids to limit recommendations to",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "An opaque string used to page through results. This can be found appended to the 'next' link in the meta section of the response.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "If searching in a country with states, a valid 2 character state code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "Return events scheduled within the given time range, defined by two times separated with a single comma. Each end of the range may be specified with relative dates, such as \"1m\" for one month from now, or by absolute time in milliseconds since the epoch. If an endpoint is omitted, the range is unbounded on that end. The default value is unbounded on both ends (though restricted to the search window described above). Note: to retrieve past events you must also update status value\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "topic_id",
          "in" : "query",
          "description" : "Comma delimited list of topics to help inform recommendation",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Request that additional fields (separated by commas) be included in the output",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "Radius, in miles for geographic requests, defaults to the member's preferred radius or 0.5 -- maximum 100. May also be specified as \"smart\", a dynamic radius based on the number of active groups in the area\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "self_groups",
          "in" : "query",
          "description" : "set to \"include\" or \"exclude\" meetups the authorized member belongs to; default is \"include\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "lat",
          "in" : "query",
          "description" : "Latitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "|value|description|\n|-|\n|time|ascending time is the default and only ordering|\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|announced|Organizers and hosts can see if the event was announced|\n|comment_count|Optional field, number of comments posted to the event|\n|created|UTC creation time of the event, in milliseconds since the epoch|\n|description|Description of the event|\n|distance|Distance in miles from the search location, if one was specified|\n|duration|Event duration in milliseconds, if an end time is specified by the organizer. When not present, a default of 3 hours may be assumed by applications.|\n|email_reminders|Optional fields parameter limited to organizers and event hosts, if false, event reminders are disabled|\n|event_hosts|List of members hosting the event, only returned if requested in the fields parameter.|\n|event_url|URL of the event's page on meetup.com|\n|featured|Optional fields parameter which returns \"true\" if the event is featured and \"false\" otherwise|\n|fee|Fee info returned when payment is defined|\n|group|Group that is hosting the event|\n|headcount|The number of members in attendance according to the attendance taker. This may be 0 if attendance has not yet been taken|\n|how_to_find_us|The information provided by the event host for \"How will members find you there?\"|\n|id|The event id. May be numeric or alphanumeric, always served as a string|\n|is_simplehtml|Optional field, \"true\" when the event has been saved in a simplified HTML format, \"false\" otherwise.|\n|maybe_rsvp_count|Number of maybe RSVPs including guests|\n|name|The name of the event|\n|photo_album_id|optional fields parameter which returns the ID of the photo album for this event, if one exists|\n|photo_count|Optional field, number of photos posted to the event|\n|photo_url|URL of the event photo, if one exists|\n|publish_status|\"published\" or \"draft\" only visible to organizers|\n|rating|Only past events have this field, an aggregate of anonymous ratings|\n|rsvp_alerts|Optional fields parameter limited to organizers and event hosts, if false, member RSVP alerts are disabled|\n|rsvp_limit|The number of \"yes\" RSVPs an event can have before members will be added to the waiting list|\n|rsvp_rules|Conditions set by the organizer, only returned if requested in the fields parameter.|\n|rsvpable|Indicates if the currently authenticated member can RSVP or not, only returned if requested in the fields parameter|\n|self|Optional field with details particular to the authorized user, only present if requested and user is a member of the hosting group|\n|short_link|Optional field. If hosting group is private, this will return the group's short_link|\n|simple_html_description|Optional field, description of the event in simple HTML format.|\n|status|\"cancelled\", \"upcoming\", \"past\", \"proposed\", \"suggested\" or \"draft\"|\n|survey_questions|Optional \"fields\" response property for event with surveys|\n|time|UTC start time of the event, in milliseconds since the epoch|\n|timezone|Returned when \"timezone\" is provided in fields parameter. This represents the universal timezone identifier for the host group|\n|trending_rank|Indicates the trending rank within the current result set. The best rank is zero, increasing rank values are less \"trending\". This value is only returned if requested in the fields parameter|\n|updated|UTC last modified time of the event, in milliseconds since the epoch|\n|utc_offset|The local offset from UTC time, in milliseconds|\n|venue|Venue, if selected and not hidden|\n|venue_visibility|Set to \"members\" or \"public\". The \"venue\" element will not be present if the visibility is \"members\" and the current authenticated user is not a member of the group hosting the event. This value is only returned if requested in the fields parameter|\n|visibility|Event visibility: \"public\", \"members\" or \"public_limited\". Events in private groups that do not expose limited information are visible only to that group's members and should not be made public.|\n|why|We should do this because...|\n|yes_rsvp_count|Number of yes RSVPs including guests|\n",
            "examples" : {
              "application/json" : "{\n  \"results\": [\n    {\n      \"visibility\": \"visibility 0\",\n      \"is_simplehtml\": \"is_simplehtml 0\",\n      \"self\": {\n        \"checked_in\": \"checked_in 0\",\n        \"watching\": \"watching 0\",\n        \"rsvp\": {\n          \"response\": \"response 0\",\n          \"guests\": \"guests 0\",\n          \"answers\": \"answers 0\"\n        },\n        \"role\": \"role 0\",\n        \"rated\": 0,\n        \"actions\": \"actions 0\",\n        \"pay_status\": \"pay_status 0\"\n      },\n      \"featured\": \"featured 0\",\n      \"rsvpable\": \"rsvpable 0\",\n      \"publish_status\": \"publish_status 0\",\n      \"email_reminders\": \"email_reminders 0\",\n      \"rsvp_rules\": {\n        \"open_time\": \"open_time 0\",\n        \"waitlisting\": \"waitlisting 0\",\n        \"close_time\": \"close_time 0\",\n        \"guest_limit\": \"guest_limit 0\",\n        \"closed\": \"closed 0\",\n        \"refund_policy\": {\n          \"days\": \"days 0\",\n          \"notes\": 0,\n          \"policies\": \"policies 0\"\n        }\n      },\n      \"id\": 0,\n      \"timezone\": \"timezone 0\",\n      \"time\": 0,\n      \"distance\": 1.0,\n      \"venue_visibility\": \"venue_visibility 0\",\n      \"yes_rsvp_count\": 0,\n      \"updated\": 0,\n      \"created\": 0,\n      \"description\": \"description 0\",\n      \"survey_questions\": {\n        \"id\": 0,\n        \"question\": \"question 0\",\n        \"required\": \"required 0\"\n      },\n      \"headcount\": \"headcount 0\",\n      \"name\": \"name 0\",\n      \"photo_album_id\": 0,\n      \"rsvp_alerts\": \"rsvp_alerts 0\",\n      \"photo_count\": 0,\n      \"comment_count\": 0,\n      \"rsvp_limit\": \"rsvp_limit 0\",\n      \"trending_rank\": \"trending_rank 0\",\n      \"status\": \"status 0\",\n      \"maybe_rsvp_count\": 0,\n      \"photo_url\": \"photo_url 0\",\n      \"venue\": {\n        \"id\": 0,\n        \"zip\": \"zip 0\",\n        \"phone\": 0,\n        \"lon\": 1.0,\n        \"repinned\": \"repinned 0\",\n        \"address_3\": \"address_3 0\",\n        \"name\": \"name 0\",\n        \"state\": 0,\n        \"address_1\": \"address_1 0\",\n        \"address_2\": \"address_2 0\",\n        \"lat\": 1.0,\n        \"country\": \"country 0\",\n        \"city\": \"city 0\"\n      },\n      \"short_link\": \"short_link 0\",\n      \"event_hosts\": {\n        \"member_name\": \"member_name 0\",\n        \"member_id\": 0\n      },\n      \"utc_offset\": 0,\n      \"fee\": {\n        \"amount\": \"amount 0\",\n        \"description\": \"description 0\",\n        \"label\": 0,\n        \"required\": \"required 0\",\n        \"accepts\": \"accepts 0\",\n        \"currency\": \"currency 0\"\n      },\n      \"duration\": 0,\n      \"announced\": \"announced 0\",\n      \"event_url\": \"event_url 0\",\n      \"how_to_find_us\": \"how_to_find_us 0\",\n      \"rating\": {\n        \"count\": 0,\n        \"average\": \"average 0\"\n      },\n      \"group\": {\n        \"id\": 0,\n        \"topics\": {\n          \"id\": 0,\n          \"urlkey\": \"urlkey 0\",\n          \"name\": \"name 0\"\n        },\n        \"category\": {\n          \"id\": 0,\n          \"name\": \"name 0\",\n          \"shortname\": \"shortname 0\"\n        },\n        \"group_photo\": {\n          \"photo_link\": \"photo_link 0\",\n          \"highres_link\": \"highres_link 0\",\n          \"thumb_link\": \"thumb_link 0\",\n          \"photo_id\": 0\n        },\n        \"group_lat\": \"group_lat 0\",\n        \"name\": \"name 0\",\n        \"group_lon\": \"group_lon 0\",\n        \"membership_dues\": {\n          \"methods\": \"methods 0\",\n          \"fee\": \"fee 0\",\n          \"required\": \"required 0\",\n          \"fee_desc\": \"fee_desc 0\",\n          \"refund_policy\": \"refund_policy 0\",\n          \"currency\": \"currency 0\"\n        },\n        \"join_mode\": \"join_mode 0\",\n        \"urlname\": \"urlname 0\",\n        \"who\": \"who 0\"\n      },\n      \"simple_html_description\": \"simple_html_description 0\",\n      \"why\": \"why 0\"\n    },\n    {\n      \"visibility\": \"visibility 1\",\n      \"is_simplehtml\": \"is_simplehtml 1\",\n      \"self\": {\n        \"checked_in\": \"checked_in 1\",\n        \"watching\": \"watching 1\",\n        \"rsvp\": {\n          \"response\": \"response 1\",\n          \"guests\": \"guests 1\",\n          \"answers\": \"answers 1\"\n        },\n        \"role\": \"role 1\",\n        \"rated\": 1,\n        \"actions\": \"actions 1\",\n        \"pay_status\": \"pay_status 1\"\n      },\n      \"featured\": \"featured 1\",\n      \"rsvpable\": \"rsvpable 1\",\n      \"publish_status\": \"publish_status 1\",\n      \"email_reminders\": \"email_reminders 1\",\n      \"rsvp_rules\": {\n        \"open_time\": \"open_time 1\",\n        \"waitlisting\": \"waitlisting 1\",\n        \"close_time\": \"close_time 1\",\n        \"guest_limit\": \"guest_limit 1\",\n        \"closed\": \"closed 1\",\n        \"refund_policy\": {\n          \"days\": \"days 1\",\n          \"notes\": 1,\n          \"policies\": \"policies 1\"\n        }\n      },\n      \"id\": 1,\n      \"timezone\": \"timezone 1\",\n      \"time\": 1,\n      \"distance\": 1.0,\n      \"venue_visibility\": \"venue_visibility 1\",\n      \"yes_rsvp_count\": 1,\n      \"updated\": 1,\n      \"created\": 1,\n      \"description\": \"description 1\",\n      \"survey_questions\": {\n        \"id\": 1,\n        \"question\": \"question 1\",\n        \"required\": \"required 1\"\n      },\n      \"headcount\": \"headcount 1\",\n      \"name\": \"name 1\",\n      \"photo_album_id\": 1,\n      \"rsvp_alerts\": \"rsvp_alerts 1\",\n      \"photo_count\": 1,\n      \"comment_count\": 1,\n      \"rsvp_limit\": \"rsvp_limit 1\",\n      \"trending_rank\": \"trending_rank 1\",\n      \"status\": \"status 1\",\n      \"maybe_rsvp_count\": 1,\n      \"photo_url\": \"photo_url 1\",\n      \"venue\": {\n        \"id\": 1,\n        \"zip\": \"zip 1\",\n        \"phone\": 1,\n        \"lon\": 1.0,\n        \"repinned\": \"repinned 1\",\n        \"address_3\": \"address_3 1\",\n        \"name\": \"name 1\",\n        \"state\": 1,\n        \"address_1\": \"address_1 1\",\n        \"address_2\": \"address_2 1\",\n        \"lat\": 1.0,\n        \"country\": \"country 1\",\n        \"city\": \"city 1\"\n      },\n      \"short_link\": \"short_link 1\",\n      \"event_hosts\": {\n        \"member_name\": \"member_name 1\",\n        \"member_id\": 1\n      },\n      \"utc_offset\": 1,\n      \"fee\": {\n        \"amount\": \"amount 1\",\n        \"description\": \"description 1\",\n        \"label\": 1,\n        \"required\": \"required 1\",\n        \"accepts\": \"accepts 1\",\n        \"currency\": \"currency 1\"\n      },\n      \"duration\": 1,\n      \"announced\": \"announced 1\",\n      \"event_url\": \"event_url 1\",\n      \"how_to_find_us\": \"how_to_find_us 1\",\n      \"rating\": {\n        \"count\": 1,\n        \"average\": \"average 1\"\n      },\n      \"group\": {\n        \"id\": 1,\n        \"topics\": {\n          \"id\": 1,\n          \"urlkey\": \"urlkey 1\",\n          \"name\": \"name 1\"\n        },\n        \"category\": {\n          \"id\": 1,\n          \"name\": \"name 1\",\n          \"shortname\": \"shortname 1\"\n        },\n        \"group_photo\": {\n          \"photo_link\": \"photo_link 1\",\n          \"highres_link\": \"highres_link 1\",\n          \"thumb_link\": \"thumb_link 1\",\n          \"photo_id\": 1\n        },\n        \"group_lat\": \"group_lat 1\",\n        \"name\": \"name 1\",\n        \"group_lon\": \"group_lon 1\",\n        \"membership_dues\": {\n          \"methods\": \"methods 1\",\n          \"fee\": \"fee 1\",\n          \"required\": \"required 1\",\n          \"fee_desc\": \"fee_desc 1\",\n          \"refund_policy\": \"refund_policy 1\",\n          \"currency\": \"currency 1\"\n        },\n        \"join_mode\": \"join_mode 1\",\n        \"urlname\": \"urlname 1\",\n        \"who\": \"who 1\"\n      },\n      \"simple_html_description\": \"simple_html_description 1\",\n      \"why\": \"why 1\"\n    }\n  ]\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/event" : {
      "post" : {
        "description" : "Event Create\n\n#Request Parameters\nAll required parameters must be supplied. This method requires an HTTP POST.\n\nSurvey questions may be submitted in the format \"question_{index}=questiontext\" where \"index\" is an integer representing the order the questions should be presented in. e.g. question_0=question1&question_1=question2.\n\nOrganizers of the hosting group may optionally save this event as a draft by setting \"publish_status\" to \"draft\". Drafts are then queryable using the /2/events API setting the \"status\" request parameter to \"draft\"\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "rsvp_alerts",
          "in" : "query",
          "description" : "Limited to organizers and event hosts, if false, disables member RSVP alerts",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email_reminders",
          "in" : "query",
          "description" : "Limited to organizers and event hosts, if false, disables event reminders",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsvp_limit",
          "in" : "query",
          "description" : "Total number of RSVPs available for the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsvp_open",
          "in" : "query",
          "description" : "Users with permission may set the RSVP open time for the event. The time may be specified in milliseconds since the epoch, or relative to the current time in the d/w/m format.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "venue_visibility",
          "in" : "query",
          "description" : "Controls the visibility of the event venue for non members of the hosting group. May be one of \"public\" or \"members\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "hosts",
          "in" : "query",
          "description" : "Up to 5 comma-separated valid member ids to be hosts for the event. If hosts is not provided, the authorized member is the default host",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "question_{index}",
          "in" : "query",
          "description" : "Those with permission may include up to 6 survey questions for the event. See the parameter notes section for more information",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Longer description of the event, in HTML.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "host_instructions",
          "in" : "query",
          "description" : "optional set of instructions to provide to hosts, only used when hosts are provided",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "why",
          "in" : "query",
          "description" : "We should do this because...",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "how_to_find_us",
          "in" : "query",
          "description" : "Extra tips for locating the venue",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsvp_close",
          "in" : "query",
          "description" : "Users with permission may set the RSVP close time for the event. The time may be specified in milliseconds since the epoch, or relative to the current time in the d/w/m format.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group_urlname",
          "in" : "query",
          "description" : "URL name of the Group hosting the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "duration",
          "in" : "query",
          "description" : "Event duration in milliseconds. When not specified, a default of 3 hours may be assumed by applications. To clear event duration, set this to 0",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Group hosting the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Name of the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "guest_limit",
          "in" : "query",
          "description" : "Number of guests members may include in their RSVP, 0 or more",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "waitlisting",
          "in" : "query",
          "description" : "Waiting list status may be one of: auto, manual, off\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simple_html_description",
          "in" : "query",
          "description" : "Description of the event, in simple HTML format. This value is translated to HTML to update the description.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "Event start time in milliseconds since the epoch, or relative to the current time in the d/w/m format.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "publish_status",
          "in" : "query",
          "description" : "If you are an organizer of the group, you may set this to \"draft\" to save the event as a draft. Doing so will require a status=draft filter on /2/event queries.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "venue_id",
          "in" : "query",
          "description" : "Numeric identifier of a venue",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n",
            "examples" : {
              "application/json" : "{\n  \"visibility\": \"visibility\",\n  \"is_simplehtml\": \"is_simplehtml\",\n  \"self\": {\n    \"checked_in\": \"checked_in\",\n    \"watching\": \"watching\",\n    \"rsvp\": {\n      \"response\": \"response\",\n      \"guests\": \"guests\",\n      \"answers\": \"answers\"\n    },\n    \"role\": \"role\",\n    \"rated\": 100,\n    \"actions\": \"actions\",\n    \"pay_status\": \"pay_status\"\n  },\n  \"featured\": \"featured\",\n  \"rsvpable\": \"rsvpable\",\n  \"publish_status\": \"publish_status\",\n  \"email_reminders\": \"email_reminders\",\n  \"rsvp_rules\": {\n    \"open_time\": \"open_time\",\n    \"waitlisting\": \"waitlisting\",\n    \"close_time\": \"close_time\",\n    \"guest_limit\": \"guest_limit\",\n    \"closed\": \"closed\",\n    \"refund_policy\": {\n      \"days\": \"days\",\n      \"notes\": 100,\n      \"policies\": \"policies\"\n    }\n  },\n  \"id\": 100,\n  \"timezone\": \"timezone\",\n  \"time\": 100,\n  \"distance\": 1.0,\n  \"venue_visibility\": \"venue_visibility\",\n  \"yes_rsvp_count\": 100,\n  \"updated\": 100,\n  \"created\": 100,\n  \"description\": \"description\",\n  \"survey_questions\": {\n    \"id\": 100,\n    \"question\": \"question\",\n    \"required\": \"required\"\n  },\n  \"headcount\": \"headcount\",\n  \"name\": \"name\",\n  \"photo_album_id\": 100,\n  \"rsvp_alerts\": \"rsvp_alerts\",\n  \"photo_count\": 100,\n  \"comment_count\": 100,\n  \"rsvp_limit\": \"rsvp_limit\",\n  \"trending_rank\": \"trending_rank\",\n  \"status\": \"status\",\n  \"maybe_rsvp_count\": 100,\n  \"photo_url\": \"photo_url\",\n  \"venue\": {\n    \"id\": 100,\n    \"zip\": \"zip\",\n    \"phone\": 100,\n    \"lon\": 1.0,\n    \"repinned\": \"repinned\",\n    \"address_3\": \"address_3\",\n    \"name\": \"name\",\n    \"state\": 100,\n    \"address_1\": \"address_1\",\n    \"address_2\": \"address_2\",\n    \"lat\": 1.0,\n    \"country\": \"country\",\n    \"city\": \"city\"\n  },\n  \"short_link\": \"short_link\",\n  \"event_hosts\": {\n    \"member_name\": \"member_name\",\n    \"member_id\": 100\n  },\n  \"utc_offset\": 100,\n  \"fee\": {\n    \"amount\": \"amount\",\n    \"description\": \"description\",\n    \"label\": 100,\n    \"required\": \"required\",\n    \"accepts\": \"accepts\",\n    \"currency\": \"currency\"\n  },\n  \"duration\": 100,\n  \"announced\": \"announced\",\n  \"event_url\": \"event_url\",\n  \"how_to_find_us\": \"how_to_find_us\",\n  \"rating\": {\n    \"count\": 100,\n    \"average\": \"average\"\n  },\n  \"group\": {\n    \"id\": 100,\n    \"topics\": {\n      \"id\": 100,\n      \"urlkey\": \"urlkey\",\n      \"name\": \"name\"\n    },\n    \"category\": {\n      \"id\": 100,\n      \"name\": \"name\",\n      \"shortname\": \"shortname\"\n    },\n    \"group_photo\": {\n      \"photo_link\": \"photo_link\",\n      \"highres_link\": \"highres_link\",\n      \"thumb_link\": \"thumb_link\",\n      \"photo_id\": 100\n    },\n    \"group_lat\": \"group_lat\",\n    \"name\": \"name\",\n    \"group_lon\": \"group_lon\",\n    \"membership_dues\": {\n      \"methods\": \"methods\",\n      \"fee\": \"fee\",\n      \"required\": \"required\",\n      \"fee_desc\": \"fee_desc\",\n      \"refund_policy\": \"refund_policy\",\n      \"currency\": \"currency\"\n    },\n    \"join_mode\": \"join_mode\",\n    \"urlname\": \"urlname\",\n    \"who\": \"who\"\n  },\n  \"simple_html_description\": \"simple_html_description\",\n  \"why\": \"why\"\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/event/{id}" : {
      "get" : {
        "description" : "Retrieve a single meetup\n\n#Request Parameters\nOnly authorization parameters are needed. Some groups, while remaining private, still wish to show some information about their events. You can include these events in results using the limited_events request parameter.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Request that additional fields (separated by commas) be included in the output.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limited_events",
          "in" : "query",
          "description" : "Include limited event information for private groups that wish to expose only a small amount of information about their events. This includes just: id, name, utc_offset, time, duration, yes_rsvp_count, waitlist_count, group, visibility. Value must be true or false.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|announced|Organizers and hosts can see if the event was announced|\n|comment_count|Optional field, number of comments posted to the event|\n|created|UTC creation time of the event, in milliseconds since the epoch|\n|description|Description of the event|\n|distance|Distance in miles from the search location, if one was specified|\n|duration|Event duration in milliseconds, if an end time is specified by the organizer. When not present, a default of 3 hours may be assumed by applications.|\n|email_reminders|Optional fields parameter limited to organizers and event hosts, if false, event reminders are disabled|\n|event_hosts|List of members hosting the event, only returned if requested in the fields parameter.|\n|event_url|URL of the event's page on meetup.com|\n|featured|Optional fields parameter which returns \"true\" if the event is featured and \"false\" otherwise|\n|fee|Fee info returned when payment is defined|\n|group|Group that is hosting the event|\n|headcount|The number of members in attendance according to the attendance taker. This may be 0 if attendance has not yet been taken|\n|how_to_find_us|The information provided by the event host for \"How will members find you there?\"|\n|id|The event id. May be numeric or alphanumeric, always served as a string|\n|is_simplehtml|Optional field, \"true\" when the event has been saved in a simplified HTML format, \"false\" otherwise.|\n|maybe_rsvp_count|Number of maybe RSVPs including guests|\n|name|The name of the event|\n|photo_album_id|optional fields parameter which returns the ID of the photo album for this event, if one exists|\n|photo_count|Optional field, number of photos posted to the event|\n|photo_url|URL of the event photo, if one exists|\n|publish_status|\"published\" or \"draft\" only visible to organizers|\n|rating|Only past events have this field, an aggregate of anonymous ratings|\n|rsvp_alerts|Optional fields parameter limited to organizers and event hosts, if false, member RSVP alerts are disabled|\n|rsvp_limit|The number of \"yes\" RSVPs an event can have before members will be added to the waiting list|\n|rsvp_rules|Conditions set by the organizer, only returned if requested in the fields parameter.|\n|rsvpable|Indicates if the currently authenticated member can RSVP or not, only returned if requested in the fields parameter|\n|self|Optional field with details particular to the authorized user, only present if requested and user is a member of the hosting group|\n|short_link|Optional field. If hosting group is private, this will return the group's short_link|\n|simple_html_description|Optional field, description of the event in simple HTML format.|\n|status|\"cancelled\", \"upcoming\", \"past\", \"proposed\", \"suggested\" or \"draft\"|\n|survey_questions|Optional \"fields\" response property for event with surveys|\n|time|UTC start time of the event, in milliseconds since the epoch|\n|timezone|Returned when \"timezone\" is provided in fields parameter. This represents the universal timezone identifier for the host group|\n|trending_rank|Indicates the trending rank within the current result set. The best rank is zero, increasing rank values are less \"trending\". This value is only returned if requested in the fields parameter|\n|updated|UTC last modified time of the event, in milliseconds since the epoch|\n|utc_offset|The local offset from UTC time, in milliseconds|\n|venue|Venue, if selected and not hidden|\n|venue_visibility|Set to \"members\" or \"public\". The \"venue\" element will not be present if the visibility is \"members\" and the current authenticated user is not a member of the group hosting the event. This value is only returned if requested in the fields parameter|\n|visibility|Event visibility: \"public\", \"members\" or \"public_limited\". Events in private groups that do not expose limited information are visible only to that group's members and should not be made public.|\n|why|We should do this because...|\n|yes_rsvp_count|Number of yes RSVPs including guests|\n",
            "examples" : {
              "application/json" : "{\n  \"visibility\": \"visibility\",\n  \"is_simplehtml\": \"is_simplehtml\",\n  \"self\": {\n    \"checked_in\": \"checked_in\",\n    \"watching\": \"watching\",\n    \"rsvp\": {\n      \"response\": \"response\",\n      \"guests\": \"guests\",\n      \"answers\": \"answers\"\n    },\n    \"role\": \"role\",\n    \"rated\": 100,\n    \"actions\": \"actions\",\n    \"pay_status\": \"pay_status\"\n  },\n  \"featured\": \"featured\",\n  \"rsvpable\": \"rsvpable\",\n  \"publish_status\": \"publish_status\",\n  \"email_reminders\": \"email_reminders\",\n  \"rsvp_rules\": {\n    \"open_time\": \"open_time\",\n    \"waitlisting\": \"waitlisting\",\n    \"close_time\": \"close_time\",\n    \"guest_limit\": \"guest_limit\",\n    \"closed\": \"closed\",\n    \"refund_policy\": {\n      \"days\": \"days\",\n      \"notes\": 100,\n      \"policies\": \"policies\"\n    }\n  },\n  \"id\": 100,\n  \"timezone\": \"timezone\",\n  \"time\": 100,\n  \"distance\": 1.0,\n  \"venue_visibility\": \"venue_visibility\",\n  \"yes_rsvp_count\": 100,\n  \"updated\": 100,\n  \"created\": 100,\n  \"description\": \"description\",\n  \"survey_questions\": {\n    \"id\": 100,\n    \"question\": \"question\",\n    \"required\": \"required\"\n  },\n  \"headcount\": \"headcount\",\n  \"name\": \"name\",\n  \"photo_album_id\": 100,\n  \"rsvp_alerts\": \"rsvp_alerts\",\n  \"photo_count\": 100,\n  \"comment_count\": 100,\n  \"rsvp_limit\": \"rsvp_limit\",\n  \"trending_rank\": \"trending_rank\",\n  \"status\": \"status\",\n  \"maybe_rsvp_count\": 100,\n  \"photo_url\": \"photo_url\",\n  \"venue\": {\n    \"id\": 100,\n    \"zip\": \"zip\",\n    \"phone\": 100,\n    \"lon\": 1.0,\n    \"repinned\": \"repinned\",\n    \"address_3\": \"address_3\",\n    \"name\": \"name\",\n    \"state\": 100,\n    \"address_1\": \"address_1\",\n    \"address_2\": \"address_2\",\n    \"lat\": 1.0,\n    \"country\": \"country\",\n    \"city\": \"city\"\n  },\n  \"short_link\": \"short_link\",\n  \"event_hosts\": {\n    \"member_name\": \"member_name\",\n    \"member_id\": 100\n  },\n  \"utc_offset\": 100,\n  \"fee\": {\n    \"amount\": \"amount\",\n    \"description\": \"description\",\n    \"label\": 100,\n    \"required\": \"required\",\n    \"accepts\": \"accepts\",\n    \"currency\": \"currency\"\n  },\n  \"duration\": 100,\n  \"announced\": \"announced\",\n  \"event_url\": \"event_url\",\n  \"how_to_find_us\": \"how_to_find_us\",\n  \"rating\": {\n    \"count\": 100,\n    \"average\": \"average\"\n  },\n  \"group\": {\n    \"id\": 100,\n    \"topics\": {\n      \"id\": 100,\n      \"urlkey\": \"urlkey\",\n      \"name\": \"name\"\n    },\n    \"category\": {\n      \"id\": 100,\n      \"name\": \"name\",\n      \"shortname\": \"shortname\"\n    },\n    \"group_photo\": {\n      \"photo_link\": \"photo_link\",\n      \"highres_link\": \"highres_link\",\n      \"thumb_link\": \"thumb_link\",\n      \"photo_id\": 100\n    },\n    \"group_lat\": \"group_lat\",\n    \"name\": \"name\",\n    \"group_lon\": \"group_lon\",\n    \"membership_dues\": {\n      \"methods\": \"methods\",\n      \"fee\": \"fee\",\n      \"required\": \"required\",\n      \"fee_desc\": \"fee_desc\",\n      \"refund_policy\": \"refund_policy\",\n      \"currency\": \"currency\"\n    },\n    \"join_mode\": \"join_mode\",\n    \"urlname\": \"urlname\",\n    \"who\": \"who\"\n  },\n  \"simple_html_description\": \"simple_html_description\",\n  \"why\": \"why\"\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "post" : {
        "description" : "Update an existing Meetup.\n\n#Request Parameters\nAll parameters are optional. This method requires an HTTP POST.\n\nIf a lat & lon are provided, the event's venue will be updated accordingly.\n\nSurvey questions may be submitted in the format \"question_{index}=questiontext\" where \"index\" is an integer representing the order the questions should be presented in. e.g. question_0=question1&question_1=question2.\n\nTo view existing survey questions supply the request parameter fields=survey_questions with the Event Get To edit questions you may submit questions in the format \"question_edit_{id}=updatedquestion\" where id is the id of the question. To clear an existing question for the event survey, just submit question_edit_{id} with an empty value.\n\nOrganizers may publish a draft event by posting with the \"publish_status\" request parameter set to \"published\". Organizers and hosts of the event may also optionally announce an unannounced event by posting with the \"announce\" request parameter set to \"true\"\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "rsvp_limit",
          "in" : "query",
          "description" : "Total number of RSVPs available for the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsvp_open",
          "in" : "query",
          "description" : "Users with permission may set the RSVP open time for the event. The time may be specified in milliseconds since the epoch, or relative to the current time in the d/w/m format.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "venue_visibility",
          "in" : "query",
          "description" : "Controls the visibility of the event venue for non members of the hosting group. May be one of \"public\" or \"members\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Longer description of the event, in HTML.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "host_instructions",
          "in" : "query",
          "description" : "optional set of instructions to provide to hosts, only used when hosts are provided",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "why",
          "in" : "query",
          "description" : "We should do this because...",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lon",
          "in" : "query",
          "description" : "Longitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsvp_close",
          "in" : "query",
          "description" : "Users with permission may set the RSVP close time for the event. The time may be specified in milliseconds since the epoch, or relative to the current time in the d/w/m format.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "announce_message",
          "in" : "query",
          "description" : "Organizers and hosts may provide an optional message in this field when announcing a Meetup",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "guest_limit",
          "in" : "query",
          "description" : "Number of guests members may include in their RSVP, 0 or more",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "question_edit_{id}",
          "in" : "query",
          "description" : "Those with permission may include up to 6 survey questions, including new questions. To delete a question submit this parameter with an empty value",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simple_html_description",
          "in" : "query",
          "description" : "Description of the event, in simple HTML format. This value is translated to HTML to update the description.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lat",
          "in" : "query",
          "description" : "Latitude to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "publish_status",
          "in" : "query",
          "description" : "If you are an organizer of the group, you may set this to \"draft\" to save the event as a draft. Doing so will require a status=draft filter on /2/event queries.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "venue_id",
          "in" : "query",
          "description" : "Numeric identifier of a venue",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsvp_alerts",
          "in" : "query",
          "description" : "Limited to organizers and event hosts, if false, disables member RSVP alerts",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email_reminders",
          "in" : "query",
          "description" : "Limited to organizers and event hosts, if false, disables event reminders",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "hosts",
          "in" : "query",
          "description" : "Up to 5 comma-separated valid member ids to be hosts for the event. If hosts is not provided, the authorized member is the default host",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "question_{index}",
          "in" : "query",
          "description" : "Those with permission may include up to 6 survey questions for the event. See the parameter notes section for more information",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "how_to_find_us",
          "in" : "query",
          "description" : "Extra tips for locating the venue",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "announce",
          "in" : "query",
          "description" : "Organizers and hosts may set this to true to announce a Meetup.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Group hosting the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Name of the event",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "waitlisting",
          "in" : "query",
          "description" : "Waiting list status may be one of: auto, manual, off\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "Event start time in milliseconds since the epoch, or relative to the current time in the d/w/m format.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n",
            "examples" : {
              "application/json" : "{\n  \"visibility\": \"visibility\",\n  \"is_simplehtml\": \"is_simplehtml\",\n  \"self\": {\n    \"checked_in\": \"checked_in\",\n    \"watching\": \"watching\",\n    \"rsvp\": {\n      \"response\": \"response\",\n      \"guests\": \"guests\",\n      \"answers\": \"answers\"\n    },\n    \"role\": \"role\",\n    \"rated\": 100,\n    \"actions\": \"actions\",\n    \"pay_status\": \"pay_status\"\n  },\n  \"featured\": \"featured\",\n  \"rsvpable\": \"rsvpable\",\n  \"publish_status\": \"publish_status\",\n  \"email_reminders\": \"email_reminders\",\n  \"rsvp_rules\": {\n    \"open_time\": \"open_time\",\n    \"waitlisting\": \"waitlisting\",\n    \"close_time\": \"close_time\",\n    \"guest_limit\": \"guest_limit\",\n    \"closed\": \"closed\",\n    \"refund_policy\": {\n      \"days\": \"days\",\n      \"notes\": 100,\n      \"policies\": \"policies\"\n    }\n  },\n  \"id\": 100,\n  \"timezone\": \"timezone\",\n  \"time\": 100,\n  \"distance\": 1.0,\n  \"venue_visibility\": \"venue_visibility\",\n  \"yes_rsvp_count\": 100,\n  \"updated\": 100,\n  \"created\": 100,\n  \"description\": \"description\",\n  \"survey_questions\": {\n    \"id\": 100,\n    \"question\": \"question\",\n    \"required\": \"required\"\n  },\n  \"headcount\": \"headcount\",\n  \"name\": \"name\",\n  \"photo_album_id\": 100,\n  \"rsvp_alerts\": \"rsvp_alerts\",\n  \"photo_count\": 100,\n  \"comment_count\": 100,\n  \"rsvp_limit\": \"rsvp_limit\",\n  \"trending_rank\": \"trending_rank\",\n  \"status\": \"status\",\n  \"maybe_rsvp_count\": 100,\n  \"photo_url\": \"photo_url\",\n  \"venue\": {\n    \"id\": 100,\n    \"zip\": \"zip\",\n    \"phone\": 100,\n    \"lon\": 1.0,\n    \"repinned\": \"repinned\",\n    \"address_3\": \"address_3\",\n    \"name\": \"name\",\n    \"state\": 100,\n    \"address_1\": \"address_1\",\n    \"address_2\": \"address_2\",\n    \"lat\": 1.0,\n    \"country\": \"country\",\n    \"city\": \"city\"\n  },\n  \"short_link\": \"short_link\",\n  \"event_hosts\": {\n    \"member_name\": \"member_name\",\n    \"member_id\": 100\n  },\n  \"utc_offset\": 100,\n  \"fee\": {\n    \"amount\": \"amount\",\n    \"description\": \"description\",\n    \"label\": 100,\n    \"required\": \"required\",\n    \"accepts\": \"accepts\",\n    \"currency\": \"currency\"\n  },\n  \"duration\": 100,\n  \"announced\": \"announced\",\n  \"event_url\": \"event_url\",\n  \"how_to_find_us\": \"how_to_find_us\",\n  \"rating\": {\n    \"count\": 100,\n    \"average\": \"average\"\n  },\n  \"group\": {\n    \"id\": 100,\n    \"topics\": {\n      \"id\": 100,\n      \"urlkey\": \"urlkey\",\n      \"name\": \"name\"\n    },\n    \"category\": {\n      \"id\": 100,\n      \"name\": \"name\",\n      \"shortname\": \"shortname\"\n    },\n    \"group_photo\": {\n      \"photo_link\": \"photo_link\",\n      \"highres_link\": \"highres_link\",\n      \"thumb_link\": \"thumb_link\",\n      \"photo_id\": 100\n    },\n    \"group_lat\": \"group_lat\",\n    \"name\": \"name\",\n    \"group_lon\": \"group_lon\",\n    \"membership_dues\": {\n      \"methods\": \"methods\",\n      \"fee\": \"fee\",\n      \"required\": \"required\",\n      \"fee_desc\": \"fee_desc\",\n      \"refund_policy\": \"refund_policy\",\n      \"currency\": \"currency\"\n    },\n    \"join_mode\": \"join_mode\",\n    \"urlname\": \"urlname\",\n    \"who\": \"who\"\n  },\n  \"simple_html_description\": \"simple_html_description\",\n  \"why\": \"why\"\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "description" : "Deletes a specified meetup\n\n#Request Parameters\nOnly authorization parameters are needed.\n",
        "schemes" : [ "http" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Returns an HTTP 200 response if delete was successful."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Returns an HTTP 401 response if unauthorized."
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : ":id is the event identifier",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/2/event_comment" : {
      "post" : {
        "description" : "This method posts messages that appear under \"Talk about this Meetup\".\n\n#Request Parameters\nAll of the required parameters must be supplied with the request, which must be an HTTP POST. The currently authenticated user must be a member of the group hosting the event\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "event_id",
          "in" : "query",
          "description" : "The event related to this comment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "comment",
          "in" : "query",
          "description" : "The comment text",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "notifications",
          "in" : "query",
          "description" : "Notification control for authorized member on this comment thread. \"on\" will result in notifications being sent. \"off\" will opt the member out of notifications for this comment thread. Defaults to \"on\" unless the member previous opted out of notifications on the thread.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "in_reply_to",
          "in" : "query",
          "description" : "If this comment is a reply, the ID of the comment being replied to",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "When everything goes well, we'll send a 200 response code along with your data.\n\nJSON requests that specify a callback parameter are treated differently: the API always responds with an HTTP status of 200, so that a client browser will load the response and handle the callback. When an error occurs its corresponding status line is served in a \"status\" field of the error response object rather than in the response header.\n"
          },
          "201" : {
            "description" : "If successful, this method responds with a \"201 Created\" status and a JSON or XML body consisting of the posted comment in the same fields as the response items of the Event Comment Get (\"/2/event_comment/:id\") method.",
            "examples" : {
              "application/json" : "{\n  \"event_diff_id\": 100,\n  \"comment_url\": \"comment_url\",\n  \"group_id\": 100,\n  \"event_id\": 100,\n  \"self\": {\n    \"actions\": \"actions\"\n  },\n  \"in_reply_to\": 100,\n  \"member_id\": 100,\n  \"member_photo\": {\n    \"photo_link\": \"photo_link\",\n    \"hires_link\": \"hires_link\",\n    \"thumb_link\": \"thumb_link\",\n    \"photo_id\": 100\n  },\n  \"notifications\": \"notifications\",\n  \"replies\": \"replies\",\n  \"event\": {\n    \"id\": 100,\n    \"time\": 100,\n    \"event_url\": \"event_url\",\n    \"name\": \"name\"\n  },\n  \"like_count\": 100,\n  \"comment\": \"comment\",\n  \"member_name\": \"member_name\",\n  \"event_comment_id\": 100\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/event_comment/{id}" : {
      "get" : {
        "description" : "Retrieve a single event comment or reply\n\n#Request Parameters\nOnly authorization parameters are needed.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "comma-separate list of optional fields",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|comment|The comment the member left for the event|\n|comment_url|URL for the event comment on meetup.com|\n|event|Optional field, basic info on event associated with comment|\n|event_comment_id|The ID of this comment|\n|event_diff_id|The ID of this comment if it is an auto-generated event change comment|\n|event_id|The string ID of the event the comment belongs to|\n|group_id|The ID of the group that the event belongs to|\n|in_reply_to|If this is a reply, the ID of the comment replied to|\n|like_count|optional fields parameter which adds the number of likes this comment has received|\n|member_id|The ID of the member that posted the comment. May be 0 for former members|\n|member_name|The name of the member that posted the comment. May be \"Former Member\" for former members|\n|member_photo|If the optional \"fields\" parameter contains \"member_photo\", the member photo associated with the comment|\n|notifications|optional fields parameter to append the authorized member's current notification preference for the given comment|\n|replies|Optional fields parameter returning array of the last 20 replies to comment|\n|self|Optional field with details particular to the authorized user, only present if requested and user is a member of the hosting group|\n",
            "examples" : {
              "application/json" : "{\n  \"event_diff_id\": 100,\n  \"comment_url\": \"comment_url\",\n  \"group_id\": 100,\n  \"event_id\": 100,\n  \"self\": {\n    \"actions\": \"actions\"\n  },\n  \"in_reply_to\": 100,\n  \"member_id\": 100,\n  \"member_photo\": {\n    \"photo_link\": \"photo_link\",\n    \"hires_link\": \"hires_link\",\n    \"thumb_link\": \"thumb_link\",\n    \"photo_id\": 100\n  },\n  \"notifications\": \"notifications\",\n  \"replies\": \"replies\",\n  \"event\": {\n    \"id\": 100,\n    \"time\": 100,\n    \"event_url\": \"event_url\",\n    \"name\": \"name\"\n  },\n  \"like_count\": 100,\n  \"comment\": \"comment\",\n  \"member_name\": \"member_name\",\n  \"event_comment_id\": 100\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "description" : "Delete a single event comment or reply\n\n#Request Parameters\nOnly authorization parameters are needed.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "comma-separate list of optional fields",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an HTTP 200 response if delete was successful."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Returns an HTTP 401 response if unauthorized."
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : ":id is a comment identifier",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/2/event_comment_flag" : {
      "post" : {
        "description" : "This method creates a spam report for comment content\n\n#Request Parameters\nAll required parameters must be supplied.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "reason",
          "in" : "query",
          "description" : "Reason for flagging the comment. May be one of inappropriate, spam",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "comment_id",
          "in" : "query",
          "description" : "The id of the comment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        } ],
        "responses" : {
          "200" : {
            "description" : "When everything goes well, we'll send a 200 response code along with your data.\n\nJSON requests that specify a callback parameter are treated differently: the API always responds with an HTTP status of 200, so that a client browser will load the response and handle the callback. When an error occurs its corresponding status line is served in a \"status\" field of the error response object rather than in the response header.\n"
          },
          "202" : {
            "description" : "If successful, this method returns a 202 Accepted response."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/event_comment_like/{id}" : {
      "post" : {
        "description" : "Like a given Event comment\n\n#Request Parameters\nOnly authorization parameters are needed. :id in the path should be the id of the comment you are liking\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an HTTP 200 response if delete was successful."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Returns an HTTP 401 response if unauthorized."
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "description" : "Unlike a given Event comment\n\n#Request Parameters\nOnly authorization parameters are needed. :id in the path should be the id of the comment you are unliking\n",
        "schemes" : [ "http" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Returns an HTTP 200 response if delete was successful."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Returns an HTTP 401 response if unauthorized."
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : ":id in the path should be the id of a comment",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/2/event_comment_likes" : {
      "get" : {
        "description" : "Api for listing likes of a given event comment\n\n#Request Parameters\nAt least one of the required parameters must be supplied with the request.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting page for results to return",
          "required" : false,
          "type" : "integer",
          "minimum" : 0.0,
          "format" : "int64"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "You can select result fields by specifying only parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1.0,
          "format" : "int64"
        }, {
          "name" : "comment_id",
          "in" : "query",
          "description" : "Return likes for a given comment_id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "omit",
          "in" : "query",
          "description" : "You can suppress result fields by specifying omit parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "|value|description|\n|-|\n|created|Order by the time the member liked like comment (default: descending)|\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desc",
          "in" : "query",
          "description" : "Reverses the sorting order, when you include the parameter \"desc=desc\" or \"desc=true\"",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|created|UTC creation time of the event, in milliseconds since the epoch|\n|event_comment_id|ID of the comment liked|\n|member|member who liked the comment|\n",
            "examples" : {
              "application/json" : "{\n  \"results\": [\n    {\n      \"member\": {\n        \"member_state\": \"member_state 0\",\n        \"member_city\": \"member_city 0\",\n        \"name\": \"name 0\",\n        \"member_country\": \"member_country 0\",\n        \"photo\": {\n          \"photo_link\": \"photo_link 0\",\n          \"highres_link\": \"highres_link 0\",\n          \"thumb_link\": \"thumb_link 0\",\n          \"photo_id\": 0\n        },\n        \"member_id\": 0\n      },\n      \"created\": 0,\n      \"event_comment_id\": 0\n    },\n    {\n      \"member\": {\n        \"member_state\": \"member_state 1\",\n        \"member_city\": \"member_city 1\",\n        \"name\": \"name 1\",\n        \"member_country\": \"member_country 1\",\n        \"photo\": {\n          \"photo_link\": \"photo_link 1\",\n          \"highres_link\": \"highres_link 1\",\n          \"thumb_link\": \"thumb_link 1\",\n          \"photo_id\": 1\n        },\n        \"member_id\": 1\n      },\n      \"created\": 1,\n      \"event_comment_id\": 1\n    }\n  ]\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/event_comment_subscribe/{id}" : {
      "post" : {
        "description" : "Subscribe to notifications on updates to a given comment thread\n\n#Request Parameters\nOnly authorization parameters are needed. :id in the path should be id of comment being replied to which you are subscribing to notifications for\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an HTTP 200 response if delete was successful."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Returns an HTTP 401 response if unauthorized."
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "delete" : {
        "description" : "Unsubscribe to notifications for updates to a given comment thread\n\n#Request Parameters\nOnly authorization parameters are needed. :id in the path should be the id of comment being replied to which you are unsubscribing to notifications from\n",
        "schemes" : [ "http" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Returns an HTTP 200 response if delete was successful."
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Returns an HTTP 401 response if unauthorized."
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : ":id in the path should be the id of a comment",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/2/event_comments" : {
      "get" : {
        "description" : "This method returns messages that appear under \"Talk about this Meetup\". To post messages, see the corresponding write method.\n\n#Request Parameters\nAt least one of the required parameters must be supplied with the request.\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "member_id",
          "in" : "query",
          "description" : "Return comments for the given member_ids, separated by commas",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting page for results to return",
          "required" : false,
          "type" : "integer",
          "minimum" : 0.0,
          "format" : "int64"
        }, {
          "name" : "comment_id",
          "in" : "query",
          "description" : "Return comments for a given set of comment IDs, separated by commas",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "show_diffs",
          "in" : "query",
          "description" : "Return auto-generated event change comments. Default value is true, turn off by specifying \"show_diffs=false\".",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "event_id",
          "in" : "query",
          "description" : "Return comments on these events, separated by commas.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Return comments in groups with these ID numbers, separated by commas",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "You can select result fields by specifying only parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1.0,
          "format" : "int64"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Optionally accepts the value \"member_photo\" or \"notifications\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "omit",
          "in" : "query",
          "description" : "You can suppress result fields by specifying omit parameters",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "783060637886b293b764b2a6831240"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "|value|description|\n|-|\n|name|Order by the name of the member|\n|thread|Order by comment threads, those with the most recent activity are listed first. Only one event may be provided and desc not supported. Also note that with this ordering, *replies* are excluded from pagination accounting. Only top-level comments will be capped at the page size.|\n|time|Order by the time that each rating was posted (default: descending)|\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desc",
          "in" : "query",
          "description" : "Reverses the sorting order, when you include the parameter \"desc=desc\" or \"desc=true\"",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "|||\n|-|\n|comment|The comment the member left for the event|\n|comment_url|URL for the event comment on meetup.com|\n|event|Optional field, basic info on event associated with comment|\n|event_comment_id|The ID of this comment|\n|event_diff_id|The ID of this comment if it is an auto-generated event change comment|\n|event_id|The string ID of the event the comment belongs to|\n|group_id|The ID of the group that the event belongs to|\n|in_reply_to|If this is a reply, the ID of the comment replied to|\n|like_count|optional fields parameter which adds the number of likes this comment has received|\n|member_id|The ID of the member that posted the comment. May be 0 for former members|\n|member_name|The name of the member that posted the comment. May be \"Former Member\" for former members|\n|member_photo|If the optional \"fields\" parameter contains \"member_photo\", the member photo associated with the comment|\n|notifications|optional fields parameter to append the authorized member's current notification preference for the given comment|\n|self|Optional field with details particular to the authorized user, only present if requested and user is a member of the hosting group|\n",
            "examples" : {
              "application/json" : "{\n  \"results\": [\n    {\n      \"event_diff_id\": 0,\n      \"member_photo\": {\n        \"photo_link\": \"photo_link 0\",\n        \"hires_link\": \"hires_link 0\",\n        \"thumb_link\": \"thumb_link 0\",\n        \"photo_id\": 0\n      },\n      \"notifications\": \"notifications 0\",\n      \"like_count\": 0,\n      \"event\": {\n        \"id\": 0,\n        \"time\": 0,\n        \"event_url\": \"event_url 0\",\n        \"name\": \"name 0\"\n      },\n      \"comment_url\": \"comment_url 0\",\n      \"group_id\": 0,\n      \"event_id\": 0,\n      \"self\": {\n        \"actions\": \"actions 0\"\n      },\n      \"member_name\": \"member_name 0\",\n      \"in_reply_to\": 0,\n      \"comment\": \"comment 0\",\n      \"event_comment_id\": 0,\n      \"member_id\": 0\n    },\n    {\n      \"event_diff_id\": 1,\n      \"member_photo\": {\n        \"photo_link\": \"photo_link 1\",\n        \"hires_link\": \"hires_link 1\",\n        \"thumb_link\": \"thumb_link 1\",\n        \"photo_id\": 1\n      },\n      \"notifications\": \"notifications 1\",\n      \"like_count\": 1,\n      \"event\": {\n        \"id\": 1,\n        \"time\": 1,\n        \"event_url\": \"event_url 1\",\n        \"name\": \"name 1\"\n      },\n      \"comment_url\": \"comment_url 1\",\n      \"group_id\": 1,\n      \"event_id\": 1,\n      \"self\": {\n        \"actions\": \"actions 1\"\n      },\n      \"member_name\": \"member_name 1\",\n      \"in_reply_to\": 1,\n      \"comment\": \"comment 1\",\n      \"event_comment_id\": 1,\n      \"member_id\": 1\n    }\n  ]\n}\n"
            }
          },
          "400" : {
            "description" : "Bad request when there was a problem with the request.\n\nThe 400 BadRequest response is something of a catch-all: sent if you have incorrect or missing parameters, if you exceed your API limits or you request an unsupported format. The response body will have more detail.\n"
          },
          "401" : {
            "description" : "Unauthorized when you don't provide a valid key.\n"
          },
          "500" : {
            "description" : "Internal Server Error if we messed up -- please let us know (http://groups.google.com/group/meetup-api/topics)!\n"
          }
        },
        "security" : [ ]
      }
    },
    "/2/event_rating" : {
      "post" : {
        "description" : "This method allows members to posts rating for an event after it's occurred. Only permitted for members who rsvp'd \"yes\" or \"maybe\" to the event\n",
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "attendee_count",
          "in" : "query",
          "description" : "The number of attendees for the event (organizers/assistant organizers/co-organizers/event organizers/event hosts only)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "event_id",
          "in" : "query",
          "description" : "The ID of the event to fetch ratings data for",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rating",
          "in" : "query",
[...]
