{
  "swagger" : "2.0",
  "info" : {
    "description" : "Find detailed information about places across a wide range of categories. Backed by the same database used by Google Maps and Google+, the Google Places API Web Service features about 100 million businesses and points of interest that are updated frequently through owner-verified listings and user-moderated contributions. Key features include autocomplete, search, place picker, photos and add place.",
    "version" : "1.0",
    "title" : "Google Places API"
  },
  "host" : "maps.googleapis.com",
  "basePath" : "/maps/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/place/add/{inputOutputFormat}" : {
      "post" : {
        "parameters" : [ {
          "name" : "key",
          "in" : "query",
          "description" : " This key identifies your application for purposes of quota management.",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyCBkvi3Cg4yKqAS1KEJm7VEBNfM8zcMBu4"
        }, {
          "in" : "body",
          "required" : false,
          "x-examples" : {
            "application/json" : "{\n  \"location\": {\n    \"lat\": -33.8669710,\n    \"lng\": 151.1958750\n  },\n  \"accuracy\": 50,\n  \"name\": \"Google Shoes!\",\n  \"phone_number\": \"(02) 9374 4000\",\n  \"address\": \"48 Pirrama Road, Pyrmont, NSW 2009, Australia\",\n  \"types\": [\"shoe_store\"],\n  \"website\": \"http://www.google.com.au/\",\n  \"language\": \"en-AU\"\n}",
            "application/xml" : "<PlaceAddRequest>\n  <location>\n    <lat>-33.8669710</lat>\n    <lng>151.1958750</lng>\n  </location>\n  <accuracy>50</accuracy>\n  <name>Google Shoes!</name>\n  <phone_number>(02) 9374 4000</phone_number>\n  <address>48 Pirrama Road, Pyrmont, NSW 2009, Australia</address>\n  <type>shoe_store</type>\n  <website>http://www.google.com.au/</website>\n  <language>en-AU</language>\n</PlaceAddRequest>"
          }
        } ],
        "responses" : {
          "200" : {
            "examples" : {
              "application/json" : "{\n  \"status\": \"OK\",\n  \"place_id\": \"CdIJN2t_tDeuEmsRUsoyG83frY4\",\n  \"scope\": \"APP\",\n  \"reference\": \"CiQgAAAAeTQS1RtzAyVRVjHcRiIWmWeqcAl3k7bluW7GINLDULESEHozTQhy6OHJw03ziDvY1uEaFAP_vDRhK-UbWw3Gd7Ulqm3eRjIs\",\n  \"id\": \"6947fc4007436a71dbda51ef9a58627c8e8858f9\"\n}"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "inputOutputFormat",
        "in" : "path",
        "description" : "inputOutputFormat indicates the format of the input and output:\njson (recommended) indicates input and output in JavaScript Object Notation (JSON).\nxml indicates input and output as XML.",
        "required" : true,
        "type" : "string",
        "default" : ""
      } ]
    },
    "/place/autocomplete/{outputFormat}" : {
      "get" : {
        "parameters" : [ {
          "name" : "strictbounds",
          "in" : "query",
          "description" : "Returns only those places that are strictly within the region defined by location and radius. This is a restriction, rather than a bias, meaning that results outside this region will not be returned even if they match the user input.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "components",
          "in" : "query",
          "description" : " A grouping of places to which you would like to restrict your results. Currently, you can use components to filter by up to 5 countries. Countries must be passed as a two character, ISO 3166-1 Alpha-2 compatible country code. For example: components=country:fr would restrict your results to places within France. Multiple countries must be passed as multiple country:XX filters, with the pipe character (|) as a separator. For example: components=country:us|country:pr|country:vi|country:gu|country:mp would restrict your results to places within the United States and its unincorporated organized territories.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "types",
          "in" : "query",
          "description" : "The types of place results to return. See https://developers.google.com/places/web-service/autocomplete#place_types. If no type is specified, all types will be returned.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "he language code, indicating in which language the results should be returned, if possible. Searches are also biased to the selected language; results in the selected language may be given a higher ranking. See https://developers.google.com/maps/faq#languagesupport. Note that we often update supported languages so this list may not be exhaustive. If language is not supplied, the Place Autocomplete service will attempt to use the native language of the domain from which the request is sent.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "The distance (in meters) within which to return place results. Note that setting a radius biases results to the indicated area, but may not fully restrict results to the specified area. See https://developers.google.com/places/web-service/autocomplete#location_biasing and https://developers.google.com/places/web-service/autocomplete#location_restrict",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "The point around which you wish to retrieve place information. Must be specified as latitude,longitude.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The position, in the input term, of the last character that the service uses to match predictions. For example, if the input is 'Google' and the offset is 3, the service will match on 'Goo'. The string determined by the offset is matched against the first word in the input term only. For example, if the input term is 'Google abc' and the offset is 3, the service will attempt to match against 'Goo abc'. If no offset is supplied, the service will use the whole term. The offset should generally be set to the position of the text caret.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "This key identifies your application for purposes of quota management.",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyCJtNvinN7nkLrls7xahxNlleRs6zmVBTc"
        }, {
          "name" : "input",
          "in" : "query",
          "description" : "The text string on which to search. The Place Autocomplete service will return candidate matches based on this string and order results based on their perceived relevance.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The status field within the Place Autocomplete response object contains the status of the request, and may contain debugging information to help you track down why the Place Autocomplete request failed. The status field may contain the following values:\nOK indicates that no errors occurred and at least one result was returned.\nZERO_RESULTS indicates that the search was successful but returned no results. This may occur if the search was passed a bounds in a remote location.\nOVER_QUERY_LIMIT indicates that you are over your quota.\nREQUEST_DENIED indicates that your request was denied, generally because of lack of an invalid key parameter.\nINVALID_REQUEST generally indicates that the input parameter is missing.",
            "examples" : {
              "application/json" : "{\n  \"status\": \"OK\",\n  \"predictions\" : [\n      {\n         \"description\" : \"Paris, France\",\n         \"id\" : \"691b237b0322f28988f3ce03e321ff72a12167fd\",\n         \"matched_substrings\" : [\n            {\n               \"length\" : 5,\n               \"offset\" : 0\n            }\n         ],\n         \"place_id\" : \"ChIJD7fiBh9u5kcRYJSMaMOCCwQ\",\n         \"reference\" : \"CjQlAAAA_KB6EEceSTfkteSSF6U0pvumHCoLUboRcDlAH05N1pZJLmOQbYmboEi0SwXBSoI2EhAhj249tFDCVh4R-PXZkPK8GhTBmp_6_lWljaf1joVs1SH2ttB_tw\",\n         \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\" : \"Paris\"\n            },\n            {\n               \"offset\" : 7,\n               \"value\" : \"France\"\n            }\n         ],\n         \"types\" : [ \"locality\", \"political\", \"geocode\" ]\n      },\n      {\n         \"description\" : \"Paris Avenue, Earlwood, New South Wales, Australia\",\n         \"id\" : \"359a75f8beff14b1c94f3d42c2aabfac2afbabad\",\n         \"matched_substrings\" : [\n            {\n               \"length\" : 5,\n               \"offset\" : 0\n            }\n         ],\n         \"place_id\" : \"ChIJrU3KAHG6EmsR5Uwfrk7azrI\",\n         \"reference\" : \"CkQ2AAAARbzLE-tsSQPgwv8JKBaVtbjY48kInQo9tny0k07FOYb3Z_z_yDTFhQB_Ehpu-IKhvj8Msdb1rJlX7xMr9kfOVRIQVuL4tOtx9L7U8pC0Zx5bLBoUTFbw9R2lTn_EuBayhDvugt8T0Oo\",\n         \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\" : \"Paris Avenue\"\n            },\n            {\n               \"offset\" : 14,\n               \"value\" : \"Earlwood\"\n            },\n            {\n               \"offset\" : 24,\n               \"value\" : \"New South Wales\"\n            },\n            {\n               \"offset\" : 41,\n               \"value\" : \"Australia\"\n            }\n         ],\n         \"types\" : [ \"route\", \"geocode\" ]\n      },\n      {\n         \"description\" : \"Paris Street, Carlton, New South Wales, Australia\",\n         \"id\" : \"bee539812eeda477dad282bcc8310758fb31d64d\",\n         \"matched_substrings\" : [\n            {\n               \"length\" : 5,\n               \"offset\" : 0\n            }\n         ],\n         \"place_id\" : \"ChIJCfeffMi5EmsRp7ykjcnb3VY\",\n         \"reference\" : \"CkQ1AAAAAERlxMXkaNPLDxUJFLm4xkzX_h8I49HvGPvmtZjlYSVWp9yUhQSwfsdveHV0yhzYki3nguTBTVX2NzmJDukq9RIQNcoFTuz642b4LIzmLgcr5RoUrZhuNqnFHegHsAjtoUUjmhy4_rA\",\n         \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\" : \"Paris Street\"\n            },\n            {\n               \"offset\" : 14,\n               \"value\" : \"Carlton\"\n            },\n            {\n               \"offset\" : 23,\n               \"value\" : \"New South Wales\"\n            },\n            {\n               \"offset\" : 40,\n               \"value\" : \"Australia\"\n            }\n         ],\n         \"types\" : [ \"route\", \"geocode\" ]\n      },\n  ...additional results ...\n      ",
              "application/xml" : "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AutocompletionResponse>\n <status>OK</status>\n <prediction>\n  <description>Paris, France</description>\n  <type>locality</type>\n  <type>political</type>\n  <type>geocode</type>\n  <place_id>ChIJD7fiBh9u5kcRYJSMaMOCCwQ</place_id>\n  <reference>CiQRAAAAJm0CiCHIC8C4GOjREdm3QtHYhMyFaUXKWAbGSaZImQ8SECnHAhpcuZaoSr0_TKfeHvwaFHMIq_BmUccTC4mt6EWVNMa67Xuq</reference>\n  <id>691b237b0322f28988f3ce03e321ff72a12167fd</id>\n  <term>\n   <value>Paris</value>\n   <offset>0</offset>\n  </term>\n  <term>\n   <value>France</value>\n   <offset>7</offset>\n  </term>\n  <matched_substring>\n   <offset>0</offset>\n   <length>5</length>\n  </matched_substring>\n </prediction>\n <prediction>\n  <description>Paris, TX, United States</description>\n  <type>colloquial_area</type>\n  <type>political</type>\n  <type>geocode</type>\n  <place_id>ChIJrU3KAHG6EmsR5Uwfrk7azrI</place_id>\n  <reference>CiQcAAAArNRoGmiHh0PNVH5LSnJEbT5L7DfUE-APvTfYac9Ta5USEIfAOzXTkqTpioZX9qeevY8aFPgN_H6qcRnGLqPUq4zkOE-_g-ul</reference>\n  <id>029556239a911839382f42ec36c5ce2b85be9be3</id>\n  <term>\n   <value>Paris</value>\n   <offset>0</offset>\n  </term>\n  <term>\n   <value>TX</value>\n   <offset>7</offset>\n  </term>\n  <term>\n   <value>United States</value>\n   <offset>11</offset>\n  </term>\n  <matched_substring>\n   <offset>0</offset>\n   <length>5</length>\n  </matched_substring>\n </prediction>\n <prediction>\n  <description>Paris, Ontario, Canada</description>\n  <type>locality</type>\n  <type>political</type>\n  <type>geocode</type>\n  <place_id>ChIJCfeffMi5EmsRp7ykjcnb3VY</place_id>\n  <reference>CiQaAAAApuD3Th6N5_EcJjKw0umu_IonagFPBo9idTf7WB8-cw8SEGS5wSvHzhuUvCqPH-uM5B8aFIedLGNSuh5M5eqWdBJCtc0Ibvd0</reference>\n  <id>e7ac9c89d4a590305242b0cb5bf43064027223c9</id>\n  <term>\n   <value>Paris</value>\n   <offset>0</offset>\n  </term>\n  <term>\n   <value>Ontario</value>\n   <offset>7</offset>\n  </term>\n  <term>\n   <value>Canada</value>\n   <offset>16</offset>\n  </term>\n  <matched_substring>\n   <offset>0</offset>\n   <length>5</length>\n  </matched_substring>\n </prediction>\n</AutocompletionResponse>"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "outputFormat",
        "in" : "path",
        "description" : "outputFormat may be either of the following values:\njson (recommended) indicates output in JavaScript Object Notation (JSON)\nxml indicates output as XML",
        "required" : true,
        "type" : "string",
        "default" : ""
      } ]
    },
    "/place/delete/{outputFormat}" : {
      "post" : {
        "parameters" : [ {
          "in" : "body",
          "required" : false,
          "x-examples" : {
            "application/json" : "{\n  \"place_id\": \"place ID\"\n}",
            "application/xml" : "<PlaceDeleteRequest>\n  <place_id>place ID</place_id>\n</PlaceDeleteRequest>"
          }
        } ],
        "responses" : {
          "200" : {
            "examples" : {
              "application/json" : "{\n  \"status\": \"OK\"\n}"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "outputFormat",
        "in" : "path",
        "description" : "inputOutputFormat indicates the format of the input and output:\njson (recommended) indicates input and output in JavaScript Object Notation (JSON).\nxml indicates input and output as XML.",
        "required" : true,
        "type" : "string",
        "default" : ""
      } ]
    },
    "/place/details/{outputFormat}" : {
      "get" : {
        "parameters" : [ {
          "name" : "language",
          "in" : "query",
          "description" : "The language code, indicating in which language the results should be returned, if possible. Note that some fields may not be available in the requested language. See https://developers.google.com/maps/faq#languagesupport. Note that we often update supported languages so this list may not be exhaustive.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "extensions",
          "in" : "query",
          "description" : "Indicates if the Place Details response should include additional fields.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reference",
          "in" : "query",
          "description" : "A textual identifier that uniquely identifies a place, returned from a Place Search. Note: The reference is now deprecated in favor of placeid. See https://developers.google.com/places/web-service/details#deprecation",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "placeid",
          "in" : "query",
          "description" : " A textual identifier that uniquely identifies a place, returned from a Place Search. For more information about place IDs, see the https://developers.google.com/places/web-service/place-id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "This key identifies your application for purposes of quota management.",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyDRGLayXmSrxgECphcRyj1V9dtey3w7b3E"
        } ],
        "responses" : {
          "200" : {
            "description" : "A JSON response contains three root elements:\n\"status\" contains metadata on the request. See https://developers.google.com/places/web-service/details#PlaceDetailsStatusCodes \n\"result\" contains the detailed information about the place requested. See https://developers.google.com/places/web-service/details#PlaceDetailsResults.\n\"html_attributions\" contains a set of attributions about this listing which must be displayed to the user.\n\nAn XML response consists of a single <PlaceDetailsResponse> and three top-level elements:\n<status> contains metadata on the request. See https://developers.google.com/places/web-service/details#PlaceDetailsStatusCodes.\nA single <result> element containing detailed information about a single establishment. See https://developers.google.com/places/web-service/details#PlaceDetailsResults.\n<html_attributions> contain a set of attributions which must be displayed to the user.",
            "examples" : {
              "application/json" : "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\" : [\n         {\n            \"long_name\" : \"48\",\n            \"short_name\" : \"48\",\n            \"types\" : [ \"street_number\" ]\n         },\n         {\n            \"long_name\" : \"Pirrama Road\",\n            \"short_name\" : \"Pirrama Road\",\n            \"types\" : [ \"route\" ]\n         },\n         {\n            \"long_name\" : \"Pyrmont\",\n            \"short_name\" : \"Pyrmont\",\n            \"types\" : [ \"locality\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"NSW\",\n            \"short_name\" : \"NSW\",\n            \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"AU\",\n            \"short_name\" : \"AU\",\n            \"types\" : [ \"country\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"2009\",\n            \"short_name\" : \"2009\",\n            \"types\" : [ \"postal_code\" ]\n         }\n      ],\n      \"adr_address\" : \"5,\n        \\u003cspan class=\\\"street-address\\\"\\u003e48 Pirrama Rd\\u003c/span\\u003e,\n        \\u003cspan class=\\\"locality\\\"\\u003ePyrmont\\u003c/span\\u003e\n        \\u003cspan class=\\\"region\\\"\\u003eNSW\\u003c/span\\u003e\n        \\u003cspan class=\\\"postal-code\\\"\\u003e2009\\u003c/span\\u003e,\n        \\u003cspan class=\\\"country-name\\\"\\u003eAustralia\\u003c/span\\u003e\",\n      \"formatted_address\" : \"48 Pirrama Road, Pyrmont NSW, Australia\",\n      \"formatted_phone_number\" : \"(02) 9374 4000\",\n      \"geometry\" : {\n         \"location\" : {\n           \"lat\" : -33.8669710,\n           \"lng\" : 151.1958750\n         },\n         \"viewport\" : {\n            \"northeast\" : {\n               \"lat\" : -33.8665053,\n               \"lng\" : 151.1960371\n            },\n            \"southwest\" : {\n               \"lat\" : -33.8669293,\n               \"lng\" : 151.1952183\n            }\n         }\n      },\n      \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png\",\n      \"id\" : \"4f89212bf76dde31f092cfc14d7506555d85b5c7\",\n      \"international_phone_number\" : \"+61 2 9374 4000\",\n      \"name\" : \"Google Sydney\",\n      \"place_id\" : \"ChIJN1t_tDeuEmsRUsoyG83frY4\",\n      \"scope\" : \"GOOGLE\",\n      \"alt_ids\" : [\n         {\n            \"place_id\" : \"D9iJyWEHuEmuEmsRm9hTkapTCrk\",\n            \"scope\" : \"APP\"\n         }\n      ],\n      \"rating\" : 4.70,\n      \"reference\" : \"CnRsAAAA98C4wD-VFvzGq-KHVEFhlHuy1TD1W6UYZw7KjuvfVsKMRZkbCVBVDxXFOOCM108n9PuJMJxeAxix3WB6B16c1p2bY1ZQyOrcu1d9247xQhUmPgYjN37JMo5QBsWipTsnoIZA9yAzA-0pnxFM6yAcDhIQbU0z05f3xD3m9NQnhEDjvBoUw-BdcocVpXzKFcnMXUpf-nkyF1w\",\n      \"reviews\" : [\n         {\n            \"aspects\" : [\n               {\n                  \"rating\" : 3,\n                  \"type\" : \"quality\"\n               }\n            ],\n            \"author_name\" : \"Simon Bengtsson\",\n            \"author_url\" : \"https://plus.google.com/104675092887960962573\",\n            \"language\" : \"en\",\n            \"rating\" : 5,\n            \"text\" : \"Just went inside to have a look at Google. Amazing.\",\n            \"time\" : 1338440552869\n         },\n         {\n           \"aspects\" : [\n              {\n                 \"rating\" : 3,\n                 \"type\" : \"quality\"\n              }\n             ],\n            \"author_name\" : \"Felix Rauch Valenti\",\n            \"author_url\" : \"https://plus.google.com/103291556674373289857\",\n            \"language\" : \"en\",\n            \"rating\" : 5,\n            \"text\" : \"Best place to work :-)\",\n            \"time\" : 1338411244325\n         },\n         {\n           \"aspects\" : [\n              {\n                 \"rating\" : 3,\n                 \"type\" : \"quality\"\n              }\n             ],\n            \"author_name\" : \"Chris\",\n            \"language\" : \"en\",\n            \"rating\" : 5,\n            \"text\" : \"Great place to work, always lots of free food!\",\n            \"time\" : 1330467089039\n         }\n      ],\n      \"types\" : [ \"establishment\" ],\n      \"url\" : \"http://maps.google.com/maps/place?cid=10281119596374313554\",\n      \"vicinity\" : \"48 Pirrama Road, Pyrmont\",\n      \"website\" : \"http://www.google.com.au/\"\n   },\n   \"status\" : \"OK\"\n}\n      ",
              "application/xml" : "\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<PlaceDetailsResponse>\n <status>OK</status>\n <result>\n  <name>Google Sydney</name>\n  <vicinity>48 Pirrama Road, Pyrmont</vicinity>\n  <type>establishment</type>\n  <formatted_phone_number>(02) 9374 4000</formatted_phone_number>\n  <formatted_address>48 Pirrama Road, Pyrmont NSW, Australia</formatted_address>\n  <address_component>\n   <long_name>48</long_name>\n   <short_name>48</short_name>\n   <type>street_number</type>\n  </address_component>\n  <address_component>\n   <long_name>Pirrama Road</long_name>\n   <short_name>Pirrama Road</short_name>\n   <type>route</type>\n  </address_component>\n  <address_component>\n   <long_name>Pyrmont</long_name>\n   <short_name>Pyrmont</short_name>\n   <type>locality</type>\n   <type>political</type>\n  </address_component>\n  <address_component>\n   <long_name>NSW</long_name>\n   <short_name>NSW</short_name>\n   <type>administrative_area_level_1</type>\n   <type>political</type>\n  </address_component>\n  <address_component>\n   <long_name>AU</long_name>\n   <short_name>AU</short_name>\n   <type>country</type>\n   <type>political</type>\n  </address_component>\n  <address_component>\n   <long_name>2009</long_name>\n   <short_name>2009</short_name>\n   <type>postal_code</type>\n  </address_component>\n  <adr_address>\n    5, <span class=\"street-address\">48 Pirrama Rd</span>,\n    <span class=\"locality\">Pyrmont</span>\n    <span class=\"region\">NSW</span>\n    <span class=\"postal-code\">2009</span>,\n    <span class=\"country-name\">Australia</span>\n  </adr_address>\n  <geometry>\n   <location>\n     <lat>-33.8669710</lat>\n     <lng>151.1958750</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>-33.8669293</lat>\n     <lng>151.1952183</lng>\n    </southwest>\n    <northeast>\n     <lat>-33.8665053</lat>\n     <lng>151.1960371</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>4.7</rating>\n  <url>http://maps.google.com/maps/place?cid=10281119596374313554</url>\n  <icon>http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png</icon>\n  <place_id>ChIJN1t_tDeuEmsRUsoyG83frY4</place_id>\n  <scope>GOOGLE</scope>\n  <alt_ids>\n   <place_id>D9iJyWEHuEmuEmsRm9hTkapTCrk</place_id>\n   <scope>APP</scope>\n  </alt_ids>\n  <reference>CnRsAAAAoGXc0eAcQOoO1A7sU58repRnghwM5q7UtsZFhVtjYtfKN_LFAPhdhBfUAU8m0EzeSyP0cDBi7kazZwNjlIMUqktqIanMiymuRDS8c539M6KCJNUMkjw22WXxtl3QoR25fIf-7YJnpza6bMIuFZ1CKBIQuBsbXu8xkbUNofECCkdvmxoU5k3Lpbr8XNCbofIKtsZxj8GloGA</reference>\n  <id>4f89212bf76dde31f092cfc14d7506555d85b5c7</id>\n  <international_phone_number>+61 2 9374 4000</international_phone_number>\n  <website>http://www.google.com.au/</website>\n  <review>\n   <time>1338440552869</time>\n   <text>Just went inside to have a look at Google. Amazing.</text>\n   <author_name>Simon Bengtsson</author_name>\n   <author_url>https://plus.google.com/104675092887960962573</author_url>\n   <language>en</language>\n   <rating>5</rating>\n   <aspect>\n     <type>quality</type>\n     <rating>3</rating>\n   </aspect>\n  </review>\n  <review>\n   <time>1338411244325</time>\n   <text>Best place to work :-)</text>\n   <author_name>Felix Rauch Valenti</author_name>\n   <author_url>https://plus.google.com/103291556674373289857</author_url>\n   <language>en</language>\n   <rating>5</rating>\n   <aspect>\n     <type>quality</type>\n     <rating>3</rating>\n   </aspect>\n  </review>\n  <review>\n   <time>1330467089039</time>\n   <text>Great place to work, always lots of free food!</text>\n   <author_name>Chris</author_name>\n   <author_url>https://maps.google.com/maps/user?uid=211457841236072500285</author_url>\n   <language>en</language>\n   <rating>5</rating>\n   <aspect>\n     <type>quality</type>\n     <rating>3</rating>\n   </aspect>\n  </review>\n </result>\n</PlaceDetailsResponse>"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "outputFormat",
        "in" : "path",
        "description" : "outputFormat may be either of the following values:\njson (recommended) indicates output in JavaScript Object Notation (JSON)\nxml indicates output as XML",
        "required" : true,
        "type" : "string",
        "default" : ""
      } ]
    },
    "/place/nearbysearch/{outputFormat}" : {
      "get" : {
        "parameters" : [ {
          "name" : "pagetoken",
          "in" : "query",
          "description" : "Returns the next 20 results from a previously run search. Setting a pagetoken parameter will execute a search with the same parameters used previously — all parameters other than pagetoken will be ignored.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "types",
          "in" : "query",
          "description" : "(deprecated) — Restricts the results to places matching at least one of the specified types. Separate types with a pipe symbol, like this:\ntype1|type2|etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Restricts the results to places matching the specified type. Only one type may be specified (if more than one type is provided, all types following the first entry are ignored). See https://developers.google.com/places/web-service/supported_types",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rankby",
          "in" : "query",
          "description" : "Specifies the order in which results are listed. Note that rankby must not be included if radius is specified. Possible values are:\nprominence (default). This option sorts results based on their importance. Ranking will favor prominent places within the specified area. Prominence can be affected by a place's ranking in Google's index, global popularity, and other factors.\ndistance - This option biases search results in ascending order by their distance from the specified location. When distance is specified, one or more of keyword, name, or type is required.",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "opennow",
          "in" : "query",
          "description" : "Returns only those places that are open for business at the time the query is sent. Places that do not specify opening hours in the Google Places database will not be returned if you include this parameter in your query.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "A term to be matched against all content that Google has indexed for this place. Equivalent to keyword. The name field is no longer restricted to place names. Values in this field are combined with values in the keyword field and passed as part of the same search string. We recommend using only the keyword parameter for all search terms.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxprice",
          "in" : "query",
          "description" : "Restricts results to only those places within the specified range. Valid values range between 0 (most affordable) to 4 (most expensive), inclusive. The exact amount indicated by a specific value will vary from region to region.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minprice",
          "in" : "query",
          "description" : "Restricts results to only those places within the specified range. Valid values range between 0 (most affordable) to 4 (most expensive), inclusive. The exact amount indicated by a specific value will vary from region to region.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "The language code, indicating in which language the results should be returned, if possible. See https://developers.google.com/maps/faq#languagesupport. Note that we often update supported languages so this list may not be exhaustive.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "keyword",
          "in" : "query",
          "description" : "A term to be matched against all content that Google has indexed for this place, including but not limited to name, type, and address, as well as customer reviews and other third-party content.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "Defines the distance (in meters) within which to return place results. The maximum allowed radius is 50 000 meters. Note that radius must not be included if rankby=distance",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "The latitude/longitude around which to retrieve place information. This must be specified as latitude,longitude.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : " This key identifies your application for purposes of quota management",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyCgmk-cyWTmouW1v5I5vHqKTZz_IjnbFF4"
        } ],
        "responses" : {
          "200" : {
            "examples" : {
              "application/json" : "{\n  \"html_attributions\": [\n    \"Listings by <a href=\\\"http://www.openrice.com/\\\">OpenRice</a>\"\n  ],\n  \"results\": [\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9855481,\n          \"lng\": 80.2457289\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9872235302915,\n            \"lng\": 80.2475452802915\n          },\n          \"southwest\": {\n            \"lat\": 12.9845255697085,\n            \"lng\": 80.2448473197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"3729596b031bde565f21b0b188ac8f2cd5648401\",\n      \"name\": \"SUBWAY\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 890,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/101900905661492736603/photos\\\">SUBWAY</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAz6Ri474Zi1zJWPjBrDNf8AzZOxKX9F_e8qv_FfYXcjVKBzZSaLdtw670fn1VmEoc9dopfQxZw2cNv1jO9dmEQ8b6HcwbqDkM_44Zu0_pRNGhkRKtIcitovyVx_PZG1ZjEhAaAjJrkvgPepvA7vf6rHgBGhRVsHPrVtltUm7NVnxBNk0K_fHr2g\",\n          \"width\": 890\n        }\n      ],\n      \"place_id\": \"ChIJNTPagWNdUjoRY8CF1tyKL5I\",\n      \"price_level\": 1,\n      \"rating\": 4,\n      \"reference\": \"CmRSAAAAsuaL2n2QhorZPSoYeGWZTlLcrVnMODtb-FZVywsPN4vKr0ubt1_6-KmueKvezw7UAnb-IP6x7rU3nFWD6p_l1-aRt7xM6E7p1RN17bVQcwyzAjkYDKLMMt9FxNZZz4yyEhBPbiHuQ4oRRMD4Q1BDiIIKGhRBVoD_c0jMe4KrlvzkQtsrYnUlxQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"CSIR Road International Tech Park, Ascendas, Tharamani Road, Indian Institute Of Technology, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9854999,\n          \"lng\": 80.2457177\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9870867302915,\n            \"lng\": 80.2470705802915\n          },\n          \"southwest\": {\n            \"lat\": 12.9843887697085,\n            \"lng\": 80.24437261970849\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"a0579b770a241b14db5944c8d7a6179c851cf8d9\",\n      \"name\": \"Wang's Kitchen\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 768,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/113170105998703681996/photos\\\">Dinbandhu Kumar</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAJEdHFwvjsAfwBwp8FfojG7dgdOA28pIZfYEutiySZzwi65b_v1AiwFS4FI65ub1lGNAEFgJjakcp6dKMVXchsdzQ0DoM7awDGpGnQ8ygitt6nmI8y_9fPH3iUXd5GMZnEhBh-B_QI0o7Epy9bM6lkZ3ZGhQjPCsYbZnDlUhhPTOVp1Alno2U3w\",\n          \"width\": 1024\n        }\n      ],\n      \"place_id\": \"ChIJdf1yC2NdUjoR3B4aNwIXUAo\",\n      \"rating\": 2.9,\n      \"reference\": \"CmRRAAAA4NU7chdHWZE6hC-sEbrzSIITKa4TE5Y2Mcj0IBMbkKVYS24oaTsnnRMkd_ufRIk4ltx10cPM5sOHQZ8wKMKBikmzpGMLPHMMqh2xOBg_meWukkSu7iNND55hsIax0RKdEhBbVqi5OUY3XJ60SvQ1ChpeGhTiSU3ryi4-x5Z4fhaJ0crxTsZqZw\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Phase I, Ascendas IT Park, CSIR Road, Taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.985656,\n          \"lng\": 80.2462\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9870049802915,\n            \"lng\": 80.24754898029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9843070197085,\n            \"lng\": 80.2448510197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"15ca7634a227c6cf5fa1ef21d270970bd2c193a5\",\n      \"name\": \"Kaati Zone\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"place_id\": \"ChIJPVBNnmNdUjoRYNOeLCpCGQQ\",\n      \"reference\": \"CmRRAAAAm98xTTur6LQr3qL9lPY87lQAEJmPr-KJ746Ld1h8aeUvZhjaVonJ_vIjxiZ0qBOmMMhDilPBq1XJvdKU1zrmcISpJZbFi5EWrbJoH73kccQNTZnQJRHgxNBZwRooHBr2EhDrmlZ4LruyIQJjEve0h88FGhSVl-mXyvXVERRdOlyRsCrPH6CmzQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Csir Road, Food Court 1, Ascendas Park, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9858123,\n          \"lng\": 80.2459394\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9871612802915,\n            \"lng\": 80.24728838029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9844633197085,\n            \"lng\": 80.24459041970849\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"a02a6f47e78b9a8d8aaf8f30876b8adb97d0346f\",\n      \"name\": \"Planet Yumm\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"place_id\": \"ChIJjb6Yz1ldUjoRd5WASYTHUnc\",\n      \"rating\": 3,\n      \"reference\": \"CmRRAAAArhbcNT4kO69SIcYJj4Mcj3AHDEmdTAXIYieiUTBu-6TRkvuyO9bpD8L7yJBmAYshE1L1FJ-T_9voLQE9fDokmJ6aEclnK7G-TzdNV1KbJK2XGH71XkGwhpI_WtiRrfqyEhAVJgnKtyVgVtQNOzq-Et4uGhS_e7X5HA-66Q5xiBvu9KlIL0NkUQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Ascendas IT Park (Chennai ) Ltd. International Tech Park, 01-07 & 08, Taramani Road, 600 113, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.985862,\n          \"lng\": 80.246183\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9872109802915,\n            \"lng\": 80.24753198029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9845130197085,\n            \"lng\": 80.2448340197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"d2f21ecc44c1bb95f88e6a124b2016447e9ff42b\",\n      \"name\": \"Domino's Pizza\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 412,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/113887752193823999941/photos\\\">Domino&#39;s Pizza</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAkmbjGyzESt4jRZDTaYKlJ3MJXukOgvrY3s1yUDu-CYY4VkvZ0KsdnKMCrCXtpqybw__u_6YtbRPRI2dJJkukaHK1lKhQflLzCE2Hltolf1eQjp1djXLiURY_d9-1V4OgEhAUHDu5KP-qpVJizp1u27q1GhTwkMdizwB6o42jt8cG9r0HRkviHQ\",\n          \"width\": 402\n        }\n      ],\n      \"place_id\": \"ChIJh9cgoGNdUjoRbG4WH5tOWIA\",\n      \"price_level\": 1,\n      \"rating\": 4,\n      \"reference\": \"CmRSAAAAmoBMUUmEyqLGsQIh9U93kxHKSusHyj9MJ91lJAdzCdBPbR0zu3_A4uzSFsVUbNiIZUlOCxMbV3mKgzHCEGcyiNhYSv_FzWLBzqdDiauDalQ6RrUoiGQoVljFuTco0trPEhDVioe92XxtkNYCWrd8tFriGhS373xDCZB2kmv7-Q52BkrbNWik6w\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"First Floor, Unit No.11 (Food Court), Ascendas It Park (Chennai) Limited, Pinnac, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9857738,\n          \"lng\": 80.245932\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9871227802915,\n            \"lng\": 80.24728098029149\n          },\n          \"southwest\": {\n            \"lat\": 12.9844248197085,\n            \"lng\": 80.24458301970849\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"5a427feb5f1ab7eb2b22b1fe75af2252dc80de47\",\n      \"name\": \"Hotel Saravana Bhavan\",\n      \"opening_hours\": {\n        \"open_now\": true,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 309,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/100124910531594314921/photos\\\">Hotel Saravana Bhavan</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAXya-8Ook5hVYROD1TdIOkc2jXQih9qn_fTqt5VicqrLQipjgm6PJraYX2oo2xgWsuKmkur-jZMNC76UqN1t0J8dZ6AmyopTRfQlMpRlAZ7lLpKmgHfSV0vHC4td3UzquEhC1Njsa_8iHFWhi9zdq-U6LGhQ6SsWBaqSXcD20BJBT40Nk_zrhag\",\n          \"width\": 304\n        }\n      ],\n      \"place_id\": \"ChIJLw1BG2JdUjoRq0OS8KbBRE4\",\n      \"rating\": 3.6,\n      \"reference\": \"CmRRAAAAQOURuFXpnKn2ZLSti5fAr9FhAbmsoZCpas4s3LmU3GHeW6ZePEwHANpVOLJpCP-CybEUk95sUMi0X_3VqKEIUKfcuyWAZsLT1bVTNxv8nQGk2yFtCuhvumKzGBmm7nJUEhCQmyzU1WcDhkqKTCVulT2iGhRt9MkkoOyAOABhyBMF4ImduAuAGw\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Planetyum Food court, Ascendas I.T.Park, No.9, Taramani Main Road, Taramani,, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.985922,\n          \"lng\": 80.246147\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9872709802915,\n            \"lng\": 80.24749598029149\n          },\n          \"southwest\": {\n            \"lat\": 12.9845730197085,\n            \"lng\": 80.24479801970848\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"dfb17e6fc80e57b17e25f194671321c472439a8a\",\n      \"name\": \"Bangs\",\n      \"place_id\": \"ChIJF9QUoGNdUjoRefTCxQGcXI8\",\n      \"rating\": 5,\n      \"reference\": \"CmRSAAAAMAqSopADymVyY-tSxAXXCM-eNJ1SYnv37ATzCn0HyCEYyg-dK-ub9vsKBamcXeKyeRaSv7-A_SWDRDe_Mu4nkI-DzWyx32rbjt8mNZITLrJ2IhoEiNl5CPJ0P21DP7n6EhAW-9F76NWJLKjlnCe1VytiGhQgowuJyNoWyB1ZRXE_8RppmwSpqg\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Phase 1, Planetyum Food Court, Ascendas, Taramani, Chennai - 113, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.986203,\n          \"lng\": 80.24653699999999\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9875519802915,\n            \"lng\": 80.2478859802915\n          },\n          \"southwest\": {\n            \"lat\": 12.9848540197085,\n            \"lng\": 80.2451880197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png\",\n      \"id\": \"ea9c10d1aded6c4f92781504cafd75f50bcf77f2\",\n      \"name\": \"MilkyWay\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 300,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/112270384294563003336/photos\\\">MilkyWay</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAkHO5aUR_YBWVsCEEyF25fNsNIL7LuArodhI-knHyRu1VupmfnmYc_f_WF0rbVStAmtgUPEb0447kDNt4f20muiQJ2M3jVmuUuGiY33hedmxhIxgJGggLuOV519FeKLhxEhBzde0tV6C40eeTHKotELGBGhQkFGd-W_cUpK1Y_L0t7WGD4NwUDQ\",\n          \"width\": 301\n        }\n      ],\n      \"place_id\": \"ChIJP9qJo2NdUjoRcchbwFzddAY\",\n      \"reference\": \"CmRRAAAA15t5ArDio8ux5awdXK5CJXB-ltqU1OUDyaOQ5Q2wmRdFc8xIYSnq15FUh4ub5JiX8LvGlVfDvkqt8zaf-t5LY2gxE-gm_eN9AwvK2JMiVp6lFlpjHXzj9EfF0DVS2TGiEhB0A_UVEr673X9DUHOU51DUGhSFdl-yzYDV0giIEAn9Bv_pIAsxnQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"store\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"No: A8, planet yum international food court, tech park phase-1, ascendas, no: 128, csir road, taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9848008,\n          \"lng\": 80.2458639\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9861497802915,\n            \"lng\": 80.24721288029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9834518197085,\n            \"lng\": 80.2445149197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"634214543899f5e22757fafd95e65841320b5c17\",\n      \"name\": \"Tangerine Restaurant\",\n      \"place_id\": \"ChIJIX4leWNdUjoR0wx_OUQeQDg\",\n      \"reference\": \"CmRRAAAAzqfqbnvrlJnm6KuiZ_oe1loOuRb7_8LpZ9tvw-ehJziPdTBoz3wYuUqJTv80368EwGcUxwfT5I4yWVZvQBaRoTjDs0WxN8giLJmmqrgD3M3djSTBfMMP1ruVaylzjXQyEhDuHefgzkKOyD0tzEGM_k-yGhTVFLoi3Vj3bSfwewCEDzZ_lOiAsw\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9858094,\n          \"lng\": 80.24605969999999\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9871583802915,\n            \"lng\": 80.2474086802915\n          },\n          \"southwest\": {\n            \"lat\": 12.9844604197085,\n            \"lng\": 80.2447107197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"4343d8b3bf507c6355bd2271718b778162f590b6\",\n      \"name\": \"Ohemo DineInn\",\n      \"opening_hours\": {\n        \"open_now\": true,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 4608,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/113275353766461641305/photos\\\">Raj SekARR ராஜசேகர்</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAWB9O5mPa8sfsBeRPDyki3olOQRseOZBbE3GoqdT-URwpG6nF4mNCGk9JqeGWfoXFZEkMzVlhD9pOHr-vKcAUf4kaIH3UFcYeMcXILg7jqVASDN6jic-BPMy9ZWEWpEE6EhAUzKdnjl0_qj-EwhMH2nEEGhRdVxg0Wbs2M-wY8B2xz1U-IYsiqA\",\n          \"width\": 3456\n        }\n      ],\n      \"place_id\": \"ChIJLSpUdWNdUjoRk1bJytDGaLg\",\n      \"rating\": 5,\n      \"reference\": \"CmRSAAAAqmF3uBL07LdM-_Hp81IULccB8LWjrhJr6_KSFURGgRIQpwX3ELRkwFNSkk3f_a-QKGftThdGoeh04kraqkjlTvvgcEGg8EISFmDXUyhmcprnnpwGPqQ0MzdI91uG8NoHEhCBUY_Ox0GH9VBdvNnZ3tezGhTmICiosJ9wMXNDyBDNBdt0g5O3sA\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Food court, Ascendas IT Park Ground Floor, CSIR Road, Taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9858358,\n          \"lng\": 80.2461282\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9872563802915,\n            \"lng\": 80.24747823029149\n          },\n          \"southwest\": {\n            \"lat\": 12.9845584197085,\n            \"lng\": 80.24478026970849\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"1ac44e1edcdcaa96e811298d12afefec2d6a9984\",\n      \"name\": \"Silver Spoon Restaurant\",\n      \"opening_hours\": {\n        \"open_now\": true,\n        \"weekday_text\": []\n      },\n      \"place_id\": \"ChIJuQv2n2NdUjoRTJAupgVSboA\",\n      \"reference\": \"CmRSAAAAKh-52Hodr-1RvhGGf7TgLvlGMOfX08VUguip-2Xz1aqhS69fCIrlfl46CC9qls0HkNDn169KSKIlL-YBx295BWyrXMqSEWByfv0z5fzr-omPIyf-Mky6jL-6R70j5F7hEhAIp5ODvzfKkWQterm-kQZHGhR2R3T7CIUnoWXTosX4qQY78iy4wg\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"CSIR Road, Taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.985835,\n          \"lng\": 80.246119\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9871839802915,\n            \"lng\": 80.2474679802915\n          },\n          \"southwest\": {\n            \"lat\": 12.9844860197085,\n            \"lng\": 80.24477001970848\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"7d91da88fedec6be196b9c6d7b2ccbc58b68c27f\",\n      \"name\": \"Namma Veedu Vasanta Bhavan\",\n      \"place_id\": \"ChIJuVsdoGNdUjoReSzkleoifYU\",\n      \"price_level\": 1,\n      \"reference\": \"CmRSAAAA3rxs4j1bzEISa5rwgPHFqfX2cQuUD6nNvDMy9VLWh-31_-LQ6IZKys4WFmfgS0IxN6EUWtoFr-iC7-XvsF4SN63P5vWc8NXJJQUPoM7X_93dWnqFJrHj2Z6OxLrh9bYbEhAXsiUA2q03-lmeqKfD5jtsGhSdExTwsn4lvpVtOIsz8IOxT6h48g\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Ascendas IT Park, Phase 2, Ground Floor, Tharamani, Chennai, Tharamani, South Chennai, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.985635,\n          \"lng\": 80.24591099999999\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9872695302915,\n            \"lng\": 80.24726158029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9845715697085,\n            \"lng\": 80.2445636197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"ba852bedf7d5592976249cab442cf89131db9dfd\",\n      \"name\": \"Copper Chimney - Taramani, Chennai\",\n      \"opening_hours\": {\n        \"open_now\": false,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 1200,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/115934111354692498311/photos\\\">Copper Chimney - Taramani, Chennai</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAA0FxVJFRc6SJ-IkoFgjNPky_7TnVlnpM3pZ2Wy2lQRJkPtDIXncu8ZGDDuf0W8rRK4IAq75sNbqJVhn5G4_E4lCY5UN5zuwDqiLDaZY1aFCSxLApffNvDlbT6XNFJ6DUjEhDgsnJBXBUsG8L_wwf1pow0GhTWdBTQAIS71yS5d7-HjWxMcFkh_A\",\n          \"width\": 800\n        }\n      ],\n      \"place_id\": \"ChIJ4zKtamFdUjoRuT4yu93XQE8\",\n      \"rating\": 3.6,\n      \"reference\": \"CmRRAAAAPUn4YyorXLV54kPZzxlmUJMTuALC208z1qalAVJmvYdK5fKSpaVfe1gA102IJAi7mNWnM_zqlW9JfA14hY66vAc9SalPv7KMiZ90-OgkGmglU_-JgK9qPbviqUMZ34A1EhB9r558hqhEPFeAXf66QD-3GhQipA3aVJBoLF3iwwuyfn-Aie3RyQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Ascendas, CSIR Road, Taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.985929,\n          \"lng\": 80.246544\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9872779802915,\n            \"lng\": 80.24789298029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9845800197085,\n            \"lng\": 80.2451950197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"5a4d2875f29097166cae07894e2a22820536b673\",\n      \"name\": \"THE OMELETTE SHOP\",\n      \"opening_hours\": {\n        \"open_now\": true,\n        \"weekday_text\": []\n      },\n      \"place_id\": \"ChIJ9-sFnmNdUjoR5tGXVOn67s8\",\n      \"reference\": \"CmRSAAAAmALh_Tj-IHk-9a2nzYlIdt8gZnoE574f3f2yKel1nzxirbh3Da-4sh51yeu97rdu7x1qcZpghlF5G0gB7I5CLoAKgev52_Q8j2u0rqgt5hAcPGdOv2OQjLW8NqQEZh0lEhCtefADKAzi_ok7_8QjMnAUGhRWSOSkjhS9fOS01xe9cmhcW8UVkw\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Ascendas It Park, Taramani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.98573,\n          \"lng\": 80.245605\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9870789802915,\n            \"lng\": 80.24695398029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9843810197085,\n            \"lng\": 80.24425601970849\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"3b2e9e1ecfbb166de824aa0645a7062a268cea14\",\n      \"name\": \"Ramaa's The Hyderabadi Food Court\",\n      \"place_id\": \"ChIJz5g9c2NdUjoRDvznHvYeLqI\",\n      \"rating\": 2,\n      \"reference\": \"CmRSAAAA_h-Pm3aqq5BLwoVgBQr2yn9bEWrxRUD7umVgMAwCFRVPzHmMVDcaNMzEZ4xT2HXgyGHjJxih6NgzOOEgYbTffy2_wZuI16z92FsikEc2UHSEwoPSUytJ7H3ykMiSehKKEhC0FXIt097qAQiGJZSwEaX7GhRQgva1NXGWRVY-xlmhFqFW2cOgvQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Ascendas IT Park, Phase I, Tharamani, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9857744,\n          \"lng\": 80.2455782\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9871233802915,\n            \"lng\": 80.24692718029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9844254197085,\n            \"lng\": 80.2442292197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"aa7fb8b23369df33c6677d650542f71f009fce1f\",\n      \"name\": \"Ascendas Food Court Madras\",\n      \"opening_hours\": {\n        \"open_now\": true,\n        \"weekday_text\": []\n      },\n      \"place_id\": \"ChIJaeDjQmFdUjoRAEhNTckvwKE\",\n      \"rating\": 4.2,\n      \"reference\": \"CmRSAAAALvyK4OP7hH7C7b4CV3qcCabQOeJ3U8_aPy1aukG4qeirGNDEvbWO7QPy_f3wBkKEms1U5dUcu1XhHfsB7f1IXFN5zBJUUvS3jo5iQAaP_MUcJY4eIA6ZIOVEvzfTrxsGEhDUmvEqiSsfw2G3lXCIgGxDGhSREYU63aOWuiiRXEJ2gyAfthAoIA\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"lodging\",\n        \"restaurant\",\n        \"food\",\n        \"store\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Ascendas, Chennai (ITPC) Taramani Road, TICEL Biopark Rd, Chennai\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9862028,\n          \"lng\": 80.2465371\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9875517802915,\n            \"lng\": 80.24788608029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9848538197085,\n            \"lng\": 80.2451881197085\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"df8d8c5c29a2755dfdc691f15ea8544359c0189f\",\n      \"name\": \"Ayyanar Restaurant\",\n      \"place_id\": \"ChIJZdqJo2NdUjoRs_OmNRnsRxI\",\n      \"rating\": 5,\n      \"reference\": \"CmRRAAAAaGBQr2MRRo4gcCPy8N0exy2nyauGPeJcuCjMtE5eEFwENGu6ikZeLgMC7SZ4dtZ50hcZJfDy4iiWa1DzUkteB1-j9coSCMyw4tFB8ycrwG077AYyX9QeWDBXCTmHfvuWEhCKjWJykPYTmkA4eEFfpFI8GhQxKnhfh5WQNyjaYdQ-hCGQlE3c2A\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Food Court, No 5, Ascendas IT Park, Phase 1, CSIR Road, Taramani Road\"\n    },\n    {\n      \"geometry\": {\n        \"location\": {\n          \"lat\": 12.9848126,\n          \"lng\": 80.2458422\n        },\n        \"viewport\": {\n          \"northeast\": {\n            \"lat\": 12.9861615802915,\n            \"lng\": 80.24719118029151\n          },\n          \"southwest\": {\n            \"lat\": 12.9834636197085,\n            \"lng\": 80.24449321970849\n          }\n        }\n      },\n      \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n      \"id\": \"0bf9d2a6e0eae5b252912f738577e60b43dc8bf0\",\n      \"name\": \"Golden Spoon\",\n      \"opening_hours\": {\n        \"open_now\": true,\n        \"weekday_text\": []\n      },\n      \"photos\": [\n        {\n          \"height\": 756,\n          \"html_attributions\": [\n            \"<a href=\\\"https://maps.google.com/maps/contrib/104034797952854880747/photos\\\">AKHIL R KRISHNAN</a>\"\n          ],\n          \"photo_reference\": \"CmRaAAAAS1ABMF9iP4B2Q0Oj_mRExD14AhIp-0FWBYVi99kWLtLUunasbmAqLUOGan3MDZgWHLjppdxCVMFyynZqtd-fF7MbwLC4WHVfOGQNq2bmiMoTg7Xq815_ljpJN_cduwk7EhAfetOZPLUjXwtZgT4wwGS0GhQtvtKa6-NLKsUvZa0WHpgyAetY3A\",\n          \"width\": 1008\n        }\n      ],\n      \"place_id\": \"ChIJZak7eWNdUjoRSqK7Kxeha1Q\",\n      \"rating\": 4,\n      \"reference\": \"CmRRAAAA24ASnnjO7CDTf583f6_3228vcjhmkBNt7uS-IcDTziICXwfozx5VyvPM3aXmAZEPWL5hvti4bZrUtQ6zNdPsf5Efo5PqlUIDrggZF-i0P5K2_sHd9HACwu3ICf9J4kvMEhC8do7wM7Glf_qyOh3wGNspGhS4ofDnOavVpxgasXq49lmGMTPXEQ\",\n      \"scope\": \"GOOGLE\",\n      \"types\": [\n        \"restaurant\",\n        \"food\",\n        \"point_of_interest\",\n        \"establishment\"\n      ],\n      \"vicinity\": \"Taramani, Chennai\"\n    }\n  ],\n  \"status\": \"OK\"\n}",
              "application/xml" : "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<PlaceSearchResponse>\n <status>OK</status>\n <result>\n  <name>SUBWAY</name>\n  <vicinity>CSIR Road International Tech Park, Ascendas, Tharamani Road, Indian Institute Of Technology, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9855481</lat>\n    <lng>80.2457289</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9845256</lat>\n     <lng>80.2448473</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9872235</lat>\n     <lng>80.2475453</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>4.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAAOTDS5uQ44LqfEROJUD6qZEUKCWuHOx6Evjv96oVLlanf7ulLcnm9tcEoZ2DTmt0kjE-7Q4NpEP8Fys5scMgaEFEHz3TNjZfcXv9-LD6yjIpsBxrAkaeiUJTAhXN-6RmXEhBXdG3GCGAzF8dnwNbj_jVmGhSb07TRM875Lr5F8vnLhWc9uFTjgg</reference>\n  <id>3729596b031bde565f21b0b188ac8f2cd5648401</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAAB4iESUb_-o6tlP-56eX-MjxBZotFSUDSxvGDNRniatkyeJAQ8gTY8v0gzu-hBS27xJ7_ceOwgPquRQe68WJN5bEhW1dmwYjaPufL-cWSdW7tztmU3SM1RnT7BtRE7BNrEhAM1pyblY_Dwj31M3HTqwyCGhSCvJzKUgoo6wWVSlFBE-lUW5Cy0w</photo_reference>\n   <width>890</width>\n   <height>890</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/101900905661492736603/photos&quot;&gt;SUBWAY&lt;/a&gt;</html_attribution>\n  </photo>\n  <price_level>1</price_level>\n  <place_id>ChIJNTPagWNdUjoRY8CF1tyKL5I</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Wang's Kitchen</name>\n  <vicinity>Phase I, Ascendas IT Park, CSIR Road, Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9854999</lat>\n    <lng>80.2457177</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9843888</lat>\n     <lng>80.2443726</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9870867</lat>\n     <lng>80.2470706</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>2.9</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAuap2V7EeTVJAuk259KXOUVaz0qbQ32pSkQOYj2Hk7i-AGJhND4fBRLbHyKrdGUW4ADGJKiNPA3U3ZAE5_cjczIXJLHgJIBfgVchC5icE9LVEuj2rYEH7GvnuxWYW5qDXEhDM1HZbxoXeATbU6lA1MTB0GhTX9-piG3DeLwfUN7MZtpxj0uJ6Cg</reference>\n  <id>a0579b770a241b14db5944c8d7a6179c851cf8d9</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAARLWMYad50lzFrrUU8XQnOTdLz3GbPgEu2e8ybCXEVzkx7D3lqc-U6P30r5SdmNRKsdBHigHZzZ7YrxdOnpIXr7RqNP3ZgXMIjoIRE009Lnj7GMYvl-mqn6mH-lkxmRmhEhBv9BCPRIIJndwg2lkI3-GrGhSdH0rfEa7ZAZRfvxISUa5H79NP2Q</photo_reference>\n   <width>1024</width>\n   <height>768</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/113170105998703681996/photos&quot;&gt;Dinbandhu Kumar&lt;/a&gt;</html_attribution>\n  </photo>\n  <place_id>ChIJdf1yC2NdUjoR3B4aNwIXUAo</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Kaati Zone</name>\n  <vicinity>Csir Road, Food Court 1, Ascendas Park, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9856560</lat>\n    <lng>80.2462000</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9843070</lat>\n     <lng>80.2448510</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9870050</lat>\n     <lng>80.2475490</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAD93OmVhRy7E3IVyxBeJTcU5xVKuzAhtD_Gvn8p3gRHKXRplQlpPKeeZbXZlwMcqeK6mgAVZLQaIZREq5RKkteaDxKp6DpmUWrGidSB1UGHILiwLI7Vnw2BwGD1AEfs0hEhByh28HT9g-03fbjJBnEOZwGhSRk_V-2YxvNd9yFCMILezBuXXGlg</reference>\n  <id>15ca7634a227c6cf5fa1ef21d270970bd2c193a5</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <place_id>ChIJPVBNnmNdUjoRYNOeLCpCGQQ</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Planet Yumm</name>\n  <vicinity>Ascendas IT Park (Chennai ) Ltd. International Tech Park, 01-07 &amp; 08, Taramani Road, 600 113, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9858123</lat>\n    <lng>80.2459394</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9844633</lat>\n     <lng>80.2445904</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9871613</lat>\n     <lng>80.2472884</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>3.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAAUXdODTD1YVwaTECr8btw3e6qbOcADP0QhyYoE-7xB2oHgHtPc972676WQj6TN23UYq2emQ7Ghwqhfm2ID463pIHY_votOlo16BehtHkLn0b6fwa22ATNl6nuTV6uWlWEhBk5CxYlgV01DQQ3L4w91xRGhRedUExfTQaK7KG8XeqpTHzNIJjoQ</reference>\n  <id>a02a6f47e78b9a8d8aaf8f30876b8adb97d0346f</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <place_id>ChIJjb6Yz1ldUjoRd5WASYTHUnc</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Domino's Pizza</name>\n  <vicinity>First Floor, Unit No.11 (Food Court), Ascendas It Park (Chennai) Limited, Pinnac, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9858620</lat>\n    <lng>80.2461830</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9845130</lat>\n     <lng>80.2448340</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9872110</lat>\n     <lng>80.2475320</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>4.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAAShZIaVKW1MSMOKYT38-2kYc48CcMr_r6pdVVO3RpP4uS472jvbb08H2vCEY7KrJJ6nNgaTPZTsHjPmt_cWZLaAi1IV5izEtx7rRNEWfxovTo57PGC1R9-SKbkGk6ZMtAEhC4Tszm63PV2NoMgdbKbHu-GhTwaWWk3AtMCoxcDaxKaTwHodmjOg</reference>\n  <id>d2f21ecc44c1bb95f88e6a124b2016447e9ff42b</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAArHZYcZ8Ap4XZkIQI570OAg3ETI4Tq7ctKU1JCXH1QyMbr7lVgCX9lgJKSloVDvdWZENeLrkQle2JdRusTmJbufrS2549_ONjuK1BkcsXYqOgd4_8D-C95yOtlDVsb1D8EhDjh91Zkh-xFzr0uR4R18OLGhSgpUS_XfpuBg-ASjO5a2Ghp_7vfw</photo_reference>\n   <width>402</width>\n   <height>412</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/113887752193823999941/photos&quot;&gt;Domino&amp;#39;s Pizza&lt;/a&gt;</html_attribution>\n  </photo>\n  <price_level>1</price_level>\n  <place_id>ChIJh9cgoGNdUjoRbG4WH5tOWIA</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Hotel Saravana Bhavan</name>\n  <vicinity>Planetyum Food court, Ascendas I.T.Park, No.9, Taramani Main Road, Taramani,, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9857738</lat>\n    <lng>80.2459320</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9844248</lat>\n     <lng>80.2445830</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9871228</lat>\n     <lng>80.2472810</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>3.6</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAH0zkOnn9D9cifvJmmJGxVJjwugNWRdR21HTFChkD0Rtc7HHkbKsc1r8cuwyud5DGX7PgXqBc-SWgdcwJnVqo4Finby9P_g4R8mIiXweGMvgCEY0-bgSWXqB-k7_ZZB_EEhDVSCk2FAzOwYntnS7RAPmPGhSieJjyB9RSNu7-kXzchl5Io8HlvA</reference>\n  <id>5a427feb5f1ab7eb2b22b1fe75af2252dc80de47</id>\n  <opening_hours>\n   <open_now>true</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAA2lE26jxqWSi67eLC9dWG27MWG2AvQUa_v72VmrZIy9ZPhyWGgrVfDDg0q4yey_D84AUQbQRhoBIP_5_-ccvlRrEORrGV_72AzEBd329g3ofXSn9_GZXpoX1GzxGnO38xEhD3w7LJWTTWLGX-reHOs3nVGhRaATdGdhKr6sAoaFs82R_U5tvTUQ</photo_reference>\n   <width>304</width>\n   <height>309</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/100124910531594314921/photos&quot;&gt;Hotel Saravana Bhavan&lt;/a&gt;</html_attribution>\n  </photo>\n  <place_id>ChIJLw1BG2JdUjoRq0OS8KbBRE4</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Bangs</name>\n  <vicinity>Phase 1, Planetyum Food Court, Ascendas, Taramani, Chennai - 113, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9859220</lat>\n    <lng>80.2461470</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9845730</lat>\n     <lng>80.2447980</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9872710</lat>\n     <lng>80.2474960</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>5.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAAGVMNCibOQH46gzfB-Rqs5zvZcNEsP21s-m_T6nnbQxKko8MXHyr4WOJYRxLQ5DqtotZkJLQOCyn0NSPiCoLTjnkOT6F5lObc2S1v788D_V5F97424ZSVgDND4yXiFSNUEhCrV_alS2byDXi0U3w6HJn5GhQRZpLyBfAi7IJ6jbMzhh89khMmKw</reference>\n  <id>dfb17e6fc80e57b17e25f194671321c472439a8a</id>\n  <place_id>ChIJF9QUoGNdUjoRefTCxQGcXI8</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>MilkyWay</name>\n  <vicinity>No: A8, planet yum international food court, tech park phase-1, ascendas, no: 128, csir road, taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>store</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9862030</lat>\n    <lng>80.2465370</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9848540</lat>\n     <lng>80.2451880</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9875520</lat>\n     <lng>80.2478860</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png</icon>\n  <reference>CmRRAAAA3WV4caUvDTxW28KrRRTioH5mwePOFWP_Jzr1R8CAplBPiVVt2YLu2j4FMjgybzU8FaR37wAWgX3b-S1AyQGK9a6_mXa_11Dc1TOV9TSiyCiot2lM_oFb_a2GvExd-qoFEhAMcDRcWkx5klmflJpMMJ4IGhQKljng_ypLzlIHHoYSLPvyEodNlw</reference>\n  <id>ea9c10d1aded6c4f92781504cafd75f50bcf77f2</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAAf3oCZbTxYQQHbIXxJ6U1574S3kyjSivyFOGjJFFkE4-kRBV_VgrCs45ac_Iecl0G9idAyI0mzfw8QfOJ004oToWzz_Se8fNYI4zY2GWjN2wcn25KQBk2IYhuNR0fkg3rEhBnCuW7YI_YHdcZ_aPv8-BsGhRr0i6mGoGOo9Z-Bbzd5aQYtrKMTA</photo_reference>\n   <width>301</width>\n   <height>300</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/112270384294563003336/photos&quot;&gt;MilkyWay&lt;/a&gt;</html_attribution>\n  </photo>\n  <place_id>ChIJP9qJo2NdUjoRcchbwFzddAY</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Tangerine Restaurant</name>\n  <vicinity>Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9848008</lat>\n    <lng>80.2458639</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9834518</lat>\n     <lng>80.2445149</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9861498</lat>\n     <lng>80.2472129</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAbAxLgYNENXzxRb7hbQCQoZ8EzvvePPXARVRxUF3dIfYzduOJs16rcg27YkRZ1gesyymJ0AnY1Hfn1deuw-WrQCQAhAlABGfX4LExtlZAC7M7bhhSe9lF_gABAOWioEeiEhAfdqR51d2RSfkTdmLPCAMLGhSNjAylHZGeCWtA1K-xF68QzceDrw</reference>\n  <id>634214543899f5e22757fafd95e65841320b5c17</id>\n  <place_id>ChIJIX4leWNdUjoR0wx_OUQeQDg</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Ohemo DineInn</name>\n  <vicinity>Food court, Ascendas IT Park Ground Floor, CSIR Road, Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9858094</lat>\n    <lng>80.2460597</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9844604</lat>\n     <lng>80.2447107</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9871584</lat>\n     <lng>80.2474087</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>5.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAAIeyF2HVgzC1c-kknTBggcKrKu6WHQN0OVNmMUSDGV7WK_fwPUZUQ7h7idBfUs2cC4vHsmjHtsVCmGVvvut38nPIY9q7lPcbcTh6n-BiAv_MfjIAtRpRGyTOdkrkhp-L8EhAthsezLh74F02In6sw1Zw8GhTdsyvtrXJ0ZU3borWVOHml97RX9A</reference>\n  <id>4343d8b3bf507c6355bd2271718b778162f590b6</id>\n  <opening_hours>\n   <open_now>true</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAA1kUQRYkMVvOTzm3-tljZufeqNlx6SEt4wz7XqquYildpW660nwYFRDgVcnYNZjC3i_9n0Hf63md6aEjiSaHK1iV87ys0GlAkZw8gFlw_GYaieh0BxtTS0AW7gUoVH3lREhBJeR3RTWlJYI2OJ1EaiHaYGhRxqPDbEz7Ife9hu9-jf2jyv6gHtg</photo_reference>\n   <width>3456</width>\n   <height>4608</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/113275353766461641305/photos&quot;&gt;Raj SekARR ராஜசேகர்&lt;/a&gt;</html_attribution>\n  </photo>\n  <place_id>ChIJLSpUdWNdUjoRk1bJytDGaLg</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Silver Spoon Restaurant</name>\n  <vicinity>CSIR Road, Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9858358</lat>\n    <lng>80.2461282</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9845584</lat>\n     <lng>80.2447803</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9872564</lat>\n     <lng>80.2474782</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAA8WIDHZS7LqY1zskfSmk2Z4Xm-PQmvmWhxm7nekwcXZdc2noPJA9m0Hp6krWsKEsap38SwNOoRQh_L1MUCa-80_cTl86yyQRHs-cNG4O_kqXqvHS2p9vbFk3ptgoEX0xcEhBoo0Y9WiYzeWHZRpxUr4lPGhScvf7hhx13q3nzQr8zymOP31Eg6g</reference>\n  <id>1ac44e1edcdcaa96e811298d12afefec2d6a9984</id>\n  <opening_hours>\n   <open_now>true</open_now>\n  </opening_hours>\n  <place_id>ChIJuQv2n2NdUjoRTJAupgVSboA</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Namma Veedu Vasanta Bhavan</name>\n  <vicinity>Ascendas IT Park, Phase 2, Ground Floor, Tharamani, Chennai, Tharamani, South Chennai, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9858350</lat>\n    <lng>80.2461190</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9844860</lat>\n     <lng>80.2447700</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9871840</lat>\n     <lng>80.2474680</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAA1Nn-lhe7UImogHATIg1icOc98Wwin9hPq50UNIszxq-7TJ-luOvN8Ve_PW_Wcji6wyEn4yxYqmt5wmH2QYalEW4GMC-A1YH1ecIaaGEyKASGTbDouSUkKYlUuwdXlGCnEhANhAzBb59d6BbTok9DGtZZGhT5noMCLWnntwdYdwE9-h6UJnYIaw</reference>\n  <id>7d91da88fedec6be196b9c6d7b2ccbc58b68c27f</id>\n  <price_level>1</price_level>\n  <place_id>ChIJuVsdoGNdUjoReSzkleoifYU</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Copper Chimney - Taramani, Chennai</name>\n  <vicinity>Ascendas, CSIR Road, Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9856350</lat>\n    <lng>80.2459110</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9845716</lat>\n     <lng>80.2445636</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9872695</lat>\n     <lng>80.2472616</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>3.6</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAk1iC1oWy713fmbx8-XKRJQv1Tmmd-yrzl0lifDPFBiOwkUMt-Wnu6cFWVtM2ezlSVSopagoROieUIum6fb6nriADA8tlF5AB1CYdIm198THMvr7w8A9aYDYXLVAGDIExEhAEoaHjij9yf3Jcg3bS1c37GhTz1IG8BxrsExczbvhOa0orQEpfEg</reference>\n  <id>ba852bedf7d5592976249cab442cf89131db9dfd</id>\n  <opening_hours>\n   <open_now>false</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAAwC29NAjfb1ciFINg-YRJVn15Q3kKAorDcI0ArYByltU_SXOhPVu1G2YIKqt9rXTtRQX_iuBRemGRS4TJyQMcbv9NATl_T22uVBRlxGGOmWpzAlwop0oyhv-tkIGlpT5mEhBzcGyQ5VmdtK8-NQPXvnnWGhSo2FaL7cehFYWPAZJ6IXIjNpeJhQ</photo_reference>\n   <width>800</width>\n   <height>1200</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/115934111354692498311/photos&quot;&gt;Copper Chimney - Taramani, Chennai&lt;/a&gt;</html_attribution>\n  </photo>\n  <place_id>ChIJ4zKtamFdUjoRuT4yu93XQE8</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>THE OMELETTE SHOP</name>\n  <vicinity>Ascendas It Park, Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9859290</lat>\n    <lng>80.2465440</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9845800</lat>\n     <lng>80.2451950</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9872780</lat>\n     <lng>80.2478930</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAAgDgg7QJfzgqVE1WR-0kYbCza6bmVs_ga1Ep31GERb_PYXTyjfu7VeI-y5TYrAM1t5ZV4RFJn5tHmPpnBoPwjeiKCnORIBiCYpmU16xfdx3lNWs_AQNg5NpVlfILIyUDOEhAMBtzevCtt_0INqQb-ff3KGhQC0HbJgFlUBMdumj8cVeTs8K4DTQ</reference>\n  <id>5a4d2875f29097166cae07894e2a22820536b673</id>\n  <opening_hours>\n   <open_now>true</open_now>\n  </opening_hours>\n  <place_id>ChIJ9-sFnmNdUjoR5tGXVOn67s8</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Ramaa's The Hyderabadi Food Court</name>\n  <vicinity>Ascendas IT Park, Phase I, Tharamani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9857300</lat>\n    <lng>80.2456050</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9843810</lat>\n     <lng>80.2442560</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9870790</lat>\n     <lng>80.2469540</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>2.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAAVoW4hRkeGTij1TylNHifNXz8QPnyWAtA7QUFP_iurcup1pAf3ofVW9GAZSMhUvyAruEMISctGL5axtIQ7GGzlY5AXRJpqdIRi5csrUT7fUv1YTXE0NLJfB28uq1Ide6TEhBhPZs6TGiCL1dzxbi8izeAGhT2JkrkTlb5yg6XTUzIL_pK5r9SOA</reference>\n  <id>3b2e9e1ecfbb166de824aa0645a7062a268cea14</id>\n  <place_id>ChIJz5g9c2NdUjoRDvznHvYeLqI</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Ascendas Food Court Madras</name>\n  <vicinity>Ascendas, Chennai (ITPC) Taramani Road, TICEL Biopark Rd, Chennai</vicinity>\n  <type>lodging</type>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>store</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9857744</lat>\n    <lng>80.2455782</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9844254</lat>\n     <lng>80.2442292</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9871234</lat>\n     <lng>80.2469272</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>4.2</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRSAAAA5TBe87gqMIMJnhe2rwx0u0W3s1KCZpRImNWLpYe6ZPZvpmwsEosEVeVgUlm1S8DSvgtwqsGe0vmL9BHvsaae8MaiKsRk6veRoC6S-W7xo_Q-Su5AVl9op-HMLBt6n240EhCzwkg6CQ5s6ouiPdS_PH-OGhRAQDHOxS9Ert0jFy7ZL7EmDssKlg</reference>\n  <id>aa7fb8b23369df33c6677d650542f71f009fce1f</id>\n  <opening_hours>\n   <open_now>true</open_now>\n  </opening_hours>\n  <place_id>ChIJaeDjQmFdUjoRAEhNTckvwKE</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Ayyanar Restaurant</name>\n  <vicinity>Food Court, No 5, Ascendas IT Park, Phase 1, CSIR Road, Taramani Road</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9862028</lat>\n    <lng>80.2465371</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9848538</lat>\n     <lng>80.2451881</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9875518</lat>\n     <lng>80.2478861</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>5.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAaFe7pUsfv_fr7e4xJfhxUvSeE0Ekiqsly_NLGKKOd3k5ykKgx612xh3fNYXdDgvcBmF8__XzJHJrVKTsprry0j0ZV8btKrEvdxv576FPvLnM1yPr2omJtA3g3drs15R8EhDQDGgN-BZA6TOvcSZ0AjHWGhQy3c-vvAmv-WOat4aBFmVDpRG9VA</reference>\n  <id>df8d8c5c29a2755dfdc691f15ea8544359c0189f</id>\n  <place_id>ChIJZdqJo2NdUjoRs_OmNRnsRxI</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <result>\n  <name>Golden Spoon</name>\n  <vicinity>Taramani, Chennai</vicinity>\n  <type>restaurant</type>\n  <type>food</type>\n  <type>point_of_interest</type>\n  <type>establishment</type>\n  <geometry>\n   <location>\n    <lat>12.9848126</lat>\n    <lng>80.2458422</lng>\n   </location>\n   <viewport>\n    <southwest>\n     <lat>12.9834636</lat>\n     <lng>80.2444932</lng>\n    </southwest>\n    <northeast>\n     <lat>12.9861616</lat>\n     <lng>80.2471912</lng>\n    </northeast>\n   </viewport>\n  </geometry>\n  <rating>4.0</rating>\n  <icon>https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png</icon>\n  <reference>CmRRAAAAZgZKEmEJ8hyZwBUD8Y2S3RihyLLmyUmyN-lwgfa95qJGqUxFk8xxjBLmX8CvYamzbnVcYFiOZVFnLHOTxsyxjcGP0sJwGa_Bk8xQmcxg0i4PSDrjrPa3DciEFNJ8GLlcEhA2nAjl8FDcUfS6x6VcyG6iGhQDfPRrULjkhTtM2AhUZHrjz6qsFg</reference>\n  <id>0bf9d2a6e0eae5b252912f738577e60b43dc8bf0</id>\n  <opening_hours>\n   <open_now>true</open_now>\n  </opening_hours>\n  <photo>\n   <photo_reference>CmRaAAAATa0Q8X8_XPdxVfBarVo2fzbpcGnbYaizlYAXmuv3vOrSDD8HGYbVEWFC7uGAq632b6RQO3_oJLzdcB0t65kZzpSL1CEQ-V3hqPMJsfscVW3TsXrkwWrMayCXeU1Y9QyTEhA5D9x9UcDDaeCStK_fQ5HXGhREFpxxPH89OFVCqTupO6hWLqc3rg</photo_reference>\n   <width>1008</width>\n   <height>756</height>\n   <html_attribution>&lt;a href=&quot;https://maps.google.com/maps/contrib/104034797952854880747/photos&quot;&gt;AKHIL R KRISHNAN&lt;/a&gt;</html_attribution>\n  </photo>\n  <place_id>ChIJZak7eWNdUjoRSqK7Kxeha1Q</place_id>\n  <scope>GOOGLE</scope>\n </result>\n <html_attribution>Listings by &lt;a href=&quot;http://www.openrice.com/&quot;&gt;OpenRice&lt;/a&gt;</html_attribution>\n</PlaceSearchResponse>"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "outputFormat",
        "in" : "path",
        "description" : "outputFormat may be either of the following values:\njson (recommended) indicates output in JavaScript Object Notation (JSON)\nxml indicates output as XML",
        "required" : true,
        "type" : "string",
        "default" : ""
      } ]
    },
    "/place/photo" : {
      "get" : {
        "parameters" : [ {
          "name" : "maxwidth",
          "in" : "query",
          "description" : "Specifies the maximum desired height or width, in pixels, of the image returned by the Place Photos service. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the maxheight and maxwidth properties accept an integer between 1 and 1600.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "maxheight",
          "in" : "query",
          "description" : "Specifies the maximum desired height or width, in pixels, of the image returned by the Place Photos service. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the maxheight and maxwidth properties accept an integer between 1 and 1600.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "photoreference",
          "in" : "query",
          "description" : "A string identifier that uniquely identifies a photo. Photo references are returned from either a Place Search or Place Details request.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "This key identifies your application for purposes of quota management. ",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyCNxrnFrNbOn53Jt6x-3v6_lLotI4Kwmgc"
        } ],
        "responses" : {
          "200" : {
            "description" : "The response of a successful Place Photo request will be an image. The type of the image will depend upon the type of the originally submitted photo."
          },
          "400" : {
            "description" : "If the server is unable to understand your request, it will return HTTP 400 status, which indicates an invalid request. The most common reasons why you might see an invalid request include:\nThe submitted photo reference was incorrectly specified.\nYour request did not include either a maxwidth or maxheight parameter."
          },
          "403" : {
            "description" : "If your request exceeds your available quota, the server will return an HTTP 403 status and display an image to indicate that the quota has been exceeded."
          }
        }
      }
    },
    "/place/queryautocomplete/{outputFormat}" : {
      "get" : {
        "parameters" : [ {
          "name" : "language",
          "in" : "query",
          "description" : "The language code, indicating in which language the results should be returned, if possible. Searches are also biased to the selected language; results in the selected language may be given a higher ranking. See https://developers.google.com/maps/faq#languagesupport. If language is not supplied, the Places service will attempt to use the native language of the domain from which the request is sent.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "The distance (in meters) within which to return place results. Note that setting a radius biases results to the indicated area, but may not fully restrict results to the specified area. See https://developers.google.com/places/web-service/query#location_biasing for more information.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "The point around which you wish to retrieve place information. Must be specified as latitude,longitude.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The character position in the input term at which the service uses text for predictions. For example, if the input is 'Googl' and the completion point is 3, the service will match on 'Goo'. The offset should generally be set to the position of the text caret. If no offset is supplied, the service will use the entire term.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "This key identifies your application for purposes of quota management. ",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyAEBySo7b1JyxV1p3y283s8vkLv3XVkmq8"
        }, {
          "name" : "input",
          "in" : "query",
          "description" : "The text string on which to search. The Places service will return candidate matches based on this string and order results based on their perceived relevance.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The status field within the Query Autocomplete response object contains the status of the request, and may contain debugging information to help you track down why the request failed. The status field may contain the following values:\n\nOK indicates that no errors occurred and at least one result was returned.\nZERO_RESULTS indicates that the search was successful but returned no results. This may occur if the search was passed a bounds in a remote location.\nOVER_QUERY_LIMIT indicates that you are over your quota.\nREQUEST_DENIED indicates that your request was denied, generally because the key parameter is missing or invalid.\nINVALID_REQUEST generally indicates that the input parameter is missing.",
            "examples" : {
              "application/json" : "{\n   \"predictions\" : [\n      {\n         \"description\" : \"pizza near Sydney, New South Wales, Australia\",\n         \"matched_substrings\" : [\n            {\n               \"length\" : 5,\n               \"offset\" : 0\n            },\n            {\n               \"length\" : 4,\n               \"offset\" : 6\n            },\n            {\n               \"length\" : 5,\n               \"offset\" : 11\n            }\n         ],\n         \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\" : \"pizza\"\n            },\n            {\n               \"offset\" : 6,\n               \"value\" : \"near\"\n            },\n            {\n               \"offset\" : 11,\n               \"value\" : \"Sydney\"\n            },\n            {\n               \"offset\" : 19,\n               \"value\" : \"New South Wales\"\n            },\n            {\n               \"offset\" : 36,\n               \"value\" : \"Australia\"\n            }\n         ]\n      },\n      {\n         \"description\" : \"pizza near Sydney, NS, Canada\",\n         \"matched_substrings\" : [\n            {\n               \"length\" : 5,\n               \"offset\" : 0\n            },\n            {\n               \"length\" : 4,\n               \"offset\" : 6\n            },\n            {\n               \"length\" : 5,\n               \"offset\" : 11\n            }\n         ],\n         \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\" : \"pizza\"\n            },\n            {\n               \"offset\" : 6,\n               \"value\" : \"near\"\n            },\n            {\n               \"offset\" : 11,\n               \"value\" : \"Sydney\"\n            },\n            {\n               \"offset\" : 19,\n               \"value\" : \"NS\"\n            },\n            {\n               \"offset\" : 23,\n               \"value\" : \"Canada\"\n            }\n         ]\n      },\n        ...additional results ...\n      {\n         \"description\" : \"Bondi Pizza, Campbell Parade, Sydney, New South Wales, Australia\",\n         \"id\" : \"c478ed4e7cb075b307fdce4ad4f6c9d15cab01d7\",\n         \"matched_substrings\" : [\n            {\n               \"length\" : 5,\n               \"offset\" : 6\n            },\n            {\n               \"length\" : 5,\n               \"offset\" : 30\n            }\n         ],\n         \"place_id\" : \"ChIJv0wpwp6tEmsR0Glcf5tugrk\",\n         \"reference\" : \"ClRPAAAAYozD2iM3dQvDMrvrLDIALGoHO7v6pWhxn5vIm18pOyLLqToyikFov34qJoe4NnpoaLtGIWd5LWm5hOpWU1BT-SEI2jGZ8WXuDvYiFtQtjGMSEIR4thVlMws1tnNuE3hE2k0aFCqP_yHWRNSLqaP_vQFzazO-D7Hl\",\n         \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\" : \"Bondi Pizza\"\n            },\n            {\n               \"offset\" : 13,\n               \"value\" : \"Campbell Parade\"\n            },\n            {\n               \"offset\" : 30,\n               \"value\" : \"Sydney\"\n            },\n            {\n               \"offset\" : 38,\n               \"value\" : \"New South Wales\"\n            },\n            {\n               \"offset\" : 55,\n               \"value\" : \"Australia\"\n            }\n         ],\n         \"types\" : [ \"establishment\" ]\n      }\n   ],\n     \"status\" : \"OK\"\n  }\n      ",
              "application/xml" : "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AutocompletionResponse>\n <status>OK</status>\n <prediction>\n  <description>pizza near Sydney, New South Wales, Australia</description>\n  <term>\n   <value>pizza</value>\n   <offset>0</offset>\n  </term>\n  <term>\n   <value>near</value>\n   <offset>6</offset>\n  </term>\n  <term>\n   <value>Sydney</value>\n   <offset>11</offset>\n  </term>\n  <term>\n   <value>New South Wales</value>\n   <offset>19</offset>\n  </term>\n  <term>\n   <value>Australia</value>\n   <offset>36</offset>\n  </term>\n  <matched_substring>\n   <offset>0</offset>\n   <length>5</length>\n  </matched_substring>\n  <matched_substring>\n   <offset>6</offset>\n   <length>4</length>\n  </matched_substring>\n  <matched_substring>\n   <offset>11</offset>\n   <length>5</length>\n  </matched_substring>\n </prediction>\n <prediction>\n  <description>pizza near Sydney, NS, Canada</description>\n  <term>\n   <value>pizza</value>\n   <offset>0</offset>\n  </term>\n  <term>\n   <value>near</value>\n   <offset>6</offset>\n  </term>\n  <term>\n   <value>Sydney</value>\n   <offset>11</offset>\n  </term>\n  <term>\n   <value>NS</value>\n   <offset>19</offset>\n  </term>\n  <term>\n   <value>Canada</value>\n   <offset>23</offset>\n  </term>\n  <matched_substring>\n   <offset>0</offset>\n   <length>5</length>\n  </matched_substring>\n  <matched_substring>\n   <offset>6</offset>\n   <length>4</length>\n  </matched_substring>\n  <matched_substring>\n   <offset>11</offset>\n   <length>5</length>\n  </matched_substring>\n </prediction>\n...additional results ...\n <prediction>\n  <description>Bondi Pizza, Campbell Parade, Sydney, New South Wales, Australia</description>\n  <type>establishment</type>\n  <place_id>ChIJv0wpwp6tEmsR0Glcf5tugrk</place_id>\n  <reference>ClRPAAAADqzkHp7ZNKcaFxP-foYYI5dix_sSaqfkUgxEYaJrB0ntyg704tMG8sEJjebhIVLW4viCsKtnlxiBrrFk9fxq0ruf4oUdQDfv7zwmS4P68KQSEPKUkFNTgit63QOGRYeElv4aFJnD0wN2thFO6XFRq2JsHzQEirvC</reference>\n  <id>c478ed4e7cb075b307fdce4ad4f6c9d15cab01d7</id>\n  <term>\n   <value>Bondi Pizza</value>\n   <offset>0</offset>\n  </term>\n  <term>\n   <value>Campbell Parade</value>\n   <offset>13</offset>\n  </term>\n  <term>\n   <value>Sydney</value>\n   <offset>30</offset>\n  </term>\n  <term>\n   <value>New South Wales</value>\n   <offset>38</offset>\n  </term>\n  <term>\n   <value>Australia</value>\n   <offset>55</offset>\n  </term>\n  <matched_substring>\n   <offset>6</offset>\n   <length>5</length>\n  </matched_substring>\n  <matched_substring>\n   <offset>30</offset>\n   <length>5</length>\n  </matched_substring>\n </prediction>\n</AutocompletionResponse>"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "outputFormat",
        "in" : "path",
        "description" : "outputFormat may be either of the following values:\njson (recommended) indicates output in JavaScript Object Notation (JSON)\nxml indicates output as XML",
        "required" : true,
        "type" : "string",
        "default" : ""
      } ]
    },
    "/place/radarsearch/{outputFormat}" : {
      "get" : {
        "description" : "A Radar Search request must include at least one of keyword, name, or type.",
        "parameters" : [ {
          "name" : "types",
          "in" : "query",
          "description" : "(deprecated) — Restricts the results to places matching at least one of the specified types. Separate types with a pipe symbol (type1|type2|etc).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Restricts the results to places matching the specified type. Only one type may be specified (if more than one type is provided, all types following the first entry are ignored). See https://developers.google.com/places/web-service/supported_types",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "opennow",
          "in" : "query",
          "description" : "Returns only those places that are open for business at the time the query is sent. Places that do not specify opening hours in the Google Places database will not be returned if you include this parameter in your query.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "A term to be matched against all content that Google has indexed for this place. Equivalent to keyword. The name field is no longer restricted to place names. Values in this field are combined with values in the keyword field and passed as part of the same search string. We recommend using only the keyword parameter for all search terms.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxprice",
          "in" : "query",
          "description" : "Restricts results to only those places within the specified price level. Valid values are in the range from 0 (most affordable) to 4 (most expensive), inclusive. The exact amount indicated by a specific value will vary from region to region.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minprice",
          "in" : "query",
          "description" : "Restricts results to only those places within the specified price level. Valid values are in the range from 0 (most affordable) to 4 (most expensive), inclusive. The exact amount indicated by a specific value will vary from region to region.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "The language code, indicating in which language the results should be returned, if possible. Searches are also biased to the selected language; results in the selected language may be given a higher ranking. See https://developers.google.com/maps/faq#languagesupport. Note that we often update supported languages so this list may not be exhaustive.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "keyword",
          "in" : "query",
          "description" : "A term to be matched against all content that Google has indexed for this place, including but not limited to name, type, and address, as well as customer reviews and other third-party content.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "Defines the distance (in meters) within which to return place results. The maximum allowed radius is 50 000 meters.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "The latitude/longitude around which to retrieve place information. This must be specified as latitude,longitude.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "This key identifies your application for purposes of quota management.",
          "required" : true,
          "type" : "string",
          "default" : "AIzaSyDT0_q6qFzudyIlJt51l9fITy3HS9XuaY0"
        } ],
        "responses" : {
          "200" : {
            "examples" : {
[...]
