{
  "swagger" : "2.0",
  "info" : {
    "description" : "College means any Institution, whether known as such or by any other name which provides for a course of study for obtaining any qualification from a university and which, in accordance with the rules and regulations of such university, is recognised as competent to provide for such course of study and present students undergoing such course of study for the examination for the award of such qualification.",
    "version" : "1.0",
    "title" : "University API"
  },
  "host" : "data.gov.in",
  "basePath" : "/api/datastore",
  "schemes" : [ "https" ],
  "paths" : {
    "/resource.json" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "fields",
        "in" : "query",
        "description" : "(array or comma separated string) – fields to return (default: all fields in original order)",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "limit",
        "in" : "query",
        "description" : "maximum number of rows to return (default: 100)",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "offset",
        "in" : "query",
        "description" : "offset this number of rows",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "filters",
        "in" : "query",
        "description" : "array or string of matching conditions to select",
        "required" : false,
        "type" : "string"
      }, {
        "name" : "api-key",
        "in" : "query",
        "description" : "",
        "required" : false,
        "type" : "string",
        "default" : "2d9d6906111c2f6b36cfeef6bf603e49"
      }, {
        "name" : "resource_id",
        "in" : "query",
        "required" : false,
        "type" : "string",
        "default" : "44bea382-c525-4740-8a07-04bd20a99b52"
      } ]
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]