#%RAML 0.8
title: Bitly
version: v3
baseUri: "https://api-ssl.bitly.com/v3"
protocols: [HTTP]
mediaType: application/json
schemas: 
    - 
        user-referrers: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "days": {
                          "description": "The number of days for which data is provided (ONLY returned if unit is not specified).",
                          "type": "integer"
                        },
                        "referrers": {
                          "items": {
                            "description": "A list of URLs referring traffic to this user's links.",
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this URL.",
                                "type": "integer"
                              },
                              "referrer": {
                                "description": "The URL referring clicks.",
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-shorten_counts: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "user_shorten_counts": {
                          "description": "The number of shortens made by the specified user in the specified time.",
                          "type": "integer"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        bundle-clone: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bundle_owner": {
                          "description": "The bitly user who owns this bundle (the authenticated user on whose behalf the bundle was created).",
                          "type": "string"
                        },
                        "created_ts": {
                          "description": "A timestamp representing the time at which this bundle was created.",
                          "type": "string"
                        },
                        "description": {
                          "description": "A description of this bundle.",
                          "type": "string"
                        },
                        "bundle_link": {
                          "description": "A URL pointing directly to this bundle.",
                          "type": "string"
                        },
                        "last_modified_ts": {
                          "description": "A timestamp representing the last time this bundle was modified.",
                          "type": "string"
                        },
                        "private": {
                          "description": "A true/false value indicating whether this bundle is set to be private.",
                          "type": "boolean"
                        },
                        "links": {
                          "items": {
                            "description": "The links in the bundle.",
                            "properties": {
                              "aggregate_link": {
                                "description": "The global bitly link for the specified long_url, which can be used to track aggregate stats across all matching bitly links.",
                                "type": "string"
                              },
                              "link": {
                                "description": "The bitly link for the specified long_url, unique to this user's account.",
                                "type": "string"
                              },
                              "description": {
                                "description": "A description of this link.",
                                "type": "string"
                              },
                              "title": {
                                "description": "The title of this link, automatically populated from the destination page title and editable with the /v3/bundle/link_edit endpoint.",
                                "type": "string"
                              },
                              "long_url": {
                                "description": "The destination long URL for this link.",
                                "type": "string"
                              },
                              "display_order": {
                                "description": "The order in which this link will display, starting with 0 for the link to be displayed first.",
                                "type": "integer"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        bitly_pro_domain: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bitly_pro_domain": {
                          "description": "0 or 1 designating whether this is a current bitly domain.",
                          "type": "boolean"
                        },
                        "domain": {
                          "description": "An echo back of the request parameter.",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        shorten: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "new_hash": {
                          "description": "Designates if this is the first time this long_url was shortened by this user. The return value will equal 1 the first time a long_url is shortened. It will also then be added to the user  history.",
                          "type": "string"
                        },
                        "url": {
                          "description": "The actual link that should be used, and is a unique value for the given bitly account.",
                          "type": "string"
                        },
                        "hash": {
                          "description": "A bitly identifier for long_url which is unique to the given account.",
                          "type": "string"
                        },
                        "global_hash": {
                          "description": "A bitly identifier for long_url which can be used to track aggregate stats across all bitly links that point to the same long_url.",
                          "type": "string"
                        },
                        "long_url": {
                          "description": "an echo back of the longUrl request parameter. This may not always be equal to the URL requested, as some URL normalization may occur (e.g., due to encoding differences, or case differences in the domain). This long_url will always be functionally identical the the request parameter. ",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-link_edit: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "description": "An echo back of the edited bitly link.",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-encoders_count: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "aggregate_link": {
                          "description": "The aggregate (global) bitly link for the provided bitly link.",
                          "type": "string"
                        },
                        "count": {
                          "description": "The number of bitly users who have shortened (encoded) this link.",
                          "type": "integer"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-referring_domains: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "referring_domains": {
                          "items": {
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this domain.",
                                "type": "integer"
                              },
                              "domain": {
                                "description": "The domain referring clicks.",
                                "type": "string"
                              },
                              "url": {
                                "description": "The complete URL of the domain referring clicks.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        bundle-view_count: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "object",
                    "properties": {  
                    	"bundle_link": {
                    		"description": "An echo of the input bundle_link parameter.",
                    		"type": "string"
                    	},
                    	"view_count": {
                    		"description": "The number of times the bundle has been viewed.",
                    		"type": "integer"
                    	}
                    }
                }
        link-lookup: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "description": "An echo back of the url parameter.",
                          "type": "string"
                        },
                        "aggregate_link": {
                          "description": "The corresponding bitly aggregate link (global hash).",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-shares: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "shares": {
                          "items": {
                            "description": "The number of shares for the specified bitly link, by the type of share (twitter, email, facebook).",
                            "properties": {
                              "share_type": {
                                "type": "string"
                              },
                              "shares": {
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-network_history: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "description": "The total number of network history results returned.",
                          "type": "integer"
                        },
                        "limit": {
                          "description": "An echo back of the limit parameter.",
                          "type": "integer"
                        },
                        "offset": {
                          "description": "An echo back of the offset parameter.",
                          "type": "integer"
                        },
                        "entries": {
                          "items": {
                            "description": "The returned network history links",
                            "properties": {
                              "global_hash": {
                                "description": "The global (aggregate) identifier of this link.",
                                "type": "string"
                              },
                              "saves": {
                                "items": {
                                  "description": "Information about each time this link has been publicly saved by bitly users followed by the authenticated user.",
                                  "properties": {
                                    "link": {
                                      "description": "The bitly link specific to this user and this long_url.",
                                      "type": "string"
                                    },
                                    "aggregate_link": {
                                      "description": "The global bitly identifier for this long_url.",
                                      "type": "string"
                                    },
                                    "long_url": {
                                      "description": "The original long URL.",
                                      "type": "string"
                                    },
                                    "user": {
                                      "description": "The bitly user who saved this link.",
                                      "type": "string"
                                    },
                                    "archived": {
                                      "description": "A true/false value indicating whether the user has archived this link.",
                                      "type": "boolean"
                                    },
                                    "private": {
                                      "description": "A true/false value indicating whether the user has made this link private.",
                                      "type": "boolean"
                                    },
                                    "created_at": {
                                      "description": "An integer unix epoch indicating when this link was shortened/encoded.",
                                      "type": "string"
                                    },
                                    "user_ts": {
                                      "description": "A user-provided timestamp for when this link was shortened/encoded, used for backfilling data.",
                                      "type": "string"
                                    },
                                    "modified_at": {
                                      "description": "An integer unix epoch indicating when this link's metadata was last edited.",
                                      "type": "string"
                                    },
                                    "title": {
                                      "description": "The title for this link.",
                                      "type": "string"
                                    },
                                    "client_id": {
                                      "description": "the oauth client ID of the app that shortened/saved this link on behalf of the user. If expand_client_id is set to false, this will be a string corresponding to the client_id of the encoding oauth application. If expand_client_id is set to true, this will be a mapping containing the following fields:",
                                      "oneOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "properties": {
                                            "client_id": {
                                              "description": "A string corresponding to the client_id of the encoding oauth application.",
                                              "type": "string"
                                            },
                                            "app_link": {
                                              "description": "The link for the encoding oauth application.",
                                              "type": "string"
                                            },
                                            "app_name": {
                                              "description": "The name of the encoding oauth application.",
                                              "type": "string"
                                            },
                                            "app_description": {
                                              "description": "A description of the encoding oauth application.",
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        }
                                      ]
                                    }
                                  }
                                },
                                "type": "array"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-countries: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "days": {
                          "description": "The number of days for which data is provided (ONLY returned if unit is not specified).",
                          "type": "integer"
                        },
                        "countries": {
                          "items": {
                            "description": "A list of countries referring traffic to this user's links.",
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this country.",
                                "type": "integer"
                              },
                              "country": {
                                "description": "The two-letter code of the referring country.",
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-link_save: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "description": "The bitly short URL for the provided longUrl, specific to this user.",
                          "type": "string"
                        },
                        "aggregate_link": {
                          "description": "A bitly short URL for the provided longUrl, which can be used to track aggregate stats across all bitly links that point to the same longUrl.",
                          "type": "string"
                        },
                        "new_link": {
                          "description": "Returns 1 if the authenticated user is saving this link for the first time, 0 if the user has previously saved it.",
                          "type": "integer"
                        },
                        "long_url": {
                          "description": "An echo back of the longUrl request parameter. This may not always be equal to the URL requested, as some URL normalization may occur (e.g., due to encoding differences, or case differences in the domain). This long_url will always be functionally identical the the request parameter.",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-referring_domains: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "days": {
                          "description": "The number of days for which data is provided (ONLY returned if unit is not specified).",
                          "type": "integer"
                        },
                        "referring_domains": {
                          "items": {
                            "description": "A list of domains referring traffic to this user's links.",
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this domain.",
                                "type": "integer"
                              },
                              "domain": {
                                "description": "the domain referring clicks.",
                                "type": "string"
                              },
                              "url": {
                                "description": "The complete URL of the domain referring clicks.",
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        bundle-bundles_by_user: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bundle_owner": {
                          "description": "The bitly user who owns this bundle (the authenticated user on whose behalf the bundle was created).",
                          "type": "string"
                        },
                        "created_ts": {
                          "description": "A timestamp representing the time at which this bundle was created.",
                          "type": "string"
                        },
                        "description": {
                          "description": "A description of this bundle.",
                          "type": "string"
                        },
                        "bundle_link": {
                          "description": "A URL pointing directly to this bundle.",
                          "type": "string"
                        },
                        "last_modified_ts": {
                          "description": "A timestamp representing the last time this bundle was modified.",
                          "type": "string"
                        },
                        "private": {
                          "description": "A true/false value indicating whether this bundle is set to be private.",
                          "type": "boolean"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        info: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "short_url": {
                          "description": "An echo back of the shortUrl request parameter.",
                          "type": "string"
                        },
                        "hash": {
                          "description": "An echo back of the hash request parameter.",
                          "type": "string"
                        },
                        "user_hash": {
                          "description": "The corresponding bitly user identifier.",
                          "type": "string"
                        },
                        "global_hash": {
                          "description": "The corresponding bitly aggregate identifier.",
                          "type": "string"
                        },
                        "error": {
                          "description": "indicates there was an error retrieving data for a given shortUrl or hash. An example error is 'NOT_FOUND'.",
                          "type": "string"
                        },
                        "title": {
                          "description": "The HTML page title for the destination page (when available).",
                          "type": "string"
                        },
                        "created_by": {
                          "description": "The bitly username that originally shortened this link, if the link is public. Otherwise, null.",
                          "type": "string"
                        },
                        "created_at": {
                          "description": "The epoch timestamp when this bitly link was created.",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-countries: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "countries": {
                          "items": {
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this country.",
                                "type": "integer"
                              },
                              "country": {
                                "description": "The two-letter code of the referring country.",
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-tracking_domain_shorten_counts: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "tracking_domain_shorten_counts": {
                          "description": "the number of links to the specified tracking domain shortened (encoded) by all bitly users in the specified time.",
                          "type": "integer"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-referrers: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "referrers": {
                          "items": {
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this URL.",
                                "type": "integer"
                              },
                              "referrer": {
                                "description": "The URL referring clicks.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-link_lookup: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "description": "An echo back of the url parameter.",
                          "type": "string"
                        },
                        "link": {
                          "description": "The corresponding bitly link (short URL).",
                          "type": "string"
                        },
                        "aggregate_link": {
                          "description": "The corresponding bitly aggregate link (global hash).",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        bundle-clone-schema: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bundle_owner": {
                          "description": "The bitly user who owns this bundle (the authenticated user on whose behalf the bundle was created).",
                          "type": "string"
                        },
                        "created_ts": {
                          "description": "A timestamp representing the time at which this bundle was created.",
                          "type": "string"
                        },
                        "description": {
                          "description": "A description of this bundle.",
                          "type": "string"
                        },
                        "bundle_link": {
                          "description": "A URL pointing directly to this bundle.",
                          "type": "string"
                        },
                        "last_modified_ts": {
                          "description": "A timestamp representing the last time this bundle was modified.",
                          "type": "string"
                        },
                        "private": {
                          "description": "A true/false value indicating whether this bundle is set to be private.",
                          "type": "boolean"
                        },
                        "links": {
                          "items": {
                            "description": "The links in the bundle.",
                            "properties": {
                              "aggregate_link": {
                                "description": "The global bitly link for the specified long_url, which can be used to track aggregate stats across all matching bitly links.",
                                "type": "string"
                              },
                              "link": {
                                "description": "The bitly link for the specified long_url, unique to this user's account.",
                                "type": "string"
                              },
                              "description": {
                                "description": "A description of this link.",
                                "type": "string"
                              },
                              "title": {
                                "description": "The title of this link, automatically populated from the destination page title and editable with the /v3/bundle/link_edit endpoint.",
                                "type": "string"
                              },
                              "long_url": {
                                "description": "The destination long URL for this link.",
                                "type": "string"
                              },
                              "display_order": {
                                "description": "The order in which this link will display, starting with 0 for the link to be displayed first.",
                                "type": "integer"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-encoders: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "aggregate_link": {
                          "description": "The aggregate (global) bitly link for the provided bitly link.",
                          "type": "string"
                        },
                        "entries": {
                          "description": "A mapping of link, user, and ts (when the link was created).",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-link_history: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "result_count": {
                          "description": "The number of returned links in this user's history.",
                          "type": "integer"
                        },
                        "link_history": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "The specified user's links.",
                            "properties": {
                              "link": {
                                "description": "The bitly link specific to this user and this long_url.",
                                "type": "string"
                              },
                              "aggregate_link": {
                                "description": "The global bitly identifier for this long_url.",
                                "type": "string"
                              },
                              "long_url": {
                                "description": "The original long URL.",
                                "type": "string"
                              },
                              "archived": {
                                "description": "A true/false value indicating whether the user has archived this link.",
                                "type": "boolean"
                              },
                              "private": {
                                "description": "A true/false value indicating whether the user has made this link private.",
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An integer unix epoch indicating when this link was shortened/encoded."
                              },
                              "user_ts": {
                                "type": "string",
                                "description": "A user-provided timestamp for when this link was shortened/encoded, used for backfilling data."
                              },
                              "modified_at": {
                                "type": "string",
                                "description": "An integer unix epoch indicating when this link's metadata was last edited."
                              },
                              "title": {
                                "description": "The title for this link.",
                                "type": "string"
                              },
                              "shares": {
                                "type": "array",
                                "items": {
                                  "description": "A list of share actions (for the authenticated user only)"
                                }
                              },
                              "client_id": {
                                "description": "the oauth client ID of the app that shortened/saved this link on behalf of the user. If expand_client_id is set to false, this will be a string corresponding to the client_id of the encoding oauth application. If expand_client_id is set to true, this will be a mapping containing the following fields:",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "properties": {
                                      "client_id": {
                                        "description": "A string corresponding to the client_id of the encoding oauth application.",
                                        "type": "string"
                                      },
                                      "app_link": {
                                        "description": "The link for the encoding oauth application.",
                                        "type": "string"
                                      },
                                      "app_name": {
                                        "description": "The name of the encoding oauth application.",
                                        "type": "string"
                                      },
                                      "app_description": {
                                        "description": "A description of the encoding oauth application.",
                                        "type": "string"
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-info-enterprise_user: |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "properties": {
                    "login": {
                      "description": "The specified bitly login or the login of the authenticated user.",
                      "type": "string"
                    },
                    "profile_url": {
                      "description": "URL of user's profile page.",
                      "type": "string"
                    },
                    "profile_image": {
                      "description": "URL of user's profile image.",
                      "type": "string"
                    },
                    "member_since": {
                      "description": "Unix timestamp for the moment the user signed up.",
                      "type": "string"
                    },
                    "full_name": {
                      "description": "The user's full name, if set.",
                      "type": "string",
                      "required": false
                    },
                    "display_name": {
                      "description": "The user's display name, if set.",
                      "type": "string",
                      "required": false
                    },
                    "share_accounts": {
                      "type": "array",
                      "items": {
                        "description": "A list of the share accounts (Twitter or Facebook) linked to the user's account.",
                        "type": "string",
                        "required": false
                      }
                    },
                    "apiKey": {
                      "description": "The user's bitly API key.",
                      "type": "string"
                    },
                    "is_enterprise": {
                      "description": "0 or 1 to indicate if this account is signed up for bitly enterprise.",
                      "type": "boolean",
                      "default": false
                    },
                    "sub_accounts": {
                      "type": "array",
                      "items": {
                        "description": "List of accounts associated with this account."
                      }
                    },
                    "e2e_domains": {
                      "type": "array",
                      "items": {
                        "description": "List of domains associated with this custom_short_domain."
                      }
                    },
                    "tracking_url_prefxies": {
                      "type": "array",
                      "items": {
                        "description": "A list of owned 3rd party urls such as Facebook tracked for analytics"
                      }
                    },
                    "master_account": {
                      "description": "The login of a master account, if this is associated with an enterprise account.",
                      "type": "string",
                      "required": false
                    },
                    "enterprise_permissions": {
                      "type": "array",
                      "items": {
                        "description": "List of enterprise permissions associated with this account."
                      }
                    }
                  }
                }
        expand: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "short_url": {
                          "description": "An echo back of the shortUrl request parameter.",
                          "type": "string"
                        },
                        "hash": {
                          "description": "An echo back of the hash request parameter.",
                          "type": "string"
                        },
                        "user_hash": {
                          "description": "The corresponding bitly user identifier.",
                          "type": "string"
                        },
                        "global_hash": {
                          "description": "The corresponding bitly aggregate identifier.",
                          "type": "string"
                        },
                        "error": {
                          "description": "Indicates there was an error retrieving data for a given shortUrl or hash. An example error is 'NOT_FOUND'.",
                          "type": "string"
                        },
                        "long_url": {
                          "description": "The URL that the requested short_url or hash points to.",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-share_counts: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "share_counts": {
                          "items": {
                            "description": "The number of shares from this user's account. If rollup=false, returns timeseries data per unit.",
                            "properties": {
                              "dt": {
                                "description": "Timestamp corresponding to the specified unit.",
                                "type": "string"
                              },
                              "shares": {
                                "description": "The number of shares in that timeframe.",
                                "type": "integer"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-clicks: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "link_clicks": {
                          "description": "The number of clicks on the specified bitly link.",
                          "type": "integer"
                        },
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "unit_reference_ts": {
                          "description": "An echo of the specified unit_reference_ts value.",
                          "type": "string"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-tracking_domain_clicks: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "tracking_domain_clicks": {
                          "description": "The number of the number of clicks on bitly links pointing to the specified tracking domain in the specified time.",
                          "type": "integer"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-popular_links: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "popular_links": {
                          "items": {
                            "description": "The links that have received click traffic in the specified timeframe.",
                            "properties": {
                              "link": {
                                "description": "A bitly link.",
                                "type": "string"
                              },
                              "clicks": {
                                "description": "The number of clicks on that bitly link in the specified timeframe.",
                                "type": "integer"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-clicks: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "days": {
                          "description": "The number of days for which data is provided (ONLY returned if unit is not specified).",
                          "type": "integer"
                        },
                        "user_clicks": {
                          "items": {
                            "properties": {
                              "dt": {
                                "description": "A unix timestamp representing the beginning of this unit.",
                                "type": "string"
                              },
                              "day_start": {
                                "description": "A unix timestamp representing the beginning of the specified day (ONLY returned if unit is not specified).",
                                "type": "string"
                              },
                              "clicks": {
                                "description": "The number of clicks on this user's links in the specified timeframe.",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        user-tracking_domain_list: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tracking_domains": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
        link-referrers-schema: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tz_offset": {
                          "description": "The offset for the specified timezone, in hours.",
                          "type": "integer"
                        },
                        "unit": {
                          "description": "An echo of the specified unit value.",
                          "type": "string"
                        },
                        "units": {
                          "description": "An echo of the specified units value.",
                          "type": "integer"
                        },
                        "referrers": {
                          "items": {
                            "properties": {
                              "clicks": {
                                "description": "The number of clicks referred from this URL.",
                                "type": "integer"
                              },
                              "referrer": {
                                "description": "The URL referring clicks.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "status_code": {
                      "type": "integer",
                      "required": true
                    },
                    "status_txt": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
securitySchemes: 
    - 
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
/user/tracking_domain_list: 
    get: 
        description: Returns a list of tracking domains a user has configured.
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: user-tracking_domain_list
                        example: |
                            {
                              "data": {
                                "tracking_domains": [
                                  "usa.gov"
                                ]
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/link/clicks: 
    get: 
        description: |
            Returns the number of clicks on a single bitly link.
            Note: historical data is stored hourly beyond the most recent 60 minutes.
            If a unit_reference_ts is specified, unit cannot be minute.
        queryParameters: 
            unit: 
                description: |
                    minute, hour, day, week or month, default: day
                    Note: when unit is minute the maximum value for units is 60.
                type: string
                required: false
                repeat: false
                enum: [minute, hour, day, week, month]
                default: day
            timezone: 
                description: |
                    An integer hour offset from UTC (-14 to 14), or a timezone string
                    default: America/New_York.
                type: integer
                required: false
                repeat: false
                default: "-4"
            unit_reference_ts: 
                description: |
                    An epoch timestamp, indicating the most recent time for which to pull
                    metrics, default: now.
                    The value of unit_reference_ts rounds to the nearest unit.
                type: string
                required: false
                repeat: false
            link: 
                description: A bitly link.
                type: string
                required: false
                repeat: false
            limit: 
                description: "1 to 1000"
                type: integer
                required: false
                repeat: false
                default: "100"
            units: 
                description: |
                    An integer representing the time units to query data for. Pass -1 to
                    return all units of time.
                type: integer
                required: false
                repeat: false
            rollup: 
                description: |
                    Return data for multiple units rolled up to a single result instead of
                    a separate value for each period of time.
                type: boolean
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: link-clicks
                        example: |
                            {
                              "data": {
                                "link_clicks": [
                                  {
                                    "clicks": 1,
                                    "dt": 1360299600
                                  },
                                  {
                                    "clicks": 2,
                                    "dt": 1360213200
                                  },
                                  {
                                    "clicks": 2,
                                    "dt": 1360126800
                                  },
                                  {
                                    "clicks": 3,
                                    "dt": 1360040400
                                  },
                                  {
                                    "clicks": 10,
                                    "dt": 1359954000
                                  }
                                ],
                                "tz_offset": -5,
                                "unit": "day",
                                "unit_reference_ts": 1360351157,
                                "units": 5
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/bundle/bundles_by_user: 
    get: 
        description: Returns a list of public bundles created by a user.
        queryParameters: 
            user: 
                description: The user to get a list of bundles for.
                type: string
                required: true
                repeat: false
            expand_user: 
                description: Include extra user info in response.
                type: boolean
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: bundle-bundles_by_user
                        example: |
                            {
                              "data": {
                                "bundles": [
                                  {
                                    "bundle_link": "http://bitly.com/bundles/bitlyapioauthdemo/1",
                                    "bundle_owner": "bitlyapioauthdemo",
                                    "created_ts": 1332175561,
                                    "description": "Kittehs FTW",
                                    "last_modified_ts": 1332185530,
                                    "private": false,
                                    "title": ""
                                  },
                                  {
                                    "bundle_link": "http://bitly.com/bundles/bitlyapioauthdemo/2",
                                    "bundle_owner": "bitlyapioauthdemo",
                                    "created_ts": 1332185626,
                                    "description": "",
                                    "last_modified_ts": 1332185626,
                                    "private": false,
                                    "title": ""
                                  }
                                ]
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/bundle/link_comment_add: 
    get: 
        description: Add a comment to bundle item.
        queryParameters: 
            bundle_link: 
                description: |
                    The URL corresponding to the bundle to which the link will be added.
                type: string
                required: false
                repeat: false
            link: 
                description: |
                    the URL to be added to the specified bundle. (This can be a bitly shor
                    URL or a long URL. If it is a long URL, it will be automatically saved
                    to the authenticated user's account.)
                type: string
                required: false
                repeat: false
            comment: 
                description: The comment to add.
                type: string
                required: false
                repeat: false
                maxLength: 512
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: bundle-clone-schema
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/user/shorten_counts: 
    get: 
        description: |
            Returns the number of links shortened (encoded) in a given time period by
            the authenticated user.
        queryParameters: 
            unit: 
                description: |
                    minute, hour, day, week or month, default: day
                    Note: when unit is minute the maximum value for units is 60.
                type: string
                required: false
                repeat: false
                enum: [minute, hour, day, week, month]
                default: day
            timezone: 
                description: |
                    An integer hour offset from UTC (-14 to 14), or a timezone string
                    default: America/New_York.
                type: integer
                required: false
                repeat: false
                default: "-4"
            unit_reference_ts: 
                description: |
                    An epoch timestamp, indicating the most recent time for which to pull
                    metrics, default: now.
                    The value of unit_reference_ts rounds to the nearest unit.
                type: string
                required: false
                repeat: false
            limit: 
                description: "1 to 1000"
                type: integer
                required: false
                repeat: false
                default: "100"
            units: 
                description: |
                    An integer representing the time units to query data for. Pass -1 to
                    return all units of time.
                type: integer
                required: false
                repeat: false
            rollup: 
                description: |
                    Return data for multiple units rolled up to a single result instead of
                    a separate value for each period of time.
                type: boolean
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: user-shorten_counts
                        example: |
                            {
                              "data": {
                                "tz_offset": -4,
                                "unit": "day",
                                "units": -1,
                                "user_shorten_counts": 1254
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/bitly_pro_domain: 
    get: 
        description: |
            Query whether a given domain is a valid bitly pro domain. Keep in mind tha
            bitly custom short domains are restricted to less than 15 characters in
            length.
        queryParameters: 
            domain: 
                description: |
                    A short domain. ie: nyti.ms.
                type: string
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: bitly_pro_domain
                        example: |
                            {
                              "data": {
                                "bitly_pro_domain": true,
                                "domain": "1.usa.gov"
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/user/tracking_domain_clicks: 
    get: 
        description: |
            Returns the number of clicks on bitly links pointing to the specified
            tracking domain that have occured in a given time period.
            Users can register a tracking domain from their bitly settings page.
        queryParameters: 
            unit: 
                description: |
                    minute, hour, day, week or month, default: day
                    Note: when unit is minute the maximum value for units is 60.
                type: string
                required: false
                repeat: false
                enum: [minute, hour, day, week, month]
                default: day
            timezone: 
                description: |
                    An integer hour offset from UTC (-14 to 14), or a timezone string
                    default: America/New_York.
                type: integer
                required: false
                repeat: false
                default: "-4"
            domain: 
                description: |
                    A tracking domain as returned from /v3/user/tracking_domain_list.
                type: string
                required: false
                repeat: false
            unit_reference_ts: 
                description: |
                    An epoch timestamp, indicating the most recent time for which to pull
                    metrics, default: now.
                    The value of unit_reference_ts rounds to the nearest unit.
                type: string
                required: false
                repeat: false
            limit: 
                description: "1 to 1000"
                type: integer
                required: false
                repeat: false
                default: "100"
            units: 
                description: |
                    An integer representing the time units to query data for. Pass -1 to
                    return all units of time.
                type: integer
                required: false
                repeat: false
            rollup: 
                description: |
                    Return data for multiple units rolled up to a single result instead of
                    a separate value for each period of time.
                type: boolean
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: user-tracking_domain_clicks
                        example: |
                            {
                              "data": {
                                "tracking_domain_clicks": 206,
                                "tz_offset": -4,
                                "unit": "day",
                                "units": -1
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/bundle/link_edit: 
    get: 
        description: Edit the title for a link.
        queryParameters: 
            preview: 
                description: |
                    A true or false value representing whether a content preview should be
                    displayed for this item (overrides the per-bundle flag of the same name).
                type: boolean
                required: false
                repeat: false
            bundle_link: 
                description: |
                    The URL corresponding to the bundle in which the link will be edited.
                type: string
                required: true
                repeat: false
            edit: 
                description: |
                    A field designating which properties (title, preview) are to be edited,
                    allowing for these fields to be updated with empty values.
                type: string
                required: false
                repeat: false
            link: 
                description: The bitly link to be edited.
                type: string
                required: true
                repeat: false
            title: 
                description: A title for the specified link.
                type: string
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: bundle-clone-schema
                        example: |
                            {
                              "data": {
                                "bundle": {
                                  "bundle_link": "http://bitly.com/bundles/bitlyapioauthdemo/1",
                                  "bundle_owner": "bitlyapioauthdemo",
                                  "created_ts": 1332175561,
                                  "description": "",
                                  "last_modified_ts": 1332184258,
                                  "links": [
                                    {
                                      "aggregate_link": "http://bit.ly/xx2UTg",
                                      "description": "Animated GIFs 4 Lyfe!",
                                      "display_order": 0,
                                      "link": "http://bit.ly/FWfWFP",
                                      "long_url": "http://bukk.it/asdf.gif",
                                      "title": "AAAAHHHH"
                                    },
                                    {
                                      "aggregate_link": "http://bit.ly/K49Ze",
                                      "description": "O LOOK IT'S KEYBOARD CAT",
                                      "display_order": 1,
                                      "link": "http://bit.ly/w8gWsd",
                                      "long_url": "http://www.youtube.com/watch?v=J---aiyznGQ",
                                      "title": "Keyboard Cat!"
                                    },
                                    {
                                      "aggregate_link": "http://bit.ly/gHwqEE",
                                      "description": "",
                                      "display_order": 2,
                                      "link": "http://bit.ly/wc5dQK",
                                      "long_url": "http://icanhascheezburger.com/lolrus/",
                                      "title": "I AM TEH LOLRUS"
                                    }
                                  ],
                                  "private": false,
                                  "title": "Here is a Bundle of Links!"
                                }
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/link/referrers_by_domain: 
    get: 
        description: |
            Returns metrics about the pages referring click traffic to a single bitly
            link, grouped by referring domain.
        queryParameters: 
            unit: 
                description: |
                    minute, hour, day, week or month, default: day
                    Note: when unit is minute the maximum value for units is 60.
                type: string
                required: false
                repeat: false
                enum: [minute, hour, day, week, month]
                default: day
            timezone: 
                description: |
                    An integer hour offset from UTC (-14 to 14), or a timezone string
                    default: America/New_York.
                type: integer
                required: false
                repeat: false
                default: "-4"
            unit_reference_ts: 
                description: |
                    An epoch timestamp, indicating the most recent time for which to pull
                    metrics, default: now.
                    The value of unit_reference_ts rounds to the nearest unit.
                type: string
                required: false
                repeat: false
            link: 
                description: A bitly link.
                type: string
                required: false
                repeat: false
            limit: 
                description: "1 to 1000"
                type: integer
                required: false
                repeat: false
                default: "100"
            units: 
                description: |
                    An integer representing the time units to query data for. Pass -1 to
                    return all units of time.
                type: integer
                required: false
                repeat: false
        responses: 
            "200": 
                description: Successful request.
                body: 
                    application/json: 
                        schema: link-referrers
                        example: |
                            {
                              "data": {
                                "referrers": {
                                  "Twitter": [
                                    {
                                      "clicks": 41,
                                      "referrer": "http://twitter.com/"
                                    },
                                    {
                                      "clicks": 4,
                                      "referrer": "http://t.co/123"
                                    }
                                  ],
                                  "direct": [
                                    {
                                      "clicks": 1129,
                                      "referrer": "direct"
                                    }
                                  ],
                                  "localhost": [
                                    {
                                      "clicks": 24,
                                      "referrer": "http://localhost/www/2ii.jp/ii.php"
                                    }
                                  ],
                                  "news.ycombinator.com": [
                                    {
                                      "clicks": 55,
                                      "referrer": "http://news.ycombinator.com/item"
                                    }
                                  ],
                                  "yxG0tQXMY40=": [
                                    {
                                      "clicks": 25,
                                      "referrer": "yxG0tQXMY40="
                                    }
                                  ]
                                },
                                "tz_offset": -5,
                                "unit": "day",
                                "units": -1
                              },
                              "status_code": 200,
                              "status_txt": "OK"
                            }
            "500": 
                description: Any other error.
            "403": 
                description: Rate limit exceeded.
            "404": 
                description: |
                    Not Found. The server has not found anything matching the Request-URI.
            "503": 
                description: Unknown error.
            "429": 
                description: Your application is sending too many simultaneous requests.
        protocols: [HTTP]
/link/referrers: 
    get: 
        description: |
            Returns metrics about the pages referring click traffic to a single bitly link.
        queryParameters: 
            unit: 
                description: |
                    minute, hour, day, week or month, default: day
                    Note: when unit is minute the maximum value for units is 60.
                type: string
                required: false
                repeat: false
                enum: [minute, hour, day, week, month]
                default: day
            timezone: 
                description: |
                    An integer hour offset from UTC (-14 to 14), or a timezone string
                    default: America/New_York.
                type: integer
                required: false
                repeat: false
[...]
