[[backends]]
  group = "knowledge-graph-search-v1"
  url_pattern = "/v1/entities:search"
  method = "GET"
  host = ["https://kgsearch.googleapis.com"]
  query_string_params = ["ids", "indent", "languages", "limit", "prefix", "query", "types"]
  whitelist = ["itemListElement"]
  concurrent_calls = 1
  [backends.extra_config]
    provider = "googleapis.com"
    description = "Searches the Google Knowledge Graph for entities."
    version = "v1"
    slug = "knowledge-graph-search-v1-v1-entities-search"
    schemes = ["https"]
    hosts = ["https://kgsearch.googleapis.com"]
    topics = ["entities"]
    [backends.extra_config.mapping]
      itemListElement = "itemListElement"
