{
  "swagger" : "2.0",
  "info" : {
    "description" : "The API provide you the most current data at all times. Live Cricket scores at your fingertips.",
    "version" : "1.0",
    "title" : "Cricket API"
  },
  "host" : "cricapi.com",
  "basePath" : "/api",
  "schemes" : [ "http" ],
  "paths" : {
    "/cricketScore" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "apikey",
        "in" : "query",
        "description" : "",
        "required" : false,
        "type" : "string",
        "default" : "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
      }, {
        "name" : "unique_id",
        "in" : "query",
        "description" : "The unique Match ID generated by the Cricket Match API",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/fantasySquad" : {
      "get" : {
        "parameters" : [ {
          "name" : "apikey",
          "in" : "query",
          "description" : "Key for invoke",
          "required" : true,
          "type" : "string",
          "default" : "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
        }, {
          "name" : "unique_id",
          "in" : "query",
          "description" : "ID for the match",
          "required" : true,
          "type" : "string",
          "default" : "1089420"
        } ]
      }
    },
    "/matchCalendar" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "apikey",
        "in" : "query",
        "required" : false,
        "type" : "string",
        "default" : "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
      } ]
    },
    "/matches" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "apikey",
        "in" : "query",
        "required" : false,
        "type" : "string",
        "default" : "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
      } ]
    },
    "/playerStats" : {
      "get" : {
        "parameters" : [ ]
      },
      "parameters" : [ {
        "name" : "apikey",
        "in" : "query",
        "description" : "",
        "required" : false,
        "type" : "string",
        "default" : "0CWPTXYxJmaPWm0eJMGwsrlqR9K2"
      }, {
        "name" : "pid",
        "in" : "query",
        "required" : false,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]
}