{
  "swagger" : "2.0",
  "info" : {
    "description" : "Wordnik is the world's biggest online English dictionary, by number of words",
    "version" : "4.0",
    "title" : "Wordnik"
  },
  "host" : "api.wordnik.com",
  "basePath" : "/v4",
  "tags" : [ {
    "name" : "account"
  }, {
    "name" : "word"
  }, {
    "name" : "wordList"
  }, {
    "name" : "wordLists"
  }, {
    "name" : "words"
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/account.json/apiTokenStatus" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Returns usage statistics for the API account.",
        "operationId" : "getApiTokenStatus",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "header",
          "description" : "Wordnik authentication token",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/ApiTokenStatus"
            }
          }
        }
      }
    },
    "/account.json/authenticate/{username}" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Authenticates a User",
        "operationId" : "authenticate",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "A confirmed Wordnik username",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "password",
          "in" : "query",
          "description" : "The user's password",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationToken"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Authenticates a user",
        "operationId" : "authenticatePost",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "A confirmed Wordnik username",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The user's password",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationToken"
            }
          }
        }
      }
    },
    "/account.json/user" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Returns the logged-in User",
        "description" : "Requires a valid auth_token to be set.",
        "operationId" : "getLoggedInUser",
        "parameters" : [ {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      }
    },
    "/account.json/wordLists" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Fetches WordList objects for the logged-in user.",
        "operationId" : "getWordListsForLoggedInUser",
        "parameters" : [ {
          "name" : "auth_token",
          "in" : "header",
          "description" : "auth_token of logged-in user",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Results to skip",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 50,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/WordList"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Given a word as a string, returns the WordObject that represents it",
        "operationId" : "getWord",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "String value of WordObject to return",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "includeSuggestions",
          "in" : "query",
          "description" : "Return suggestions (for correct spelling, case variants, etc.)",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/WordObject"
            }
          }
        }
      }
    },
    "/word.json/{word}/audio" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Fetches audio metadata for a word.",
        "description" : "The metadata includes a time-expiring fileUrl which allows reading the audio file directly from the API.  Currently only audio pronunciations from the American Heritage Dictionary in mp3 format are supported.",
        "operationId" : "getAudio",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to get audio for.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "Use the canonical form of the word",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 50,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AudioFile"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/definitions" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Return definitions for a word",
        "operationId" : "getDefinitions",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to return definitions for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 200,
          "format" : "int32"
        }, {
          "name" : "partOfSpeech",
          "in" : "query",
          "description" : "CSV list of part-of-speech types",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeRelated",
          "in" : "query",
          "description" : "Return related words with definitions",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "sourceDictionaries",
          "in" : "query",
          "description" : "Source dictionary to return definitions from.  If 'all' is received, results are returned from all sources. If multiple values are received (e.g. 'century,wiktionary'), results are returned from the first specified dictionary that has definitions. If left blank, results are returned from the first dictionary that has definitions. By default, dictionaries are searched in this order: ahd, wiktionary, webster, century, wordnet",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "includeTags",
          "in" : "query",
          "description" : "Return a closed set of XML tags in response",
          "required" : false,
          "type" : "string",
          "default" : "false"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Definition"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/etymologies" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Fetches etymology data",
        "operationId" : "getEtymologies",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to return",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/examples" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Returns examples for a word",
        "operationId" : "getExamples",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to return examples for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "includeDuplicates",
          "in" : "query",
          "description" : "Show duplicate examples from different sources",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Results to skip",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 5,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/ExampleSearchResults"
            }
          }
        }
      }
    },
    "/word.json/{word}/frequency" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Returns word usage over time",
        "operationId" : "getWordFrequency",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to return",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "startYear",
          "in" : "query",
          "description" : "Starting Year",
          "required" : false,
          "type" : "integer",
          "default" : 1800,
          "format" : "int32"
        }, {
          "name" : "endYear",
          "in" : "query",
          "description" : "Ending Year",
          "required" : false,
          "type" : "integer",
          "default" : 2012,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/FrequencySummary"
            }
          }
        }
      }
    },
    "/word.json/{word}/hyphenation" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Returns syllable information for a word",
        "operationId" : "getHyphenation",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to get syllables for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return a correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "sourceDictionary",
          "in" : "query",
          "description" : "Get from a single dictionary. Valid options: ahd, century, wiktionary, webster, and wordnet.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 50,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Syllable"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/phrases" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Fetches bi-gram phrases for a word",
        "operationId" : "getPhrases",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to fetch phrases for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 5,
          "format" : "int32"
        }, {
          "name" : "wlmi",
          "in" : "query",
          "description" : "Minimum WLMI for the phrase",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Bigram"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/pronunciations" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Returns text pronunciations for a given word",
        "operationId" : "getTextPronunciations",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to get pronunciations for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return a correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "sourceDictionary",
          "in" : "query",
          "description" : "Get from a single dictionary",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "typeFormat",
          "in" : "query",
          "description" : "Text pronunciation type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 50,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TextPron"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/relatedWords" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Given a word as a string, returns relationships from the Word Graph",
        "operationId" : "getRelatedWords",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to fetch relationships for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "relationshipTypes",
          "in" : "query",
          "description" : "Limits the total results per type of relationship type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitPerRelationshipType",
          "in" : "query",
          "description" : "Restrict to the supplied relationship types",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Related"
              }
            }
          }
        }
      }
    },
    "/word.json/{word}/topExample" : {
      "get" : {
        "tags" : [ "word" ],
        "summary" : "Returns a top example for a word",
        "operationId" : "getTopExample",
        "parameters" : [ {
          "name" : "word",
          "in" : "path",
          "description" : "Word to fetch examples for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "useCanonical",
          "in" : "query",
          "description" : "If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/Example"
            }
          }
        }
      }
    },
    "/wordList.json/{permalink}" : {
      "get" : {
        "tags" : [ "wordList" ],
        "summary" : "Fetches a WordList by ID",
        "operationId" : "getWordListByPermalink",
        "parameters" : [ {
          "name" : "permalink",
          "in" : "path",
          "description" : "permalink of WordList to fetch",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/WordList"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "wordList" ],
        "summary" : "Updates an existing WordList",
        "operationId" : "updateWordList",
        "parameters" : [ {
          "name" : "permalink",
          "in" : "path",
          "description" : "permalink of WordList to update",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Updated WordList",
          "required" : false
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "wordList" ],
        "summary" : "Deletes an existing WordList",
        "operationId" : "deleteWordList",
        "parameters" : [ {
          "name" : "permalink",
          "in" : "path",
          "description" : "ID of WordList to delete",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/wordList.json/{permalink}/deleteWords" : {
      "post" : {
        "tags" : [ "wordList" ],
        "summary" : "Removes words from a WordList",
        "operationId" : "deleteWordsFromWordList",
        "parameters" : [ {
          "name" : "permalink",
          "in" : "path",
          "description" : "permalink of WordList to use",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Words to remove from WordList",
          "required" : false
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/wordList.json/{permalink}/words" : {
      "get" : {
        "tags" : [ "wordList" ],
        "summary" : "Fetches words in a WordList",
        "operationId" : "getWordListWords",
        "parameters" : [ {
          "name" : "permalink",
          "in" : "path",
          "description" : "ID of WordList to use",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Field to sort by",
          "required" : false,
          "type" : "string",
          "default" : "createDate"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Direction to sort",
          "required" : false,
          "type" : "string",
          "default" : "desc"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Results to skip",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 100,
          "format" : "int32"
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/WordListWord"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "wordList" ],
        "summary" : "Adds words to a WordList",
        "operationId" : "addWordsToWordList",
        "parameters" : [ {
          "name" : "permalink",
          "in" : "path",
          "description" : "permalink of WordList to user",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Array of words to add to WordList",
          "required" : false
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/wordLists.json" : {
      "post" : {
        "tags" : [ "wordLists" ],
        "summary" : "Creates a WordList.",
        "operationId" : "createWordList",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "WordList to create",
          "required" : false
        }, {
          "name" : "auth_token",
          "in" : "header",
          "description" : "The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/WordList"
            }
          }
        }
      }
    },
    "/words.json/randomWord" : {
      "get" : {
        "tags" : [ "words" ],
        "summary" : "Returns a single random WordObject",
        "operationId" : "getRandomWord",
        "parameters" : [ {
          "name" : "hasDictionaryDef",
          "in" : "query",
          "description" : "Only return words with dictionary definitions",
          "required" : false,
          "type" : "string",
          "default" : "true"
        }, {
          "name" : "includePartOfSpeech",
          "in" : "query",
          "description" : "CSV part-of-speech values to include",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludePartOfSpeech",
          "in" : "query",
          "description" : "CSV part-of-speech values to exclude",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minCorpusCount",
          "in" : "query",
          "description" : "Minimum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "maxCorpusCount",
          "in" : "query",
          "description" : "Maximum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minDictionaryCount",
          "in" : "query",
          "description" : "Minimum dictionary count",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "maxDictionaryCount",
          "in" : "query",
          "description" : "Maximum dictionary count",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minLength",
          "in" : "query",
          "description" : "Minimum word length",
          "required" : false,
          "type" : "integer",
          "default" : 5,
          "format" : "int32"
        }, {
          "name" : "maxLength",
          "in" : "query",
          "description" : "Maximum word length",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/WordObject"
            }
          }
        }
      }
    },
    "/words.json/randomWords" : {
      "get" : {
        "tags" : [ "words" ],
        "summary" : "Returns an array of random WordObjects",
        "operationId" : "getRandomWords",
        "parameters" : [ {
          "name" : "hasDictionaryDef",
          "in" : "query",
          "description" : "Only return words with dictionary definitions",
          "required" : false,
          "type" : "string",
          "default" : "true"
        }, {
          "name" : "includePartOfSpeech",
          "in" : "query",
          "description" : "CSV part-of-speech values to include",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludePartOfSpeech",
          "in" : "query",
          "description" : "CSV part-of-speech values to exclude",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minCorpusCount",
          "in" : "query",
          "description" : "Minimum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "maxCorpusCount",
          "in" : "query",
          "description" : "Maximum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minDictionaryCount",
          "in" : "query",
          "description" : "Minimum dictionary count",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "maxDictionaryCount",
          "in" : "query",
          "description" : "Maximum dictionary count",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minLength",
          "in" : "query",
          "description" : "Minimum word length",
          "required" : false,
          "type" : "integer",
          "default" : 5,
          "format" : "int32"
        }, {
          "name" : "maxLength",
          "in" : "query",
          "description" : "Maximum word length",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Attribute to sort by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort direction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/WordObject"
              }
            }
          }
        }
      }
    },
    "/words.json/reverseDictionary" : {
      "get" : {
        "tags" : [ "words" ],
        "summary" : "Reverse dictionary search",
        "operationId" : "reverseDictionary",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Search term",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "findSenseForWord",
          "in" : "query",
          "description" : "Restricts words and finds closest sense",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeSourceDictionaries",
          "in" : "query",
          "description" : "Only include these comma-delimited source dictionaries",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludeSourceDictionaries",
          "in" : "query",
          "description" : "Exclude these comma-delimited source dictionaries",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includePartOfSpeech",
          "in" : "query",
          "description" : "Only include these comma-delimited parts of speech",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludePartOfSpeech",
          "in" : "query",
          "description" : "Exclude these comma-delimited parts of speech",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minCorpusCount",
          "in" : "query",
          "description" : "Minimum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : 5,
          "format" : "int32"
        }, {
          "name" : "maxCorpusCount",
          "in" : "query",
          "description" : "Maximum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minLength",
          "in" : "query",
          "description" : "Minimum word length",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "maxLength",
          "in" : "query",
          "description" : "Maximum word length",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "expandTerms",
          "in" : "query",
          "description" : "Expand terms",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeTags",
          "in" : "query",
          "description" : "Return a closed set of XML tags in response",
          "required" : false,
          "type" : "string",
          "default" : "false"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Attribute to sort by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort direction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Results to skip",
          "required" : false,
          "type" : "string",
          "default" : "0"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/DefinitionSearchResults"
            }
          }
        }
      }
    },
    "/words.json/search/{query}" : {
      "get" : {
        "tags" : [ "words" ],
        "summary" : "Searches words",
        "operationId" : "searchWords",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "caseSensitive",
          "in" : "query",
          "description" : "Search case sensitive",
          "required" : false,
          "type" : "string",
          "default" : "true"
        }, {
          "name" : "includePartOfSpeech",
          "in" : "query",
          "description" : "Only include these comma-delimited parts of speech",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludePartOfSpeech",
          "in" : "query",
          "description" : "Exclude these comma-delimited parts of speech",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minCorpusCount",
          "in" : "query",
          "description" : "Minimum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : 5,
          "format" : "int32"
        }, {
          "name" : "maxCorpusCount",
          "in" : "query",
          "description" : "Maximum corpus frequency for terms",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minDictionaryCount",
          "in" : "query",
          "description" : "Minimum number of dictionary entries for words returned",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "maxDictionaryCount",
          "in" : "query",
          "description" : "Maximum dictionary definition count",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "minLength",
          "in" : "query",
          "description" : "Minimum word length",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "maxLength",
          "in" : "query",
          "description" : "Maximum word length",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Results to skip",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to return",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/WordSearchResults"
            }
          }
        }
      }
    },
    "/words.json/wordOfTheDay" : {
      "get" : {
        "tags" : [ "words" ],
        "summary" : "Returns a specific WordOfTheDay",
        "operationId" : "getWordOfTheDay",
        "parameters" : [ {
          "name" : "date",
          "in" : "query",
          "description" : "Fetches by date in yyyy-MM-dd",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "schema" : {
              "$ref" : "#/definitions/WordOfTheDay"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "definitions" : {
    "ApiTokenStatus" : {
      "type" : "object",
      "properties" : {
        "valid" : {
          "type" : "boolean"
        },
        "expiresInMillis" : {
          "type" : "integer",
          "format" : "int64"
        },
        "resetsInMillis" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalRequests" : {
          "type" : "integer",
          "format" : "int64"
        },
        "remainingCalls" : {
          "type" : "integer",
          "format" : "int64"
        },
        "token" : {
          "type" : "string"
        }
      }
    },
    "AuthenticationToken" : {
      "type" : "object",
      "properties" : {
        "userSignature" : {
          "type" : "string"
        },
        "userId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "token" : {
          "type" : "string"
        }
      }
    },
    "Category" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "User" : {
      "type" : "object",
      "properties" : {
        "password" : {
          "type" : "string"
        },
        "displayName" : {
          "type" : "string"
        },
        "faceBookId" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "userName" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "status" : {
          "type" : "integer",
          "format" : "int32"
        },
        "username" : {
          "type" : "string"
        }
      }
    },
    "ContentProvider" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "FrequencySummary" : {
      "type" : "object",
      "properties" : {
        "unknownYearCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "integer",
          "format" : "int64"
        },
        "word" : {
          "type" : "string"
        },
        "frequencyString" : {
          "type" : "string"
        },
        "frequency" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Frequency"
          }
        }
      }
    },
    "Label" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        }
      }
    },
    "TextPron" : {
      "type" : "object",
      "properties" : {
        "rawType" : {
          "type" : "string"
        },
        "raw" : {
          "type" : "string"
        },
        "seq" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "FacetValue" : {
      "type" : "object",
      "properties" : {
        "count" : {
          "type" : "integer",
          "format" : "int64"
        },
        "value" : {
          "type" : "string"
        }
      }
    },
    "SimpleExample" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "text" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "url" : {
          "type" : "string"
        }
      }
    },
    "Example" : {
      "type" : "object",
      "properties" : {
        "sentence" : {
          "$ref" : "#/definitions/Sentence"
        },
        "score" : {
          "$ref" : "#/definitions/ScoredWord"
        },
        "exampleId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "provider" : {
          "$ref" : "#/definitions/ContentProvider"
        },
        "year" : {
          "type" : "integer",
          "format" : "int32"
        },
        "rating" : {
          "type" : "number",
          "format" : "float"
        },
        "documentId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "text" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "word" : {
          "type" : "string"
        },
        "url" : {
          "type" : "string"
        }
      }
    },
    "SimpleDefinition" : {
      "type" : "object",
      "properties" : {
        "note" : {
          "type" : "string"
        },
        "partOfSpeech" : {
          "type" : "string"
        },
        "source" : {
          "type" : "string"
        },
        "text" : {
          "type" : "string"
        }
      }
    },
    "ExampleUsage" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string"
        }
      }
    },
    "PartOfSpeech" : {
      "type" : "object",
      "properties" : {
        "allCategories" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Category"
          }
        },
        "roots" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Root"
          }
        },
        "storageAbbr" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "Citation" : {
      "type" : "object",
      "properties" : {
        "cite" : {
          "type" : "string"
        },
        "source" : {
          "type" : "string"
        }
      }
    },
    "WordListWord" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "createdAt" : {
          "type" : "string",
          "format" : "date"
        },
        "numberLists" : {
          "type" : "integer",
          "format" : "int64"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "numberCommentsOnWord" : {
          "type" : "integer",
          "format" : "int64"
        },
        "userId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "word" : {
          "type" : "string"
        },
        "username" : {
          "type" : "string"
        }
      }
    },
    "StringValue" : {
      "type" : "object",
      "properties" : {
        "word" : {
          "type" : "string"
        }
      }
    },
    "WordOfTheDay" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "contentProvider" : {
          "$ref" : "#/definitions/ContentProvider"
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date"
        },
        "note" : {
          "type" : "string"
        },
        "examples" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SimpleExample"
          }
        },
        "createdBy" : {
          "type" : "string"
        },
        "publishDate" : {
          "type" : "string",
          "format" : "date"
        },
        "htmlExtra" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "category" : {
          "type" : "string"
        },
        "definitions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SimpleDefinition"
          }
        },
        "word" : {
          "type" : "string"
        },
        "parentId" : {
          "type" : "string"
        }
      }
    },
    "Sentence" : {
      "type" : "object",
      "properties" : {
        "documentMetadataId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "display" : {
          "type" : "string"
        },
        "rating" : {
          "type" : "integer",
          "format" : "int32"
        },
        "scoredWords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ScoredWord"
          }
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "hasScoredWords" : {
          "type" : "boolean"
        }
      }
    },
    "Syllable" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "seq" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "Facet" : {
      "type" : "object",
      "properties" : {
        "facetValues" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/FacetValue"
          }
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "Root" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "categories" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Category"
          }
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "Bigram" : {
      "type" : "object",
      "properties" : {
        "wlmi" : {
          "type" : "number",
          "format" : "double"
        },
        "count" : {
          "type" : "integer",
          "format" : "int64"
        },
        "gram1" : {
          "type" : "string"
        },
        "gram2" : {
          "type" : "string"
        },
        "mi" : {
          "type" : "number",
          "format" : "double"
        }
      }
    },
    "Definition" : {
      "type" : "object",
      "properties" : {
        "notes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Note"
          }
        },
        "exampleUses" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ExampleUsage"
          }
        },
        "extendedText" : {
          "type" : "string"
        },
        "partOfSpeech" : {
          "type" : "string"
        },
        "attributionText" : {
          "type" : "string"
        },
        "labels" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Label"
          }
        },
        "score" : {
          "type" : "number",
          "format" : "float"
        },
        "sequence" : {
          "type" : "string"
        },
        "citations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Citation"
          }
        },
        "sourceDictionary" : {
          "type" : "string"
        },
        "textProns" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TextPron"
          }
        },
        "attributionUrl" : {
          "type" : "string"
        },
        "text" : {
          "type" : "string"
        },
        "word" : {
          "type" : "string"
        },
        "relatedWords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Related"
          }
        },
        "seqString" : {
          "type" : "string"
        }
      }
    },
    "ScoredWord" : {
      "type" : "object",
      "properties" : {
        "docTermCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "score" : {
          "type" : "number",
          "format" : "float"
        },
        "wordType" : {
          "type" : "string"
        },
        "partOfSpeech" : {
          "type" : "string"
        },
        "lemma" : {
          "type" : "string"
        },
        "sentenceId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "stopword" : {
          "type" : "boolean"
        },
        "baseWordScore" : {
          "type" : "number",
          "format" : "double"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "position" : {
          "type" : "integer",
          "format" : "int32"
        },
        "word" : {
          "type" : "string"
        }
      }
    },
    "WordList" : {
      "type" : "object",
      "properties" : {
        "createdAt" : {
          "type" : "string",
          "format" : "date"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "lastActivityAt" : {
          "type" : "string",
          "format" : "date"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "numberWordsInList" : {
          "type" : "integer",
          "format" : "int64"
        },
        "permalink" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "userId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "updatedAt" : {
          "type" : "string",
          "format" : "date"
        },
        "username" : {
          "type" : "string"
        }
      }
    },
    "WordSearchResults" : {
      "type" : "object",
      "properties" : {
        "totalResults" : {
          "type" : "integer",
          "format" : "int32"
        },
        "searchResults" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/WordSearchResult"
          }
        }
      }
    },
    "AudioFile" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "voteAverage" : {
          "type" : "number",
          "format" : "float"
        },
        "audioType" : {
          "type" : "string"
        },
        "attributionText" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "voteWeightedAverage" : {
          "type" : "number",
          "format" : "float"
        },
        "commentCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "duration" : {
          "type" : "number",
          "format" : "double"
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date"
        },
        "createdBy" : {
          "type" : "string"
        },
        "attributionUrl" : {
          "type" : "string"
        },
        "fileUrl" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "voteCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "word" : {
          "type" : "string"
        }
      }
    },
    "Related" : {
      "type" : "object",
      "properties" : {
        "label4" : {
          "type" : "string"
        },
        "relationshipType" : {
          "type" : "string"
        },
        "gram" : {
          "type" : "string"
        },
        "words" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "label1" : {
          "type" : "string"
        },
        "label2" : {
          "type" : "string"
        },
        "label3" : {
          "type" : "string"
        }
      }
    },
    "WordObject" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "vulgar" : {
          "type" : "string"
        },
        "canonicalForm" : {
          "type" : "string"
        },
        "suggestions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "originalWord" : {
          "type" : "string"
        },
        "word" : {
          "type" : "string"
        }
      }
    },
    "DefinitionSearchResults" : {
      "type" : "object",
      "properties" : {
        "totalResults" : {
          "type" : "integer",
          "format" : "int32"
        },
        "results" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Definition"
          }
        }
      }
    },
    "Note" : {
      "type" : "object",
      "properties" : {
        "noteType" : {
          "type" : "string"
        },
        "pos" : {
          "type" : "integer",
          "format" : "int32"
        },
        "appliesTo" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "value" : {
          "type" : "string"
        }
      }
    },
    "WordSearchResult" : {
      "type" : "object",
      "properties" : {
        "count" : {
          "type" : "integer",
          "format" : "int64"
        },
        "lexicality" : {
          "type" : "number",
          "format" : "double"
        },
        "word" : {
          "type" : "string"
        }
      }
    },
    "AudioType" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "Frequency" : {
      "type" : "object",
      "properties" : {
        "year" : {
          "type" : "integer",
          "format" : "int32"
        },
        "count" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "ExampleSearchResults" : {
      "type" : "object",
      "properties" : {
        "examples" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Example"
          }
        },
        "facets" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Facet"
          }
        }
      }
    }
  },
  "externalDocs" : {
    "url" : "http://developer.wordnik.com/"
  },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]
}