[[backends]]
  group = "japanese-wordnet-apis-0-0-1"
  url_pattern = "/api/40/wordnet-simple/all"
  method = "GET"
  encoding = "json"
  host = ["https://api.apitore.com"]
  whitelist = ["endTime", "entries", "log", "processTime", "startTime", "word"]
  concurrent_calls = 1
  [backends.extra_config]
    provider = "apitore.com"
    description = "Return all WordNet words.<BR />[Endpoint] https://api.apitore.com/api/40"
    version = "0.0.1"
    slug = "japanese-wordnet-apis-0-0-1-api-40-wordnet-simple-all"
    schemes = ["https"]
    consumes = ["json"]
    produces = ["json"]
    hosts = ["https://api.apitore.com"]
    [backends.extra_config.mapping]
      endTime = "endTime"
      entries = "entries"
      log = "log"
      processTime = "processTime"
      startTime = "startTime"
      word = "word"
