{
  "swagger": "2.0",
  "schemes": [
    "http"
  ],
  "host": "rds.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Relational Database Service",
    "version": "2014-09-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-2014-09-01.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": false,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "rds"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/rds/"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "AddSourceIdentifierToSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSourceIdentifierToSubscriptionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddSourceIdentifierToSubscriptionResult"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "481": {
            "description": "SourceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SourceNotFoundFault"
            }
          }
        }
      }
    },
    "/#AddTagsToResource": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "AddTagsToResource",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        }
      }
    },
    "/#AuthorizeDBSecurityGroupIngress": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "AuthorizeDBSecurityGroupIngress",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthorizeDBSecurityGroupIngressMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeDBSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "AuthorizationQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#CopyDBParameterGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CopyDBParameterGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyDBParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyDBParameterGroupResult"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "481": {
            "description": "DBParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupAlreadyExistsFault"
            }
          },
          "482": {
            "description": "DBParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#CopyDBSnapshot": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CopyDBSnapshot",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyDBSnapshotMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyDBSnapshotResult"
            }
          },
          "480": {
            "description": "DBSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidDBSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSnapshotStateFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#CopyOptionGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CopyOptionGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyOptionGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyOptionGroupResult"
            }
          },
          "480": {
            "description": "OptionGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "482": {
            "description": "OptionGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#CreateDBInstance": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateDBInstance",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceResult"
            }
          },
          "480": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "482": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "483": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "484": {
            "description": "InstanceQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/InstanceQuotaExceededFault"
            }
          },
          "485": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "486": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "487": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "488": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "489": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "490": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "491": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "492": {
            "description": "StorageTypeNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/StorageTypeNotSupportedFault"
            }
          },
          "493": {
            "description": "AuthorizationNotFoundFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationNotFoundFault"
            }
          }
        }
      }
    },
    "/#CreateDBInstanceReadReplica": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateDBInstanceReadReplica",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceReadReplicaMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceReadReplicaResult"
            }
          },
          "480": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "482": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "483": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "484": {
            "description": "InstanceQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/InstanceQuotaExceededFault"
            }
          },
          "485": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "486": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "487": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "488": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "489": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "490": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "491": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "492": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "493": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "494": {
            "description": "DBSubnetGroupNotAllowedFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotAllowedFault"
            }
          },
          "495": {
            "description": "InvalidDBSubnetGroupFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSubnetGroupFault"
            }
          },
          "496": {
            "description": "StorageTypeNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/StorageTypeNotSupportedFault"
            }
          }
        }
      }
    },
    "/#CreateDBParameterGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateDBParameterGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBParameterGroupResult"
            }
          },
          "480": {
            "description": "DBParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "DBParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupAlreadyExistsFault"
            }
          }
        }
      }
    },
    "/#CreateDBSecurityGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateDBSecurityGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBSecurityGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBSecurityGroupResult"
            }
          },
          "480": {
            "description": "DBSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "DBSecurityGroupNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotSupportedFault"
            }
          }
        }
      }
    },
    "/#CreateDBSnapshot": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateDBSnapshot",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBSnapshotMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBSnapshotResult"
            }
          },
          "480": {
            "description": "DBSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "482": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#CreateDBSubnetGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateDBSubnetGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBSubnetGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBSubnetGroupResult"
            }
          },
          "480": {
            "description": "DBSubnetGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSubnetGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "DBSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetQuotaExceededFault"
            }
          },
          "483": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "484": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          }
        }
      }
    },
    "/#CreateEventSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateEventSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEventSubscriptionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateEventSubscriptionResult"
            }
          },
          "480": {
            "description": "EventSubscriptionQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionQuotaExceededFault"
            }
          },
          "481": {
            "description": "SubscriptionAlreadyExistFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionAlreadyExistFault"
            }
          },
          "482": {
            "description": "SNSInvalidTopicFault",
            "schema": {
              "$ref": "#/definitions/SNSInvalidTopicFault"
            }
          },
          "483": {
            "description": "SNSNoAuthorizationFault",
            "schema": {
              "$ref": "#/definitions/SNSNoAuthorizationFault"
            }
          },
          "484": {
            "description": "SNSTopicArnNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SNSTopicArnNotFoundFault"
            }
          },
          "485": {
            "description": "SubscriptionCategoryNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionCategoryNotFoundFault"
            }
          },
          "486": {
            "description": "SourceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SourceNotFoundFault"
            }
          }
        }
      }
    },
    "/#CreateOptionGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "CreateOptionGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOptionGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateOptionGroupResult"
            }
          },
          "480": {
            "description": "OptionGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "OptionGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#DeleteDBInstance": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteDBInstance",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBInstanceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDBInstanceResult"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "482": {
            "description": "DBSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotAlreadyExistsFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#DeleteDBParameterGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteDBParameterGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDBParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBParameterGroupStateFault"
            }
          },
          "481": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DeleteDBSecurityGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteDBSecurityGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBSecurityGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          },
          "481": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DeleteDBSnapshot": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteDBSnapshot",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBSnapshotMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDBSnapshotResult"
            }
          },
          "480": {
            "description": "InvalidDBSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSnapshotStateFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        }
      }
    },
    "/#DeleteDBSubnetGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteDBSubnetGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBSubnetGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDBSubnetGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSubnetGroupStateFault"
            }
          },
          "481": {
            "description": "InvalidDBSubnetStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSubnetStateFault"
            }
          },
          "482": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DeleteEventSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteEventSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteEventSubscriptionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteEventSubscriptionResult"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidEventSubscriptionStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidEventSubscriptionStateFault"
            }
          }
        }
      }
    },
    "/#DeleteOptionGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DeleteOptionGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOptionGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidOptionGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidOptionGroupStateFault"
            }
          }
        }
      }
    },
    "/#DescribeDBEngineVersions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBEngineVersions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBEngineVersionsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBEngineVersionMessage"
            }
          }
        }
      }
    },
    "/#DescribeDBInstances": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBInstances",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBInstancesMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBInstanceMessage"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeDBLogFiles": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBLogFiles",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBLogFilesMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDBLogFilesResponse"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeDBParameterGroups": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBParameterGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBParameterGroupsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupsMessage"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeDBParameters": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBParameters",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBParametersMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupDetails"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeDBSecurityGroups": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBSecurityGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBSecurityGroupsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupMessage"
            }
          },
          "480": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeDBSnapshots": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBSnapshots",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBSnapshotsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBSnapshotMessage"
            }
          },
          "480": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeDBSubnetGroups": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeDBSubnetGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBSubnetGroupsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupMessage"
            }
          },
          "480": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeEngineDefaultParameters": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeEngineDefaultParameters",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEngineDefaultParametersMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeEngineDefaultParametersResult"
            }
          }
        }
      }
    },
    "/#DescribeEventCategories": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeEventCategories",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventCategoriesMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventCategoriesMessage"
            }
          }
        }
      }
    },
    "/#DescribeEventSubscriptions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeEventSubscriptions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventSubscriptionsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionsMessage"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeEvents": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeEvents",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventsMessage"
            }
          }
        }
      }
    },
    "/#DescribeOptionGroupOptions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeOptionGroupOptions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeOptionGroupOptionsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OptionGroupOptionsMessage"
            }
          }
        }
      }
    },
    "/#DescribeOptionGroups": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeOptionGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeOptionGroupsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OptionGroups"
            }
          },
          "480": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeOrderableDBInstanceOptions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeOrderableDBInstanceOptions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeOrderableDBInstanceOptionsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrderableDBInstanceOptionsMessage"
            }
          }
        }
      }
    },
    "/#DescribeReservedDBInstances": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeReservedDBInstances",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedDBInstancesMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstanceMessage"
            }
          },
          "480": {
            "description": "ReservedDBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstanceNotFoundFault"
            }
          }
        }
      }
    },
    "/#DescribeReservedDBInstancesOfferings": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DescribeReservedDBInstancesOfferings",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedDBInstancesOfferingsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstancesOfferingMessage"
            }
          },
          "480": {
            "description": "ReservedDBInstancesOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstancesOfferingNotFoundFault"
            }
          }
        }
      }
    },
    "/#DownloadDBLogFilePortion": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "DownloadDBLogFilePortion",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DownloadDBLogFilePortionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DownloadDBLogFilePortionDetails"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBLogFileNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBLogFileNotFoundFault"
            }
          }
        }
      }
    },
    "/#ListTagsForResource": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ListTagsForResource",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagListMessage"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        }
      }
    },
    "/#ModifyDBInstance": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ModifyDBInstance",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDBInstanceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyDBInstanceResult"
            }
          },
          "480": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "481": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "483": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "484": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "485": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "486": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "487": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "488": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "489": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "490": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "491": {
            "description": "DBUpgradeDependencyFailureFault",
            "schema": {
              "$ref": "#/definitions/DBUpgradeDependencyFailureFault"
            }
          },
          "492": {
            "description": "StorageTypeNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/StorageTypeNotSupportedFault"
            }
          },
          "493": {
            "description": "AuthorizationNotFoundFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationNotFoundFault"
            }
          }
        }
      }
    },
    "/#ModifyDBParameterGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ModifyDBParameterGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDBParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNameMessage"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidDBParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBParameterGroupStateFault"
            }
          }
        }
      }
    },
    "/#ModifyDBSubnetGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ModifyDBSubnetGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDBSubnetGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyDBSubnetGroupResult"
            }
          },
          "480": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "481": {
            "description": "DBSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetQuotaExceededFault"
            }
          },
          "482": {
            "description": "SubnetAlreadyInUse",
            "schema": {
              "$ref": "#/definitions/SubnetAlreadyInUse"
            }
          },
          "483": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "484": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          }
        }
      }
    },
    "/#ModifyEventSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ModifyEventSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyEventSubscriptionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyEventSubscriptionResult"
            }
          },
          "480": {
            "description": "EventSubscriptionQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionQuotaExceededFault"
            }
          },
          "481": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "482": {
            "description": "SNSInvalidTopicFault",
            "schema": {
              "$ref": "#/definitions/SNSInvalidTopicFault"
            }
          },
          "483": {
            "description": "SNSNoAuthorizationFault",
            "schema": {
              "$ref": "#/definitions/SNSNoAuthorizationFault"
            }
          },
          "484": {
            "description": "SNSTopicArnNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SNSTopicArnNotFoundFault"
            }
          },
          "485": {
            "description": "SubscriptionCategoryNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionCategoryNotFoundFault"
            }
          }
        }
      }
    },
    "/#ModifyOptionGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ModifyOptionGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyOptionGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyOptionGroupResult"
            }
          },
          "480": {
            "description": "InvalidOptionGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidOptionGroupStateFault"
            }
          },
          "481": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#PromoteReadReplica": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "PromoteReadReplica",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoteReadReplicaMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PromoteReadReplicaResult"
            }
          },
          "480": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "481": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          }
        }
      }
    },
    "/#PurchaseReservedDBInstancesOffering": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "PurchaseReservedDBInstancesOffering",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseReservedDBInstancesOfferingMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseReservedDBInstancesOfferingResult"
            }
          },
          "480": {
            "description": "ReservedDBInstancesOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstancesOfferingNotFoundFault"
            }
          },
          "481": {
            "description": "ReservedDBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstanceAlreadyExistsFault"
            }
          },
          "482": {
            "description": "ReservedDBInstanceQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstanceQuotaExceededFault"
            }
          }
        }
      }
    },
    "/#RebootDBInstance": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "RebootDBInstance",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RebootDBInstanceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RebootDBInstanceResult"
            }
          },
          "480": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "481": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          }
        }
      }
    },
    "/#RemoveSourceIdentifierFromSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "RemoveSourceIdentifierFromSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveSourceIdentifierFromSubscriptionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveSourceIdentifierFromSubscriptionResult"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "481": {
            "description": "SourceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SourceNotFoundFault"
            }
          }
        }
      }
    },
    "/#RemoveTagsFromResource": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "RemoveTagsFromResource",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        }
      }
    },
    "/#ResetDBParameterGroup": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "ResetDBParameterGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetDBParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNameMessage"
            }
          },
          "480": {
            "description": "InvalidDBParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBParameterGroupStateFault"
            }
          },
          "481": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        }
      }
    },
    "/#RestoreDBInstanceFromDBSnapshot": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "RestoreDBInstanceFromDBSnapshot",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreDBInstanceFromDBSnapshotMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RestoreDBInstanceFromDBSnapshotResult"
            }
          },
          "480": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InstanceQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/InstanceQuotaExceededFault"
            }
          },
          "483": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "484": {
            "description": "InvalidDBSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSnapshotStateFault"
            }
          },
          "485": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "486": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "487": {
            "description": "InvalidRestoreFault",
            "schema": {
              "$ref": "#/definitions/InvalidRestoreFault"
            }
          },
          "488": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "489": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "490": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "491": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "492": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "493": {
            "description": "StorageTypeNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/StorageTypeNotSupportedFault"
            }
          },
          "494": {
            "description": "AuthorizationNotFoundFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationNotFoundFault"
            }
          }
        }
      }
    },
    "/#RestoreDBInstanceToPointInTime": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "",
        "operationId": "RestoreDBInstanceToPointInTime",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreDBInstanceToPointInTimeMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RestoreDBInstanceToPointInTimeResult"
            }
          },
          "480": {
            "description": "DBInstanceAlreadyExistsFault",
[...]
