#%RAML 0.8
title: GitHub
version: v3
baseUri: "https://api.github.com"
protocols: [HTTP]
mediaType: application/json
schemas: 
    - 
        release: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "url": {
                      "required": false,
                      "type": "string"
                    },
                    "html_url": {
                      "required": false,
                      "type": "string"
                    },
                    "assets_url": {
                      "required": false,
                      "type": "string"
                    },
                    "upload_url": {
                      "required": false,
                      "type": "string"
                    },
                    "tarball_url": {
                      "required": false,
                      "type": "string"
                    },
                    "zipball_url": {
                      "required": false,
                      "type": "string"
                    },
                    "id": {
                      "required": false,
                      "type": "integer"
                    },
                    "tag_name": {
                      "required": false,
                      "type": "string"
                    },
                    "target_commitish": {
                      "required": false,
                      "type": "string"
                    },
                    "name": {
                      "required": false,
                      "type": "string"
                    },
                    "body": {
                      "required": false,
                      "type": "string"
                    },
                    "draft": {
                      "required": false,
                      "type": "boolean"
                    },
                    "prerelease": {
                      "required": false,
                      "type": "boolean"
                    },
                    "created_at": {
                      "required": false,
                      "type": "string"
                    },
                    "published_at": {
                      "required": false,
                      "type": "string"
                    },
                    "author": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "login": {
                          "required": false,
                          "type": "string"
                        },
                        "id": {
                          "required": false,
                          "type": "integer"
                        },
                        "avatar_url": {
                          "required": false,
                          "type": "string"
                        },
                        "gravatar_id": {
                          "required": false,
                          "type": "string"
                        },
                        "url": {
                          "required": false,
                          "type": "string"
                        },
                        "html_url": {
                          "required": false,
                          "type": "string"
                        },
                        "followers_url": {
                          "required": false,
                          "type": "string"
                        },
                        "following_url": {
                          "required": false,
                          "type": "string"
                        },
                        "gists_url": {
                          "required": false,
                          "type": "string"
                        },
                        "starred_url": {
                          "required": false,
                          "type": "string"
                        },
                        "subscriptions_url": {
                          "required": false,
                          "type": "string"
                        },
                        "organizations_url": {
                          "required": false,
                          "type": "string"
                        },
                        "repos_url": {
                          "required": false,
                          "type": "string"
                        },
                        "events_url": {
                          "required": false,
                          "type": "string"
                        },
                        "received_events_url": {
                          "required": false,
                          "type": "string"
                        },
                        "type": {
                          "required": false,
                          "type": "string"
                        },
                        "site_admin": {
                          "required": false,
                          "type": "boolean"
                        }
                      }
                    },
                    "assets": {
                      "required": false,
                      "type": "array",
                      "items": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "content_type": {
                            "required": false,
                            "type": "string"
                          },
                          "created_at": {
                            "required": false,
                            "type": "string"
                          },
                          "download_count": {
                            "required": false,
                            "type": "integer"
                          },
                          "id": {
                            "required": false,
                            "type": "integer"
                          },
                          "label": {
                            "required": false,
                            "type": "string"
                          },
                          "name": {
                            "required": false,
                            "type": "string"
                          },
                          "size": {
                            "required": false,
                            "type": "integer"
                          },
                          "state": {
                            "required": false,
                            "type": "string"
                          },
                          "updated_at": {
                            "required": false,
                            "type": "string"
                          },
                          "uploader": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "login": {
                                "required": false,
                                "type": "string"
                              },
                              "id": {
                                "required": false,
                                "type": "integer"
                              },
                              "avatar_url": {
                                "required": false,
                                "type": "string"
                              },
                              "gravatar_id": {
                                "required": false,
                                "type": "string"
                              },
                              "url": {
                                "required": false,
                                "type": "string"
                              },
                              "html_url": {
                                "required": false,
                                "type": "string"
                              },
                              "followers_url": {
                                "required": false,
                                "type": "string"
                              },
                              "following_url": {
                                "required": false,
                                "type": "string"
                              },
                              "gists_url": {
                                "required": false,
                                "type": "string"
                              },
                              "starred_url": {
                                "required": false,
                                "type": "string"
                              },
                              "subscriptions_url": {
                                "required": false,
                                "type": "string"
                              },
                              "organizations_url": {
                                "required": false,
                                "type": "string"
                              },
                              "repos_url": {
                                "required": false,
                                "type": "string"
                              },
                              "events_url": {
                                "required": false,
                                "type": "string"
                              },
                              "received_events_url": {
                                "required": false,
                                "type": "string"
                              },
                              "type": {
                                "required": false,
                                "type": "string"
                              },
                              "site_admin": {
                                "required": false,
                                "type": "boolean"
                              }
                            }
                          },
                          "url": {
                            "required": false,
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
        commit: |
                {
                	"type": "object",
                	"$schema": "http://json-schema.org/draft-03/schema",
                	"properties": {
                		"stats": {
                			"required": false,
                			"type": "object",
                			"properties": {
                				"additions": {
                					"required": false,
                					"type": "integer"
                				},
                				"deletions": {
                					"required": false,
                					"type": "integer"
                				},
                				"total": {
                					"required": false,
                					"type": "integer"
                				}
                			}
                		},
                		"files": {
                			"required": false,
                			"type": "array",
                			"items": {
                				"required": false,
                				"type": "object",
                				"properties": {
                					"additions": {
                						"required": false,
                						"type": "integer"
                					},
                					"blob_url": {
                						"required": false,
                						"type": "string"
                					},
                					"changes": {
                						"required": false,
                						"type": "integer"
                					},
                					"deletions": {
                						"required": false,
                						"type": "integer"
                					},
                					"filename": {
                						"required": false,
                						"type": "string"
                					},
                					"patch": {
                						"required": false,
                						"type": "string"
                					},
                					"raw_url": {
                						"required": false,
                						"type": "string"
                					},
                					"status": {
                						"required": false,
                						"type": "string"
                					}
                				}
                			}
                		},
                		"url": {
                			"type": "string"
                		},
                		"sha": {
                			"type": "string"
                		},
                		"commit": {
                			"type": "object",
                			"properties": {
                				"url": {
                					"type": "string"
                				},
                				"author": {
                					"properties": {
                						"name": {
                							"type": "string"
                						},
                						"email": {
                							"type": "string"
                						},
                						"date": {
                							"description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                							"type": "string"
                						}
                					},
                					"type": "object"
                				},
                				"committer": {
                					"properties": {
                						"name": {
                							"type": "string"
                						},
                						"email": {
                							"type": "string"
                						},
                						"date": {
                							"description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                							"type": "string"
                						}
                					},
                					"type": "object"
                				},
                				"message": {
                					"type": "string"
                				},
                				"tree": {
                					"properties": {
                						"url": {
                							"type": "string"
                						},
                						"sha": {
                							"type": "string"
                						}
                					},
                					"type": "object"
                				}
                			}
                		},
                		"author": {
                			"type": "object",
                			"properties": {
                				"login": {
                					"type": "string"
                				},
                				"id": {
                					"type": "integer"
                				},
                				"avatar_url": {
                					"type": "string"
                				},
                				"gravatar_id": {
                					"type": "string"
                				},
                				"url": {
                					"type": "string"
                				}
                			}
                		},
                		"committer": {
                			"type": "object",
                			"properties": {
                				"login": {
                					"type": "string"
                				},
                				"id": {
                					"type": "integer"
                				},
                				"avatar_url": {
                					"type": "string"
                				},
                				"gravatar_id": {
                					"type": "string"
                				},
                				"url": {
                					"type": "string"
                				}
                			}
                		},
                		"parents": {
                			"type": "array",
                			"items": {
                				"type": "object",
                				"properties": {
                					"url": {
                						"type": "string"
                					},
                					"sha": {
                						"type": "string"
                					}
                				}
                			}
                		}
                	}
                }
        assignees: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "list": [
                    	{
                    		"properties": {
                    			"login": {
                    				"type": "string"
                    			},
                			    "id": {
                			    	"type": "integer"
                			    },
                			    "avatar_url": {
                			    	"type": "integer"
                			    },
                			    "gravatar_id": {
                			    	"type": "string"
                			    },
                			    "url": {
                			    	"type": "string"
                			    }
                    		},
                    		"type": "object"
                    	}
                    ]
                }
        issues: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "issues": [
                        {
                            "properties": {
                                "url": {
                                    "type": "string"
                                },
                                "html_url": {
                                    "type": "string"
                                },
                                "number": {
                                    "type": "integer"
                                },
                                "state": {
                                    "enum": [
                                        "open",
                                        "closed"
                                    ]
                                },
                                "title": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "user": {
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "labels": [
                                    {
                                        "properties": {
                                            "url": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "color": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ],
                                "type": "array",
                                "assignee": {
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "milestone": {
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "number": {
                                            "type": "integer"
                                        },
                                        "state": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "creator": {
                                            "properties": {
                                                "login": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "gravatar_id": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "open_issues": {
                                            "type": "integer"
                                        },
                                        "closed_issues": {
                                            "type": "integer"
                                        },
                                        "created_at": {
                                            "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                            "type": "string"
                                        },
                                        "due_on": {
                                            "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "comments": {
                                    "type": "integer"
                                },
                                "pull_request": {
                                    "properties": {
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "diff_url": {
                                            "type": "string"
                                        },
                                        "patch_url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "closed_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                },
                                "created_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                },
                                "updated_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    ]
                }
        branch: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "_links": {
                      "properties": {
                        "html": {
                          "type": "string"
                        },
                        "self": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "commit": {
                      "type": "object",
                      "properties": {
                        "sha": {
                          "type": "string"
                        },
                        "commit": {
                          "type": "object",
                          "properties": {
                            "author": {
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "date": {
                                  "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                }
                              }
                            },
                            "url": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            },
                            "tree": {
                              "properties": {
                                "sha": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "committer": {
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "date": {
                                  "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          }
                        },
                        "author": {
                          "properties": {
                            "gravatar_id": {
                              "type": "string"
                            },
                            "avatar_url": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "id": {
                              "type": "integer"
                            },
                            "login": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "parents": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "sha": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "url": {
                          "type": "string"
                        },
                        "committer": {
                          "properties": {
                            "gravatar_id": {
                              "type": "string"
                            },
                            "avatar_url": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "id": {
                              "type": "integer"
                            },
                            "login": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  }
                }
        trees: |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": true,
                  "properties": {
                    "sha": {
                	  "description": "SHA1 checksum ID of the object in the tree.",
                	  "type": "string"
                	},
                	"url": {
                	  "type": "string"
                	},
                    "base_tree": {
                      "type": "string"
                    },
                    "tree": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "mode": {
                            "description": "One of 100644 for file (blob), 100755 for executable (blob), 040000 for subdirectory (tree), 160000 for submodule (commit) or 120000 for a blob that specifies the path of a symlink.",
                            "type": "string",
                            "enum": [
                              "100644",
                              "100755",
                              "040000",
                              "160000",
                              "120000"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "blob",
                              "tree",
                              "commit"
                            ]
                          },
                          "sha": {
                            "description": "SHA1 checksum ID of the object in the tree.",
                            "type": "string",
                            "required": false
                          },
                          "url": {
                            "type": "string",
                            "required": false
                          },
                          "oneOf": {
                            "type": "array",
                            "items": {
                              "sha": {
                                "description": "SHA1 checksum ID of the object in the tree.",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
        search-repositories: |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "login": {
                                "type": "string"
                              },
                              "id": {
                                "type": "integer"
                              },
                              "avatar_url": {
                                "type": "string"
                              },
                              "gravatar_id": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "received_events_url": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "private": {
                            "type": "boolean"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "fork": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          },
                          "created_at": {
                            "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                            "type": "string"
                          },
                          "updated_at": {
                            "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                            "type": "string"
                          },
                          "pushed_at": {
                            "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                            "type": "string"
                          },
                          "homepage": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "watchers_count": {
                            "type": "integer"
                          },
                          "language": {
                            "type": "string"
                          },
                          "forks_count": {
                            "type": "integer"
                          },
                          "open_issues_count": {
                            "type": "integer"
                          },
                          "forks": {
                            "type": "integer"
                          },
                          "open_issues": {
                            "type": "integer"
                          },
                          "watchers": {
                            "type": "integer"
                          },
                          "master_branch": {
                            "type": "string"
                          },
                          "default_branch": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
        createFile: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "content": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "name": {
                          "required": false,
                          "type": "string"
                        },
                        "path": {
                          "required": false,
                          "type": "string"
                        },
                        "sha": {
                          "required": false,
                          "type": "string"
                        },
                        "size": {
                          "required": false,
                          "type": "integer"
                        },
                        "url": {
                          "required": false,
                          "type": "string"
                        },
                        "html_url": {
                          "required": false,
                          "type": "string"
                        },
                        "git_url": {
                          "required": false,
                          "type": "string"
                        },
                        "type": {
                          "required": false,
                          "type": "string"
                        },
                        "_links": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "self": {
                              "required": false,
                              "type": "string"
                            },
                            "git": {
                              "required": false,
                              "type": "string"
                            },
                            "html": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "commit": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "sha": {
                          "required": false,
                          "type": "string"
                        },
                        "url": {
                          "required": false,
                          "type": "string"
                        },
                        "html_url": {
                          "required": false,
                          "type": "string"
                        },
                        "author": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "date": {
                              "required": false,
                              "type": "string"
                            },
                            "name": {
                              "required": false,
                              "type": "string"
                            },
                            "email": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "committer": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "date": {
                              "required": false,
                              "type": "string"
                            },
                            "name": {
                              "required": false,
                              "type": "string"
                            },
                            "email": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "message": {
                          "required": false,
                          "type": "string"
                        },
                        "tree": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "url": {
                              "required": false,
                              "type": "string"
                            },
                            "sha": {
                              "required": false,
                              "type": "string"
                            }
                          }
                        },
                        "parents": {
                          "required": false,
                          "type": "array",
                          "items": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "html_url": {
                                "required": false,
                                "type": "string"
                              },
                              "sha": {
                                "required": false,
                                "type": "string"
                              },
                              "url": {
                                "required": false,
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
        putSubscription: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "subscribed" : {
                      "type" : "boolean" ,
                      "required" : false
                    } ,
                    "ignored" : {
                      "type" : "boolean" ,
                      "required" : false
                    } ,
                    "reason" : {
                      "type" : "object" ,
                      "required" : false
                    } ,
                    "created_at" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "url" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "thread_url" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        search-issues: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "required": false,
                      "type": "integer"
                    },
                    "items": {
                      "required": false,
                      "type": "array",
                      "items": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "assignee": {
                            "required": false,
                            "type": "null"
                          },
                          "body": {
                            "required": false,
                            "type": "string"
                          },
                          "closed_at": {
                            "required": false,
                            "type": "null"
                          },
                          "comments": {
                            "required": false,
                            "type": "integer"
                          },
                          "comments_url": {
                            "required": false,
                            "type": "string"
                          },
                          "created_at": {
                            "required": false,
                            "type": "string"
                          },
                          "events_url": {
                            "required": false,
                            "type": "string"
                          },
                          "html_url": {
                            "required": false,
                            "type": "string"
                          },
                          "id": {
                            "required": false,
                            "type": "integer"
                          },
                          "labels": {
                            "required": false,
                            "type": "array",
                            "items": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "color": {
                                  "required": false,
                                  "type": "string"
                                },
                                "name": {
                                  "required": false,
                                  "type": "string"
                                },
                                "url": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "labels_url": {
                            "required": false,
                            "type": "string"
                          },
                          "milestone": {
                            "required": false,
                            "type": "null"
                          },
                          "number": {
                            "required": false,
                            "type": "integer"
                          },
                          "pull_request": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "html_url": {
                                "required": false,
                                "type": "null"
                              },
                              "diff_url": {
                                "required": false,
                                "type": "null"
                              },
                              "patch_url": {
                                "required": false,
                                "type": "null"
                              }
                            }
                          },
                          "score": {
                            "required": false,
                            "type": "number"
                          },
                          "state": {
                            "required": false,
                            "type": "string"
                          },
                          "title": {
                            "required": false,
                            "type": "string"
                          },
                          "updated_at": {
                            "required": false,
                            "type": "string"
                          },
                          "url": {
                            "required": false,
                            "type": "string"
                          },
                          "user": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "login": {
                                "required": false,
                                "type": "string"
                              },
                              "id": {
                                "required": false,
                                "type": "integer"
                              },
                              "avatar_url": {
                                "required": false,
                                "type": "string"
                              },
                              "gravatar_id": {
                                "required": false,
                                "type": "string"
                              },
                              "url": {
                                "required": false,
                                "type": "string"
                              },
                              "html_url": {
                                "required": false,
                                "type": "string"
                              },
                              "followers_url": {
                                "required": false,
                                "type": "string"
                              },
                              "following_url": {
                                "required": false,
                                "type": "string"
                              },
                              "gists_url": {
                                "required": false,
                                "type": "string"
                              },
                              "starred_url": {
                                "required": false,
                                "type": "string"
                              },
                              "subscriptions_url": {
                                "required": false,
                                "type": "string"
                              },
                              "organizations_url": {
                                "required": false,
                                "type": "string"
                              },
                              "repos_url": {
                                "required": false,
                                "type": "string"
                              },
                              "events_url": {
                                "required": false,
                                "type": "string"
                              },
                              "received_events_url": {
                                "required": false,
                                "type": "string"
                              },
                              "type": {
                                "required": false,
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
        mergesConflict: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "object",
                    "properties": {
                		"message": {
                			"description": "Error message",
                			"type": "string"
                		}
                	}
                }
        hook: |
                {
                  "type": "array",
                  "$schema": "http://json-schema.org/draft-03/schema",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "updated_at": {
                      "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                      "type": "string"
                    },
                    "created_at": {
                      "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "push",
                          "issues",
                          "issue_comment",
                          "commit_comment",
                          "pull_request",
                          "pull_request_review_comment",
                          "gollum",
                          "watch",
                          "download",
                          "fork",
                          "fork_apply",
                          "member",
                          "public",
                          "team_add",
                          "status"
                        ]
                      }
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "content_type": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
                }
        postComment: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "object",
                    "properties": {
                    	"body": {
                    		"type": "string",
                    		"required": true
                    	}
                    }
                }
        merge: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "object",
                    "properties": {
                        "sha": {
                            "type": "string"
                        },
                        "merged": {
                            "type": "boolean"
                        },
                        "message": {
                            "type": "string"
                        }
                    }
                }
        collaborators: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "list": [
                    	{
                    		"properties": {
                    			"login": {
                    				"type": "string"
                    			},
                			    "id": {
                			    	"type": "integer"
                			    },
                			    "avatar_url": {
                			    	"type": "string"
                			    },
                			    "gravatar_id": {
                			    	"type": "string"
                			    },
                			    "url": {
                			    	"type": "string"
                			    }
                    		},
                    		"type": "object"
                    	}
                    ]
                }
        events: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "properties":
                        {
                                "type": {
                                    "type": "string"
                                },
                                "public": {
                                    "type": "boolean"
                                },
                                "payload": {
                                    "properties": {},
                                    "type": "object"
                                },
                                "repo": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "actor": {
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "org": {
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "created_at": {
                                    "type": "object"
                                },
                                "id": {
                                    "type": "integer"
                                }
                        } ,
                        "type": "object"
                }
        issuesComments: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "list": [
                        {
                            "properties": {
                                "url": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "path": {
                                    "type": "string"
                                },
                                "position": {
                                    "type": "integer"
                                },
                                "commit_id": {
                                    "type": "string"
                                },
                                "user": {
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "created_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                },
                                "updated_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                },
                                "_links": {
                                    "properties": {
                                        "self": {
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "html": {
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "pull_request": {
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    ]
                }
        forks: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "list": [
                        {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "owner": {
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "full_name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "private": {
                                    "type": "boolean"
                                },
                                "fork": {
                                    "type": "boolean"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "html_url": {
                                    "type": "string"
                                },
                                "clone_url": {
                                    "type": "string"
                                },
                                "git_url": {
                                    "type": "string"
                                },
                                "ssh_url": {
                                    "type": "string"
                                },
                                "svn_url": {
                                    "type": "string"
                                },
                                "mirror_url": {
                                    "type": "string"
                                },
                                "homepage": {
                                    "type": "string"
                                },
                                "language": {
                                    "type": "string"
                                },
                                "forks": {
                                    "type": "integer"
                                },
                                "forks_count": {
                                    "type": "integer"
                                },
                                "watchers": {
                                    "type": "integer"
                                },
                                "watchers_count": {
                                    "type": "integer"
                                },
                                "size": {
                                    "type": "integer"
                                },
                                "master_branch": {
                                    "type": "string"
                                },
                                "open_issues": {
                                    "type": "integer"
                                },
                                "open_issues_count": {
                                    "type": "integer"
                                },
                                "pushed_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                },
                                "created_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                },
                                "updated_at": {
                                    "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    ]
                }
        rate_limit: |
                {
                	"$schema": "http://json-schema.org/draft-03/schema",
                	"type": "object",
                	"properties": {
                		"rate": {
                			"properties": {
                				"limit": {
                					"type": "integer"
                				},
                			    "remaining": {
                			    	"type": "integer"
                			    },
                			    "reset": {
                			    	"type": "integer"
                			    }
                			}
                		}
                	}
                }
        orgMembers: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "items":
                    	{
                    		"properties": {
                    			"login": {
                    				"type": "string"
                    			},
                			    "id": {
                			    	"type": "integer"
                			    },
                			    "avatar_url": {
                			    	"type": "string"
                			    },
                			    "gravatar_id": {
                			    	"type": "string"
                			    },
                			    "url": {
                			    	"type": "string"
                			    }
                    		},
                    		"type": "object"
                    	}
                }
        orgPublicMembers: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "list": [
                    	{
                    		"properties": {
                    			"login": {
                    				"type": "string"
                    			},
                			    "id": {
                			    	"type": "integer"
                			    },
                			    "avatar_url": {
                			    	"type": "string"
                			    },
                			    "gravatar_id": {
                			    	"type": "string"
                			    },
                			    "url": {
                			    	"type": "string"
                			    }
                    		},
                    		"type": "object"
                    	}
                    ]
                }
        teams: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "array",
                    "list": [
                    	{
                    		"properties": {
                    			"url": {
                    				"type": "string"
                    			},
                			    "name": {
                			    	"type": "string"
                			    },
                			    "id": {
                			    	"type": "integer"
                			    }
                    		},
                    		"type": "object"
                    	}
                    ]
                }
        mergesSuccessful: |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "properties": {
                    "sha": {
                      "type": "string"
                    },
                    "merged": {
                      "required": false,
                      "type": "boolean"
                    },
                    "message": {
                      "required": false,
                      "type": "string"
                    },
                    "commit": {
                      "type": "object",
                      "properties": {
                        "author": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "date": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            }
                          }
                        },
                        "committer": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "date": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            }
                          }
                        },
                        "message": {
                          "type": "string"
                        },
                        "tree": {
                          "type": "object",
                          "properties": {
                            "sha": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        },
                        "url": {
                          "type": "string"
                        },
                        "comment_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "url": {
                      "type": "string"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "login": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "gravatar_id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "html_url": {
                          "type": "string"
                        },
                        "followers_url": {
                          "type": "string"
                        },
                        "following_url": {
                          "type": "string"
                        },
                        "gists_url": {
                          "type": "string"
                        },
                        "starred_url": {
                          "type": "string"
                        },
                        "subscriptions_url": {
                          "type": "string"
                        },
                        "organizations_url": {
                          "type": "string"
                        },
                        "repos_url": {
                          "type": "string"
                        },
                        "events_url": {
                          "type": "string"
                        },
                        "received_events_url": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "committer": {
                      "type": "object",
                      "properties": {
                        "login": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "gravatar_id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "html_url": {
                          "type": "string"
                        },
                        "followers_url": {
                          "type": "string"
                        },
                        "following_url": {
                          "type": "string"
                        },
                        "gists_url": {
                          "type": "string"
                        },
                        "starred_url": {
                          "type": "string"
                        },
                        "subscriptions_url": {
                          "type": "string"
                        },
                        "organizations_url": {
                          "type": "string"
                        },
                        "repos_url": {
                          "type": "string"
                        },
                        "events_url": {
                          "type": "string"
                        },
                        "received_events_url": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "parents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sha": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
        issue: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "title" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "body" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "assignee" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "milestone" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "labels" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "string"
                        }
                      ]
                    }
                  }
                }
        repo-deployments: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "array",
                  "items": {
                    "required": false,
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "required": false,
                        "type": "string"
                      },
                      "creator": {
                        "required": false,
                        "type": "object",
                        "properties": {
                          "login": {
                            "required": false,
                            "type": "string"
                          },
                          "id": {
                            "required": false,
                            "type": "integer"
                          },
                          "avatar_url": {
                            "required": false,
                            "type": "string"
                          },
                          "gravatar_id": {
                            "required": false,
                            "type": "string"
                          },
                          "url": {
                            "required": false,
                            "type": "string"
                          },
                          "html_url": {
                            "required": false,
                            "type": "string"
                          },
                          "followers_url": {
                            "required": false,
                            "type": "string"
                          },
                          "following_url": {
                            "required": false,
                            "type": "string"
                          },
                          "gists_url": {
                            "required": false,
                            "type": "string"
                          },
                          "starred_url": {
                            "required": false,
                            "type": "string"
                          },
                          "subscriptions_url": {
                            "required": false,
                            "type": "string"
                          },
                          "organizations_url": {
                            "required": false,
                            "type": "string"
                          },
                          "repos_url": {
                            "required": false,
                            "type": "string"
                          },
                          "events_url": {
                            "required": false,
                            "type": "string"
                          },
                          "received_events_url": {
                            "required": false,
                            "type": "string"
                          },
                          "type": {
                            "required": false,
                            "type": "string"
                          },
                          "site_admin": {
                            "required": false,
                            "type": "boolean"
                          }
                        }
                      },
                      "description": {
                        "required": false,
                        "type": "string"
                      },
                      "id": {
                        "required": false,
                        "type": "integer"
                      },
                      "payload": {
                        "required": false,
                        "type": "string"
                      },
                      "sha": {
                        "required": false,
                        "type": "string"
                      },
                      "statuses_url": {
                        "required": false,
                        "type": "string"
                      },
                      "updated_at": {
                        "required": false,
                        "type": "string"
                      },
                      "url": {
                        "required": false,
                        "type": "string"
                      }
                    }
                  }
                }
        organizationAsTeamMember: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "message" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "errors" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "code" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "field" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "resource" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        patchOrg: |
                {
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "type": "object",
                    "properties": {
                    	"billing_email": {
                    		"description": "Billing email address. This address is not publicized.",
                    		"type": "string"
                    	},
                    	"company": {
                    		"type": "string"
                    	},
                    	"email": {
                    		"description": "Publicly visible email address.",
                    		"type": "string"
                    	},
                    	"location": {
                    		"type": "string"
                    	},
                    	"name": {
                    		"type": "string"
                    	}
                    }
                }
        compare-commits: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "required": false,
                  "type": "object",
                  "properties": {
                    "url": {
                      "required": false,
                      "type": "string"
                    },
                    "html_url": {
                      "required": false,
                      "type": "string"
                    },
                    "permalink_url": {
                      "required": false,
                      "type": "string"
                    },
                    "diff_url": {
                      "required": false,
                      "type": "string"
                    },
                    "patch_url": {
                      "required": false,
                      "type": "string"
                    },
                    "base_commit": {
                      "required": false,
                      "type": "object",
                      "properties": {
                        "url": {
                          "required": false,
                          "type": "string"
                        },
                        "sha": {
                          "required": false,
                          "type": "string"
                        },
                        "commit": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "url": {
                              "required": false,
                              "type": "string"
                            },
                            "author": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "name": {
                                  "required": false,
                                  "type": "string"
                                },
                                "email": {
                                  "required": false,
                                  "type": "string"
                                },
                                "date": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "committer": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "name": {
                                  "required": false,
                                  "type": "string"
                                },
                                "email": {
                                  "required": false,
                                  "type": "string"
                                },
                                "date": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            },
                            "message": {
                              "required": false,
                              "type": "string"
                            },
                            "tree": {
                              "required": false,
                              "type": "object",
                              "properties": {
                                "url": {
                                  "required": false,
                                  "type": "string"
                                },
                                "sha": {
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "author": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "login": {
                              "required": false,
                              "type": "string"
                            },
                            "id": {
                              "required": false,
                              "type": "integer"
                            },
                            "avatar_url": {
                              "required": false,
                              "type": "string"
                            },
                            "gravatar_id": {
                              "required": false,
                              "type": "string"
                            },
                            "url": {
                              "required": false,
                              "type": "string"
                            },
                            "html_url": {
                              "required": false,
                              "type": "string"
                            },
                            "followers_url": {
                              "required": false,
                              "type": "string"
                            },
                            "following_url": {
                              "required": false,
                              "type": "string"
                            },
                            "gists_url": {
                              "required": false,
                              "type": "string"
                            },
                            "starred_url": {
                              "required": false,
                              "type": "string"
                            },
                            "subscriptions_url": {
                              "required": false,
                              "type": "string"
                            },
                            "organizations_url": {
                              "required": false,
                              "type": "string"
                            },
                            "repos_url": {
                              "required": false,
                              "type": "string"
                            },
                            "events_url": {
                              "required": false,
                              "type": "string"
                            },
                            "received_events_url": {
                              "required": false,
                              "type": "string"
                            },
                            "type": {
                              "required": false,
                              "type": "string"
                            },
                            "site_admin": {
                              "required": false,
                              "type": "boolean"
                            }
                          }
                        },
                        "committer": {
                          "required": false,
                          "type": "object",
                          "properties": {
                            "login": {
                              "required": false,
                              "type": "string"
                            },
                            "id": {
                              "required": false,
                              "type": "integer"
                            },
                            "avatar_url": {
                              "required": false,
                              "type": "string"
                            },
                            "gravatar_id": {
                              "required": false,
                              "type": "string"
                            },
                            "url": {
                              "required": false,
                              "type": "string"
                            },
                            "html_url": {
                              "required": false,
                              "type": "string"
                            },
                            "followers_url": {
                              "required": false,
                              "type": "string"
                            },
                            "following_url": {
                              "required": false,
                              "type": "string"
                            },
                            "gists_url": {
                              "required": false,
                              "type": "string"
                            },
                            "starred_url": {
                              "required": false,
                              "type": "string"
                            },
                            "subscriptions_url": {
                              "required": false,
                              "type": "string"
                            },
                            "organizations_url": {
                              "required": false,
                              "type": "string"
                            },
                            "repos_url": {
                              "required": false,
                              "type": "string"
                            },
                            "events_url": {
                              "required": false,
                              "type": "string"
                            },
                            "received_events_url": {
                              "required": false,
                              "type": "string"
                            },
                            "type": {
                              "required": false,
                              "type": "string"
                            },
                            "site_admin": {
                              "required": false,
                              "type": "boolean"
                            }
                          }
                        },
                        "parents": {
                          "required": false,
                          "type": "array",
                          "items": {
                            "required": false,
                            "type": "object",
                            "properties": {
                              "sha": {
                                "required": false,
                                "type": "string"
                              },
[...]
