{
  "swagger" : "2.0",
  "info" : {
    "description" : "News API is a simple and easy-to-use API that returns JSON metadata for the headlines currently published on a range of news sources and blogs (70 and counting so far).\n\nUse it to display live news headlines and images in your app or on your site!",
    "version" : "1.0",
    "title" : "NewsAPI"
  },
  "host" : "newsapi.org",
  "basePath" : "/v1",
  "schemes" : [ "http" ],
  "paths" : {
    "/articles" : {
      "get" : {
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Specify which type of list you want. The possible options are top, latest and popular. Note: not all options are available for all sources. Default: top.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "query",
          "description" : "The identifer for the news source or blog you want headlines from. Use the /sources endpoint to locate this or use the sources index.",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ ]
      }
    },
    "/sources" : {
      "get" : {
        "schemes" : [ "http" ],
        "parameters" : [ {
          "name" : "country",
          "in" : "query",
          "description" : "The 2-letter ISO 3166-1 code of the country you would like to get sources for.\nPossible options: au, de, gb, in, it, us.\nDefault: empty (all sources returned)\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "The 2-letter ISO-639-1 code of the language you would like to get sources for.\nPossible options: en, de, fr.\nDefault: empty (all sources returned)\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "The category you would like to get sources for.\nPossible options: business, entertainment, gaming, general, music, politics, science-and-nature, sport, technology.\nDefault: empty (all sources returned)\n",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ ]
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "externalDocs" : {
    "description" : "API Description",
    "url" : "News API is a simple and easy-to-use API that returns JSON metadata for the headlines currently published on a range of news sources and blogs (70 and counting so far).\n\nUse it to display live news headlines and images in your app or on your site!\n"
  },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]
}