basePath: /
host: data.orghunter.com
info.description: Get the latest IRS data and most up to date charity information
  for your website or application
info.title: OrgHunter
info.version: 1.0.0
info.x-logo.url: https://api.apis.guru/v2/cache/logo/http_orghunter.com_sites_all_themes_orghunter_img_logo.jpg
info.x-origin.length: 1
info.x-origin[0].converter.url: https://github.com/lucybot/api-spec-converter
info.x-origin[0].converter.version: 2.0.1
info.x-origin[0].format: swagger
info.x-origin[0].url: https://orghunter.3scale.net/swagger/spec.json
info.x-origin[0].version: "1.2"
info.x-preferred: true
info.x-providerName: orghunter.com
paths./v1/categories.post.consumes.length: 1
paths./v1/categories.post.consumes[0]: application/x-www-form-urlencoded
paths./v1/categories.post.description: <p>This operation provides a list of categories.</p>
paths./v1/categories.post.operationId: get categories
paths./v1/categories.post.parameters.length: 0
paths./v1/categories.post.responses.200.description: No response was specified
paths./v1/categories.post.summary: Get categories!
paths./v1/categories.post.tags.length: 1
paths./v1/categories.post.tags[0]: categories
paths./v1/charitybasic.post.description: <p>This operation detail data.</p>
paths./v1/charitybasic.post.parameters.length: 1
paths./v1/charitybasic.post.parameters[0].description: ein (Employer Identification
  Number)
paths./v1/charitybasic.post.parameters[0].in: query
paths./v1/charitybasic.post.parameters[0].name: ein
paths./v1/charitybasic.post.parameters[0].type: string
paths./v1/charitybasic.post.parameters[0].x-data-threescale-name: ein
paths./v1/charitybasic.post.responses.200.description: No response was specified
paths./v1/charitybasic.post.summary: Get details!
paths./v1/charitybasic.post.tags.length: 1
paths./v1/charitybasic.post.tags[0]: details
paths./v1/charityfinancial.post.description: <p>This operation detail data.</p>
paths./v1/charityfinancial.post.parameters.length: 1
paths./v1/charityfinancial.post.parameters[0].description: ein (Employer Identification
  Number)
paths./v1/charityfinancial.post.parameters[0].in: query
paths./v1/charityfinancial.post.parameters[0].name: ein
paths./v1/charityfinancial.post.parameters[0].type: string
paths./v1/charityfinancial.post.parameters[0].x-data-threescale-name: ein
paths./v1/charityfinancial.post.responses.200.description: No response was specified
paths./v1/charityfinancial.post.summary: Get details!
paths./v1/charityfinancial.post.tags.length: 1
paths./v1/charityfinancial.post.tags[0]: CharityFinancial
paths./v1/charitygeolocation.post.description: <p>This operation detail data.</p>
paths./v1/charitygeolocation.post.parameters.length: 1
paths./v1/charitygeolocation.post.parameters[0].description: ein (Employer Identification
  Number)
paths./v1/charitygeolocation.post.parameters[0].in: query
paths./v1/charitygeolocation.post.parameters[0].name: ein
paths./v1/charitygeolocation.post.parameters[0].type: string
paths./v1/charitygeolocation.post.parameters[0].x-data-threescale-name: ein
paths./v1/charitygeolocation.post.responses.200.description: No response was specified
paths./v1/charitygeolocation.post.summary: Get details!
paths./v1/charitygeolocation.post.tags.length: 1
paths./v1/charitygeolocation.post.tags[0]: GeoLocation
paths./v1/charitypremium.post.description: <p>This operation detail data.</p>
paths./v1/charitypremium.post.parameters.length: 1
paths./v1/charitypremium.post.parameters[0].description: ein (Employer Identification
  Number)
paths./v1/charitypremium.post.parameters[0].in: query
paths./v1/charitypremium.post.parameters[0].name: ein
paths./v1/charitypremium.post.parameters[0].type: string
paths./v1/charitypremium.post.parameters[0].x-data-threescale-name: ein
paths./v1/charitypremium.post.responses.200.description: No response was specified
paths./v1/charitypremium.post.summary: Get details!
paths./v1/charitypremium.post.tags.length: 1
paths./v1/charitypremium.post.tags[0]: CharityPremium
paths./v1/charitysearch.post.description: <p>This operation provides summary data.</p>
paths./v1/charitysearch.post.operationId: get summary
paths./v1/charitysearch.post.parameters.length: 9
paths./v1/charitysearch.post.parameters[0].description: Employer Identification Number
  (EIN)
paths./v1/charitysearch.post.parameters[0].in: query
paths./v1/charitysearch.post.parameters[0].name: ein
paths./v1/charitysearch.post.parameters[0].type: string
paths./v1/charitysearch.post.parameters[0].x-data-threescale-name: ein
paths./v1/charitysearch.post.parameters[1].description: 'Charity Name or Keyword.
  Example: humane society or cancer'
paths./v1/charitysearch.post.parameters[1].in: query
paths./v1/charitysearch.post.parameters[1].name: searchTerm
paths./v1/charitysearch.post.parameters[1].type: string
paths./v1/charitysearch.post.parameters[1].x-data-threescale-name: searchTerm
paths./v1/charitysearch.post.parameters[2].description: 'City Name. Example: Miami'
paths./v1/charitysearch.post.parameters[2].in: query
paths./v1/charitysearch.post.parameters[2].name: city
paths./v1/charitysearch.post.parameters[2].type: string
paths./v1/charitysearch.post.parameters[2].x-data-threescale-name: city
paths./v1/charitysearch.post.parameters[3].description: State Name - Two letter state
  abbreviation
paths./v1/charitysearch.post.parameters[3].in: query
paths./v1/charitysearch.post.parameters[3].name: state
paths./v1/charitysearch.post.parameters[3].type: string
paths./v1/charitysearch.post.parameters[3].x-data-threescale-name: state
paths./v1/charitysearch.post.parameters[4].description: Zipcode Value - 5 digit zipcode
  value
paths./v1/charitysearch.post.parameters[4].in: query
paths./v1/charitysearch.post.parameters[4].name: zipCode
paths./v1/charitysearch.post.parameters[4].type: string
paths./v1/charitysearch.post.parameters[4].x-data-threescale-name: zipCode
paths./v1/charitysearch.post.parameters[5].description: Category Value Selected from
  Categories API
paths./v1/charitysearch.post.parameters[5].in: query
paths./v1/charitysearch.post.parameters[5].name: category
paths./v1/charitysearch.post.parameters[5].type: string
paths./v1/charitysearch.post.parameters[5].x-data-threescale-name: category
paths./v1/charitysearch.post.parameters[6].description: eligible=1 will return only
  organizations that are tax deductible and in good standing with the IRS
paths./v1/charitysearch.post.parameters[6].in: query
paths./v1/charitysearch.post.parameters[6].name: eligible
paths./v1/charitysearch.post.parameters[6].type: string
paths./v1/charitysearch.post.parameters[6].x-data-threescale-name: eligible
paths./v1/charitysearch.post.parameters[7].description: Record Set Start Position
paths./v1/charitysearch.post.parameters[7].in: query
paths./v1/charitysearch.post.parameters[7].name: start
paths./v1/charitysearch.post.parameters[7].type: string
paths./v1/charitysearch.post.parameters[7].x-data-threescale-name: start
paths./v1/charitysearch.post.parameters[8].description: Records Per Page. Default
  Value = 20
paths./v1/charitysearch.post.parameters[8].in: query
paths./v1/charitysearch.post.parameters[8].name: rows
paths./v1/charitysearch.post.parameters[8].type: string
paths./v1/charitysearch.post.parameters[8].x-data-threescale-name: rows
paths./v1/charitysearch.post.responses.200.description: No response was specified
paths./v1/charitysearch.post.summary: Get summary data!
paths./v1/charitysearch.post.tags.length: 1
paths./v1/charitysearch.post.tags[0]: summary
schemes.length: 1
schemes[0]: http
security.length: 1
security[0].user_key.length: 0
securityDefinitions.user_key.description: Your API access key
securityDefinitions.user_key.in: query
securityDefinitions.user_key.name: user_key
securityDefinitions.user_key.type: apiKey
swagger: "2.0"
tags.length: 6
tags[0].description: Charity Financial API Test
tags[0].name: CharityFinancial
tags[1].description: Charity Premium API Test
tags[1].name: CharityPremium
tags[2].description: Charity GeoLocation API Test
tags[2].name: GeoLocation
tags[3].description: Charity NTEE Classification/Categories API Test
tags[3].name: categories
tags[4].description: Charity Basic API Test
tags[4].name: details
tags[5].description: Charity Search Summary API Test
tags[5].name: summary
