#%RAML 0.8
title: Facebook
version: v2.0
baseUri: "https://graph.facebook.com/v2.0"
protocols: [HTTP]
schemas: 
    - 
        achievementType: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "type" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "title" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "url" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "description" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "image" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "url" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "width" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "height" : {
                          "type" : "number" ,
                          "required" : false
                        }
                      }
                    } ,
                    "data" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "points" : {
                          "type" : "number" ,
                          "required" : false
                        }
                      }
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "application" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "description " : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "link " : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "name " : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "namespace " : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "context" : {
                      "type" : "array" ,
                      "required" : false
                    } ,
                    "is_scraped" : {
                      "type" : "boolean" ,
                      "required" : false
                    }
                  }
                }
        subscriptions: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "subscriptions" : {
                      "type" : "array" ,
                      "required" : false
                    } ,
                    "i" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        achievements: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "achievements" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "type" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "title" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "url" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "description" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "image" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              ]
                            } ,
                            "points" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "number" ,
                                  "required" : false
                                }
                              ]
                            } ,
                            "updated_time" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "context" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "number" ,
                                  "required" : false
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        notes: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                    "comments" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "can_remove" : {
                            "type" : "boolean" ,
                            "required" : false
                          } ,
                          "created_time" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "from" : {
                            "type" : "object" ,
                            "required" : false ,
                            "properties" : {
                              "name" : {
                                "type" : "string" ,
                                "required" : false
                              } ,
                              "id" : {
                                "type" : "string" ,
                                "required" : false
                              }
                            }
                          }
                        }
                      }
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "from" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      } 
                    } ,
                    "icon" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "message" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "subject" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    }
                    }
                  }
                }
        achievement: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "achievement" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "url" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "type" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "title" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "application" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "from" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "likes" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "count" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "users " : {
                          "type" : "array" ,
                          "required" : false
                        }
                      }
                    } ,
                    "comments" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "count" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "comment" : {
                          "type" : "array" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        questions: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "created_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "from" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "id" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "options" : {
                        "type" : "array" ,
                        "required" : false
                      } ,
                      "question" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "updated_time" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    }
                  }
                }
        videos: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "comments" : {
                        "type" : "array" ,
                        "required" : false ,
                        "items" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "from" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "message" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "created_time" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "likes" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      } ,
                      "created_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "description" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "embed_html" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "from" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "icon" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "id" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "name" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "picture" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "source" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "tag" : {
                        "type" : "array" ,
                        "required" : false ,
                        "items" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      } ,
                      "updated_time" : {
                        "type" : "string" ,
                        "required" : false
                      }    }
                  }
                }
        photos: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "data" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "created_time" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "from" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "category" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "height" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "icon" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "images" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "object" ,
                                  "properties" : {
                                    "height" : {
                                      "type" : "number" ,
                                      "required" : false
                                    } ,
                                    "source" : {
                                      "type" : "string" ,
                                      "required" : false
                                    } ,
                                    "width" : {
                                      "type" : "number" ,
                                      "required" : false
                                    }
                                  }
                                }
                              ]
                            } ,
                            "link" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "picture" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "source" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "updated_time" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "width" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "comments" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "data" : {
                                  "type" : "array" ,
                                  "required" : false ,
                                  "items" : [
                                    {
                                      "type" : "object" ,
                                      "properties" : {
                                        "id" : {
                                          "type" : "string" ,
                                          "required" : false
                                        } ,
                                        "can_remove" : {
                                          "type" : "boolean" ,
                                          "required" : false
                                        } ,
                                        "created_time" : {
                                          "type" : "string" ,
                                          "required" : false
                                        } ,
                                        "from" : {
                                          "type" : "object" ,
                                          "required" : false ,
                                          "properties" : {
                                            "name" : {
                                              "type" : "string" ,
                                              "required" : false
                                            } ,
                                            "id" : {
                                              "type" : "string" ,
                                              "required" : false
                                            }
                                          }
                                        } ,
                                        "like_count" : {
                                          "type" : "number" ,
                                          "required" : false
                                        } ,
                                        "message" : {
                                          "type" : "string" ,
                                          "required" : false
                                        } ,
                                        "user_likes" : {
                                          "type" : "boolean" ,
                                          "required" : false
                                        }
                                      }
                                    }
                                  ]
                                } ,
                                "paging" : {
                                  "type" : "object" ,
                                  "required" : false ,
                                  "properties" : {
                                    "next" : {
                                      "type" : "string" ,
                                      "required" : false
                                    } ,
                                    "cursors" : {
                                      "type" : "object" ,
                                      "required" : false ,
                                      "properties" : {
                                        "before" : {
                                          "type" : "string" ,
                                          "required" : false
                                        } ,
                                        "after" : {
                                          "type" : "string" ,
                                          "required" : false
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            } ,
                            "likes" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "data" : {
                                  "type" : "array" ,
                                  "required" : false ,
                                  "items" : [
                                    {
                                      "type" : "object" ,
                                      "properties" : {
                                        "id" : {
                                          "type" : "string" ,
                                          "required" : false
                                        } ,
                                        "name" : {
                                          "type" : "string" ,
                                          "required" : false
                                        }
                                      }
                                    }
                                  ]
                                } ,
                                "paging" : {
                                  "type" : "object" ,
                                  "required" : false ,
                                  "properties" : {
                                    "next" : {
                                      "type" : "string" ,
                                      "required" : false
                                    } ,
                                    "cursors" : {
                                      "type" : "object" ,
                                      "required" : false ,
                                      "properties" : {
                                        "before" : {
                                          "type" : "string" ,
                                          "required" : false
                                        } ,
                                        "after" : {
                                          "type" : "string" ,
                                          "required" : false
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    } ,
                    "paging" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "next" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "cursors" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "before" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "after" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      }
                    }
                  }
                }
        posts: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "actions" : {
                        "type" : "array" ,
                        "required" : false ,
                        "items" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "link" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      } ,
                      "application" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "caption" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "comments" : {
                        "type" : "object" ,
                        "required" : false
                      } ,
                      "created_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "description" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "from" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "icon" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "id" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "is_hidden" : {
                        "type" : "boolean" ,
                        "required" : false
                      } ,
                      "link" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "message" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "message_tags" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "object " : {
                            "type" : "object" ,
                            "required" : false ,
                            "properties" : {
                              "id" : {
                                "type" : "string" ,
                                "required" : false
                              } ,
                              "name" : {
                                "type" : "string" ,
                                "required" : false
                              } ,
                              "offset" : {
                                "type" : "string" ,
                                "required" : false
                              }
                            }
                          } ,
                          "length" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "name" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "object_id" : {
                        "type" : "number" ,
                        "required" : false
                      } ,
                      "picture" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "place" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "location" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "properties" : {
                        "type" : "array" ,
                        "required" : false ,
                        "items" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "text" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      } ,
                      "shares" : {
                        "type" : "number" ,
                        "required" : false
                      } ,
                      "source" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "status_type" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "story" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "story_tags" : {
                        "type" : "object" ,
                        "required" : false
                      } ,
                      "to" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "data" : {
                            "type" : "array" ,
                            "required" : false ,
                            "items" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            }
                          }
                        }
                      } ,
                      "type" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "updated_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "with_tags" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "data" : {
                            "type" : "array" ,
                            "required" : false ,
                            "items" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
        offer: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "claim_limit" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "coupon_type" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "expiration_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "from" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "category" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "image_url" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "published" : {
                      "type" : "boolean" ,
                      "required" : false
                    } ,
                    "redemption_code" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "redemption_link" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "reminder_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "scheduled_publish_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "terms" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "title" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        pages: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                    "data" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "category" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "access_token" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "perms" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "string"
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }
                    }
                  }
                }
        reviews: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "data" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "from" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "to" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "namespace" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "rating" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "created_time" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        } , {
                          "type" : "object" ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "to" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "namespace" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "rating" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "created_time" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        } , {
                          "type" : "object" ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "from" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "to" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "name" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "namespace" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "id" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "rating" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "message" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "created_time" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    } ,
                    "paging" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "next" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        permissions: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "data" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "installed" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "read_stream" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "read_mailbox" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "publish_actions" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "user_groups" : {
                              "type" : "number" ,
                              "required" : false
                            } ,
                            "user_events" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        groupDoc: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "from" : {
                      "type" : "object" ,
                      "required" : false
                    } ,
                    "subject" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "message" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "icon" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "revision" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "can_edit" : {
                      "type" : "boolean" ,
                      "required" : false
                    } ,
                    "can_delete" : {
                      "type" : "boolean" ,
                      "required" : false
                    }
                  }
                }
        members: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : [
                    {
                      "type" : "object" ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "metadata" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "connections" : {
                              "type" : "object" ,
                              "required" : false ,
                              "properties" : {
                                "feed" : {
                                  "type" : "string" ,
                                  "required" : false
                                } ,
                                "picture" : {
                                  "type" : "string" ,
                                  "required" : false
                                }
                              }
                            } ,
                            "fields" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "object" ,
                                  "properties" : {
                                    "name" : {
                                      "type" : "string" ,
                                      "required" : false
                                    } ,
                                    "description" : {
                                      "type" : "string" ,
                                      "required" : false
                                    }
                                  }
                                }
                              ]
                            } ,
                            "type" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      }
                    }
                  ]
                }
        urlObj: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "app_links" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "share" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "comment_count" : {
                          "type" : "number" ,
                          "required" : false
                        } ,
                        "share_count" : {
                          "type" : "number" ,
                          "required" : false
                        }
                      }
                    } ,
                    "og_object" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "description" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "title" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "type" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "updated_time" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "url" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                  }
                }
        links: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "created_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "description" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "from" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "icon" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "id" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "link" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "message" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "picture" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "type" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    }
                  }
                }
        payment: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "user" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "application" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "namespace" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "actions" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "type" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "status" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "currency" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "amount" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "time_created" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "time_updated" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    } ,
                    "refundable_amount" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "currency" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "amount" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "items" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "type" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "product" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "quantity" : {
                              "type" : "number" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    } ,
                    "country" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "request_id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "payout_foreign_exchange_rate" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "disputes" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "user_comment" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "time_created" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "user_email" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "status" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "reason" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    }
                  }
                }
        id: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        conversation: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "snippet" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "message_count" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "unread_count" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "tags" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "participants" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      }
                    } ,
                    "senders" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      }
                    } ,
                    "can_reply" : {
                      "type" : "boolean" ,
                      "required" : false
                    } ,
                    "is_subscribed" : {
                      "type" : "boolean" ,
                      "required" : false
                    }
                  }
                }
        events: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                    "description" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "end_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "location" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "name" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "owner" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "picture" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "privacy" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "start_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "ticket_uri" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "venue" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "location_id" : {
                      "type" : "string" ,
                      "required" : false
                    }
                    }
                  }
                }
        group: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "owner" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "name" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "description" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "venue" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "street" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "privacy" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "icon" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "email" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        likes: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "data" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      ]
                    } ,
                    "paging" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "next" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "cursors" : {
                          "type" : "object" ,
                          "required" : false ,
                          "properties" : {
                            "before" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "after" : {
                              "type" : "string" ,
                              "required" : false
                            }
                          }
                        }
                      }
                    }
                  }
                }
        order: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "from" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "to" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "amount" : {
                      "type" : "number" ,
                      "required" : false
                    } ,
                    "status" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "application" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "canvas_name" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "namespace" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "id" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "country" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "created_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    }
                  }
                }
        offers: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "claim_limit" : {
                        "type" : "number" ,
                        "required" : false
                      } ,
                      "coupon_type" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "created_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "expiration_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "from" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "category" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "id" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "image_url" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "published" : {
                        "type" : "boolean" ,
                        "required" : false
                      } ,
                      "redemption_code" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "redemption_link" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "reminder_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "scheduled_publish_time" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "terms" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "title" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    }
                  }
                }
        settings: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "setting" : {
                        "fstype" : {
                           "enum": [ "PAGE_MODERATION_BLACKLIST", "PLATFORM_OPTOUTS_CAN_POST", "SHOW_RECENT_POSTS_BY_OTHERS", "USERS_CAN_MESSAGE", "USERS_CAN_POST", "USERS_CAN_POST_PHOTOS", "USERS_CAN_TAG_PHOTOS" ]
                        } ,
                        "required" : false
                      } ,
                      "value" : {
                        "type" : "boolean" ,
                        "required" : false
                      }
                    }
                  }
                }
        pokes: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "from" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "to" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "id" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "name" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      } ,
                      "created_time" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    }
                  }
                }
        insights: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                    "description" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "name" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "period" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "values" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "value" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "end_time" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    }
                    }
                  }
                }
        invited: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                      "id" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "name" : {
                        "type" : "string" ,
                        "required" : false
                      } ,
                      "rsvpstatus" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    }
                  }
                }
        child-brands: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "array" ,
                  "items" : {
                    "type" : "object" ,
                    "required" : false ,
                    "properties" : {
                    "data" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : [
                        {
                          "type" : "object" ,
                          "properties" : {
                            "category" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "name" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "access_token" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "id" : {
                              "type" : "string" ,
                              "required" : false
                            } ,
                            "perms" : {
                              "type" : "array" ,
                              "required" : false ,
                              "items" : [
                                {
                                  "type" : "string"
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }      
                    }
                  }
                }
        article: |
                {
                  "required" : true ,
                  "$schema" : "http://json-schema.org/draft-03/schema" ,
                  "type" : "object" ,
                  "properties" : {
                    "fb:admins" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    } ,
                    "fb:app_id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "fb:profile_id" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "og:audio" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "og:audio:url" : {
                            "type" : "string" ,
                            "required" : true
                          } ,
                          "og:audio:secure_url" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "og:audio:type" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        }
                      }
                    } ,
                    "og:description" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "og:determiner" : {
                      "fstype" : {
                        "enum" : [
                          "a" ,
                          "an" ,
                          "the" ,
                          "auto"
                        ]
                      } ,
                      "required" : false
                    } ,
                    "og:image" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "og:image:url" : {
                            "type" : "string" ,
                            "required" : true
                          } ,
                          "og:image:secure_url" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "og:image:type" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "og:image:width" : {
                            "type" : "number" ,
                            "required" : false
                          } ,
                          "og:image:height" : {
                            "type" : "number" ,
                            "required" : false
                          } ,
                          "og:image:user_generated" : {
                            "type" : "boolean" ,
                            "required" : false
                          }
                        }
                      }
                    } ,
                    "og:locale" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "og:locale:locale" : {
                          "fstype" : {
                            "enum" : [
                              "en_us" ,
                              "ca_es" ,
                              "cs_cz" ,
                              "cx_ph" ,
                              "cy_gb" ,
                              "da_dk" ,
                              "de_de" ,
                              "eu_es" ,
                              "en_pi" ,
                              "en_ud" ,
                              "es_la" ,
                              "es_es" ,
                              "gn_py" ,
                              "fi_fi" ,
                              "fr_fr" ,
                              "gl_es" ,
                              "hu_hu" ,
                              "it_it" ,
                              "ja_jp" ,
                              "ko_kr" ,
                              "nb_no" ,
                              "nn_no" ,
                              "nl_nl" ,
                              "fy_nl" ,
                              "pl_pl" ,
                              "pt_br" ,
                              "pt_pt" ,
                              "ro_ro" ,
                              "ru_ru" ,
                              "sk_sk" ,
                              "sl_si" ,
                              "sv_se" ,
                              "th_th" ,
                              "tr_tr" ,
                              "ku_tr" ,
                              "zh_cn" ,
                              "zh_hk" ,
                              "zh_tw" ,
                              "fb_lt" ,
                              "af_za" ,
                              "sq_al" ,
                              "hy_am" ,
                              "az_az" ,
                              "be_by" ,
                              "bn_in" ,
                              "bs_ba" ,
                              "bg_bg" ,
                              "hr_hr" ,
                              "en_gb" ,
                              "eo_eo" ,
                              "et_ee" ,
                              "fo_fo" ,
                              "fr_ca" ,
                              "ka_ge" ,
                              "el_gr" ,
                              "hi_in" ,
                              "is_is" ,
                              "id_id" ,
                              "ga_ie" ,
                              "la_va" ,
                              "lv_lv" ,
                              "lt_lt" ,
                              "mk_mk" ,
                              "ms_my" ,
                              "ne_np" ,
                              "pa_in" ,
                              "sr_rs" ,
                              "sw_ke" ,
                              "tl_ph" ,
                              "ta_in" ,
                              "te_in" ,
                              "ml_in" ,
                              "uk_ua" ,
                              "vi_vn" ,
                              "km_kh" ,
                              "ar_ar" ,
                              "he_il" ,
                              "ur_pk" ,
                              "fa_ir" ,
                              "ps_af"
                            ]
                          } ,
                          "required" : false ,
                          "type" : "array"
                        } ,
                        "og:locale:alternate" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "og:restrictions" : {
                      "type" : "object" ,
                      "required" : false ,
                      "properties" : {
                        "og:restrictions:country" : {
                          "type" : "array" ,
                          "required" : false ,
                          "items" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        } ,
                        "og:restrictions:country:disallowed" : {
                          "type" : "array" ,
                          "required" : false ,
                          "items" : {
                            "type" : "string" ,
                            "required" : false
                          }
                        } ,
                        "og:restrictions:age" : {
                          "type" : "string" ,
                          "required" : false
                        } ,
                        "og:restrictions:content" : {
                          "type" : "string" ,
                          "required" : false
                        }
                      }
                    } ,
                    "og:see_also" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "string" ,
                        "required" : false
                      }
                    } ,
                    "og:site_name" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "og:title" : {
                      "type" : "string" ,
                      "required" : true
                    } ,
                    "og:type" : {
                      "type" : "string" ,
                      "required" : true
                    } ,
                    "og:updated_time" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "og:url" : {
                      "type" : "string" ,
                      "required" : false
                    } ,
                    "og:video" : {
                      "type" : "array" ,
                      "required" : false ,
                      "items" : {
                        "type" : "object" ,
                        "required" : false ,
                        "properties" : {
                          "og:video:url" : {
                            "type" : "string" ,
                            "required" : true
                          } ,
                          "og:video:secure_url" : {
                            "type" : "string" ,
                            "required" : false
                          } ,
                          "og:video:type" : {
                            "type" : "string" ,
                            "required" : false
[...]
