{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0",
    "title" : "PixabayAPI"
  },
  "host" : "pixabay.com",
  "basePath" : "",
  "schemes" : [ "https" ],
  "paths" : {
    "/api" : {
      "get" : {
        "parameters" : [ {
          "name" : "pretty",
          "in" : "query",
          "description" : "Indent JSON output. This option should not be used in production. \nAccepted values: \"true\", \"false\" \nDefault: \"false\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP callback function name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "per_page",
          "in" : "query",
          "description" : "Determine the number of results per page. \nAccepted values: 3 - 200 \nDefault: 20",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Returned search results are paginated. Use this parameter to select the page number. \nDefault: 1",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "How the results should be ordered. \nAccepted values: \"popular\", \"latest\" \nDefault: \"popular\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "safesearch",
          "in" : "query",
          "description" : "A flag indicating that only images suitable for all ages should be returned. \nAccepted values: \"true\", \"false\" \nDefault: \"false\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "editors_choice",
          "in" : "query",
          "description" : "Select images that have received an Editor's Choice award. \nAccepted values: \"true\", \"false\" \nDefault: \"false\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "min_height",
          "in" : "query",
          "description" : "Minimum image height. \nDefault: \"0\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "min_width",
          "in" : "query",
          "description" : "Minimum image width. \nDefault: \"0\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Filter results by category. \nAccepted values: fashion, nature, backgrounds, science, education, people, feelings, religion, health, places, animals, industry, food, computer, sports, transportation, travel, buildings, business, music",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orientation",
          "in" : "query",
          "description" : "Whether an image is wider than it is tall, or taller than it is wide. \nAccepted values: \"all\", \"horizontal\", \"vertical\" \nDefault: \"all\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "image_type",
          "in" : "query",
          "description" : "Filter results by image type. \nAccepted values: \"all\", \"photo\", \"illustration\", \"vector\" \nDefault: \"all\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "response_group",
          "in" : "query",
          "description" : "Choose between retrieving high resolution images and image details. When selecting details, you can access images up to a dimension of 960 x 720 px. \nAccepted values: \"image_details\", \"high_resolution\" (requires permission) \nDefault: \"image_details\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "ID, hash ID, or a comma separated list of values for retrieving specific images. In a comma separated list, IDs and hash IDs cannot be used together.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "\tLanguage code of the language to be searched in. \nAccepted values: cs, da, de, en, es, fr, id, it, hu, nl, no, pl, pt, ro, sk, fi, sv, tr, vi, th, bg, ru, el, ja, ko, zh \nDefault: \"en\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A URL encoded search term. If omitted, all images are returned. This value may not exceed 100 characters. \nExample: \"yellow+flower\"",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "mandate value",
          "required" : true,
          "type" : "string",
          "default" : "5624369-0064f9dfbd5ea0db76e0676e3"
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "parameters" : { },
  "securityRequirement" : [ {
    "apiKey" : [ ]
  } ]
}